[2021-11-15 15:37] yantosca commented on #1002
Thanks @jinlx.  You need to have flex loaded onto your system.  This is usually in /usr/bin/flex on most Linux systems.  If your system doesn't have it you can build it with Spack.

[2021-11-15 16:29] msulprizio commented on #1005
I would recommend against hardcoding the `Volcano_Table` path in HEMCO_Config.rc to the degassing file as this will use the climatology emissions for all years/simulations and users might not be aware of this. Instead, I suggest changing the available end year for these emissions to 2018 and allowing the volcano extension to use the climatology file if outside that range.

Another alternative woul

[2021-11-15 19:21] LiamBindle commented on #1010
I think this is an issue with the OFFLINE_BIOVOC collection, not the WUSTL/ComputeCanada hosting of it. We don't have a copy of that data in either location.

Perhaps @hongjianweng knows what's happened here? Do you guys have OFFLINE_BIOVOC data for this time period?

[2021-11-15 20:27] lizziel commented on #953
Yes, that branch is now deleted.

[2021-11-15 21:30] yantosca commented on #1009
Thanks for writing @yangxiajie.  It looks like these variables in State_Chm are allocated but not used (at least not in 13.3.1).

[2021-11-15 22:15] yantosca commented on #951
PR #952 has now been merged into dev.  We can close this issue.

[2021-11-15 22:15] #951 closed

[2021-11-15 22:47] yantosca commented on #1011
Thanks for writing @Jampo26.  To my knowledge, the Hg simulation diagnostics have never really been validated well.

I might suggest trying to add entries to HEMCO_Diagn.rc so as to print out the Hg emissions.  That might be quicker than trying to debug the current situation.

[2021-11-15 22:49] yantosca commented on #191
@mzhang78, we now recommend not using the tropchem simulation if possible, but using fullchem with 47 levels instead.  See #839.

[2021-11-15 22:54] yantosca commented on #1011
Also I think part of the issue is that the Hg emissions diagnostics were implemented as HEMCO manual diagnostics, in this routine:

https://github.com/geoschem/geos-chem/blob/e9a4f1f9873f6e12ef3b9af7f823368a97339aa7/GeosCore/hcoi_gc_diagn_mod.F90#L864-L1070

But with GEOS-Chem having been updated frequently and the Hg code having lied kind of stale, it is possible that something got broken along t

[2021-11-15 22:57] yantosca commented on #1005
Thanks @msulprizio.  Maybe the easiest thing to do is to wait until the rundir updates get merged in, and apply the fix then.

[2021-11-15 23:07] sdeastham opened #1012 "[BUG] ExtData OFFLINE_DUST"
Although the entries in HEMCO_Config.rc for OFFLINE_DUST now point to v2021-08 (since v13.3.0), it looks like the entries in ExtData.rc still point to v2019-01 (https://github.com/geoschem/geos-chem/blob/e9a4f1f9873f6e12ef3b9af7f823368a97339aa7/run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem#L1687-L1693).

[2021-11-16 06:54] yangxiajie commented on #1009
Thank you @yantosca .
I feel a little confused. Is there anything wrong about `Chem_GammaN2O5fine` and `Chem_YieldClNO2fine` ? Becasue StateChm can output these two diagnostics.
Or, `Chem_GammaN2O5fine` and `Chem_YieldClNO2fine` can not represent model-calculated N2O5 uptake coefficients and ClNO2 yields, respectively?

[2021-11-16 07:20] Jampo26 commented on #1011
Thanks for your reply @yantosca. I did the settings of HEMCO_Diagn in HEMCO_Config.rc and got "HEMCO_diagnostics.****.nc" in the output files. The values of **Hg0_emission_flux_from_anthropogenic** and other variables don't seem to have any problem, but the distribution of Hg0 concentrations in the GEOSChem.SpeciesConc.****.nc4 is still abnormal. Seems like the anthropogenic emissions are not real

[2021-11-16 10:10] CharikleiaGRN commented on #957
Ciao again!

I made the modifications in 13.0.2 code and it now reads and feeds the snowpack and ocean variables. However, I used a produced restart file to set up a new simulation and I am getting another error for the restart file. I am wondering whether I am missing another related bug fix or we still have work to do for Hg simulation or I am doing something wrong.

[restartfiles.txt](https://g

[2021-11-16 13:34] r-pound commented on #997
@yantosca I've created a pull request (#1013) with the changes discussed above. Let me know if there's any questions/issues with the changes

[2021-11-16 14:45] yantosca commented on #1011
@msl3v or @viral211, would either of you be able to look at this?  Thanks.

[2021-11-16 14:48] yantosca commented on #981
I will close out this issue.  Let us know if you still have issues.

[2021-11-16 14:48] #981 closed

[2021-11-16 15:06] yantosca commented on #957
@CharikleiaGRN, try changing the time cycle flag for the SPC_RST entry in your HEMCO_Config.rc file to CYS.  In GEOS-Chem 13 we added some checks to make sure that the run will stop if the restart file time does not match the simulation time.  See issue #971.

[2021-11-16 15:17] CharikleiaGRN commented on #957
I will check it out now. thanks for the answer.

[2021-11-16 19:40] viral211 commented on #1011
It seems to me too that Hg emissions are not being processed correctly. This is not an issue with the Hg diagnostics. In mercury_mod.F90/mercury_readyr, emissions are fed in through the HEMCO diagnostics that are defined in GeosCore/hcoi_gc_diagn_mod.F90/Diagn_Hg. There seems to be a problem with updating these diagnostic fields in HEMCO. When trying to read the Hg0_Anthro diagnostic, for example,

[2021-11-16 20:45] jimmielin commented on #1011
Hi all,

This sounds like an issue from `mercury_mod.F90`'s reading of HEMCO diagnostics to feed emissions to `mercury_readyr`. I am unfamiliar with `mercury_mod` but I remember that `Diagnostics counter is zero` usually means that [a call to `Diagn_Update` is missing](http://wiki.seas.harvard.edu/geos-chem/index.php/MEGAN_v2.1_plus_Guenther_2012_biogenic_emissions). Has the code been changed rece

[2021-11-16 21:16] viral211 commented on #1011
Thanks @jimmielin. No, there has been no recent change to `mercury_mod`, other than the general model structural updates. `Diagn_Update` was never called from `mercrury_mod`.

[2021-11-16 22:56] jinlx commented on #1002
Thanks for checking it Bob! I loaded flex before compilation. Do you think if it could be version/package issues?

Here are packages and versions I used: 1) C compiler (ifort Version 2021.1.2); 2) flex 2.6.4; 3) Python 3.8.5.

Cheers,
Lixu

[2021-11-16 22:58] yantosca commented on #1011
Thanks @jimmielin.  The Hg code has been a bit neglected.  I may not be able to look into this for a while but we do have the Hg code update for KPP coming soon.

[2021-11-16 23:12] yantosca commented on #1002
You might have to set the FLEX_HOME environment variable to point to the location of the flex library.   If FLEX_HOME isn't defined then it will assume lib64, which may or may not be correct for your system.

[code]

[2021-11-16 23:13] yantosca commented on #1002
Or you can just modify the FLEX_LIB_DIR setting in Makefile.defs to point to the proper path on your system.

[2021-11-17 01:17] map06 commented on #969
Now, even if I decrease the time step from 600/120 to 300/600. I am getting the same error and had to decrease time step further, which will make the simulation very slow. Has anyone found the solution to this problem?

[2021-11-17 01:53] bzhang419 opened #1014 "[QUESTION]Questions about BC emission diagnostics + meteorological input"
Hi,

I encountered two problems when running simulations with Geos-Chem version 12.9.3.

The first one is that the BC emission from HEMCO diagnostic file seems incorrect. I calculate the total BC emission in all sectors (EmisBCPI_Total+Emis_BCPO_Total) and got >400 Tg /year. I also looked at emissions in different layers, which are shown in the following figure, and I found that the emission is hi

[2021-11-17 15:26] ganluoasrc opened #1015 "[QUESTION] NEI 2011 on-road emission and surface emission"
### Ask a question about GEOS-Chem:

Recently, I am working with NEI 2011 emission (HEMCO/NEI2011/v2015-03). I thought on-road emission (*onroad.nc+*onroad_catx.nc) was included in surface emission (*[date].nc). However, my analysis found that on-road emission is higher than surface emission at a lot of grids (see attached Figure1&2). Within the domain (33N-47N, 125W-75W) shown in Fig.1&2, the rat

[2021-11-17 15:31] yantosca commented on #1015
Thanks @ganluoasrc for writing. I am tagging @barronh, who knows more about the EPA emissions than I do.

Please also note in 13.3.1, just released, we have the option to use NEI2016, which is a more recent product.

[2021-11-17 15:38] yantosca commented on #1014
@bzhang419, the Cannot get field PS_NEXTDAY error sounds like you do not have he met data for 20010101 on your disk.  Can you check?

[2021-11-17 16:16] tessac2 commented on #900
@msulprizio @YanshunLi-washu @hmhorow  Just wanted to follow up on the above comment and see what the time estimate may be for the variable names for OFFLINE_SOILNOX/ November and December files in the 0.25x0.3125 to be updated? Thank you!

[2021-11-17 17:19] yantosca commented on #1014
@bzhang419, are you sure there isn't a unit conversion issue in your code.  From the latest 1-year GEOS-Chem benchmark for 13.3.0 we get:
[code]

[2021-11-17 17:29] yantosca commented on #1012
Thanks for bringing this up @sdeastham.  Wonder if there is going to be an update for dust emissions that would supersede this soon?

[2021-11-17 17:37] sdeastham commented on #1012
No problem! It sounds like this is a problem with the GCHP v13.3.0/1 release; it appears that offline dust was updated in HEMCO_Config.rc, but not in ExtData.rc (https://github.com/geoschem/geos-chem/pull/816).

[2021-11-17 17:44] yantosca commented on #1011
This was also noted in #895

[2021-11-17 19:29] YanshunLi-washu commented on #900
Hi @tessac2 It should be good row. I renamed the variables to "SOIL_NOx". Let me know anything else.

[2021-11-17 20:03] bzhang419 commented on #1014
Thanks @yantosca  for your reply! I will try to restart my simulation after downloading the met data for 20010101.
For the second question, I do not think there is a unit conversion issue because I got the similar result (i.e. <10 Tg) when using the  HEMCO diagnostic files for version 13.1.0-13.3.0 published as the benchmark here (http://ftp.as.harvard.edu/gcgrid/geos-chem/1mo_benchmarks/GC_13/).

[2021-11-17 22:10] yantosca commented on #1014
@bzhang419, I am not aware of the 1-year benchmark outputs having shown 400 Tg/yr.    If you look at the 12.9.0 1-year benchmark we get:
[code]
These are computed with the data from the HEMCO_diagnostics *.nc files.

[2021-11-17 23:44] barronh commented on #1015
@ganluoasrc - I ran a quick test for a specific day. I think you are seeing a sum of ratios vs a ratio of sums issue. For my test case, I looked at January 1 2011. If I average all the ratios greater than 1, I get an average of 1.63. If I sum the fluxes in cells where the ratio is greater than 1, I get 3.0139927e-07. If I do the same thing for the cells where the ratio is less than or equal to 1,

[2021-11-18 01:52] bzhang419 commented on #1014
Thanks for your answer @yantosca, I think I find the reason causing high BC emissions in my result. I did not notice BCPO_Total is a 2-d matrix while BCPI_Total is a 3-d matrix, when I simply add them up using MATLAB, each layer in the third dimension of BCPI_Total will be added by a BCPO_Total, so the BCPO_Total is repeatedly counted many times. After I fixed this, I got the same result as yours.

[2021-11-18 02:06] #1014 closed

[2021-11-18 02:45] ganluoasrc commented on #1015
Thanks @barronh . It makes sense to me now. I thought surface emission should be always larger than on-road emission if on-road emission is included in surface emission. I have two other questions. Does off-road emission file include aircraft emission at airport? Are NEI11_0.1x0.1_[date]_othpt.nc (other point sources) and “Other Industrial Processes” defined by EPA the same thing? Thanks.

[2021-11-18 14:34] barronh commented on #1015
You can look at the documentation for the emissions[1] for definitions of "premerged sectors." The original files were provided with names like "emis_mole_all_20110101_12US1_cmaq_cb05_soa_F40_2011ed.nc". That tells us that these are version 2011ed. By looking through the TSDs, we see that Version 6.0 is the 2011ed, v6.1 is 2011ef, v6.2 is 2011eh, and v6.3 includes 2011ek thru 2011en. Comparing Tab

[2021-11-18 14:37] LiamBindle opened #1016 "[BUG/ISSUE] Links in the root directory of GEOS-Chem data portal are redirecting to 404s"
### Description of the problem

Links in the root directory of the GEOS-Chem data portal, i.e.
![image](https://user-images.githubusercontent.com/12772306/142435439-32e357f9-8e81-4511-abaa-2da36152b7ca.png)
are redirecting to the wrong place. For example, the HEMCO link links to https://geoschemdata.wustl.edu/HEMCO rather than https://geoschemdata.wustl.edu/ExtData/HEMCO. If you manually enter the

[2021-11-18 15:05] ganluoasrc commented on #1015
Thanks @barronh . It makes things clearer to me. The link of the documentations for the emissions used by models is very helpful.

[2021-11-18 15:32] yantosca commented on #1014
Thanks @bzhang419, I'll close out this issue now.

[2021-11-18 16:30] yantosca commented on #1015
Thanks @barronh and @ganluoasrc!  I'll close out this issue now, as it seems that there is a resolution.

[2021-11-18 16:30] #1015 closed

[2021-11-18 17:14] lizziel commented on #1012
I am doing a PR on this now so we can get into 13.3.2 in time for GEOS-Chem newsletter release.

[2021-11-18 23:18] jinlx opened #1018 "[QUESTION] unavailable directories in GC13.3.2 due to sym links"
Hi there,

I was trying to download GCv13.3.2 by using git clone but it seems that run directory and test directory are unavailable due to sym links. In order to make use of it, am I supposed to use src directory from GC12.9.3?

Cheers,
Lixu

[2021-11-19 14:11] lizziel commented on #1018
Hi Lixu, is this first time you are using version 13? We changed things in the version such that GEOS-Chem and HEMCO are now git submodules within the GC-Classic repository. This means you need to do the following command after cloning to populate the submodules.

git submodule update --init --recursive

This should fix the broken links. For more information about using version 13 see our [wiki us

[2021-11-19 14:11] #1018 closed

[2021-11-19 15:39] xin-chen-github opened #1019 "2012-13 GEOS-FP native resolution data"
### Ask a question about GEOS-Chem:
Dear GCST,

I'm wondering whether the native resolution GEOS-FP data for 2012 (post-April) and 2013 are available and kept somewhere? It seems that the washu and computecanada servers only have the 0.25-degree GEOS-FP data starting from 2014.

Thank you,
Xin

[2021-11-19 18:31] drewpendergrass opened #1020 "[BUG/ISSUE] GEOS-Chem restarts don't save correctly at unusual intervals (e.g. month and a day)"
### What institution are you from?
Harvard

### Description of the problem
For a data assimilation application, I need to run GEOS-Chem for unusual short intervals, such as a month and a day. GEOS-Chem does indeed run for this interval in input.geos (e.g. December 1 2018 through January 2 2019) but the restart, rather than being saved for Jan 2, will save for Jan 1. (The HISTORY.rc setting is set

[2021-11-19 21:12] yantosca commented on #1020
Hi @drewpendergrass, I think the issue might be in routine `AlarmIncrementMonths` in `History/histcontainer_mod.F90`.  It may be that there is a flaw in the logic.  I only ever tested this with regular intervals so it is possible that edge cases like 1 month and 1 day are falling through the cracks.  I'll take a look.
[code]

[2021-11-19 23:08] lizziel commented on #1019
Hi @xin-chen-github, thanks for asking about this. Native resolution GEOS-FP data for before 2014 is not available. When we began processing GEOS-FP fields for GEOS-Chem we did not archive the processed global 0.25x0.3125 fields since at the time we did not have a use for them (this was before GCHP and FlexGrid). The time period you want corresponds to GEOS-5.7.2, which is considered by GMAO to be

[2021-11-19 23:08] #1019 closed

[2021-11-20 05:25] jinlx commented on #1002
Thanks Bob! You are right. The issue is caused by that GCC is not able to find flex directory. The bug is fixed after setting up flex directory.

[2021-11-20 05:25] #1002 closed

[2021-11-21 07:14] yanglibj commented on #954
Hi @YanshunLi-washu <https://github.com/YanshunLi-washu> and @yantosca
<https://github.com/yantosca>, I finally got some time to rerun the model.
But using the new data, I still got the same error.

@yantosca <https://github.com/yantosca> Bob, have you got a chance to try
this data?

@YanshunLi-washu <https://github.com/YanshunLi-washu> I noticed the last
few lines actually include a few times for

[2021-11-21 21:42] #950 closed

[2021-11-21 21:42] #956 closed

[2021-11-22 02:46] jimmielin opened #1021 "[BUG/ISSUE] Duplicate call to Init_and_Register SpeciesConc?"
### Description of the problem
There is a piece of duplicate code calling `Init_and_Register` under `state_diag_mod.F90`

It appears to be harmless.

### GEOS-Chem version
Current code in `main` branch exhibits this issue.

### Replicating the issue:

Notice the two blocks of code here:

https://github.com/geoschem/geos-chem/blob/main/Headers/state_diag_mod.F90#L2151

https://github.com/geoschem/g

[2021-11-22 05:34] jimmielin opened #1022 "[FEATURE REQUEST] Archiving "SpeciesConc" in molec/cm3 units in a separate diagnostic"
### Request a new GEOS-Chem feature:

Hi all,

During the validation of the upcoming auto-reduction feature in KPP (within GEOS-Chem) I've ran into the need of converting the default `SpeciesConc` from `v/v dry`, the long-standing unit for output, into `molec/cm3`.

While this could technically be done outside of GEOS-Chem in a diagnostics package, perhaps `Convert_Spc_Units` in `UnitConv_Mod` cou

[2021-11-22 15:37] lizziel commented on #1022
Daniel Jacob (@djxjacob) wrote:
[code]

[2021-11-22 15:48] lizziel commented on #1022
I think this would be a great update to add to 14.0 which will be released after 13.4. For naming, how about changing `SpeciesConc_` to the following two options: `SpeciesVMR_` and `SpeciesMND_`? This would go well with the other species update in 14.0 where we switch to`State_Chm%Species(N)%Conc(I,J,L)` for accessing concentrations in the model. This new diagnostic naming would distance itself fr

[2021-11-22 16:02] jimmielin commented on #1022
Sounds good. I think that having `SpeciesVMR_` and `SpeciesMND_` as the prefix names make more sense than `SpeciesConc`. It would be clear for users when they want to choose one in `HISTORY.rc`.

Speaking about 14.0.0 this would also mean that the auto-reduction capability for KPP (which @msl3v and @yantosca and I are working on) would go in a 14.x release? Species array changes, KPP solver optimi

[2021-11-22 16:18] yantosca commented on #1021
I concur @jimmielin. That might have been leftover from a Git merge.  We can take the second instance out.

[2021-11-22 16:48] djxjacob commented on #1022
About moving to 14.0 after 13.4 ….One thing we heard from the GCSC last week is that MEGAN3 and the associated canopy physics should be moved into the ‘feature integration in the queue’ table (please do so) and be implemented in the 13 series before going to 14.0. Can we start working on it to have it ready for 13.4.0?   Daniel

From: Lizzie Lundgren ***@***.***>
Sent: Monday, November 22, 2021 10

[2021-11-22 18:36] #1016 closed

[2021-11-22 18:36] LiamBindle commented on #1016
This is fixed now

[2021-11-22 20:30] yantosca commented on #1022
@djxjacob, we can make a separate feature request for MEGAN3.  The only thing is that we do not as yet have a clean PR but just code that will need to be manually updated (which will take time).  I've updated the wiki accordingly.

Also MEGAN3 would be a HEMCO update and less affected by the 14.0 species array modifications (I think).

[2021-11-22 21:41] LiamBindle opened #1024 "[BUG/ISSUE] Slowness on http://geoschemdata.wustl.edu"
### What institution are you from?
GCST

### Description of the problem
http://geoschemdata.wustl.edu is experiencing intermittent slowness.

We have an open ticket with the server admin. I'll post updates here.

[2021-11-23 06:02] xalejandrux opened #1025 "[BUG/ISSUE] GEOS-Chem simulation with TOMAS (40 bins) Negative O3 concentration"
### What institution are you from?
Université de Montréal / University of Montréal

### Description of the problem
We set up a GEOS-Chem simulation with TOMAS (40 bins). When we try to run the simulation, we find a bug that tells us that the concentration of O3 is negative in the coordinates (I, J, L) = (39 37 1)

### Description of troubleshooting performed
GEOS-Chem ERROR:
 -> at DO_TEND (in mod

[2021-11-23 14:29] yantosca commented on #1025
Thanks for writing @xalejandrux.  I am tagging Jeff Pierce (@theloniuspunk) who is with the TOMAS development team.

[2021-11-23 14:41] theloniuspunk commented on #1025
Hi folks,

Betty Croft recently found this too. We really don't have many ideas. TOMAS
should not be influencing O3 (the bulk aerosol species are what interacts
with radiation and photolysis rates as well as heterogeneous chemistry).
The only thing I can think of is that running TOMAS makes us turn off the
non-local PBL mixing scheme (and maybe this is now doing something funky?)
or maybe the HEMC

[2021-11-23 17:18] tessac2 commented on #987
Hello @YanshunLi-washu  @LiamBindle I am really sorry to open this issue again, but I am now realizing that I am unable to download any of the files from December 2019 (/ExtData/GEOS_4x5/GEOS_FP/2019/12). I can see on the website they are available but whenever I run the dryrun/download script or even just wget I get the error "403 Forbidden
2021-11-23 11:07:51 ERROR 403: Forbidden." Even when I c

[2021-11-23 17:27] YanshunLi-washu commented on #987
Hi @tessac2 I granted the permission to those files again. Would you mind giving another try?

[2021-11-23 19:35] yantosca opened #1026 "[FEATURE REQUEST] MEGAN3 emissions with updated canopy model (Silva et al 2020)"
Sam Silva (formerly of MIT) has code to implement MEGAN3 emissions and an updated canopy model.  The code, which is based off GEOS-Chem 12.3.0 is available at this DOI: https://zenodo.org/record/3614062

Given that this is not a PR but just a collection of code files (without any associated run-directory files), I am wondering if there is anyone in the Emissions and Deposition Working Group that m

[2021-11-23 20:21] yantosca commented on #958
PR #992 has been merged so we can close this issue.

[2021-11-23 20:21] #958 closed

[2021-11-24 15:03] fritzt commented on #743
Hello, I had a question regarding the following lines:
[code]

The comment mentions that `ff` is capped at 1.0e+30. However, this line:
[code]
will enforce all values of `ff` to be **greater** than 1.0e+30. Shouldn't this rather be:
[code]

[2021-11-24 23:14] jinlx opened #1030 "[BUG/ISSUE] Missing field in NEI2016 data (input error)"
Hi,

I am currently using GC13.3.2. It seems that current NEI2016 data in washU server misses fields for **./NEI2016/v2021-06/2016fh_16j_othafdust_adj_0pt1degree_month_02.ncf** and **./NEI2016/v2021-06/2016fh_16j_afdust_adj_0pt1degree_month_02.ncf** . The error information for GC.log is provided below. I also put part of HEMCO.log here just in case.

I was wondering if anyone is working on updatin

[2021-11-25 02:52] lixiao-bit opened #1031 "[QUESTION] Molecular weight of SO4{D1,D2,D3,D4}?"
### Ask a question about GEOS-Chem:
Hi all,

What should we set the molecular weight of SO4D1-4 to? Should we set it to the same as sulfate or the molecular weight of DST1-4?

thanks.
Xiao Li

[2021-11-25 03:24] tessac2 commented on #987
@YanshunLi-washu I got it to work! Thank you so much, I really appreciate all your help.

[2021-11-25 03:24] #987 closed

[2021-11-26 13:19] kenichi0225703 opened #1032 "[QUESTION] CH4-O3 simulation"
### Ask a question about GEOS-Chem:
Hello,
I would like to evaluate the effect of CH4 anthropogenic emission on O3 concentration, is this possible with the full-chem simulations ? Looking at the default HEMCO_config.rc, the line about CH4 anthropogenic emission such as CEDS and CMIP6 is commented out (Comment out CH4 for full-chem simulations: do not use CH4 emissions). Why is this ? Does the full

[2021-11-26 13:31] djxjacob commented on #1032
CH4 in the full-chemistry simulation is specified as a surface boundary condition. The easiest way to determine the effect of changing CH4 on O3 is to change that boundary condition.  Daniel

From: kenichi0225703 ***@***.***>
Sent: Friday, November 26, 2021 8:20 AM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem] [QUESTION] CH4-O3 simulation (Issue #103

[2021-11-26 13:41] kenichi0225703 commented on #1032
Thank you Daniel.
If so, does this mean that CH4 anthropogenic emission data is not available for full-chem simulations ?

[2021-11-26 13:46] djxjacob commented on #1032
You can if you want but you need to disable the surface BC and add the HEMCO anthro methane emissions. Then you need to set correct initial conditions and spin up the model for decades because of the 17-year mode. It’s a whole different kind of simulation.

From: kenichi0225703 ***@***.***>
Sent: Friday, November 26, 2021 8:41 AM
To: geoschem/geos-chem ***@***.***>
Cc: Jacob, Daniel J. ***@***.***

[2021-11-26 13:49] kenichi0225703 commented on #1032
I got it. Thank you for your kindness.

[2021-11-27 23:06] chfite opened #1033 "[BUG/ISSUE] Wrong growth factor used on PM2.5ss in aerosol_mod.F"
In the aerosol_conc subroutine of aerosol_mod.F the growth factor for organic aerosol is being used in calculating and assigning values to the PM25ss variable for sea salt. It lists `SALA(I,J,L) * ORG_GROWTH ` when assigning values to PM25ss, while it should read `SALA(I,J,L) * SSA_GROWTH `.

The calculation of total PM2.5 further up in the subroutine is correct and scales SALA by SSA_GROWTH, so t

[2021-11-28 02:20] xalejandrux commented on #1025
Thank you very much for your answers. We have tried to find the source of the problem. We have tried to run another simulation in another run directory (simulation option: 1. Standard). We did this simulation with exactly the same parameters that we configured for TOMAS and we have encountered exactly the same error. (Negative concentration of O3). I think it is important to mention that in the co

[2021-11-28 16:45] theloniuspunk commented on #1025
Thanks!

GCST, it seems like the issue is outside of TOMAS but in some general
GEOS-Chem parameter that is set differently between TOMAS and non-TOMAS
simulations. "Use non-local PBL?: F" seems like a leading candidate.
Something about this PBL setup must be sometimes creating chemical
conditions that is making something wacky happening in predicting O3.

Jeff

On Sat, Nov 27, 2021 at 7:20 PM xale

[2021-11-29 02:09] viral211 commented on #743
Correct! This was recently pointed out in issue #906 and has been fixed in release 13.3.

[2021-11-29 14:50] yantosca commented on #973
I will close out this issue as it seems to have been resolved.

[2021-11-29 14:50] #973 closed

[2021-11-29 14:58] yantosca commented on #1032
I will close out this issue now.  Thanks for writing.

[2021-11-29 14:58] #1032 closed

[2021-11-29 15:11] yantosca commented on #972
I will close out this issue.  Please let us know if you have any further questions.

[2021-11-29 15:11] #972 closed

[2021-11-29 16:06] LiamBindle commented on #1012
Closing. Lizzie fixed this in geos-chem#1017 and it's release in 13.3.2.

[2021-11-29 16:08] msulprizio commented on #1030
That is a known bad file and was replaced at Harvard. See https://github.com/geoschem/geos-chem/issues/547#issuecomment-930445291.

@LiamBindle Can you check to make sure the file was also updated at WashU? The corrected file is at http://ftp.as.harvard.edu/gcgrid/data/ExtData/HEMCO/NEI2016/v2021-06/2016fh_16j_othafdust_adj_0pt1degree_month_02.ncf.

[2021-11-29 16:09] LiamBindle commented on #1024
The admins suspect the slowness was caused by some file system issues that are now resolved. Closing this for now. If anyone experiences slowness, please reopen.

[2021-11-29 16:19] LiamBindle commented on #1030
It looks we had the old file:
[code]

I downloaded the updated file. @jinlx Could you try redownloading `2016fh_16j_othafdust_adj_0pt1degree_month_02.ncf`?

[2021-11-29 16:51] jinlx commented on #1030
Thanks @LiamBindle ! It works I will close the issue now.

[2021-11-29 16:51] #1030 closed

[2021-11-29 17:45] LiamBindle commented on #1024
Reopening. @laestrada says that this morning he's getting very slow responses. He wrote

[2021-11-29 21:53] viral211 opened #1034 "[BUG/ISSUE] Double counting of HCl uptake on alkaline sea-salt aerosols"
The following line in `sulfate_mod.F`
https://github.com/geoschem/geos-chem/blob/4252e96ff0614772dd1228c4d08c5d8dbc3d2a37/GeosCore/sulfate_mod.F90#L4710
should be executed only when SO2 chemistry is called with the `FullRun` flag set to `True`. Currently it is executed twice in a chemistry time step and double counts the HCl lost to sea salt aerosols.

### Proposed edit:
`IF (FullRun) Spc(I,J,L,id

[2021-11-29 21:54] yantosca commented on #1034
I am also tagging @msl3v, since the appropriate fix will also need to be made in `KPP/fullchem/fullchem_SulfurChemFuncs.F90`.

[2021-11-29 21:56] philotrum opened #1035 "Errors downloading data from http://geoschemdata.wustl.edu/ExtData/GEOS_2x2.5/MERRA2/"
### What institution are you from?
University of Wollongong

### Description of the problem
I have written a python script to pull data down from http://geoschemdata.wustl.edu/ExtData/GEOS_2x2.5/MERRA2/. It pulls a month’s data when it is run. I have tested the script on a Linux box running on the UoW campus quite a few times and am now testing it on the NCI gadi supercomputer in Australia. I am h

[2021-11-29 22:16] yantosca commented on #1035
@LiamBindle wrote:

[2021-11-29 22:54] yanglibj commented on #954
@yantosca @YanshunLi-washu Hi Bob and Yanshun, I am checking in to see whether there is any update or anything I can do from my side. Thank you!

[2021-11-30 01:50] YanshunLi-washu commented on #954
hi @yanglibj I checked the GEOSFP files for 20210405 at 4x5 resolution, all files are readable by Panoply. Not sure whether reprocessing the met data will help. Could you provide us more specific error messages so that @yantosca Bob and I could help further.

[2021-11-30 04:28] yanglibj commented on #954
Hi @YanshunLi-washu , thanks for your reply. Bob also tried the simulations and identified the same error. So the error was not related to how I use the code. Instead, it seems to be a general issue when running GEOS-Chem for recent months (April, 2021).

See Bob's earlier reply:
"Hi @yanglibj, I was finally able to confirm that the issue happens with a clean 12.9.3 CH4 run (using 2021 GEOS_FP met

[2021-11-30 06:50] yangxiajie opened #1036 "[QUESTION]How to add a new flux rate?"
In GEOS-Chem v12.9, I want to add a new flux rate of NOx from soil. I found `hco_fluxarr_mod.F90` module contains routines to handle the HEMCO flux arrays.  On the other hand, `hcox_soilnox_mod.F90` can also compute soil NOx emissions.

I wonder if these are the places to add a flux rate for a specific tracer (e.g.  NO) from soil emission?

Thank you for your time.

[2021-11-30 15:43] YanshunLi-washu commented on #954
Hi @yanglibj Yes. That's correct. Bob @yantosca identified that there is invalid values in the Temperature field in the GEOSFP 20210404 I3 file. But this has been fixed, see the plot below, the distribution pattern and the data range of T is normal.
![Screen Shot 2021-11-30 at 9 40 56 AM](https://user-images.githubusercontent.com/78983372/144079245-063b9b74-5ab0-44a4-8852-4db64f1f35a8.png)

[2021-11-30 18:10] msulprizio commented on #1011
I believe the fix submitted in https://github.com/geoschem/HEMCO/pull/121 should resolve this issue. I have asked @yantosca to confirm that this does in fact resolve the diagnostic issues in the Hg simulation.

[2021-11-30 18:11] msulprizio commented on #895
I believe the fix submitted in https://github.com/geoschem/HEMCO/pull/121 should resolve this issue. I have asked @yantosca to confirm that this does in fact resolve the diagnostic issues in the Hg simulation.

[2021-11-30 19:07] msulprizio opened #1037 "[FEATURE REQUEST] Update QFED emissions through the end of 2020"
Hongyu Liu pointed out that the QFED emissions files in [`ExtData/HEMCO/QFED/v2018-07/2020/`](http://ftp.as.harvard.edu/gcgrid/data/ExtData/HEMCO/QFED/v2018-07/2020/) are only available through 2020/08/01. Christoph Keller says files for the rest of 2020 are available on Discover at `/discover/nobackup/projects/gmao/share/dao_ops/fvInput_nc3/PIESA/sfc/QFED/v2.5r1/0.1/`.

[2021-11-30 19:40] yantosca commented on #1011
I confirm that the fix in https://github.com/geoschem/HEMCO/pull/121 does result in Hg emissions being added to the SpeciesConc and MercuryEmis collections.  I will release a patch version GEOS-Chem 13.3.3.

[2021-11-30 20:45] yantosca commented on #1037
@lizziel, could you transfer these files over?  I no longer have access to Discover.

[2021-11-30 21:40] yantosca commented on #1033
Thanks @chfite.  We will try to get this into 13.4.0, which is under prep now.

[2021-12-01 01:48] clearsky112 opened #1038 "[QUESTION] cannot find ExtData/CHEM_INPUTS/FAST_JX/v2021-10"

[2021-12-01 05:13] #1038 closed

[2021-12-01 07:59] clearsky112 opened #1039 "[QUESTION] where can I find the restart files for v13.3.2"
### Ask a question about GEOS-Chem:

Hi GEOS-Chem help desk,
    I'm trying to use the v13.3.2 GC and wonder where I could find the restart file as the initial condition? The one I used for v13.2.1 doesn't work for v13.3.2 directly.  I chose full chemistry+Benchmark.
Thanks in advance.

[2021-12-01 09:42] map06 commented on #973
Sorry for the trouble. But, I haven't been able to solve this issue. Is there additional settings we need to do after we create a run directory  for tagged simulation? I ran the tagged simulation with the production and loss values from  compute canada server:  `http://geoschemdata.computecanada.ca/ExtData/HEMCO/TAGGED_O3/v2014-09/O3_PRODLOSS.merra2.4x5.nc`

Still the values are very low. Is the u

[2021-12-01 12:16] jahwilson opened #1040 "[BUG/ISSUE] Error in GEOS-FP input file (GEOSFP.20210404.I3.4x5.nc)"
### Description of the problem
Something strange happened to the temperature field in the file `GEOSFP.20210404.I3.4x5.nc`. Here is an extract from `ncdump -v,T GEOSFP.20210404.I3.4x5.nc | grep NaNf`:

`  -1.647451e-28, -8.237937e-13, NaNf, -1.60089e-17, -1.184781e-15,
    9.555167e+22, 3.22281e+11, -3.999537e+34, -3.017839e-30, NaNf,
    -1.460925e-29, 5.764052e+37, 1.765101e+35, 1.886043, NaNf,

[2021-12-01 15:48] yantosca commented on #1040
@YanshunLi-washu, this sounds like a corrupted met field file.  Could you look into it when you get a chance?

[2021-12-01 16:14] yantosca commented on #1039
The restart files are at this path: http://ftp.as.harvard.edu/gcgrid/data/ExtData/GEOSCHEM_RESTARTS/v2021-09/.  They are also on the WashU server but there have been some connectivity issues there lately.

If you have created a run directory from the 13.3.2 folder, then the proper restart file should be placed in your run directory automatically.

[2021-12-01 16:24] YanshunLi-washu commented on #1040
Sure Bob @yantosca
Hi @jahwilson, have you checked the data from the washu data portal (http://geoschemdata.wustl.edu/ExtData/GEOS_4x5/GEOS_FP/). I did "ncdump -v,T GEOSFP.20210404.I3.4x5.nc | grep NaNf" and found no NaN values there.

[2021-12-01 16:29] yantosca commented on #1038
@clearsky112, did you do a dry-run simulation?  That should have pulled down the FAST_JX/v2021-10 files.

[2021-12-01 16:33] jahwilson commented on #1040
Hi @YanshunLi-washu, you are right, the washu data portal version works fine - thanks!

I didn't check it initially as it was taking some time to connect. Cheers!

[2021-12-01 16:33] yantosca commented on #1040
Thanks @jahwilson @YanshunLi-washu.  I'll close out this issue.

[2021-12-01 16:33] #1040 closed

[2021-12-01 17:26] clearsky112 commented on #1038
Thanks. Yes, I did use the dryrun simulation, just could not connect to the wu site at that moment, while the cc and ur sites don't have the files. Later, the wu site was back and I downloaded them.

[2021-12-01 18:53] clearsky112 commented on #1039
thanks! seems the v2021-09 has not been added into http://geoschemdata.wustl.edu/ExtData/GEOSCHEM_RESTARTS/

[2021-12-01 19:30] clearsky112 commented on #1039
May I quickly check that whether the monthly restart files from the GEOS-Chem 13.3.2 10-year full-chemistry benchmark (2010-2019) are available? Thanks.

[2021-12-01 20:03] IshirDutta commented on #1024
Hi @LiamBindle, as of this afternoon I'm also seeing both long connection times as well as slow download speeds to the MIT svante cluster. Tried downloading a couple files from ComputeCanada as a comparison, and got download speeds ~400 MB/s

<img width="569" alt="image" src="https://user-images.githubusercontent.com/33105692/144305319-376fee0b-12aa-4745-ae34-ec3c9ac26374.png">

[2021-12-02 15:59] LiamBindle commented on #1024
Hi @IshirDutta, thanks for letting us know.

It sounds like the root problem is that the server is under speced for how many people are using it. Unfortunately, that means it will probably be like this until we an up the server's capacity (work in-progress, but realistically it will take some time). Switching between ComputeCanada and WUSTL is a good workaround in the interim.

[2021-12-02 16:01] LiamBindle commented on #1024
If people can limit the number of parallel downloads they're running, that would help us out too (e.g., I used to run like 10 parallel downloads as a time....we should avoid doing that right now).

[2021-12-02 16:57] yantosca commented on #895
This should now be fixed in [GEOS-Chem bugfix version 13.3.3](https://github.com/geoschem/GCClassic/releases/tag/13.3.3).  We can close out this issue now.

[2021-12-02 16:57] #895 closed

[2021-12-02 16:58] yantosca commented on #1021
This is now merged into the 13.4.0 development branch, so we can close out this issue.

[2021-12-02 16:58] #1021 closed

[2021-12-02 16:59] yantosca commented on #1025
You might want to update to [GEOS-Chem 13.3.3](https://github.com/geoschem/GCClassic/releases/tag/13.3.3).  There was a bug in HEMCO that prevented manual diagnostics from updating.

[2021-12-02 17:02] yantosca commented on #1011
This should now be fixed in [GEOS-Chem 13.3.3](https://github.com/geoschem/GCClassic/releases/tag/13.3.3).  We can close out this issue.

[2021-12-02 17:02] #1011 closed

[2021-12-02 17:11] yantosca commented on #1035
FYI, @LiamBindle has found out that WUSTL portal is slow to respond and it will be for the next while. It's slow because the server is under speced for how many people using it. In the interim, we can suggest people use both the WUSTL and ComputeCanada servers. Now that people are using the WUSTL site heavily, the ComputeCanada server is faster to respond.

[2021-12-02 17:14] yantosca commented on #1031
I will close out this issue for now.  Please let us know if you have further questions.

[2021-12-02 17:14] #1031 closed

[2021-12-02 19:42] yantosca commented on #1039
In the `download_data.yml` file in your run directory, change:

[code]
to
[code]
that should pick the proper restart file. This might also have been the result of a Git merge.

[2021-12-02 19:52] yantosca commented on #1039
I have fixed this in commit 0648444e7a3bcccf867c7cd65f92e548f322dcfa, which is in the bugfixes branch.

[2021-12-02 20:29] yantosca commented on #1033
Hi @chfite, I took a look at the 13.3.3 code and it does seem that the PM25ss computation multiplies SALA * SSA_GROWTH.

https://github.com/geoschem/geos-chem/blob/4252e96ff0614772dd1228c4d08c5d8dbc3d2a37/GeosCore/aerosol_mod.F90#L970-L976

This was fixed in commit 04bf01e2 by @msulprizio for version 13.3.0.

With your permission, I will close out this issue.

[2021-12-02 20:32] chfite commented on #1033
@yantosca Ah, I see. Good to know it's already been fixed. You can close out. Thanks!

[2021-12-02 20:50] #1033 closed

[2021-12-02 21:47] clearsky112 commented on #1039
Thank you!

[2021-12-02 21:56] philotrum commented on #1035
I ran a single test using a 60 second timeout in the code to pull the data. The code is now:

` with urllib.request.urlopen(full_url, timeout=60) as response, open(local_filename, 'wb') as out_file:
                        shutil.copyfileobj(response, out_file)
`
The month's data came down with no fails in 9 minutes 46 seconds. Since there is more than one variable I am not sure if this is due to

[2021-12-02 23:50] IshirDutta commented on #1024
Good to know! I'm just running one of them from my dry run log, so it's going on autopilot sequentially in the background. Given that upgrades on the WUSTL server will likely take a while, would it be possible to sync it with ComputeCanada with the latest set of input files? I noticed a few of the newer folders were missing on CC (CEDS comes to mind immediately, but I'm sure there are others I can

[2021-12-03 04:16] philotrum commented on #1035
I ran a test comparing the WUSTL and ComputeCanada download speed. My script pulled all files without error for 202106 in 3 minutes 40 seconds from WUSTL and 202107 took 4 minutes 7 seconds without error from ComputeCanada. I think that the speed difference is in the noise, and that luck with how busy the server is is the primary variable. I have not had a download error since adding the timeout t

[2021-12-03 14:25] yantosca commented on #1035
Thanks for testing @philotrum!

[2021-12-03 14:27] yantosca commented on #1039
@clearsky112, thanks for reporting this.  I think we had this originally set correctly but it might have been overridden in a Git merge.  I'll close this issue out.  Let us know if you encounter any other problems.

[2021-12-03 14:27] #1039 closed

[2021-12-03 14:28] yantosca commented on #1024
@YanshunLi-washu, is the sync to ComputeCanada possible?

[2021-12-03 14:46] YanshunLi-washu commented on #1024
Hi @yantosca and @IshirDutta, would you give a try on the globus endpoint named GEOS-Chem Data (WashU)? Hi @LiamBindle, just for checking do we still have automatic sync between Washu compute1 and Compute Canada?

[2021-12-03 15:07] LiamBindle commented on #1024
@YanshunLi-washu I don't think so. Would you be able to copy the recently added HEMCO collections (i.e. those added in 13.2 and 13.3)? You can find the new directories on the Wiki pages that describe the releases.  It's probably easiest to do on the Globus website. (Sorry for the bad timing)

[2021-12-03 16:18] YanshunLi-washu commented on #1024
@LiamBindle Just to make sure, are those recently added collections uploaded to CCVM but not Compute1?

[2021-12-03 16:20] LiamBindle commented on #1024
They're on Compute1 but not CCVM. So Compute1->CCVM is the direction

[2021-12-03 19:59] jinlx commented on #969
It also happens for SALA in GC13.3.2 when I tried 4x5 simulation. There is a workaround mentioned in #734 and #584 . Hope it's helpful for you guys as well.

[2021-12-04 01:17] philotrum commented on #1035
I ran a test comparing the WUSTL and ComputeCanada download speed. My script pulled all files without error for 202106 in 3 minutes 40 seconds from WUSTL and 202107 took 4 minutes 7 seconds without error from ComputeCanada. I think that the speed difference is in the noise, and that luck with how busy the server is is the primary variable. I have not had a download error since adding the timeout t

[2021-12-05 20:14] msulprizio opened #1043 "[FEATURE REQUEST] Update methane simulation to use GFEI v2 emissions for the oil, gas, and coal sectors"
GFEI v2 emission grids for 2019 by sector and subsector are available for download from
the Harvard Dataverse at https://doi.org/10.7910/DVN/HH4EUM (Scarpelli et al., 2021). The 2010-2018 emission grids are available upon request.

**Reference**

[2021-12-05 20:29] djxjacob commented on #1043
Hi Melissa – we only need the 2019 emission grids for now in the IMI and in version 13.4.  Daniel

From: Melissa Sulprizio ***@***.***>
Sent: Sunday, December 5, 2021 3:14 PM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem] [FEATURE REQUEST] Add GFEI methane emissions from oil, gas, and coal sectors (Issue #1043)

GFEI v2 emission grids for 2019 by sect

[2021-12-05 20:31] msulprizio opened #1044 "[FEATURE REQUEST] Update global methane anthropogenic emissions to EDGAR v6"
In the methane simulation, we currently use EDGAR v4.3.2 emissions (1970-2012) as the default global anthropogenic emissions inventory. EDGAR v6.0 emissions (1970-2018) are now available at https://edgar.jrc.ec.europa.eu/dataset_ghg60. We will update to these more recent emissions, but overwrite global oil, gas, and coal emissions with [GFEI v2 emissions](https://github.com/geoschem/geos-chem/issu

[2021-12-05 21:44] luhu0 opened #1045 "[BUG/ISSUE] Re. SpeciesConcSubset COLLECTION"
### What institution are you from?
U Montana

### Description of the problem
I set up the THE SpeciesConcSubset COLLECTION in the HISTORY.rc, and I got the 'Invalid latitude subset values for collection' error. But my lon and lat ranges were correct.

### Description of troubleshooting performed
The problem appears to be in the history_mod.F90 in the Error check latitudes in Lines 1066-1067:

[cod

[2021-12-06 05:38] #955 closed

[2021-12-06 16:34] viral211 commented on #1001
Hi @yantosca. I believe `V_tot` corresponds to `H2OLIQ`, which is the cloud liquid water content. Whereas `L2G` is `H_eff * H2OLIQ`. Note that `H_eff` is dimensionless in this equation, not in the more commonly used units of M/atm.

[2021-12-06 16:39] yantosca commented on #1001
Thanks @viral211.  Will fix that.

[2021-12-06 16:55] yantosca commented on #1001
I think this is now correct.  Thanks @viral211!
[code]

[2021-12-06 17:11] jinlx opened #1046 "[QUESTION] OFFLINE_LIGHTNING and OFFLINE_BIOGENICVOC data required"
Hi there,

I am trying running GC in 2020 but it seems that the OFFLINE_LIGHTNING and OFFLINE_BIOGENICVOC are not in the washu server after 2019. I was wondering if the data is ready and if you could update that in the server if it's possible.

Cheers,
Lixu

[2021-12-06 17:16] YanshunLi-washu commented on #1046
Hi @jinlx Hongjian Weng from Peking University is developing these data, I'll contact him and let you know ASAP.

[2021-12-06 18:38] jinlx commented on #1046
Thanks Yanshun! I appreciate it.

[2021-12-06 19:12] msulprizio commented on #1043
Thanks @djxjacob! I will proceed with just the 2019 GFEI emissions.

[2021-12-06 19:24] yantosca commented on #1039
We are preparing to add this into another patch version 13.3.4.

[2021-12-06 19:26] yantosca commented on #1045
I have issued a fix in commit 9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44.  We are preparing a 13.3.4 release.

NOTE: This issue only affects GEOS-Chem Classic History diagnostics.

[2021-12-06 19:36] clearsky112 commented on #1039
thank you for the information.

[2021-12-06 22:59] random-dengf opened #1048 "GC13 ISSUE"
### What institution are you from?
U of Toronto
### Description of the problem
I run GCClassic v13s/ifort v13/14(xe_2013.0.079) using MERRA2 at 2x2.5 (reduced 47) to simulate CO2 field, got extremely large and small values in north of 80degreeN after 1hr run, while everything is fine for similar 4x5 run. CO2 MR at level 1 attached.

### Description of troubleshooting performed
Did 4x5 runs

### GE

[2021-12-07 00:57] liruiliruiliruilirui opened #1049 "Adding the species to the GEOS-Chem 12.1.0"
Hello, everyone,
                       I wanted to add the species into the GEOS-Chem 12.1.0 with advection, dry and wet deposition. I have added the emission and basic information in HEMCO_Config.rc of merra2_2x25_RnPbBe and species_database.F90, respectively. Unfortunately, the added species only showed concentrations, while the dry and wet deposition cannot be calculated. Could you help me?

B

[2021-12-07 12:59] yangning-code opened #1050 "[QUESTION] about SOA"
### Ask a question about GEOS-Chem:
The chemical process by which SESQ and SVOCs (POG) are oxidized cannot be found in the KPP of GEOS-Chem, but other VOCs such as MTPA can be found. Which code can I find them under? There is another question. What is the relationship between the VBS's gas-solid distribution of MONITS/MONITU/HONIT generated by MTPA after oxidation?

[2021-12-07 14:38] yantosca commented on #1050
Thanks for writing @yangning-code.  To your questions:

  1. GeosCore/carbon_mod.F90 has the code where chemistry of SOA species are handled.
  2. I would ask the Aerosols Working Group (cc'ing @theloniuspunk @beckyalexander) about your VBS question, as that is more of a science question.

[2021-12-07 15:00] yantosca commented on #1048
Thanks for writing @random-dengf.  A couple of things:

  1. Could you attach your rundir configuration files (e.g. input.geos, HEMCO_Config.rc) to this issue?  Make sure that they end with .txt and you can just drag & drop into the comment box.
  2. Are you running an "out-of-the-box" simulation, or have you made modifications to the code?

[2021-12-07 15:08] yantosca commented on #1046
Also note #1010 is a similar issue.

[2021-12-07 15:11] yantosca commented on #1001
Integration tests for GCC passed.  Waiting on GCHP results.

[2021-12-07 15:23] yantosca commented on #938
@tiffpangg, yes,  you can comment out those lines listed above if you wish to exclude these from the computation.

I will go ahead and close out this issue now.  Let us know if you should encounter new problems/issues.

[2021-12-07 15:23] #938 closed

[2021-12-07 16:16] random-dengf commented on #1048
Thanks.
1.  HEMCO_Config.rc and input.geos
[HEMCO_Config.txt](https://github.com/geoschem/geos-chem/files/7669793/HEMCO_Config.txt)
[input.geos.txt](https://github.com/geoschem/geos-chem/files/7669803/input.geos.txt)
2. I did not  make any modification to the code.

[2021-12-07 16:30] YanshunLi-washu commented on #1046
Thanks Bob @yantosca I already sent an email to Hongjian, haven't got any reply yet

[2021-12-07 16:35] random-dengf commented on #1048
I found the problem of my runs. I have a problematic initial condition.
Sorry for this complication.

[2021-12-07 16:39] theloniuspunk commented on #1050
I don't know the answer to the VBS question. Maybe loop in Eloise or
Colette?

On Tue, Dec 7, 2021 at 7:38 AM Bob Yantosca ***@***.***>
wrote:

[2021-12-07 16:42] eamarais opened #1051 "[QUESTION] Should nested model boundary conditions be generated as instantaneous or time-averaged?"
### Ask a question about GEOS-Chem:

The default setting of BoundaryConditions.mode in HISTORY.rc to save out boundary conditions is 'instantaneous'. Would it not be better to set this to 'time-averaged' to reduce influence of instantaneous changes in tracer species at the boundaries of nested domains (effectively smoothing out temporal variability)?

[2021-12-07 16:44] yantosca commented on #1048
No worries @random-dengf.  Always feel free to post an issue if you have a question or encounter a problem.  I'll close this out now.  Thanks again.

[2021-12-07 16:44] #1048 closed

[2021-12-07 16:48] yantosca commented on #1050
Tagging @eamarais and @coletteheald

[2021-12-07 17:02] eamarais commented on #1050
Hi @yangning-code, the mechanism that includes MONITS and so on are described in Jenny Fisher's paper: https://acp.copernicus.org/articles/16/5969/2016/acp-16-5969-2016.pdf, so I've tagged @jennyfisher too.

[2021-12-07 17:14] #1045 closed

[2021-12-07 18:05] yantosca commented on #1051
Thanks @eamarais for writing.  That could work but I'm not sure of what the impact would be.  If you could try a short run and see if it improves things we can make the recommendation going forward.

[2021-12-07 20:24] jinlx commented on #1046
I guess the biogenic data will fine since we can run it online anyway. But the missing lightning data may have some impact on NOx.

[2021-12-07 22:27] jennyfisher commented on #1050
Thanks Eloise. We weren't using the SOA simulation in that work, so I'm not sure how it gets treated in a VBS scheme.

[2021-12-07 22:53] YanshunLi-washu commented on #1046
@ltmurray Dr. Murray is working on that. Hi Dr. Murray do we have any updates on the update of offline lightning NOx?

[2021-12-07 23:00] ltmurray commented on #1046
2020 is available for MERRA2 at /ExtData/HEMCO/OFFLINE_LIGHTNING/v2020-03/MERRA2/2020.  GEOS-FP is delayed because a large amount of global native I3 met fields needed to be reprocessed for 2020 and 2021 as they were corrupt, and that only recently finished. For now, I'd recommend users just use MERRA2 lightning.

[2021-12-07 23:13] YanshunLi-washu commented on #1046
@ltmurray Thanks! Sorry about the delay of fixing the I3 fields, hope they are now good to use. Let me know if there is anymore met fields corruption.

[2021-12-07 23:14] ltmurray commented on #1046
Yes, the unconstrained fields have been calculated, and everything worked fine. It takes a few weeks to do the constraint at that resolution, and 2020 is going to be challenging because of the huge change in convection that occurred in FP, so will require extra testing.

[2021-12-07 23:16] YanshunLi-washu commented on #1046
Sounds great. Thanks for the efforts and letting us know. @jinlx

[2021-12-08 00:58] yangning-code commented on #1050
Thanks
1. GeosCore/carbon_mod.F90 does have SESQ, but only the corresponding distribution under VBS, and there is no process of SESQ being oxidized. Compared with MTAP, there is one less process of SESQ being oxidized into secondary aerosol. Can I understand that after SESQ is discharged, I will directly use VBS for distribution?

[2021-12-08 01:00] yangning-code commented on #1050
Duplicate of #

[2021-12-08 01:14] yangning-code commented on #1050
Thanks.
I read this article. This article contains the process of MTPA/MTPO/LIMO generating MONITS. When I sorted out the SOA mechanism of GEOS-Chem.13.2.1, I made a table. The table indicates POA, OPOA , SESQ is a process that is not oxidized, but there is a VBS allocation process. ISOP removes the VBS mechanism in 12.6. The rest of the SOA precursors have the oxidation process and the VBS mechan

[2021-12-08 01:33] yangning-code commented on #1050
I have another question. I think the SOA_SVPOA calculation method of PM2.5 should be modified, and the specific reasons are in the document.
[SOA_SVPOA  PM2.5 calculation.docx](https://github.com/geoschem/geos-chem/files/7672661/SOA_SVPOA.PM2.5.calculation.docx)

[2021-12-08 01:40] yangning-code commented on #1050
I have another question. I think the SOA_SVPOA calculation method of PM2.5 should be modified, and the specific reasons are in the document.
[SOA_SVPOA  PM2.5 calculation.docx](https://github.com/geoschem/geos-chem/files/7672689/SOA_SVPOA.PM2.5.calculation.docx)

[2021-12-08 01:42] YanshunLi-washu commented on #1046
Hi @jinlx Hongjian told me it will take around two weeks to update the MERRA2-based offline biogenic voc emissions for 2020 and around three weeks to update the GEOSFP-based ones.

[2021-12-08 03:37] jinlx commented on #1046
Thanks for letting me know it @YanshunLi-washu ! I appreciate it. I will start with calculating it online and please free feel to close the comment.

[2021-12-08 08:52] yangxiajie opened #1052 "[BUG/ISSUE] Segmentation fault occurred when running HEMCO"
A segmentation fault occurred when running HEMCO coupled with GEOS-Chem 12.9.3:
[code]
It seems that `hcox_gfed_mod.F90` has something wrong after I added a new dry matter.

However, there is no specfic error occurred. I wonder if there is a way to solve this problem.

[Code_and_logs.zip](https://github.com/geoschem/geos-chem/files/7674667/Code_and_logs.zip)

Thank you very much.

[2021-12-08 10:57] eamarais commented on #1050
HI @yangning-code, just to make sure I follow what's in your word doc. You're saying that the PM2.5 is greater for the ComplexSOA than it is for the SOA_SVPOA? By how much? Have you looked at which component is contributing to this issue with the AerosolMass diagnostic collection? Could it be to do with the OC to OM conversion factors (2.1, 1.5) applied to POA and OPOA?

[2021-12-08 12:37] eamarais commented on #1051
Sure @yantosca. I can look at this.

[2021-12-08 15:17] yantosca commented on #1052
Thanks for writing @yangxiajie.  I would recommend that you re-configure and rebuild GEOS-Chem with the debug option (`-DCMAKE_BUILD_TYPE=Debug`.

The error seems to be happening at line 292 in hcox_gfed_mod.F90.  It seems like it might be a parallelization error.  If you have added new variables within a parallel loop then you might need to hold them !$OMP PRIVATE.  Please see our [Parallelizing

[2021-12-08 15:39] yantosca commented on #1049
@liruiliruiliruilirui, thanks for writing.  Would you be able to update to a more recent version (say 13.3.4)?  By now 12.1.0 is two years old and it is hard for us to support these older versions.

Also in the newer versions of GEOS-Chem, the species database has been converted to a text-based file (species_database.yml) so it should be easier to add new species information there.

[2021-12-08 15:53] #1046 closed

[2021-12-08 17:50] yantosca commented on #1001
PR #1042 has now been merged into dev and tagged with 13.4.0-alpha.5.  We can now close out this issue.

[2021-12-08 17:50] #1001 closed

[2021-12-08 21:45] yantosca commented on #997
Note: PR #1013 has been superseded by PR #1055

[2021-12-08 21:53] #791 closed

[2021-12-09 02:03] liruiliruiliruilirui commented on #1049
Dear Prof. Yantosca,
                    Thank for your reply! I will update to a more recent version and try to add the species in this version. I hope you can give me some advice when I have some problems with this issue. Many thanks!

Best regards
Rui Li

-----原始邮件-----
发件人:"Bob Yantosca" ***@***.***>
发送时间:2021-12-08 23:39:36 (星期三)
收件人: geoschem/geos-chem ***@***.***>
抄送: liruiliruiliruilirui *

[2021-12-09 02:45] yangxiajie commented on #1052
Thank you @yantosca .

I find the `Segmentation fault` occurred where I call the modeled species concentration.

First, I try to use` Ind_('HNO2') `to call the HNO2 concentration by setting `Spc(I,J,L)=State_Chm%Species(I,J,L,Ind_('HNO2'))`. However, errors occuurred when compling the code, which are :
[code]
Then I use `SPC(I,J,L) = State_Chm%Species(I,J,L,State_Chm%HetInfo%HNO2%mId)`  instead of

[2021-12-09 13:52] yangning-code commented on #1050
Thank you for your reply. PM2.5 specific differences are in the PM25 and its components difference document.
[PM25 and its components difference.docx](https://github.com/geoschem/geos-chem/files/7685577/PM25.and.its.components.difference.docx)

[2021-12-09 15:45] yantosca commented on #1049
Thanks for writing @liruiliruiliruilirui.  If you are new to GEOS-Chem 13, please take a look at some of the tutorial videos that we have on our GEOS-Chem Youtube Channel: https://youtube.com/c/geos-chem.  These will walk you through the process of setting up GEOS-Chem 13.

I'll close out this issue but feel free to open a new issue if you get stuck.  Thanks again!

[2021-12-09 15:45] #1049 closed

[2021-12-09 15:52] yantosca commented on #1034
We can close this issue, as PR #1041 has been merged into the 13.4.0 development stream.

[2021-12-09 15:52] #1034 closed

[2021-12-09 15:53] yantosca commented on #1035
Also covered in #1024

[2021-12-10 03:21] lixiao-bit opened #1058 "[QUESTION] Are SO4D1-D4 included in PM2.5?"
### Ask a question about GEOS-Chem:

Hello!

Are SO4D1-SO4D4 included in the calculation of PM25 in GC, or only SO4?

This is the default calculation in the model:

"PM25 = ( NH4 + NIT  + SO4 ) * 1.10
     + BCPI
     + BCPO
     + ( OCPO + ( OCPI * 1.05 ) ) * (OM/OC ratio)  # OM/OC ratio = 2.1 by default
     + DST1
     + DST2 * 0.30                                 # F. Yu suggests 30% of DST2 (

[2021-12-10 08:56] Rainbow1994 opened #1059 "[BUG/ISSUE]Larg discrepancies in methane concentration between v12.5.0 and v13.3.3"
### Description of the problem
I found new versions of GC that could use OH fields simulated by full chemistry run, so I prepared to use the latest version. When I compared the 1-month benchmark using the same emission inventories and restart field, it seems large discrepancies (nearly 100 ppbv) in surface concentration fields between v12.5.0 and v13.3.3. I tried to turn off OH and Cl sinks, but t

[2021-12-10 09:26] Yuhang-Zhang opened #1060 "[BUG/ISSUE] Segmentation fault occurred when running GEOS-Chem v902 without specific error"
A segmentation fault occurred when I was running 2x2.5 simulaiton on 2021.04.04 using GC v902. The met fields are GEOS-FP and no modifications were made to the source code.

<img width="581" alt="0b40c676649efb0dc3fbe8d41913bb7" src="https://user-images.githubusercontent.com/58896800/145549694-f319c2f5-997b-4183-9f03-c605ddaff71a.png">

There is no specific error, and the same bug arised when I wa

[2021-12-10 09:31] Jampo26 opened #1061 "[QUESTION] Question about the FJX_spec.dat"
### Ask a question about GEOS-Chem:
I'm running the GEOS-Chem-Hg 12.9.0 and I'm a little confused with the **FJX_spec.dat**. I can't find a detailed description of this file in GEOS-Chem wiki.
1. Does the w-eff correspond to the 18 wavelength bins? and are used for the following photolytic species' cross-section?
2. What's the meaning of the Hg species name ending with o (e.g. **MBNO2o**, **MBHO2o

[2021-12-10 09:31] Jampo26 opened #1062 "[QUESTION] Question about the FJX_spec.dat"
### Ask a question about GEOS-Chem:
I'm running the GEOS-Chem-Hg 12.9.0 and I'm a little confused with the **FJX_spec.dat**. I can't find a detailed description of this file in GEOS-Chem wiki.
1. Does the w-eff correspond to the 18 wavelength bins? and are used for the following photolytic species' cross-section?
2. What's the meaning of the Hg species name ending with o (e.g. **MBNO2o**, **MBHO2o

[2021-12-10 13:28] viral211 commented on #1062
Hi @Jampo26. w-eff correspond to the effective centers of the wavelength bins at which the species' cross-sections are discretized and are used compute the photolysis frequencies in the Fast-J model. For the Hg simulation, the species ending with 'o' were left over from an older iteration of the model and are not used anymore. You can get details about this file from the references cited [here](ht

[2021-12-10 14:35] yantosca commented on #1061
Duplicate of #1062 .. closing

[2021-12-10 14:35] #1061 closed

[2021-12-10 14:37] yantosca commented on #1060
Hi Yuhang.  I think the met fields were corrupted.  Try downloading them from the WashU server again (@YanshunLi-washu reprocessed them recently).

[2021-12-10 14:40] yantosca commented on #1059
Thanks for writing @Rainbow1994.  I know that there have been a lot of changes to the methane simulation since 12.5.0, and I think several emissions sources have changed.  Tagging @msulprizio @pennelise @hannahnesser, as I am not as familiar with the methane simulation.

[2021-12-10 14:56] yantosca commented on #1058
Thanks for writing @lixiao-bit.  I would run this by the Aerosols Working Group (@theloniuspunk @beckyalexander).

Also note: the SO4D1-D4 species are only used for the simulation with dust aciduptake, which is maintained by the community, and is not covered by our regular benchmarking process.  So it is possible that the PM2.5 may need to be updated for the aciduptake simulations.

[2021-12-10 16:38] flavioquadros commented on #915
Thanks @sdeastham and @yantosca, sorry for taking so long to respond. I have looked here and indeed the speciation could use some species newly added to GEOS-Chem (like ethylene for example). I will send a PR with the fix on Monday.

[2021-12-10 17:44] YanshunLi-washu commented on #1060
Yes @Yuhang-Zhang I reprocessed them recently. Please try redownload from http://geoschemdata.wustl.edu/. Let me know if there is still errors.

[2021-12-10 17:57] lizziel commented on #1037
I'll download these files from discover.

[2021-12-10 21:47] theloniuspunk commented on #1058
Becky may have a better feel for this, but I think that the first option (( NH4 + NIT + SO4**+ SO4D1 + SO4D2 + SO4D3 + SO4D4** ) * 1.10) makes more sense.

[2021-12-10 23:21] theloniuspunk commented on #1058
Right! Good call Becky! They should use the bin fractions used for dust.

On Fri, Dec 10, 2021 at 4:10 PM beckyalexander ***@***.***>
wrote:

[2021-12-12 06:35] YanshunLi-washu commented on #1024
Hi @LiamBindle @IshirDutta I've transferred CEDS v2021-06, Yuan_XLAI v2021-06, OFFLINE_SSALT and NEI2016 v2021-06 to CCVM. Let me know anything else. Thanks

[2021-12-12 21:11] msulprizio opened #1065 "[BUG/ISSUE] Missing met fields in GEOS_0.5x0.625_EU/MERRA2/"
The 0.5x0.625 MERRA-2 meteorology fields for the European domain are missing on WashU for June and July 2021.

[2021-12-12 23:01] shirleyxyliu opened #1066 "[BUG/ISSUE] Permission denied to download MERRA2 August, 2021"
### What institution are you from?
Hi this is Xueying from University of Houston.

### Description of the problem
(Not sure if it's just me but) Writing to report a download problem for 2021 August MERRA2 met fields from http://geoschemdata.wustl.edu. Users are not granted access for this resources according to the download page http://geoschemdata.wustl.edu/ExtData/GEOS_2x2.5/MERRA2/2021/08/. Cou

[2021-12-13 03:14] Jampo26 commented on #1062
Thanks for your reply @viral211. I have another question about the cross-sections used by the Hg species in this file. Dose these data derived from the references (e.g. Saiz-Lopez et al., 2018, 2019) in your paper published in ES&T 2021? If so, why the cross-sections uesd in MB and MO reactions only have one non-zero value in 574nm, while all the others are zero? (And these values seem to be diffe

[2021-12-13 04:55] YanshunLi-washu commented on #1065
@msulprizio Thanks for letting me know. I updated the data. Should be fine now.

[2021-12-13 12:57] lixiao-bit commented on #1058
thanks for hearing from you.

the radius of SO4D1 SO4D2 SO4D3 SO4D4 is defined as 0.7, 1.4, 2.4 and 4.5 microns in species_data.yml. considering this information, I consider that  SO4D1 should be treated the same as DST1, SO4D2 should be treated the same as DST2, SO4D3 should be treated the same as DST3, SO4D4 should be treated the same as DST4 when calculate PM2.5.  That is to say,  in my opinion

[2021-12-13 13:12] theloniuspunk commented on #1058
Hi,

No, what I'm saying is to do PM25 = ( NH4 + NIT + SO4 + *SO4D1* + *SO4D2* *
0.30 ) * 1.10 ...

Jeff

On Mon, Dec 13, 2021 at 5:57 AM Catherine.96 ***@***.***>
wrote:

[2021-12-13 13:27] lixiao-bit commented on #1058
Thanks for hearing from you.

I got it.

so, what is the correct way for calculating PM10?

This is the way for PM10 on the website:
"PM10 = PM2.5
     + ( DST2 * 0.7  )
     + DST3
     + ( DST4 * 0.9  )
     + ( SALC * 1.86 )   # NOTE: The value of 1.86 is the SSA_GROWTH factor at 35% RH"

therefore, Should this be the correct way to calculate PM10 ?
"PM10 = ( NH4 + NIT + SO4 + SO4D1 + SO4D2*0.3

[2021-12-13 14:05] yantosca commented on #999
closing this issue for now, as there has not been recent activity.

[2021-12-13 14:05] #999 closed

[2021-12-13 14:07] viral211 commented on #1062
Hi @Jampo26, they are from Saiz-Lopez (2018; 2019). For HgOH and HgBr, we ignore the cross sections below 460nm as they are associated with non-dissociative transitions (Saiz-Lopez et al. 2019).

[2021-12-13 14:14] Jampo26 commented on #1062
I see, thanks for your reply.

[2021-12-13 14:36] lixiao-bit commented on #1058
thank you. i got it.

[2021-12-13 15:26] YanshunLi-washu commented on #1066
@shirleyxyliu Hi, should be fine now. I updated it last night. Thanks

[2021-12-13 16:04] shirleyxyliu commented on #1066
Noted with thanks.

[2021-12-13 16:04] #1066 closed

[2021-12-13 19:40] yantosca commented on #994
Closing out this issue for now.

[2021-12-13 23:16] LiamBindle commented on #1024
Hi all, just a quick update. There are quite a few illegitimate requests being made to the server (from hosts like 163data.com.cn and hn.kd.ny.adsl which are well known spammers/brute force attack attempters). We're working on a solution for discarding these requests without disrupting everyones download scripts. Current ideas are:
- an IP allowlist (users send us their IP address, and we add it t

[2021-12-14 01:32] Yuhang-Zhang commented on #1060
Thanks for your all kindly reply. I've downloaded the met fileds on that day from  http://geoschemdata.wustl.edu/, but the same error still arised. Have you tested them by running a simple one-day simulation? I'm not sure now whether there are something else wrong or not.

Thanks again!

[2021-12-14 15:40] yantosca commented on #1062
I can close out this issue now.  Thanks for writing @Jampo26.

[2021-12-14 15:40] #1062 closed

[2021-12-14 15:50] yantosca commented on #995
Closing due to inactivity

[2021-12-14 15:50] #995 closed

[2021-12-14 17:26] lizziel opened #1068 "[FEATURE REQUEST] Update IsCoards script to give GEOS-Chem compatibility warnings"
This feature request is a follow-up to GCHP issue https://github.com/geoschem/GCHP/issues/166. That issue reported problems reading a file into GCHP due to formatting issues. These issues have been encountered by users in the past but are hard to debug.

We recommend users run the [IsCoards](https://github.com/geoschem/geos-chem/blob/main/NcdfUtil/perl/isCoards) script on new input files. Putting

[2021-12-14 20:42] lizziel commented on #994
I am reopening this issue to discuss further.

[2021-12-14 22:30] yantosca commented on #997
We can close this issue as PR #1055 has been merged into the 13.4.0 development stream.

[2021-12-14 22:30] #997 closed

[2021-12-14 22:53] lizziel commented on #994
I'm also bringing in @pratherUCI who I believe wrote the package.

[2021-12-15 01:29] pratherUCI commented on #994
Ok. Who is involved and what is the question?
Let us see if we can answer it
Michael

⁣Michael Prather
---sent from phone, beware of android's Otto correct.

Get BlueMail for Android ​

On Dec 14, 2021, 16:56, at 16:56, Lizzie Lundgren ***@***.***> wrote:

[2021-12-15 16:15] yantosca opened #1069 "[FEATURE REQUEST] Investigate performance of aerosol chemistry"
As shown in the timing results from 1-month internal benchmarks, GEOS-Chem 13 versions now spend more time in aerosol chemistry (green bar) than in gas-phase chemistry/KPP solver (red bar).  We should look into ways in which we can improve the performance of aerosol chemistry, perhaps by optimizing the computations.

![1mo](https://user-images.githubusercontent.com/5880296/146222762-7d4b836d-4b16-

[2021-12-15 16:47] yantosca commented on #1005
PR #1053 has now been merged into the 13.4.0 development stream.  We can now close this issue.

[2021-12-15 16:47] #1005 closed

[2021-12-16 06:47] yangxiajie commented on #1052
Thank you @yantosca

I have already fix that after I see `GeosCore/hco_interface_gc_mod.F90` .

Thank you very much again :)

[2021-12-16 06:47] #1052 closed

[2021-12-18 20:12] #1000 closed

[2021-12-20 02:47] yangxiajie opened #1070 "[QUESTION]How to specify Ocean regions in GEOS-Chem?"
In GEOS-Chem v12.9, I want to add a new reaction, which is only on the ground. I wonder if there is a way to specify OCEAN regions in `gckpp_Hetrate.F90`, so that I can set rate constant as 0 at ocean ?

Thank you for your help.

[2021-12-20 11:24] #1006 closed

[2021-12-20 14:55] ymfu2021 commented on #994
Thanks for your helping.
After reading codes in 'UCI_fastJ_addX_73cx.tar.gz', I noticed that the sample subroutine for fast -JX Xsection generation is different for sample species. Does that just because of  the format of original data, which is used for caculating(for example, 'addX_CFCl3.f' and 'addX_XMeVK_JPL11.f')?
What's more, my conprehension about file 'FJX_spec.dat' are:  (1)Those 18 wavel

[2021-12-21 16:58] jinlx opened #1071 "[QUESTION] PHOTOL index and J value"
Hi there, I am trying to make GEOS-Chem chemsitry compatible to a matlab-based box model. For J values in GC, I suppose that all values are calculaed by FAST-JX, which I am not very familiar with. In my understanding, the index is based on the id# in FJX_j2j.dat. The link is provided below.

http://geoschemdata.wustl.edu/ExtData/CHEM_INPUTS/FAST_JX/v2021-10/FJX_j2j.dat

I found that there are seve

[2021-12-21 18:13] msulprizio opened #1072 "[FEATURE REQUEST] Anthropogenic Methane Emission Inventory for Canada"
Anthropogenic CH4 emissions for Canada are available for 2018 as described in Scarpelli et al. (2021, submitted). These emissions should be used in the standard CH4 simulation and will be used in the Integrated Methane Inversion (IMI version 1.0) workflow (Varon et al., in prep).

Reference:

[2021-12-22 13:27] yangning-code opened #1074 "[QUESTION]"
### Ask a question about GEOS-Chem:
How to output single scattering albedo of aerosols on wavelength-independent in GEOSChem.13.3.2

[2021-12-23 16:48] map06 opened #1075 "[QUESTION] Error while zero out emission from a particular region."
### Description of the problem
I want to zero out emission within a particular rectangular grid. I followed the following link :
http://wiki.seas.harvard.edu/geos-chem/index.php/HEMCO_examples

1. Added scale factor in scale factor  section as follows:

[code]

2. Then added a mask with grid. For checking, I used Australian grid similar to example.

[code]

Then added the values to emission invent

[2021-12-23 23:19] #1009 closed

[2021-12-23 23:19] #1010 closed

[2021-12-24 01:00] sdeastham commented on #1010
Ping - has this been fixed?

[2021-12-24 13:44] YanshunLi-washu commented on #1010
Hi @sdeastham I'll check with Hongjian who is the developer. Hi @hongjianweng , did you got a chance to help looking on that?

[2021-12-25 17:25] YanshunLi-washu commented on #547
Thanks, @barronh. Do we have the hourly emissions files ready for GEOS-Chem. Since for NEI2011, we have the option to switch between hourly and monthly. I'm wondering we also have that for NEI2016 in GEOS-Chem. Maybe should also check with @msulprizio . Do we have plan developing NEI2016 hourly emissions into GEOS-Chem. Thanks.

[2021-12-28 02:19] #1074 closed

[2021-12-29 07:02] hongjianweng commented on #1010
@sdeastham @LiamBindle The missing some/all files have been updated.

[2021-12-30 20:46] #954 closed

[2021-12-31 17:35] cacaowang opened #1078 "[BUG/ISSUE]NetCDF I/O Modules"
### Description of the problem
Simulation for December under Fully Chemistry and MERRA with 2X2.5 in 2017, 2018, 2019 separately. It is used as a control simulation, so all the settings are default and no modifications. But the simulation stopped at opening the files of 12/28 for all of these years.

### Description of troubleshooting performed
Describe any troubleshooting that you have already pe

[2022-01-01 17:19] chakri6023 opened #1079 "how to decide spin up time for mercury simulation?"
### Ask a question about GEOS-Chem:
1. I want to understand how to give and where to give spin up time as an input to the model.
2. I want to run nested mercury simulation over asian region for 2 years. I am confused how much should be the spin up time for my simulation?

[2022-01-02 07:14] yangxiajie opened #1080 "[QUESTION]How to save budget of OH and HO2 ?"
In GEOS-Chem v12.9.3, I try to save budget of OH and HO2 by THE Budget COLLECTION in `HISTORY.rc`.  I also set OH and HO2 as  Advected species by setting `Is_Advected: true` at `species_database.yml`. However, the budget of OH and HO2 still can not be saved in Budget diagnostic files.
I wonder how to save budget of OH and HO2 from model?
Thank you for your help.

[2022-01-03 15:09] yantosca commented on #1079
For the Hg simulation you probably would need a spinup of about 6 months or so.  Maybe a year is better but that is up to you.

[2022-01-03 15:10] yantosca commented on #1079
Also "spin up" is best done as a separate simulation.  The start & end dates are given in input.geos.  See our Getting Started with GEOS-Chem page at http://manual.geos-chem.org/.

[2022-01-03 15:59] yantosca commented on #1078
Thanks for writing @cacaowang.  This was a known issue in 13.0.2 and has since been fixed in later versions.  Please see: https://github.com/geoschem/HEMCO/pull/85 and
https://github.com/geoschem/HEMCO/issues/84.

[2022-01-03 16:02] yantosca commented on #1071
Hi @jinlx.  I believe that in this case, RIPA, RIPB, RIPC, and RIPD use the same optical properties (e.g. cross-sections, quantum yields) as CH3OOH.  I am not sure if that would lead to identical J-values output, but you can look in the JValues collection to make sure.

I believe this is done when species are similar enough to each other that you can assume the same optical properties, and if ther

[2022-01-03 16:06] yantosca commented on #1070
You should be able to use `State_Met%IsWater(I,J)` from within `gckpp_HetRates.F90`. This field is TRUE if (I,J) is a predominantly ocean box and FALSE if not.

[2022-01-03 16:09] yantosca commented on #1075
Hi @map06, thanks for writing,  If your mask is square then you shouldn't need to use the country mask first.  You should just be able to use:

[code]

[2022-01-03 22:13] yantosca commented on #1035
Going to close this issue now.  Let us know if you are still encountering problems with this.

[2022-01-03 22:13] #1035 closed

[2022-01-03 22:18] yantosca commented on #778
This should be resolved by the following PR's:

  - #945
  - https://github.com/geoschem/GCHP/pull
  - [https://github.com/geoschem/HEMCO/pull/945

[2022-01-03 22:20] yantosca commented on #778
All of the above PR's have been merged into the 13.4.0 development stream.  We can now close this issue.

[2022-01-03 22:20] #778 closed

[2022-01-03 22:28] yantosca commented on #1068
Also see https://github.com/geoschem/geos-chem/issues/281

[2022-01-04 14:04] map06 commented on #1075
@yantosca Thank you. I was able to zero out emission, creating a square mask.

[2022-01-04 14:04] #1075 closed

[2022-01-05 01:19] hgrhgy opened #1081 "[QUESTION] CO2 simulation got negative value and crash, but re-run was success"
### Ask a question about GEOS-Chem:

GCClassic CO2 simulation crash because of the negative co2 concentration.  After the crash, re-run the simlution again was success.

VERSION:
- GCClassic version: 13.3.4
- GEOS-Chem version: 13.3.4
- HEMCO version: 3.3.0
-

[HISTORY.rc.txt](https://github.com/geoschem/geos-chem/files/7811512/HISTORY.rc.txt)
[input.geos.txt](https://github.com/geoschem/geos-chem

[2022-01-05 05:24] yangxiajie commented on #1070
Thank you @yantosca .

Now I fix that. Thank you for your help again :) .

[2022-01-05 05:24] #1070 closed

[2022-01-05 15:24] cacaowang commented on #1078
Hi @yantosca Thank you for it.

[2022-01-05 15:24] #1078 closed

[2022-01-05 16:15] yantosca commented on #1081
Thanks for writing @hgrhgy.  I believe this may be caused when routine `INIT_UCX` is getting called.  But `INIT_UCX` is only needed for the fullchem simulations.  This was a bug, which was fixed in commit https://github.com/geoschem/geos-chem/commit/0d2b8eaea9ae26c159b99083fb2382d017c48d2c.  This will go into 13.4.0.

In the meantime, you can add this IF statement at the top of routine `INIT_UCX`

[2022-01-05 16:34] yantosca opened #1082 "[BUG/ISSUE] Parallelization error in TPCORE_FVDAS (i.e. GEOS-Chem Classic transport module)"
### What institution are you from?
GCST

### Description of the problem
In this parallel loop in routine `TPCORE_FVDAS` (in `GeosCore/tpcore_fvdas_mod.F90`), the variable `DQ1` should be held `!$OMP PRIVATE` but is not:

https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/GeosCore/tpcore_fvdas_mod.F90#L782-L946

The reason why it DQ1 should be held `!$OMP PRIVATE` i

[2022-01-06 08:01] hgrhgy commented on #1081
Thanks for reply @yantosca .
After adding the IF statement, the problem is not solved.
Is there any other code that needs to be added.

[2022-01-06 15:32] #1079 closed

[2022-01-06 20:37] yantosca commented on #1082
After this fix we now obtain identical results w/r/t the prior state of the code,  A short difference test with the Hg simulations shows:

[code]

[2022-01-06 20:43] yantosca commented on #1082
We can close out this issue as it has been merged with the 13.4.0 development stream.

[2022-01-06 20:43] #1082 closed

[2022-01-09 15:14] wenjie1992 opened #1085 "[BUG/ISSUE] I encounter a bug"
### What institution are you from?
I am from Max-Planck institute for chemistry

### Description of the problem
Describe your problem here.  Describe the steps to reproduce the problem here, if possible.

I am running geos chem with nested grid mode. I set up to running for a month with each wall time of 5 days. After I submit the job, only the first wall time can be finished. But the following wa

[2022-01-10 02:38] #969 closed

[2022-01-10 05:25] hgrhgy commented on #1081
I update the version 13.4.0-alpha.12, and add the IF statement. The probelm is still not solved.
The running logs are attached.
[run.log.error.txt](https://github.com/geoschem/geos-chem/files/7836911/run.log.error.txt)
[run.log.txt](https://github.com/geoschem/geos-chem/files/7836912/run.log.txt)

[2022-01-10 09:03] Jiangxiaodong-99999 opened #1086 "[QUESTION] Cannot reach GEOS-Chem data server from China"
### Ask a question about GEOS-Chem:
Hello, may I ask why the website for downloading data catalog cannot be opened in China?  A few days ago, data could be downloaded normally, but today, suddenly, data cannot be downloaded

[2022-01-10 16:16] YanshunLi-washu commented on #1086
Hi @Jiangxiaodong-99999, we can't open it in the US either. It could be some technical issues from the university server. I suggest trying to use the "GEOS-Chem Data (WashU)" globus endpoint for data downloading now. The website should be recovered when the server is back. Hi @LiamBindle, feel free to comment if I left any details. Thanks.

[2022-01-10 20:19] yantosca commented on #1085
Thanks for writing @wenjie1992.  I think your job may have run out of memory.  Please check to see that you have requested enough memory for the job.

We are not familiar with the TJOB scheduler.  You might want to ask your sysadmin or IT staff about how to request more memory for your job.

[2022-01-10 20:37] yantosca commented on #1081
@hgrhgy, I would also recommend recompiling and running with the compiler debug flags.  In your run directory:

[code]
and then see if that picks up any errors.

[2022-01-10 21:53] yantosca commented on #1080
Thanks for writing @yangxiajie.  Could you post your HISTORY.rc file here?

The Budget collection will provide the change in species attributed to specific operations (like Transport, Convection, Wetdep, etc).  We no longer use this diagnostic collection as it was proven to add a lot of computational overhead to our benchmark simulations.

You can get an idea of how we compute budgets in the bench

[2022-01-10 21:54] yantosca commented on #1050
I will close out this issue now.  Feel free to open another issue if you still have questions or concerns.

[2022-01-10 21:54] #1050 closed

[2022-01-10 21:55] yantosca commented on #1025
I will close out this issue now.  Feel free to open another issue if you still have problems or concerns.

[2022-01-10 21:55] #1025 closed

[2022-01-10 21:56] yantosca commented on #1026
Sam and the GCST will work on porting the canopy model and MEGAN3 into a newer version of GEOS-Chem in the near future.  Stay tuned.

[2022-01-10 22:00] bsuther commented on #758
Hello, I was wondering if anyone else is now having similar issues with the wustl.edu site now? I have been trying unsuccessfully to download some files for a few days now. Also, when I try to check for the files by going to https://geoschemdata.wustl.edu/ in a web browser I get a "This site can’t be reached" message. Thanks.

[2022-01-10 23:32] mvermeuel opened #1087 "[BUG/ISSUE] KPP source code build in GEOS-Chem 13.3 leads to convergence issues"
### What institution are you from?
Please tell us what institution you are from.
University of Minnesota - Twin Cities

### Description of the problem
I am having a KPP solver error when I build a custom mechanism module in GC 13.3 using KPP 2.3.1.gc I get the known “Step size too small: T + 10*H = T or H < Roundoff” error over multiple grid cells when trying to run a fullchem 4 x 5 deg global run

[2022-01-11 06:14] hgrhgy commented on #1081
I re-build the gcclassic and set `Turn on debug printout? : T` in input.geos. the log is attached.
and the CO2 min/max values in rst file are positive.
[code]
[run.log.error.txt](https://github.com/geoschem/geos-chem/files/7844135/run.log.error.txt)

[2022-01-11 14:19] yantosca commented on #758
There have been recently some issues on the wustl FTP site, and I believe it is being looked into.  If you have access to Globus Endpoint, then you can download from the endpoint "GEOS Chem Data (WashU)".

[2022-01-11 16:12] yantosca commented on #1058
I will close out this issue.  Feel free to open a new issue if you still have problems or concerns.

[2022-01-11 16:12] #1058 closed

[2022-01-11 17:51] mvermeuel commented on #1087
Thanks! That's what I thought the issue was but as I mentioned I thought I was not able to build KPP 2.3.3_gc successfully so I did not test it. It turns out it did build successfully I just was getting many warnings and notes during the build after make all and they looked like fatal errors but were not. I have attached my make all warning list in case it is helpful but I am now able to build my

[2022-01-11 18:56] yantosca commented on #1087
Great!  I just updated the documentation on the https://kpp.readthedocs.io site so that it reads properly now.  [See this link](https://kpp.readthedocs.io/en/latest/usage-details/installation.html#kpp-for-geos-chem-2-3-3-gc-for-geos-chem-13-3-0-and-later).

Also note: we are in the process of migrating to a new KPP repository (https://github.com/KineticPreProcessor/KPP) so at some point in the fut

[2022-01-11 18:56] #1087 closed

[2022-01-11 20:10] yantosca commented on #309
Also see PR #1067

[2022-01-11 20:11] yantosca commented on #915
We can close this issue as PR #1067 has now been merged into the GEOS-Chem 13.4.0 development stream.

[2022-01-11 20:11] #915 closed

[2022-01-11 21:38] LiamBindle commented on #758
Hi all, I'm reopening this. I'm getting the same as @bsuther. I opened a ticket with the administrators. Sorry for the troubles. I'll follow up when I know something.

[2022-01-11 21:40] LiamBindle commented on #1024
The data portal is down right now (and it looks like it has been for a few days). Sorry for the inconvenience. I'll post an update when I hear back from the admins.

[2022-01-11 21:45] LiamBindle commented on #1086
Hi @Jiangxiaodong-99999, sorry for the inconvenience. The data portal is down right now, and it has been for a couple days (oops!). The admins are working on it right now. Please follow
- [\[BUG/ISSUE\] Unable to download from geoschemdata.computecanada.ca · Issue #758 · geoschem/geos-chem](https://github.com/geoschem/geos-chem/issues/758)
- [\[BUG/ISSUE\] Slowness on  · Issue #1024 · geoschem/geo

[2022-01-11 21:45] #1086 closed

[2022-01-11 22:32] bsuther opened #1089 "[QUESTION]Can boundary condition files from an older version be used for nested grid simulation."
### Ask a question about GEOS-Chem:
Hello,
I have boundary condition files from a previous run using GEOS-Chem version 13.1.0. I updated to version 13.3.3. Is it possible to still use the older boundary condition files, and if so what modifications would I need to make for them to be compatible?  Would it be best to just create new ones? Currently I am getting this error when I try to do it:

HEMC

[2022-01-11 23:26] yantosca commented on #1089
Thanks @bsuther for writing.  In general we recommend to use the same GEOS-Chem version to generate the  boundary conditions to run the nested-grid simulations.

In this case, there have been extra species such as AONITA added to GEOS-Chem 13.3.0, while other species like IONITA have been taken out.  These modifications came in due to chemistry mechanism updates in 13.3.0. That is the cause of the

[2022-01-11 23:28] bsuther commented on #1089
Okay, I will create new boundary files. Thank you for your quick response!

[2022-01-11 23:28] #1089 closed

[2022-01-11 23:47] LiamBindle commented on #758
Hi all, http://geoschemdata.wustl.edu/ should be back online. Can you try it now? Sorry for the delay in getting it back online.

[2022-01-11 23:48] LiamBindle commented on #1024
Hi all, http://geoschemdata.wustl.edu/ should be back online. Can you try it now?

As an update regarding the slowness, the admins have a development version of the server which they are testing right now. They think it should remedy some of the slowness issues we've been seeing lately.

[2022-01-12 10:25] kilicomu commented on #758
Looks better to me!

[2022-01-12 16:00] bsuther commented on #758
Thank you @LiamBindle for getting the server back up and running, is looks like it is working from my end too. Thank you for the suggestion @yantosca, I was able to get Globus set up and was able to get what I needed that way in the meantime.

[2022-01-12 16:27] #1065 closed

[2022-01-12 20:07] msulprizio commented on #656
Monthly mean biomass burning emissions for each GFED species have been saved out from a HEMCO standalone simulation for 2007-2019. I still needed to merge files by year and compute the mean for each month across the years. The question that remained was which years to average. Daniel said 10-years would suffice, but [the README in ExtData/HEMCO/GFED4/v2020-02](http://ftp.as.harvard.edu/gcgrid/data

[2022-01-12 20:10] yantosca commented on #1020
@drewpendergrass, this should now be fixed in commit d258b5abbcc75910b78d454aaf02dd300d3ccb7e.  I will bring this into 13.4.0 pending integration testing.

[2022-01-12 21:46] yantosca commented on #1071
I will close out this issue for now.  Please let us know if you still have questions or concerns.

[2022-01-12 21:46] #1071 closed

[2022-01-12 21:48] yantosca commented on #748
I will close out this issue for now, as there has been a lack of activity.

[2022-01-12 21:48] #748 closed

[2022-01-12 23:13] djxjacob commented on #656
I think that using 2010-2019 for GFED emissions is fine. If somehow there’s a change in 2017-2019 emissions between beta and final (which I doubt) we can recompute them. It’s important that we use a consistent 10-year period for the different climatologies.  Daniel

From: Melissa Sulprizio ***@***.***>
Sent: Wednesday, January 12, 2022 3:08 PM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***

[2022-01-13 10:49] wenjie1992 commented on #1085
Dear Bob，

 I have asked my sysadmin and IT staff about this issue. They don't think that it is related to the amount of memory available. The following is their reply:

The first line of the tjob.err file reads:

forrtl: error (65): floating invalid

This comes from the Intel Fortran compiler and means that a invalid floating point operation has occured in the code. I suspect that the other error

[2022-01-13 12:16] kilicomu opened #1091 "[BUG/ISSUE] Malformed OFFLINE_BIOVOC data file for 2017-12-28"
### What institution are you from?
Wolfson Atmospheric Chemistry Laboratories

### Description of the problem
The HEMCO data file [`OFFLINE_BIOVOC/v2019-10/0.5x0.625/2017/12/biovoc_05.20171228.nc`](http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_BIOVOC/v2019-10/0.5x0.625/2017/12/biovoc_05.20171228.nc) appears to malformed, and is causing my simulations to crash. Any chance it can be reprocesse

[2022-01-13 12:29] kilicomu commented on #1091
Thinking about it...I'd be surprised if nobody else had hit this problem before with GC Classic...

The specific error message that I got came through GCHP's `allPEs.log`:

[code]

Would this be handled differently in GC Classic?

[2022-01-13 14:49] yantosca commented on #1085
Thanks for the reply.  One question, did you add any modifications to the code or are you running it "out of the box"?  If you added modifications of your own then that is the place to check first.

You can compile the code with debugging flags on by passing the -DCMAKE_BUILD_TYPE=Debug when you configure GEOS-Chem.  That should tell you the place where the error occurred.

[2022-01-13 15:53] lizziel opened #1093 "[BUG/ISSUE] seg fault in drydep in CESM and GEOS"
The following [code](https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/GeosCore/drydep_mod.F90#L589-L595) in drydep_mod.F90 causes a segmentation fault in CESM and GEOS using ifort21 if the DryDepVel diagnostic is not enabled:

[code]

There is a CESM work-around to simply skip this code if compiling with MODEL_CESM. I am applying the equivalent work-around while

[2022-01-13 16:50] lizziel commented on #1091
We've had issues with the offline biovoc files in the past due to the timestamps. In your ncdump what does it say the time for the file is?

[2022-01-13 16:51] lizziel commented on #1091
See also https://github.com/geoschem/GCHP/issues/84.

[2022-01-13 16:53] lizziel commented on #1091
One other thing. If your simulation is at 12/28 then the right bracket is likely 12/29, so that would be the problematic file.

[2022-01-13 17:35] kilicomu commented on #1091
Yep, you got it. The timestamp on the file for the 29th is not correct (set to the 27th!). I'll change that and give it another go.

However, I am still concerned about the file for the 28th - it weighs about 1MB vs the ~35MB of all other files in the month and is largely 0 where other files around it are not!

[2022-01-13 17:40] yantosca commented on #1020
We can close this issue because PR #1090 has been merged in to the 13.4.0 development stream, and has proven to be a zero-diff update.

[2022-01-13 17:40] #1020 closed

[2022-01-13 18:07] yantosca commented on #1093
@lizziel, have you tried this in GC-Classic with ifort21?  Wondering if there is an optimization issue or something.  Do we have ifort21 on Cannon?

[2022-01-13 18:38] yantosca commented on #1093
@lizziel, I found your env file for ifort21 and am running some tests.  Will report soon.

If you request DryDepVel output for a species that doesn't drydep, it should write an error messages then stop the run.   You might want to see if that is the case, maybe a CESM species needs to be flagged as dry-depositing in the species_database.yml.

[2022-01-13 19:42] lizziel commented on #1093
The issue is bit thornier than that.

- It only occurs when DryDepVel diagnostics are **off**.
- The seg fault is occurring at the start of the species do loop, not the code that is causing the issue.
- I verified `State_Diag%Archive_DryDepVel `is false.
- The seg fault can be avoided by adding a print right before the block that is causing the problem.
- It is a problem regardless of whether Open

[2022-01-14 02:18] sdeastham opened #1094 "[FEATURE REQUEST] Stratospheric adjustment with RRTMG in GEOS-Chem"
### Fixed dynamical heating with RRTMG, and other improvements
Our lab (MIT LAE) recently(ish) completed some work which uses RRTMG in GEOS-Chem v11-02 to evaluate the impacts of supersonic aviation on the environment. To facilitate this, we implemented the fixed dynamical heating assumption in RRTMG, allowing stratospherically-adjusted radiative forcing to be calculated at the tropopause (consist

[2022-01-14 02:47] sdeastham commented on #1085
Could this be an OpenMP stack size issue? I didn't see `OMP_STACKSIZE` being set anywhere, and weird memory nonsense early in the run has always been one of the consequences of a too-small stacksize for me.

[2022-01-14 17:08] yantosca commented on #1094
This has been added to the GEOS-Chem Model Development Priorities table (not prioritized, for now):

http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_model_development_priorities#Feature_integration_not_yet_prioritized

[2022-01-15 01:59] lizziel opened #1095 "[BUG/ISSUE] State_Chm%nDryDep includes non-advected species"
I discovered a bug in GEOS-Chem dry deposition. There is a mismatch in number of dry deposited species stored in `State_Chm%nDryDep` versus number of dry deposited species stored in drydep_mod.F90 module variable `NUMDEP`. More specifically, `NUMDEP` is limited to advected species only while `State_Chm%nDryDep` includes both advected and non-advected species.

A bit of background:
`NUMDEP` is comp

[2022-01-15 02:04] djxjacob commented on #1095
Hi Lizzie, nice detective work! Will this have a significant effect on the dry deposition velocities calculated by the model?  Daniel

From: Lizzie Lundgren ***@***.***>
Sent: Friday, January 14, 2022 8:59 PM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem] [BUG/ISSUE] State_Chm%nDryDep includes non-advected species (Issue #1095)

I discovered a bug in

[2022-01-15 12:51] yangxiajie commented on #1080
Thank you @yantosca . I have posted my HISTORY.rc file here.

I have a question about the budget calculations. How can I have a budget about a species due to a specific reaction (e.g. a budget of OH from NO + HO2) ?

Thank you for your time.
[HISTORY.zip](https://github.com/geoschem/geos-chem/files/7874984/HISTORY.zip)

[2022-01-16 01:31] nbderenzqy66 opened #1096 "[BUG/ISSUE] Segmentation fault when running GEOS-Chem v13.3.2 aerosol only with 2x2.5 and finer resolution"
### What institution are you from?
Baylor University

### Description of the problem
I tried default settings to run GC v13.3.2 simulation of aerosol with MERRA2 2x2.5 and 0.5x0.625 (boundary conditions generated from MERRA2 4x5).
The error message from the cluster is: "/var/spool/pbs/mom_priv/jobs/632778.batch.SC: line 36: 20349 Segmentation fault      (core dumped) ./gcclassic > GC_13.log"
I che

[2022-01-17 04:38] #1051 closed

[2022-01-18 05:56] lixiao-bit opened #1098 "[QUESTION] How to calculate the dry deposition velocity and wet deposition velocity"
### Ask a question about GEOS-Chem:

Hi!

How to calculate the dry deposition velocity and wet deposition velocity? Can i calculate these two parameters by using the WetLossLS, WetLossConv, DryDep, and SpeciesConc ?

[2022-01-18 14:06] lizziel commented on #1091
Have you tried re-downloading the data? @YanshunLi-washu and @LiamBindle, this was fixed for the data available to download, correct?

[2022-01-18 14:13] kilicomu commented on #1091
Yeah I did - the `OFFLINE_BIOVOC` index at http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_BIOVOC/v2019-10/0.5x0.625/2017/12/ reports a file size of 932k for that file, compared with 35-39mb for the others.

[2022-01-18 14:13] kilicomu commented on #1091
I should say that touching up the timestamps in the files for the last few days of my simulation has got it working now, so, thanks for the pointer towards that!

[2022-01-18 18:11] YanshunLi-washu commented on #1091
Hi @kilicomu @lizziel , the PKU group recently produced a new version http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_BIOVOC/v2021-12/0.5x0.625/2017/12/.
Let me know whether this could help. Thanks

[2022-01-18 19:56] lizziel commented on #1095
A fix for this is included in PR https://github.com/geoschem/geos-chem/pull/1088 (GEOS-Chem 13.3.4 in GEOSgcm) which is currently under review. See commit https://github.com/geoschem/geos-chem/pull/1088/commits/621268c249495f4a544142483f04a8f9114702f2. If the GEOS updates are not merged in before the 13.4 freeze date on 1/21 then I will put in a fix for this bug separately from that update. It is

[2022-01-18 20:01] lizziel commented on #1093
I was able to fix this issue by rearranging where the diagnostics are computed within drydep_mod.F90 subroutine `Update_DryDepFreq`. The fix is included in PR https://github.com/geoschem/geos-chem/pull/1088 (updates for GEOS). See commit https://github.com/geoschem/geos-chem/pull/1088/commits/621268c249495f4a544142483f04a8f9114702f2.

[2022-01-18 20:01] #1093 closed

[2022-01-18 20:23] lizziel opened #1099 "[BUG/ISSUE] Some State_Chm fields erroneously include non-advected species"
This issue is an extension of https://github.com/geoschem/geos-chem/issues/1095 ("`State_Chm%nDryDep` includes non-advected species"). Certain `State_Chm` fields are set from species database values. Those values are set in a loop over all species, including both advected and KPP species. Setting some of the values should be limited to advected species but code to do that is missing.

A fix for `S

[2022-01-19 10:41] kilicomu commented on #1091
@YanshunLi-washu Thanks for the heads up - I actually grabbed this dataset already, so I'll see how it goes with my next simulation.

[2022-01-19 11:30] wenjie1992 commented on #1085
Dear Bob,

Many thanks for your reminding. Sorry that I didn't clearly describe my problem before. When I run the nested mode with GEOSFP 0.25x0.3125 (V13.0 or later version), the first restart can be finished, but the second and later restart will fail. I think it is likely related to the restart file or restart procedure. The enclosed is the error.

Note that in HEMCO.config.rc, I have modified

[2022-01-19 15:19] yantosca opened #1100 "[BUG/ISSUE] Division by zero occasionally occurs in APM simulations"
### What institution are you from?
GCST

### Description of the problem
APM simulations under some circumstances.  I have traced it to this block of code in `APM/apm_phys_mod.F` starting at line 1375:

[code]

### Solution
The quick solution is to avoid the division if YJ gets very small.  Also it is a good idea to set YJ to zero before it is used.  (When using Gfortran debug mode, all uninitializ

[2022-01-19 15:41] yantosca commented on #1100
This has been merged into the 13.4.0 development stream, on top of 13.4.0-alpha.17.

[2022-01-19 15:41] #1100 closed

[2022-01-19 15:55] yantosca opened #1101 "[BUG/ISSUE] TOMAS40 simulation dies with negative O3 concentration"
### What institution are you from?
GCST

### Description of the problem
An integration test of 13.4.0-alpha.17 (GEOS-Chem Classic) revealed this error:

[code]
It appears that a negative O3 concentration is happening.  This perhaps is due to the updated sulfur chemistry via KPP.  Perhaps the simplest fix is to reset negative concentrations to zero somewhere in TOMAS.  @theloniuspunk

[2022-01-19 16:13] yantosca commented on #1085
@wenjie1992, which version of Intel Fortran are you using?  If you have the time, you might want to try to recompile a short debugging job with Gfortran (i.e. use -DCMAKE_BUILD_TYPE=Debug when configuring the code), starting from the 6th of the month.  We find that Gfortran catches errors better than Intel Fortran does.

[2022-01-19 16:48] yantosca commented on #1101
Ah OK, that might be it.  I can change the default behavior in the run directory script if that is not the case.

[2022-01-19 16:49] yantosca commented on #1101
Actually it is already set to false by default.
[code]
Back to square one.

[2022-01-19 16:50] theloniuspunk commented on #1101
This is the same issue: https://github.com/geoschem/geos-chem/issues/1025#issuecomment-1009380752 There wasn't any follow up after your suggestion to move to v13.3.3.

[2022-01-19 16:51] theloniuspunk commented on #1101
Right, the issue is that setting non-local PBL mixing to F causes the issue and that TOMAS requires non-local PBL mixing to be F. Do you have any idea as to why mixing evenly through the PBL (i.e. non-local PBL mixing = F) would cause this O3 error?

[2022-01-19 17:36] yantosca commented on #1101
I don't have a great idea at this moment @theloniuspunk.  We are going to freeze 13.4.0 this week but perhaps a fix could go into a patch version such as 13.4.1.

[2022-01-19 17:43] yantosca commented on #1099
FYI: We can probably also remove the Is_Hg0, Is_Hg2, Is_HgP tags because these were used to set up a hoky way of figuring out which species were Hg0, Hg2, HgP for the tagged Hg simulation.  Hg2 and HgP are now included as different species in the new KPP mechanism and the tagged Hg mechanism has been removed.  I can look into that.

[2022-01-19 18:18] yantosca commented on #1099
I think we should also not define the DD_ and WD_ fields for species that are not advected.    So these fields should only be defined for advected species and skipped otherwise:

  - DD_AeroDryDep
  - DD_DustDryDep
  - DD_DvzAerSnow
  - DD_DvzAerSnow_Luo
  - DD_DvzMinVal
  - DD_DvzMinVal_Luo
  - DD_F0
  - DD_Hstar
  - DD_KOA
  - WD_AerScavEff
  - WD_CoarseAer
  - WD_ConvFacI2G
  - WD_ConvFacI2G_Lu

[2022-01-19 18:19] yantosca commented on #1099
Is_Photolysis can be left as-is.  In the Hg simulation with KPP (going into 13.4.0) there are some fields that are photolyzed but that are not advected.

[2022-01-19 20:43] theloniuspunk commented on #1101
I just sent a note to Betty Croft (she's not on here right?). I feel like she found a fix (it's possible that she just switched back to an older version). I'll let you know if she knows the fix.

[2022-01-19 21:10] theloniuspunk commented on #1101
From Betty Croft:

In my experience, the negative ozone issue occurred in GCClassic (v13.2.1) - but not in GCHP (v13.3.4). I got GCC v13.2.1 to run by resetting the negative to a small positive in mixing_mod.F90 and preventing the failure condition. I printed out whenever the correction was made and it was very infrequent (mostly just in one grid box in Germany region) and the need for a correctio

[2022-01-19 21:33] yantosca commented on #1101
Thanks @theloniuspunk.  I can add something like this for TOMAS.  Not sure I would want to do that in other simulations as of yet, as negative concentrations should generate a failure in e.g. the regular fullchem model.

Also, do you know if Betty is on Github and and if so, what her handle is?

[2022-01-19 21:38] theloniuspunk commented on #1101
Thanks! I don't think she is on here, I couldn't find her at least.

[2022-01-20 05:37] #1060 closed

[2022-01-21 00:19] yantosca opened #1103 "[BUG/ISSUE] MODIS LAI have different values depending on number of cores used"
### What institution are you from?
GCST

### Description of the problem
I have been tracing down a possible parallelization error.  It seems that when the HEMCO SoilNox extension is on we get slightly different values in in NO emissions from soil & fertilizer when running GEOS-Chem Classic 13.4.0 (dev branch) with different numbers of cores.  I chose Ref=5 cores and Dev=8 cores, which should cause

[2022-01-21 00:20] yantosca commented on #1103
Given that the code freeze date for 13.4.0 is upon us, we may need to fix this in a 13.4.Z version.

[2022-01-21 15:19] yantosca commented on #885
This update isn't needed.  I can close.

[2022-01-21 15:19] #885 closed

[2022-01-21 15:27] yantosca commented on #1095
PR #1088 was merged into the 13.4.0 development stream, so we can close this issue.  For further discussion, please see #1099

[2022-01-21 17:35] #1095 closed

[2022-01-21 19:01] yantosca commented on #1101
I've added Betty's fix in commit 4885456f497749dc5ea3e27abc3ac41a33d3e1b0.  For now I've added this in an `#ifdef TOMAS` block so that the error trap will still work for other simulations as before.  This will go into 13.4.0.  We can further investigate this issue and issue a patch version if a solution for the negative values is found.

[2022-01-21 19:10] theloniuspunk commented on #1101
Thanks, Bob!

[2022-01-21 19:22] yantosca commented on #1101
Just confirmed that this works as advertised:

[code]

[2022-01-21 19:32] yantosca commented on #1101
This has now been merged into the 13.4.0 development stream, so we can close this issue.

[2022-01-21 19:32] #1101 closed

[2022-01-21 20:16] yantosca commented on #1103
@lizziel suggested to look at the `State_Met%LandTypeFrac`, which comes from the Olson map.  This can point to a problem in Olson map regridding.

From a new run I printed out the following:
[code]
So for grid box (13,38) and landtype 41, the `State_Met%XLAI_Native` differs but the `State_Met%LandTypeFrac` is the same.  This would suggest that the Olson map regridding is OK but there is a problem

[2022-01-21 22:16] yantosca commented on #1072
PR #1104 has been merged into the 13.4.0 development stream, so we can close out this issue.

[2022-01-21 22:16] #1072 closed

[2022-01-21 22:17] yantosca commented on #1044
Linked PR #1104 has been merged into the 13.4.0 development stream.  We can now close out this issue.

[2022-01-21 22:17] #1044 closed

[2022-01-21 22:18] yantosca commented on #1043
Linked PR #1104 has now been merged into the 13.4.0 development stream.  We can now close this issue.

[2022-01-21 22:18] #1043 closed

[2022-01-21 22:22] yantosca commented on #1098
Thanks for writing @lixiao-bit.  The dry-deposition velocity is computed in the `drydep_mod.F90` module and can be archived by saving out the [DryDep collection from the GEOS-Chem History diagnostics](http://wiki.seas.harvard.edu/geos-chem/index.php/History_collections_for_dry_deposition#The_DryDep_collection).

I do not know how to compute a wet deposition velocity, as I think this is not a term

[2022-01-21 22:24] yantosca commented on #758
I think we can close out this issue.  The geoschemdata.wustl.edu data server is online, if you are having difficulties, you can use Globus, or dry downloading from geoschemdata.computecanada.ca (which is currently online but will eventually be deactivated).

[2022-01-21 22:24] #758 closed

[2022-01-21 22:28] yantosca commented on #543
I can take a shot at updating the recommended inventories on the wiki.  Perhaps this could be updated quickly by parsing the dryrun output.

[2022-01-21 22:29] yantosca commented on #1037
@lizziel, has this been completed?  If so, we can close out this issue.

[2022-01-22 14:10] barronh commented on #547
I do have these files 3d gridded, but found performance was slow (too many layers). I also believe that the most common use is monthly. So, I spent most time on the monthly.

Email me at the EPA last.first@epa.gov. We can figure out a good transfer mechanism and testing.

[2022-01-25 06:04] XueyingYu-1993 opened #1107 "[BUG/ISSUE] Missing data for biovoc"
### Description of the problem
The data of HEMCO/OFFLINE_BIOVOC/v2021-12/0.25x0.3125/2020/01 only up to Jan 28, missing Jan 29-31.

[2022-01-25 17:46] YanshunLi-washu commented on #1107
Hi @XueyingYu-1993 I've contact Hongjian who is the developer via email for fixing this. Thanks for yr patience.

[2022-01-25 17:52] XueyingYu-1993 commented on #1107
Thank you! I very much appreciate it!

On Tue, Jan 25, 2022 at 11:46 AM Yanshun Li ***@***.***>
wrote:

[2022-01-25 20:00] SadiaToma opened #1108 "[BUG/ISSUE] Help regarding debug code to print species conc and reaction rates if integrate failed twice error is hit"
### Ask a question about GEOS-Chem:
Good afternoon. Recently, I was trying to run a GCHP simulation, my runs crashed with the following error:

[code]

I was looking at the previous GCHP issues and found this previous issue https://github.com/geoschem/GCHP/issues/170#issuecomment-948727411 very helpful, where a debug code was added to print species conc and reaction rates if integrate failed twice

[2022-01-25 20:15] yantosca commented on #1108
Thanks for writing @SadiaToma.  Make sure to have these debug print statements in your code.  They should print out the values of the concentration (C array) and reaction rates (RCONST array) at the point of failure.

https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/GeosCore/fullchem_mod.F90#L1063-L1107

Look for concentrations and reaction rates that are either

[2022-01-25 20:17] yantosca commented on #1108
@SadiaToma It could be that a reaction rate encountered a division by zero (although when I cleaned up the reaction rates in the fullchem mechanism I tried to put in error traps for that).  It could also be that a species went to essentially zero concentration, which could be the case if the initial condition is very small.

[2022-01-25 22:01] SadiaToma commented on #1108
Thank you so much @yantosca for your quick response. I have one more question for now. After adding these lines of code, I think I need to recompile the code before running. Am I right?

Thanks.

[2022-01-25 23:19] lizziel commented on #1108
Yes, you will need to recompile before rerunning to get the changes to take effect. Make sure you remember to install step so that executable gets copied over to the run directory.

[2022-01-26 04:21] xpye98 commented on #821
Hi, I found the same problem here, don't know how to calculate the mass of Ox. Have you solved that problem? Or any other idea that can fix it? @yantosca @map06

[2022-01-28 15:20] yantosca commented on #1096
Thanks for writing.  I think the issue is that INIT_UCX is being called for the aerosol-only simulation but it should only be called for the fullchem simualtion.  See the fix in commit https://github.com/geoschem/geos-chem/commit/0d2b8eaea9ae26c159b99083fb2382d017c48d2c, which will go into GEOS-Chem 13.4.0.  Also see

[2022-01-29 13:40] xpye98 opened #1109 "[BUG/ISSUE] Tagged ozone simulation needs to be updated"
### What institution are you from?
Peking University

### Description of the problem
(This problem is related to #973, #821, and #965, especially #973, which has not been solved yet).

First, I got the same error as #821, then I realized that the unit of Prod/Loss from fullchem simulation is not the same as old version's (say, for v11-02, the unit of Prod_Ox is kg/m3/s, the unit of Loss_Ox is 1/m3

[2022-01-29 14:03] map06 commented on #821
@xpye98  I calculated the mass of Ox later using the formula used in the diag20 file from previous version, which automatically used to give output in the unit which is required. I modified the formula by using Ox formula present in gckpp. kpp. I downloaded the old version of GEOS-Chem from here https://zenodo.org/record/3507501.

Hopefully this is helpful.

[2022-01-30 19:25] pratherUCI commented on #994
If you want to understand how Fast-J integrates over wavelengths, then you must read the first 2 Fast-J & Fast-J2 papers:
Wild, O., X. Zhu, and M.J. Prather (2000) Fast-J: Accurate simulation of in- and below-cloud photolysis in tropospheric chemical models, J. Atmos. Chem., 37, 245-282.
Bian, H., and M.J. Prather (2002) Fast-J2: Accurate Simulation of stratospheric photolysis in global chemical m

[2022-01-31 15:48] ktravis213 opened #1110 "[BUG/ISSUE] Linking to libraries"
### What institution are you from?
NASA LaRC

### Description of the problem
When I type the command
cmake ../CodeDir -DRUNDIR=/discover/nobackup/ktravis1/ACCDAM/GC13/gc_geosfp_fullchem
I get the following error

WARNING: Target "gcclassic" requests linking to directory "/usr/local/other/netcdf4/4.8.1/intel/2021.4.0/lib".  Targets may link only to libraries.  CMake is dropping the item.

### Descr

[2022-01-31 15:58] yantosca commented on #1110
Hi @ktravis213, I think you are missing a netcdf-fortran library in your module environment.  After version 4.2 the netCDF C and Fortran libraries are installed separately.  If you are using lmod (same as on Cannon) you should be able to use a command like `module spider netcdf-fortran` or `module avail` to see which netCDF-Fortran builds are available for you to load.

[2022-01-31 20:40] ktravis213 commented on #1110
Hi @yantosca. When I look at nc-config or nf-config, they are in the same place.  For example, /usr/local/other/wrf-deps/intel-19.1.3.304/bin /usr/local/other/wrf-deps/intel-19.1.3.304/bin/nf-config.  I tried setting NETCDF_C_ROOT and NETCDF_Fortran_ROOT both to that directory "/usr/local/other/wrf-deps/intel-19.1.3.304/". But when I run CMAKE, the code says the CMAKE_PREFIX_PATH is looking in tha

[2022-01-31 20:53] yantosca commented on #1110
@LiamBindle, would you be able to suggest a fix?  Maybe we need some logic when both netCDF C and Fortran libraries are in the same path.

[2022-01-31 21:00] ktravis213 commented on #1110
Phew I just got it to work by deleting CMakeCache.txt.  If I understand correctly, it looks like whatever is put in CMakeCache.txt gets used in the build even if you change your environment variables.  So it might be good to put somewhere a warning in the build instructions that if you mess up your environment, make sure to delete that file before rebuilding?

[2022-01-31 21:09] yantosca commented on #1110
Thanks @ktravis213.  Yes, unlike the old GNU Make versions of GEOS-Chem, CMake puts all of the Makefiles and objects into the build folder structure.  While there isn't a "make realclean" option like before, you can either delete the CMakeCache.txt or delete all the files in the build folder to rebuld cleanly (especially after switching modules).

I'll update the documentation. Thanks!

[2022-01-31 23:16] lizziel commented on #1037
This is all set.

[2022-01-31 23:16] #1037 closed

[2022-01-31 23:18] lizziel commented on #1091
@kilicomu, are you all set with this issue?

[2022-02-01 10:55] kilicomu commented on #1091
Sure, I've got my simulations running.

[2022-02-01 15:52] #1091 closed

[2022-02-01 19:44] SadiaToma commented on #1108
Thanks @lizziel .

[2022-02-01 20:50] SadiaToma commented on #1108
Hi @yantosca, after adding the code lines, I was trying to recompile the code. But getting the following error:

`/home/safrin/Code.GCHP.CAM.debug/src/GCHP_GridComp/GEOSChem_GridComp/geos-chem/GeosCore/fullchem_mod.F90(1015): error #6404: This name does not have a type, and must have an explicit type.   [FAILED2X]
              Failed2x = .TRUE.
--------------^

/home/safrin/Code.GCHP.CAM.debug/sr

[2022-02-02 04:45] nbderenzqy66 commented on #1096
Thanks for the reply! Finally, the 2x2.5 simulation works by setting "export OMP_STACKSIZE = 14g" and using GEOSFP on our end. The 0.25x0.3125 simulation works by setting "export OMP_STACKSIZE = 256g" on our end. And the version we used is GEOS-Chem 13.3.2.

[2022-02-02 14:08] lizziel opened #1423 "[Feature Request] Use default rundir names in integration tests"
Currently we hard-code names per simulation to use when creating run directories for integration testing. This works well but misses if there is a problem with default run directory names. Using the default names instead of hard-coding them will expand integration testing to also include testing the default naming step of createRunDir.sh.

[2022-02-02 14:13] yantosca commented on #1096
Great.  I'll close out this issue.  Thanks for letting us know @nbderenzqy66.

[2022-02-02 14:13] #1096 closed

[2022-02-02 22:52] lizziel commented on #1108
Hi Sadia, I think Bob's gone for the day but I can step in to help. That error indicates that the variable Failed2x was never declared with its type (logical). You need to add this line to the file: https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/GeosCore/fullchem_mod.F90#L55.

[2022-02-03 01:56] SadiaToma commented on #1108
Thank you so much @lizziel. I am going to add those lines too.

[2022-02-04 09:53] Z-Dong-AK opened #1113 "[QUESTION] How does the GFED emissions option affect the model simulations?"
Hi everyone! I am a new user of GEOS-Chem and currently I am trying to use GEOS-Chem to simulate PM2.5 in Alaska area. I made 4 sensitive test runs with slightly different settings in "GFED emission" and "nested option". The GFED emission part is in the HEMCO_Config.rc, and the difference is whether to set GFED_daily or GFED_3hourly to true. The "nested option" is in the geos.input "Nested grid si

[2022-02-04 10:37] Yuan-yuan-2021 opened #1114 "[compile]undefined reference"
### Ask a question about GEOS-Chem:

Hello,
I'm getting the following issue during compiling, which breaks the compilation:
ld: /lib/libpnetcdf.a(nonblocking.o): undefined reference to symbol 'MPI_File_write_all'
/impi/lib64/libmpi.so.12: error adding symbols: DSO missing from command line
My linux environment has obviously installed these libraries, so what is the reason for this?How do I solve t

[2022-02-04 16:00] sdeastham opened #1115 "[BUG/ISSUE] concEduct threshold too low"
### What institution are you from?
MIT

### Description of the problem
KPP sometimes crashes with an excessive heterogeneous chemistry rate. This occurs because the educt concentration becomes too low. This was previously caught by only proceeding with the calculation if the concentration was > 100 molec/cm3, but at some point that was reduced to 1e-20 molec/cm3. A previous commit (https://github.

[2022-02-04 16:01] sdeastham commented on #1115
Tagging @SadiaToma as this is related to an issue they have been seeing.

[2022-02-04 16:13] djxjacob commented on #1115
Hi Seb – I think that 1 molecule cm-3 is too large a threshold.  Mean Cl atom concentration is ~100 molecules cm-3 . I would be OK with a 1.E-3 threshold for not doing the chemical calculation. We could otherwise take other measures, such as prevent concentrations from dropping below a threshold. Daniel

From: Sebastian David Eastham ***@***.***>
Sent: Friday, February 4, 2022 11:01 AM
To: geosche

[2022-02-04 16:20] chakri6023 opened #1116 "[BUG/ISSUE]HEMCO ERROR: Cannot find field with valid time stamp in restart file"
![Screenshot (13)](https://user-images.githubusercontent.com/84584444/152563987-3ff29909-f411-4ec2-a4cc-1558ee01e3f3.png)
I am running Version 13.3.3 for mercury simulation. But got stuck in above error. can you please give your comments on this?

[2022-02-04 16:24] yantosca commented on #1116
Please see issues #940, #948, #971

[2022-02-04 16:32] sdeastham commented on #1115
Hi @djxjacob  - thanks for your input! To be clear, this only affects the second argument, which is expected to be the "abundant" species. In the current usage of this function the second argument species are BrSALA, BrSALC, SALACl, SALCCl, H2O, HCl, and HBr. Would those concentrations drop to < 100 molec/cm3 while these reactions are still relevant? Genuine question as I have no idea!

[2022-02-04 16:40] djxjacob commented on #1115
Oh, I see, sorry! If we apply the concentration threshold only to the species in excess in hetchem reactions then 1 molecule cm-3 is just fine. I was concerned that you might want to apply it as a general threshold in KPP.

From: Sebastian David Eastham ***@***.***>
Sent: Friday, February 4, 2022 11:33 AM
To: geoschem/geos-chem ***@***.***>
Cc: Jacob, Daniel J. ***@***.***>; Mention ***@***.***>
S

[2022-02-04 17:38] yantosca commented on #1115
Thanks @sdeastham and @djxjacob.  Thanks for looking into this.  That was a holdover from the old gckpp_HetRates code where the original threshold was 100.  But I found that this didn't prevent div-by-zero errors so I tightened up somewhat arbitrarily.  I'll do testing with the new threshold = 1.

We can get this into 14.0.0, as we have already started benchmarking the 13.4.0 code.  Easy fix.

[2022-02-04 22:23] cdholmes opened #1117 "[QUESTION] HISTORY diagnostics with non-spatial dimensions"
Is it possible for a HISTORY diagnostic variables to have a non-spatial dimension? For example, could the netCDF output file contain a 3-D variable with dimensions (longitude, latitude, LU), where LU is variable indicating the land-use types found within the grid cell?

The application is that I want to create diagnostics for all of the resistance terms in the dry deposition calculations. Each gri

[2022-02-05 08:15] Z-Dong-AK commented on #1113
[HEMCO_Config_Zhao.rc.txt](https://github.com/geoschem/geos-chem/files/8007630/HEMCO_Config_Zhao.rc.txt)
[input.geos_A.txt](https://github.com/geoschem/geos-chem/files/8007631/input.geos_A.txt)
[input.geos_B.txt](https://github.com/geoschem/geos-chem/files/8007632/input.geos_B.txt)
[input.geos_Dong.txt](https://github.com/geoschem/geos-chem/files/8007633/input.geos_Dong.txt)
[input.geos_Zhao.txt](

[2022-02-06 10:41] #1036 closed

[2022-02-06 12:17] chakri6023 opened #1118 "[QUESTION] Gaseous Elemental Mercury data from the model output"
### Ask a question about GEOS-Chem:
Dear All,
I am using GEOS-Chem 13.3.2 and unable to find Gaseous Elemental Mercury data from the model output. Please suggest me in this regards.

[2022-02-06 12:40] #1116 closed

[2022-02-07 08:23] Yuan-yuan-2021 opened #1119 "[BUG/ISSUE] forrtl: severe (174): SIGSEGV, segmentation fault occurred"
### What institution are you from?
Please tell us what institution you are from.
BNU
### Description of the problem
Describe your problem here.  Describe the steps to reproduce the problem here, if possible.
The experiment I chose was merra2_2x25_tropchem，I get an error when I run the experiment .
### Description of troubleshooting performed
Describe any troubleshooting that you have already perfo

[2022-02-07 13:57] lizziel commented on #1119
Hi @Yuan-yuan-2021,

Typically segmentation faults in transport are due to running out of memory. Try upping the amount of memory you are requesting for your job. If you still have problems please include more information in your support request. See our [Submitting support requests wiki page](http://wiki.seas.harvard.edu/geos-chem/index.php/Submitting_GEOS-Chem_support_requests) for guidance.

[2022-02-07 14:06] lizziel commented on #1117
Non-spatial dimensions in output fields is not a supported feature in GEOS-Chem yet. However, an easy work-around is possible if your other dimension is length 72 or less. You can define the diagnostic as having a level dimension and only fill the first N elements, where N is the true length of your other dimension. The rest would be zeros or some bad value that you define. It's a waste of memory

[2022-02-07 16:54] xin-tie commented on #967
Hi @msulprizio and @yantosca , sorry getting back so late and thanks for the suggestion, I have already solved this issue.

[2022-02-07 17:52] yantosca commented on #1119
@Yuan-yuan-2021, this looks like a STOP was encountered. Or you were running in a queue and the job ran beyond the time limit.

Also, we recommend not to use the tropchem simulation, but instead to use fullchem with 47 levels.  See issue #839.

[2022-02-07 17:52] yantosca commented on #1118
@chakri6023, I believe Hg0 is gaseous elemental mercury.

[2022-02-07 17:54] yantosca commented on #1117
@cdholmes this has been on our to-do list but we haven't gotten there yet.  For 1-d outputs we recommend to use (or hack) Obspack.

[2022-02-07 17:56] cdholmes commented on #1117
Thanks. Hacking the level dimension should work for me for now.

[2022-02-07 17:56] yantosca commented on #1114
@Yuan-yuan-2021, thanks for writing.  Could you add your log file with compilation output to this issue, and also attach the error message?

It looks like your build cannot find the netCDF library file (libnetcdf.a).  Or that netCDF wasn't built with MPI support and the system expects it to be.

[2022-02-07 18:23] #1117 closed

[2022-02-08 02:04] Holton1 opened #1121 "[QUESTION] GEOS-Chem doesn't read boundary conditions as HEMCO_Config.rc sets"
Hi, I am using GEOS-Chem v12.5.0 to do a nested simulation based on FlexGrid. The run doesn't crash but keeps reporting:

"GEOS-Chem ERROR: No boundary condition found for NO
 -> at Get_Boundary_Conditions (in GeosCore/hcoi_gc_main_mod.F)"

Using TotalView, I find that when the calling "Get_Boundary_Conditions" in GeosCore/hcoi_gc_main_mod.F90, the model cannot find the boundary condition variable

[2022-02-08 14:44] yantosca commented on #1121
Thanks for writing @Holton1.  Could you also attach the `HEMCO.log` file to this issue?

[2022-02-09 02:12] kimm1na commented on #716
Do you mean to multiply the mixing ratio of each grid by Met_DELPDRY/sum(Met_DELPDRY) for weighting?
Is there any reason not to use Met_DELP other than Met_DELPDRY?

Regards, Mina Kim

[2022-02-09 07:11] chakri6023 commented on #1118
I am unable to find variable to plot gaseous elemental mercury(Hg0) from the output of geos-chem. I have checked GEOSChem.MercuryChem.20100101_0000z.nc4 file.

[2022-02-09 07:31] kimm1na opened #1122 "[QUESTION] About BBIO and NET_TERR_EXCH"
### Ask a question about GEOS-Chem:

Hello,
I am Mina Kim

As far as I know, bio uptake in GEOS-Chem is split into two parts (Balanced Bio and Net Terr Exchange).

I wonder how these two interact to be calculated.

Which module contains the calculations?

Regards,
Mina Kim

[2022-02-09 13:13] Yuan-yuan-2021 commented on #1114
Thanks for your reply @yantosca, after I reinstalled netcdf, the problem disappeared.

[2022-02-09 13:14] #1114 closed

[2022-02-09 13:27] Yuan-yuan-2021 commented on #1119
Thanks for your reply @yantosca, after I added node, this problem no longer occurs. Then I have a new problem. I want to output the boundary  file, and it seems that I have trouble reading and writing. This is a reminder of the error file.

    - Creating file for BoundaryConditions; reference = 20101101 001000
        with filename = OutputDir/GEOSChem.BoundaryConditions.20101101_0010z.nc4

!!!!!

[2022-02-09 15:51] lizziel opened #1420 "[Feature Request] Turning off base emissions in GCHP fails"
I just ran into this issue so am making a note of it to look at later. I think turning off base emissions is primarily useful for GCST testing so am putting this issue here rather than the main GEOS-Chem repo.

The model crashes when running GCHP benchmark simulation with base emissions turned off within `runConfig.sh`. This is the end of the log:
[code]

I have not tested in GC-Classic.

[2022-02-09 18:12] yantosca commented on #1119
Thanks for the feedback @Yuan-yuan-2021.  This error could mean a couple of things:

  1. You are over quota (i.e. ran out of disk space in your account)
  2.  The file `OutputDir/GEOSChem.BoundaryConditions.20101101_0010z.nc4` already exists and it is write-protected, so you can't overwrite it.

[2022-02-09 19:18] yantosca commented on #1118
Look in the `SpeciesConc` collection.  Hg0 is saved as `SpeciesConc_Hg0` there.  Best.

[2022-02-09 19:21] yantosca commented on #1122
Thanks for writing @kimm1na.  You mean for the CO2 simulation, right.  This would be handled in [GeosCore/co2_mod.F90](https://github.com/geoschem/geos-chem/blob/main/GeosCore/co2_mod.F90).

Also, some fields for the CO2 simulation are read in via HEMCO (see the HEMCO_Config.rc file in your run directory).

[2022-02-09 20:06] yantosca commented on #1119
It can also mean that the OutputDir folder does not exist in your run directory.

[2022-02-10 08:01] kimm1na commented on #1122
Thank you for your answer.

Yes, I meant for the CO2 simulation.

But I can't find how net_terr_exchange and balancd biosphere are calculated and interacted in co2_mod.F90.

Do you have any papers or guides that I can refer to?

Sincerely,
Mina Kim

[2022-02-10 09:26] Holton1 commented on #1121
Hi Bob, thanks for replying. Sorry, there's something wrong with my server, it took some time to run the model again. Here attached are the HEMCO.log and model standard output.

[HEMCO.log.txt](https://github.com/geoschem/geos-chem/files/8039740/HEMCO.log.txt)
[log.txt](https://github.com/geoschem/geos-chem/files/8039741/log.txt)

[2022-02-11 20:14] mosaichaoyan opened #1125 "AMI for newer versions of GEOS-Chem"
### Ask a question about GEOS-Chem:
Hi There,

I am trying to spin up an AWS EC2 for some trial simulations using GEOS-Chem. The most recent AMI I can find is for 13.2.1.
The other AMIs I tried from the Wiki page are not there.
Should I just go with 13.2.1 or the AMIs for newer version is different from what the Wiki page suggests.

Thank you very much!

<img width="1069" alt="Screen Shot 2022-02-

[2022-02-11 20:54] laestrada commented on #1125
It seems that we didn't set the AMI for 13.3.4 to public -- I have just updated the permissions and it should be available (ami-069af8bd933eefa4d).

Additionally, we recently updated our policy on which AMIs we host. To reduce our storage costs we are now only hosting AMIs for:
- the current major update (eg. versions 13.0 and onward).
- the latest patch for each minor update (eg. 13.3.4, 13.2.1,

[2022-02-11 20:57] mosaichaoyan commented on #1125
Got it! Thanks a lot!

[2022-02-11 20:57] #1125 closed

[2022-02-11 21:12] yantosca commented on #1121
@Holton1, thanks for replying.  The run should die if it cannot find a field in the boundary conditions file.  I believe this has been fixed in more recent versions than 12.5.0.

I'm wondering if there is a name mismatch between the entry in HEMCO_Config.rc and the species names in the boundary condition netCDF files.  In HEMCO_Config.rc we have:

[code]
but if the species in the GEOSChem.Boundary

[2022-02-11 21:23] yantosca commented on #1098
I will close out this issue for now.  Please feel free to open a new issue if you still have questions.

[2022-02-11 21:23] #1098 closed

[2022-02-11 21:24] yantosca commented on #1094
Also see this related fix for RRTMG build issues: https://github.com/geoschem/geos-chem/pull/1112

[2022-02-12 02:34] xpye98 commented on #973
Hi @map06 , have you solved this problem?
I used the old default prod/loss file from compute canada server to run tagO3 in new GC (v13+), and the [O3] is very low too.

[2022-02-12 08:47] Holton1 commented on #1121
Hi Bob, thanks for the detailed response! I think that the species in GEOSChem.BoundaryConditions* files begin with `SpeciesBC_` (`SpeciesRst_` seems is the header of variables in a restart file). But seems like the boundary condition variables are not imported during loading the HEMCO variables. I am trying to switch to GC12.7.0 to see if this issue is fixed.

[2022-02-13 02:51] map06 commented on #973
@xpye98 Yes. I modified the `HEMCO_Config.rc` file, this particular location according to my data and for startosphere data I turned Linoz stratospheric chemistry  on in input. geos file

[code]

[2022-02-13 05:16] xpye98 commented on #973
@map06 Thanks for your reply!

This file, `O3_PRODLOSS.merra2.4x5.nc`, is the default prod/loss rate. So, if I want to use my own prod/loss rate, should I follow your modification in `flexchem_mod.F90` above?

And could you please explain more about turning on Linoz chemistry in `input.geos`? What's your full-chemistry simulation setting (Standard or Tropchem)?

[2022-02-14 01:34] kimm1na opened #1126 "[QUESTION] about tagged CO2 simulation"
### Ask a question about GEOS-Chem:

Hello,
I am trying a tagged CO2 run using GC 13.0.1.

Tagged CO2 description is not on the wiki yet, so I'm having trouble.
I apologize in advance for the many questions.

1) I wonder if it is enough to just add this to the species name list in input.geos when doing tag CO2 simulation.

[code]
2) I wonder how to set the "Tagged CO2 runs" part option in input.ge

[2022-02-14 03:14] kimm1na commented on #734
@monszel

Hello,

Do you mean that there was no problem when you left the background value as it is (1e-20)
and modified only mixing_mod.F90?

Thank you.

[2022-02-14 12:37] xpye98 opened #1127 "[QUESTION] How to tag stratospheric ozone with UCX enabled?"
### Ask a question about GEOS-Chem:
In tagged ozone simulation, stratospheric ozone is tagged using the Linoz mechanism. However, for new GC full-chemistry simulation, strat O3 is calculated online with UCX.

So my question is, how to tag strat O3 now? Tagged ozone simulation may give a different result from that from full-chemistry (Linoz vs. UCX). Or is there a way to just turn off UCX in full-c

[2022-02-14 15:07] yantosca commented on #1121
We would recommend that you update to a more recent version, say 13.4.0 (once it is released).

[2022-02-14 15:29] yantosca commented on #1113
Hi @Z-Dong-AK, thanks for your patience.  I looked at your control A input.geos:
[code]
I think the issue is that you are specifying a nested region but the nested-grid simulation flag is set to FALSE.  This may cause the regridding not to work properly.

If you turn off the nested-grid simulation then the values for lon & lat min & max have to be:
[code]

We can put an error trap into `GeosCore/i

[2022-02-15 20:06] yantosca commented on #1109
Thanks for your input @xpe98.  We agree that the tagged O3 simulation is a bit out of date w/ the rest of GEOS-Chem and needs updating.  This will be discussed at the next GEOS-Chem Steering Committee meeting on 23 Feb 2022.

[2022-02-15 20:06] yantosca commented on #1127
Thanks for writing @xpe98.  What you can do is this:

  1. Archive the PO3 and LO3 rates from your full-chem simulation with UCX.
  2. Define stratospheric ozone as PO\3 above the local tropopause.

The tagged Ox simulation has gotten a bit out of date with the rest of the model.  Thanks for your patience as we sort out some of these issues.

[2022-02-15 22:09] elutsch opened #1131 "[BUG/ISSUE] Tagged CO simulation in GC v13.3.2"
### What institution are you from?
University of Toronto

### Description of the problem

There is an apparent unit error for the production of CO from CH4 and NMVOC oxidation terms. These terms (ProdCOfromCH4 and ProdCOfromNMVOC, respectively) are archived from the ProdLoss menu of the HISTORY.rc of a full chemistry simulation in units of **molec/cm3/s**. However, HEMCO assumes these are unitless

[2022-02-16 02:13] xpye98 commented on #1127
@yantosca Thanks for your reply!

Yes, I think that's the way to solve it.

In `GeosCore/tagged_o3_mod.F90`, I did some modifications as below, hope you can check if it is correct.

(1) Line 186
[code]

(2) Around line 251, I add start O3 as what we do for other regions. Also, I think here we need to turn off linoz in `input.geos` file, otherwise the tagged simulation will calculate strat O3 using

[2022-02-16 02:31] map06 commented on #973
Yes,  you could use the method I used. It gave me better result.

I don't know for sure.  I just used it as a hit and trial method, and it worked. Its standard setting.

[2022-02-17 11:13] #1118 closed

[2022-02-18 00:41] ktravis213 opened #1132 "[BUG/ISSUE] Unused line of code in KPP rate law function"
### What institution are you from?
NASA LaRC
### Description of the problem
I think the following on line 570 in fullchem_RateLawFuncs.F90 is not needed, it doesn't appear to be used or part of the JPL equation:
    r0     = a0 * ( 1.0_dp + 0.6_dp * 9.871E7_dp * PRESS )

[2022-02-18 15:29] yantosca commented on #1132
Thanks @ktravis213.  I believe that you are right.  I can remove that line, as it'll avoid useless computations.  Thanks for finding this!

[2022-02-18 20:33] yantosca commented on #1131
Thanks for writing @elutsch.  The tagCO simulation has lagged behind other GEOS-Chem development.  We can make this fix into 13.4.1, as it is a simple update.

[2022-02-19 11:01] #1081 closed

[2022-02-20 04:44] Holton1 opened #1133 "[BUG/ISSUE] GEOS-Chem 12.7.2 crashes during runtime: HEMCO ERROR: Negative values found!"
### What institution are you from?
University of Alaska Fairbanks

### Description of the problem
I am using GEOS-Chem 12.7.2 to do a nested grid simulation over Alaska domain for 2018 summer. The model runs well for 2018 May, June and several early days of July, but crashes at July 6, when HEMCO is running. The error message is:

[code]

### Description of troubleshooting performed
I checked the

[2022-02-22 02:48] jie0314ouc opened #1135 "[BUG/ISSUE] error about Compiling geos-chem"
After configuring and running GEOS Chem, I encountered some error messages when compiling with make -j4 build command, but I don't know where the problem is and how to solve it. I hope you can help me!

[code]

[2022-02-22 14:45] yantosca commented on #1135
Thanks for writing @jie0314ouc.  Which compiler version are you using?  You can find out by typing either
[code]
or
[code]
depending on which compiler you are using.  It might be that the version of the compiler you have is too old to compile this code (which is Headers/dictionary_m.F90).

[2022-02-22 15:23] jie0314ouc commented on #1135
Today, I reinstalled the gcc-9.3.0 compiler and recompiled goes Chem, but there are still error information, as follows:
&nbsp;

fatal: ambiguous argument 'HEAD': unknown revision or path not in the working tree.

Use '--' to separate paths from revisions, like this:

'git <command&gt; [<revision&gt;...] -- [<file&gt;...]'

fatal: bad default revision 'HEAD'

fatal: bad default revision 'HEAD'

fa

[2022-02-23 01:43] kimm1na commented on #381
@monszel  If you have experience with co2 simulation, do you have any ideas for this question( #1126 )? Thank you.

[2022-02-23 06:23] monszel commented on #734
Hi @kimm1na,
yes, I only modified the mixing_mod.F90. However, it works also with increased background values and without code modifications.

Regards
Monika

[2022-02-23 06:55] monszel commented on #1126
Hi @kimm1na,
as far as I remember, when I was running CO2 tagged simulations, I just listed species of interest tin the **ADVECTED SPECIES MENU** and changed the flag to **true** in the **Tagged CO2 runs** section.

Regards
Monika

[2022-02-23 10:56] jie0314ouc commented on #1135
After I reinstall the compiler, netcdf-c and NetCDF FORTRAN,&nbsp; I executed "make - j4 build" in the generated running directory , there is no previous error information. See attachment-1&nbsp;for the command prompt after execution; See attachment-2 for the content displayed after executing ll - RT in the same level folder. I don't see “geos.mp" generation, I don't know if I compile correctly at

[2022-02-23 22:23] #1004 closed

[2022-02-23 22:23] #1080 closed

[2022-02-24 01:57] febfly opened #1136 "[QUESTION] Generating GEOS-Chem ready GEOS-FP data for operational, near real time simulation"
### Ask a question about GEOS-Chem:
Hi, I am trying to perform a near real time simulation for operational purposes. The GEOS-Chem ready GEOS-FP data from the data servers are only updated irregularly and usually lag behind for several months. I wonder if there are any tools available that can help users to generate these met inputs from the raw GEOS-FP data, which is near real time. Thanks!   -Yu

[2022-02-24 02:02] djxjacob commented on #1136
Hi Yuzhong – Jake Wilson at GHGSat is precisely doing that for NRT methane simulations, using the new capability put into GC by Liam Bindle. Daniel

From: Yuzhong Zhang ***@***.***>
Sent: Wednesday, February 23, 2022 8:58 PM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem] [QUESTION] Generating GEOS-Chem ready GEOS-FP data for operational, near real tim

[2022-02-24 02:47] kimm1na commented on #1126
thank you for telling me.

When I add only the species name, the model runs well, but when I set the tag option to True, the following error appears.

Have you had a similar experience?

thank you.

![image](https://user-images.githubusercontent.com/89123880/155447932-5daaf476-2048-4923-b059-8657377512ae.png)

[2022-02-24 08:27] jie0314ouc opened #1137 "[BUG/ISSUE] Error reading timezones_voronoi_1x1.nc"
### What institution are you from?
I am a graduate student in the school of environment, Ocean University of China.

### Description of the problem
After ./gcclassic , there was a error
In Ncop_Rd, cannot open:  /home/zhangj/Geos-Chem/data/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc

Code stopped from DO_ERR_OUT (in module NcdfUtil/m_do_err_out.F90)
This is an error that was encounte

[2022-02-24 15:07] yantosca commented on #1137
Thanks for writing @jie0314ouc.  Can you confirm that you have the file:

`/home/zhangj/Geos-Chem/data/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc`

on disk.  I think if you are missing this file then it would produce the error that you are seeing.

[2022-02-24 15:30] yantosca commented on #1137
Thanks @jie0314ouc .  If it can't be read by ncdump then the file is corrupted.  Can you try downloading it again from:
http://geoschemdata.computecanada.ca/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc

[2022-02-24 15:39] jie0314ouc commented on #1137
I redownload the file, but it still didn’t work.

------------------ Original ------------------
From: Bob Yantosca ***@***.***&gt;
Date: Thu,Feb 24,2022 11:30 PM
To: geoschem/geos-chem ***@***.***&gt;
Cc: jie0314ouc ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [geoschem/geos-chem] [BUG/ISSUE] Error reading timezones_voronoi_1x1.nc (Issue #1137)

Thanks @jie0314ouc .  If it can't be read

[2022-02-24 16:02] bsuther opened #1138 "[BUG/ISSUE] negative concentrations in nested run"
### What institution are you from?
North Carolina State University

### Description of the problem
I am getting negative NO concentrations at the beginning of time stepping during a  0.25x0.3125 nested NA grid run using version 13.3.3. I believe this is similar to #969  #734 #584. Are you able to tell me why this is occurring and the best resolution? Thank you for your help.

### Description of tr

[2022-02-24 17:50] LiamBindle commented on #1024
The server might be down for a few hours today while it undergoes maintenance.

[2022-02-24 19:06] yantosca commented on #1137
@jie0314ouc, if you type

[code]
do you get output or is the files still corrupted?

[2022-02-25 00:32] jie0314ouc commented on #1137
After&nbsp;ncdump  /home/zhangj/Geos-Chem/data/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc
error information :

But I can ncdump other downloaing ncfile like&nbsp;WHET_Hg0.geos.1x1.2010_final.nc successfully.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-02-25 08:52] lumosmoon opened #1139 "[QUESTION] question about sulfur chemistry via KPP"
Hi Geos-Chem team,

I noticed that you have implemented sulfur in-cloud and on aerosols reactions via KPP. I have some questions after reviewing the code.

1. Both produce SO4, so why are some reactants written as SO2 (e.g., `SO2+ H2O2 = SO4` )while others are written as HSO3m/SO3mm (e.g., `HOCl + HSO3m = SO4 + HCl`)? Is it true that the latter reaction produces SO4 without consuming SO2? It inste

[2022-02-25 14:16] yantosca commented on #1139
Thanks for writing.  I am tagging @msl3v, who can give a better explanation than I can.

[2022-02-25 17:58] jinlx opened #1140 "[QUESTION] Custom chemsitry for GC13.3.2"
Hi there,

I am trying to use KPP to get a custom chemsitry for GEOS-Chem. In order to realize it, I followed the doc in the kpp doc web. I am able to create the F90 chemical modules for GC by KPP but fail to configure the GC. The error information is provided below.
[code]
In order to fix it, I make the soft link of rateLawUtilFuncs.F90 from fullchem_RateLawFuncs.F90 in ./CodeDir/src/GEOS-Chem/KP

[2022-02-25 20:53] yantosca commented on #1140
Thanks for writing @jinlx.  For the sake of expediency, you can build your new mechanism in the `KPP/fullchem` folder (just keep a clean copy of the source code for reference), as that should build without issues.

I will look into this further.  Thanks much for bringing this issue to our attention.

[2022-02-25 21:50] jinlx commented on #1140
Thanks Bob! You are right! Build new chemistry directly in fullchem works fine. I will just go with your suggestion for now. Please feel free to close the issue. - Lixu

[2022-02-25 21:52] yantosca commented on #1109
Thanks again @xpe98.  We are working on updating the tagged O3 simulation.  Please see the discussion from the [GCSC telecon minutes of 23 Feb 2022](https://geos-chem.seas.harvard.edu/files/acmg-geos/files/gcsc_minutes_23feb2022_01.pdf) for more information.

[2022-02-25 22:20] yantosca commented on #1140
Thanks @jinlx.  I will still look at this to see if we can fix it before the 14.0.0 major version.

[2022-02-25 22:20] #1140 closed

[2022-02-26 04:54] #1085 closed

[2022-02-26 12:26] msl3v commented on #1139
Hello lumosmoon,
See below...

On 2/25/22 03:52, lumosmoon wrote:

The original code for hypohalous acids HOBr and HOCl branched the
reactions into two, accounting for HSO3m and SO3mm pathways, though it
did so a little differently than done here. (Note you'll find the same
operations in sulfate_mod.F90 that you find in
fullchem_SulfurChemFuncs.F90) The goal with the transition to KPP was to
maint

[2022-02-27 22:16] jinlx opened #1141 "[QUESTION] maximum timestep for transport in input_mod.F90"
Hi there,

I noticed that the GEOS-Chem has timestep limits for each resolution in input_mod.F90. The max transport timestep is 5min for 0.25x0.3125 in the default setting. I was wondering if therea are any specific reasons of doing it. Do previous studies suggests that there have large performance diff between 5min and larger than 5min (e.g., 10 min) at 0.25 resoultion?

Cheers,
Lixu

[2022-02-27 22:32] djxjacob commented on #1141
Recommended time steps in GEOS-Chem aim to balance accuracy and performance. You can try longer time steps to improve performance and decide if the loss of accuracy is acceptable. Daniel

From: Lixu Jin ***@***.***>
Sent: Sunday, February 27, 2022 5:17 PM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem] [QUESTION] maximum timestep for transport in input

[2022-02-28 00:32] jie0314ouc commented on #1137
After ncdump  /home/zhangj/Geos-Chem/data/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc
error information :

[code]

**But I can ncdump other downloaing ncfile like WHET_Hg0.geos.1x1.2010_final.nc successfully.**

[code]

[2022-02-28 01:26] jie0314ouc commented on #1137
I

[2022-02-28 08:17] yangning-code opened #1143 "[QUESTION] How to calculate PM2.5 with ComplexSOA_SVPOA option?"
### Ask a question about GEOS-Chem:
On the GEOS-Chem official website, only simpleSOA and ComplexSOA calculate PM2.5, then How to calculate PM2.5 under the complexSOA_SVPOA  simulation？

[2022-02-28 16:28] jinlx commented on #1141
Thanks Daniel! I am most interested in seeing if GC will reproduce simliar performance but save CPU time at different timesteps at 0.25. It seems that no one has tested the sensitivity at 0.25 before but please let me if any folks has tested it. I will go with running a few weeks and see if 10min transport timestep will reproduce simliar result as 5min for now. - Lixu

[2022-02-28 17:11] lizziel opened #1144 "[BUG/ISSUE] Advective flux diagnostics not available for nested grid simulations"
### What institution are you from?
Harvard University

### Description of the problem
I noticed the old binary diagnostic code (ND26) is still present in nested grid advection (tpcore_window). ND26 is retired so the binary code will not work. However, the replacement code for netcdf has not yet been implemented.

### GEOS-Chem version
13.4.0 (dev)

[2022-02-28 19:44] lizziel commented on #1141
Hi @jinlx, we have had reports of instability at higher transport timesteps in nested grid model runs. If you set the timesteps too large, you could end up violating the Courant limit (i.e. instead of moving air from one box to a neighboring box,  it could move air two or more boxes away).

[2022-02-28 20:34] jinlx commented on #1141
Hi Lizzie! That makes a lot of sense to me. Thanks for the helpful informaiton!  I guess the sensitive of transport time steps will be most significant with deep convection in summers but may be less sensitive in winters. Is that right? I wonder if you see those reports mostly in simulations for summers or winters?

[2022-02-28 20:42] djxjacob commented on #1141
You just have to try, you may be OK, and if you get crappy results you will know why.  The time steps we recommend are conservative and you might be able to get away with longer.

From: Lixu Jin ***@***.***>
Sent: Monday, February 28, 2022 3:35 PM
To: geoschem/geos-chem ***@***.***>
Cc: Jacob, Daniel J. ***@***.***>; Comment ***@***.***>
Subject: Re: [geoschem/geos-chem] [QUESTION] maximum timeste

[2022-02-28 20:51] jinlx commented on #1141
Sounds great! Thanks Daniel! Please feel free to close the issue.

[2022-02-28 21:30] #1141 closed

[2022-03-01 12:09] lumosmoon commented on #1139
Hello @msl3v . Thanks a lot for your detailed response. I still have some questions.

`SO2+H2O2=SO4` can deduct SO2 directly and the remaining SO2 will be passed to the next time step; but when it comes to `HOCl+HSO3m=SO4+HCl`, although HSO3m is consumed, the code does not see how the effect of HSO3m consumption is passed to the next time step.

As at the next time step, HSO3m is calculated by the

[2022-03-01 12:21] msl3v commented on #1139
@lumosmoon
Since your original questions, the decision was made to rewrite the
reactions to use SO2 directly. The HSO3m/SO3mm calculation will only be
used as a scaling coefficient in the rate constant calculation. This
should resolve your concerns. Please let me know if you have others.

On 3/1/22 07:10, lumosmoon wrote:

[2022-03-01 12:33] djxjacob commented on #1139
Mike, will you make that change in 13.4 or does it require more testing? As you know, we need to redo the benchmarking of 13.4 to disable SSA debromination so there’s an opportunity to slip it in there.  Daniel

From: msl3v ***@***.***>
Sent: Tuesday, March 1, 2022 7:22 AM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [geoschem/geos-chem] [QUESTION] question about su

[2022-03-01 12:40] msl3v commented on #1139
The code is done, and I'll do some short-term testing on it this week.
Otherwise, it's not a complex change, and it can definitely make it into
the re-benchmark.

On 3/1/22 07:33, djxjacob wrote:

[2022-03-01 16:35] msulprizio opened #1145 "[FEATURE REQUEST] Disable sea salt aerosol debromination and include as an option instead"
The GEOS-Chem Steering Committee has asked that we disable sea salt aerosol debromination and include it as an option instead. This came out of concern over the [GEOS-Chem 13.4.0 benchmark](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_13.4.0#1-year_fullchem_GEOS-Chem_Classic_version_comparison_.2813.4.0-rc.1_vs_13.3.0-rc.0.29) where ozone concentrations are too low, especially over t

[2022-03-01 16:51] djxjacob commented on #1145
Hi Melissa – Mike is also making a  fix to the SO2+HOBR reaction in KPP that should go into 13.4.0.  Daniel

From: Melissa Sulprizio ***@***.***>
Sent: Tuesday, March 1, 2022 11:36 AM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem] [FEATURE REQUEST] Disable sea salt aerosol debromination and include as an option instead (Issue #1145)

The GEOS-Chem Ste

[2022-03-01 17:01] msulprizio commented on #1145
Thanks Daniel. We will be sure to include that fix as well.

[2022-03-01 17:01] msulprizio commented on #1145
Also tagging @viral211, @tsherwen, @msl3v here for any guidance or input

[2022-03-01 19:21] CharikleiaGRN opened #1146 "[BUG/ISSUE] GEOS-Chem-Hg 13.3.3 budgets"
Hi all!
I am using GEOS-Chem 13.3.3 for mercury simulation.
2x2.5 , GEOS-FP, production year: 2015

I would just like to mention some of the annual budget outputs that look weird:
1) Dry Deposition HgP is almost zero= 5.9 e-08 tonnes
2) FluxHg0fromAirtoOcean = 1.043 tonnes
3) FluxHg0fromOceantoAir = 2.601 tonnes
the 2) and 3) should be like double. By the way, the long names of these two variables

[2022-03-01 20:38] yantosca commented on #1145
@viral211 wrote:

Here are the reactions involved in sea salt aerosol debromination:
[code]

[2022-03-01 20:51] yantosca commented on #1145
I think the easiest way to proceed toggling SSA debromination on/off is to add a logical field to the HetState type in `KPP/fullchem/fullchem.kpp`:
[code]
and then to populate that with either `.TRUE.` or `.FALSE.` in `KPP/fullchem/fullchem_HetStateFuncs.F90`, in routine `fullchem_SetState_Het`:
[code]

Then in each of the rate-law functions mentioned by @viral211 above (these are in `KPP/fullchem

[2022-03-01 20:53] viral211 commented on #1145
There were a couple of reactions missing in the above list:
HOI + BrSALA = IBr :           IbrkdnByAcidBrSALA( SR_MW(ind_HOI), C(ind_HOI), 0.01_dp, State_Het );
HOI + BrSALC = IBr :           IbrkdnByAcidBrSALC( SR_MW(ind_HOI), C(ind_HOI), 0.01_dp, State_Het );

[2022-03-01 20:55] yantosca commented on #1145
The other thing you could do is to manually set the rate constants for those reactions to `0.0_dp` (and comment out the function calls) in `KPP/fullchem/fullchem.eqn`, but then if someone wanted to turn on SSA debromination, you would have to restore the function calls and rebuild KPP.  The shunting would take more CPU cycles but it would be easier for users as you wouldn't need to rebuild the mec

[2022-03-02 14:48] lizziel opened #1419 "[Feature Request] Add OpenMP parallelization tests to test suite"
GEOS-Chem Classic currently has a parallelization issue that snuck in since we retired the Unit Tester without replacing parallelization tests. Once the problem is fixed we should implement a comprehensive parallelization tester to sit alongside our integration tests.

[2022-03-02 15:16] msulprizio commented on #1145
@viral211, Xuan Wang, and @yantosca Thanks for your feedback! I am working on these code updates now and will let you know when a pull request is ready.

[2022-03-02 16:08] yantosca opened #1147 "[BUG/ISSUE] Step change present in v6 of BNU MODIS LAI product"
@jennyfisher wrote:

[2022-03-02 17:02] yangning-code opened #1149 "[QUESTION] How to calculate wet depositon velocity?"
### Ask a question about GEOS-Chem:
The dry-deposition velocity is computed in the drydep_mod.F90 module and can be archived by saving out the DryDep collection from the GEOS-Chem History diagnostics. However, How to calculate the wet deposition velocity?

[2022-03-02 17:41] yantosca commented on #1149
Thanks for writing @yangning-code.  I do not believe we use a wet deposition velocity in the GEOS-Chem wet deposition scheme.  I would ask either the Transport Working Group or the Emission and Deposition Working Group.

[2022-03-02 23:18] arifein commented on #1147
To better describe the issue, I attach a plot here comparing the version 6 LAI product (used in ExtData/HEMCO/Yuan_XLAI/v2021-06) with the earlier version of the Yuan LAI product. I downloaded v6 data [here](http://globalchange.bnu.edu.cn/research/laiv6) and the earlier version (I call this v5 but not sure if this the right notation) [here](http://globalchange.bnu.edu.cn/research/lai).

I was inte

[2022-03-03 14:10] barronh commented on #1147
I just subscribed so that I can follow this. Thanks for all the great work digging in!

[2022-03-03 15:38] yantosca commented on #1146
Thanks for writing @CharikleiaGRN.  Am tagging @jennyfisher, @cdholmes, and @yanxuz, who are the Hg & POPs WG Co-chairs.  Also @viral211 who has done a lot of work on the new Hg code.  Feel free to add any comments here.

At this point the 13.4.0 Hg code is in validation and once it checks out will replace the 13.3.3 code.   Also, I wouldn't necessarily trust the History diagnostic collection as t

[2022-03-03 15:41] yantosca commented on #1127
Note that 13.4.0 will include an updated tagged O3 simulation that fixes several of these issues.  See #1150.

[2022-03-03 18:33] yantosca commented on #1103
A few issues affecting numerical precision in both GEOS-Chem and HEMCO have been fixed with commits c2d8a3da2fb043ae689b392c128101e498e8a18e and https://github.com/geoschem/HEMCO/commit/8afbe217ea2c112eb2a2dc1743852214b5535c94.  These fixes now make sure that XLAI_NATIVE coming out of HEMCO have the same values regardless of how many cores are used.

However there may be outstanding additional par

[2022-03-03 20:06] monszel commented on #1126
Hi,
I did have that problem. At that point I thought its problem on my side and my setup. I copied the Regions_land.dat and Regions_ocean.dat from 12.9 version of the model into the run directory and it worked. But I did not have time to check this issue and now it seems it is more common problem. Maybe @yantosca will know better what's wrong with the files.
Regards,
Monika

[2022-03-03 21:46] yantosca commented on #1103
Found and fixed some unrelated parallelization and precision issues in `HEMCO/src/Extensions/hcox_soilnox_mod.F90`.  Long story short:

  1. Several numerical constants needed the kind parameter to force the proper precision (e.g. instead of 0.0 use 0.0_sp or 0.0_hp).
  2. We needed to zero the PRIVATE variables in this parallel DO loop:

https://github.com/geoschem/HEMCO/blob/e8dfc811e161cc8b694e

[2022-03-04 14:01] lizziel commented on #1099
@yantosca, is this all set?

[2022-03-04 14:37] yantosca commented on #1099
@lizziel, I haven't made any of these modifications yet.  Got sidetracked by other stuff.

[2022-03-04 18:22] yantosca commented on #1103
Still tracking what seems to be another issue in the computation of the leaf area indices via HEMCO:

Debug printout in `GeosCore/modis_lai_mod.F90`, at 4 x 5 grid box (22,10):

with 1 core:
[code]
with 5 cores:
[code]
with 8 cores:
[code]
MODISLAI is the sum of XLAI_NATIVE over all land types.  As you can see the land type #43 has different values.  I believe that this is happening in HEMCO routi

[2022-03-04 22:52] lizziel commented on #1099
No problem. I added the never stale label so it doesn't get closed again.

[2022-03-05 13:57] arifein commented on #1147
I heard back from Dr. Hua Yuan. It is suspected that this is an underlying feature of the MODIS version 6 data, since it is stitched together from Terra satellite data only (before 2002.7) and a combined Terra/Aqua satellite product (after 2002.7).

[2022-03-06 10:12] #1107 closed

[2022-03-08 02:24] sumengqian opened #1152 "[QUESTION] How to initialize the CO2 simulation in lieu of a spin-up?"
Hi, I am a beginner. I am trying to run a CO2 simulation and am confused about the 5th point in the answer of #911 . You mentioned that the best approach is to initialize them by scaling to observations (such as background latitudinal profiles) in lieu of any spin-up. Could you please explain that in detail, or is there any more detailed guidance? Should I change the benchmark restart file or keep

[2022-03-08 02:28] djxjacob commented on #1152
Spinning up a CO2 simulation is not useful because of the long lifetime. This is why it’s necessary to treat it as an initial value problem and to start from initial conditions matching observations, as for example from the NOAA database.

From: sumengqian ***@***.***>
Sent: Monday, March 7, 2022 9:25 PM
To: geoschem/geos-chem ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [geoschem/geos-chem]

[2022-03-08 03:12] sumengqian commented on #1152
Thanks for the reply, @djxjacob . I understand what you mean.

My problem is how to realize it ( in GC v13.1.2 )? How to begin a CO2 simulation with the specific value(the real global mean co2 concentration)? Should I change the  CO2 Background_VV  in the species_database.yml file and keep using the benchmark restart file?
Or did you mean I should create a new restart file using the initial condit

[2022-03-08 07:40] kimm1na opened #1153 "[QUESTION]"
### Ask a question about GEOS-Chem:

Hello, @yantosca @msulprizio

I am trying CO2 modeling using GEOS-Chem 13.0.1.
I have two questions about HEMCO emission.

1) What is the difference between 'biomass burning' and 'biofuel' in hemco emission?
According to some papers, it seems that the older version had a biofuel emission,
but the 13.0.1 version does not have a biofuel emission on hemco.
Is it n

[2022-03-08 07:49] kimm1na opened #1154 "[QUESTION] CO2 simulation question and empty HEMCO diagnostic files"
Ask a question about GEOS-Chem:

Hello, @yantosca @msulprizio

I am trying CO2 simulation using GEOS-Chem 13.0.1.
I have a few questions about HEMCO_Diagn.rc file and HEMCO_diagnostics.XXXX.nc output file.

1) In HEMCO_Config.rc , there are no DiagnFile contents so HEMCO_diagnostic output files are almost empty. It seems to be some kind of bug. (so I added the line 5 and it worked.)

![image](http

[2022-03-08 14:17] yantosca commented on #1153
Thanks for writing @kimm1na.  The difference is that biofuel is considered as an anthropogenic emission and biomass burning are natural open fires of vegetation (peat, wood, etc.).

Some inventories lump biofuel and anthropogenic emissions together, so it is impossible to separate them.  Other inventories list biofuel and anthropogenic separately.

[2022-03-08 14:19] yantosca commented on #1153
@kimm1na, which biomass burning product are you using?  As you showed in your HEMCO_DIagn.rc file, you have to use the proper extension number for the biomass burning.  If you are using QFED or GFAS then the extension number should be 0 since those are read from disk as base emissions.  I believe GFED is extension #111 and FINN is #114 as you have listed. But check your HEMCO_Config.rc file to be

[2022-03-08 14:27] yantosca commented on #1154
I also think EmisCO2_CO2SurfCorr correlates to CO2corr.  Also you are right, the ProdCO2fromCO HISTORY diagnostic will save the production of CO2 from CO oxidation.  You can look at the source code in `src/GEOS-Chem/GeosCore/co2_mod.F90`.

[2022-03-08 14:31] yantosca commented on #1152
I think that is the best way forward.

[2022-03-08 16:45] sumengqian commented on #1152
Thanks, @yantosca! I will have a try.

[2022-03-08 17:31] yantosca commented on #1103
We now know the cause of this issue.  It is not a parallelization problem per se, but HEMCO was reading in the incorrect time-slice for MODIS LAI as explained in https://github.com/geoschem/HEMCO/issues/132.

[2022-03-08 17:53] yantosca opened #1157 "[BUG/ISSUE] Parallelization or precision issue in full-chemistry"
### What institution are you from?
GCST

### Description of the problem
While looking into issues #1103 and https://github.com/geoschem/HEMCO/issues/132, I discovered what appears to be a further parallelization issue affecting full-chemistry simulations.  Specifically, we seem to get different values of O3 (and potentially other species) at a particular grid box when running on a different number

[2022-03-08 19:37] LiamBindle opened #1158 "[BUG/ISSUE] Is MULTISEAICE supposed to be 1984-2017?"
### What institution are you from?
WUSTL

### Description of the problem
I noticed that `MULTISEAICE` in HEMCO_Config.rc has a period of 1984-2017
https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem#L2890
but http://geoschemdata.wustl.edu/ExtData/HEMCO/MULTI_ICE/v2021-07/ has data for 1980-2020. Should the

[2022-03-08 19:44] LiamBindle commented on #1158
Same goes for CEDS_NO_SHP in CEDS/v2021-06. The data period in HEMCO_Config is 1750-2010 but the data in v2021-06 is 1750-2019.
https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem#L2415

CEDS/v2021-06 on data portal: http://geoschemdata.wustl.edu/ExtData/HEMCO/CEDS/v2021-06/

Shoudl the line in HEMCO_Config

[2022-03-08 20:42] msulprizio commented on #1158
That's definitely a typo for `CEDS_NO_SHIP`. It should be updated to 2019 for the latest version of CEDS. We can fix that in 13.4.0.

[2022-03-08 20:46] msulprizio commented on #1158
@lizziel It looks like you added the `MULTI_ICE` files, possible for the emissions from blowing snow update? I assume the years should be  1980-2020 as @LiamBindle points out. Can you confirm?

[2022-03-08 21:20] lizziel commented on #1158
Yes, that date range was an error. The HEMCO_Config.rc submission for the update in https://github.com/geoschem/geos-chem/pull/356 contained 1984-2017, and then the developer said she was submitting data for 1984-2018. I never checked the actual data submitted to change that string. Yes that will change the benchmark.

[2022-03-08 21:35] yantosca commented on #1103
We can close this issue as the solution is provided in https://github.com/geoschem/HEMCO/issues/132.

[2022-03-08 21:35] #1103 closed

[2022-03-08 21:37] LiamBindle commented on #1158
Awesome, thanks @msulprizio and @lizziel!

[2022-03-09 13:48] msulprizio commented on #1145
The code modifications for turning off SSA debromination are now in pull request #1155. The plots and tables of a 1-month benchmark isolating the impact from this update can be found at: http://ftp.as.harvard.edu/gcgrid/geos-chem/validation/GCC_13.4.0-rc.2+SSAdebromOff/BenchmarkResults/.

In particular, here is the impact on surface O3:
<img width="524" alt="Screen Shot 2022-03-09 at 8 47 33 AM" s

[2022-03-09 15:56] djxjacob commented on #1145
Hi Melissa –

That simulation totally kills tropospheric bromine, which is bizarre because in the free troposphere the source from the organobromines particularly CHBr3 should still be important.  Quoting Wang2021, “Bromocarbon gases contribute only 0.54 GgBra-1 to Bry but still dominate the Bry source in the free troposphere.” I’m wondering what’s going on. Even tropospheric HBr is killed which m

[2022-03-09 16:11] yantosca commented on #1157
The fix has now been pushed to commit 72c8866ee68a60639be743255bfad2454357af7e.  However, we are still investigating what appears to be very small differences in the ship emissions:

[code]
will investigate further.

[2022-03-09 16:30] yantosca commented on #1157
See issue https://github.com/geoschem/HEMCO/issues/133 for more about the parallelization issue in PARANOX.

[2022-03-09 16:39] viral211 commented on #1145
This may be happening because we still allow the uptake of HBr to BrSALA/C. So when we zero out BrSALA/C at each time step, we are just losing Bry. We could disable this reaction when we disable sea salt debromination (zero out the rate). Or, instead of zeroing out BrSALA/C in the C array, we could zero it out in way that only RateLawFuncs "sees" it as such, and we still conserve Bry. Sorry, didn'

[2022-03-10 00:25] kimm1na commented on #1153
Thank you for your reply @yantosca

I am using GFED or QFED for biomass burning.
I think they are for BB but they also include BF so I think that 'Biomass Burning' portion of HEMCO diagnostic output means biomass+biofuel.

Is it correct?

Thank you.

[2022-03-10 00:32] kimm1na commented on #1154
Thank you, @yantosca

But I mean HEMCO_Config.rc file does not have 'Diagn File : HEMCO_Diagn.rc' in line 5 originally so there are no contents in diagnostic output (in GC 13.0.1. ver).

Could you please check the default HEMCO_Config.rc for CO2 simulation in GC 13.0.1. ?

![image](https://user-images.githubusercontent.com/89123880/157562855-4af84112-f538-43c6-8d4c-e1ad84612693.png)

(Now I added

[2022-03-10 13:30] msulprizio commented on #1145
@viral211 wrote:

I am working on implementing and testing this now.

[2022-03-10 19:40] IshirDutta opened #1160 "[QUESTION] ProdLoss Diagnostic: ProdSO4 gas phase in fullchem"
### Ask a question about GEOS-Chem:

Hi folks, I'm running v13.2.1 and trying to make a version of Figure 2 from [Hattori et al., 2021](https://www.science.org/doi/10.1126/sciadv.abd4610) that shows different SO2 oxidation pathways. Based on magnitudes I would think that "ProdSO4fromO3s" (formerly ND05#19) is gas phase oxidation (SO2 + OH) rather than ozone on sea salt. However, unless I'm missing

[2022-03-10 19:59] yantosca commented on #1160
Thanks for writing @IshirDutta.  You are correct, it is the same as ND05 slot number 19.

The nomenclature `O3s` was picked by the developer of the feature (I think Quanjie Chen at UW), as that is the variable name in `sulfate_mod.F90`.

[2022-03-10 20:21] IshirDutta commented on #1160
Just to clarify (I realize I phrased the question poorly!) - ProdSO4fromO3s is the equivalent of SO2 + OH for fullchem?
Thanks!

[2022-03-10 20:54] yantosca commented on #1160
I believe that is correct.  Also tagging Mike Long (@msl3v) who has been looking into the sulfur chemistry.

[2022-03-11 12:21] msl3v commented on #1160
Hey all.

If you look in sulfate_mod.F90, you find that ProdSO4fromO3s is from the
aqueous reaction
SO3-- + O3 -> ...

The SO2 + OH reaction is in KPP and I don't know if there's a specific
diagnostic in place for that. It would be possible to add a dummy
species as a product and use that to track the reaction.

On 3/10/22 15:55, Bob Yantosca wrote:

[2022-03-11 13:39] IshirDutta commented on #1160
Thanks, @msl3v! My understanding of that section of sulfate_mod was that it was roughly meant to represent:

SO2 + OH + M -> HOSO2 + M
HOSO2 + O2 -> HO2 + SO3
SO3 + H2O + M -> H2SO4 + M

with O3 as a stand-in for the intermediate HOx cycling, mostly because there's already an in-cloud O3 production diagnostic with comparable magnitude...

[2022-03-11 16:42] yantosca commented on #1154
Thanks for the feedback.  I will close out this issue.  Feel free to contact us again.

[2022-03-11 16:42] #1154 closed

[2022-03-11 16:44] yantosca commented on #1133
@Holton1, have you resolved your issue?  Just checking in.

[2022-03-11 16:47] yantosca commented on #1121
I will close out this issue for now.  Please let us know if you continue to have problems.

[2022-03-11 16:47] #1121 closed

[2022-03-11 16:48] yantosca commented on #1115
@msulprizio, could we get this into 13.4.0 while the benchmarking is still open?

[2022-03-11 16:49] yantosca commented on #1109
I will close this issue, as the new tagged O3 simulation has already been merged into the 13.4.0 development stream.  The 13.4.0 version is currently pending benchmark approval.

[2022-03-11 16:49] #1109 closed

[2022-03-11 16:50] yantosca commented on #1137
I still think that this is caused by a corrupted file on your end.

@YanshunLi-washu, can you verify that the timezones_voronoi_1x1.nc file at the WashU data portal is OK?

[2022-03-11 16:52] yantosca commented on #1127
I will close out this issue as an updated tagged O3 simulation has already been merged into the 13.4.0 development stream.  Version 13.4.0 will be released as soon as we conclude the benchmark approval process (we are sorting out some issues in the full-chemistry simulation).

[2022-03-11 16:52] #1127 closed

[2022-03-11 17:05] yantosca commented on #1138
Thanks for writing @bsuther and for your patience (we have been very busy here).  Typically when this happens it means that a particular concentration gets too small or too large and the KPP solver cannot converge to a solution.  Have you checked the concentrations of NO in your boundary condition file?  If bad values are getting read in then that might cause issues.

You could try flushing negati

[2022-03-11 17:22] yantosca commented on #1119
Have you solved this problem @Yuan-yuan-2021?  If so, let us know and we can close out this issue.

[2022-03-11 17:31] yantosca commented on #1122
Thanks for your patience @kimm1na.  The CO2 simulation reads in balanced biosphere and net terrestrial exchange from disk via HEMCO.  See:

[code]

[2022-03-11 17:33] yantosca commented on #1158
We can close this issue since PR #1159 has been merged into the 13.4.0 development stream.  At this time 13.4.0 is pending benchmark approval.

[2022-03-11 17:33] #1158 closed

[2022-03-11 17:35] yantosca commented on #1137
Thanks @YanshunLi-washu!  @jie0314ouc, could you try downloading this file again from the http://geoschemdata.wustl.edu/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc?

[2022-03-11 17:48] yantosca commented on #1157
As noted in https://github.com/geoschem/HEMCO/issues/133

[2022-03-12 01:52] bzhang419 opened #1165 "[QUESTION] Unable to download the data from geoschemdata.wustl.edu"
Hi, I am trying to download data from the link "http://geoschemdata.wustl.edu/ExtData/" using wget. I used the following command:
[code]
But it shows
[code]
It looks that this command did not work with download files. Do you know how to get this work?

Also, I am trying to run a simulation in 2020, and the dryrun log file shows that I need to download the following file which I did not find in the

[2022-03-13 18:24] #1108 closed

[2022-03-14 08:49] hgrhgy opened #1168 "[BUG/ISSUE] the Restart file output error when the simulation end is the time of the begining of month"
As following configuration,  running the CO2 simulation will result in the following error `GEOS-Chem ERROR: No diagnostic output will be created for collection:
"Restart"!  Make sure that the length of the simulation as specified in
"input.geos" (check the start and end times) is not shorter than the frequency
setting in HISTORY.rc!`

And modify the `frequency` and `duration` to `00000000 060000`

[2022-03-14 11:24] YangZhenJiang11 commented on #1165
I have the same problem, have you solved it?

[2022-03-14 13:59] yantosca commented on #1168
Thanks for writing @hgrhgy.  We have made some updates that will be added to 13.4.0 that I think will fix this problem.  See: #1020

[2022-03-14 14:19] yantosca commented on #654
Also adding @msl3v onto this issue, as he will start on some of this work.

[2022-03-14 20:40] #1165 closed

[2022-03-14 21:18] msulprizio commented on #1115
Yes, let's plan on including this in 13.4.0.

[2022-03-15 03:40] lin02060757 opened #1171 "[BUG/ISSUE]GEOS-Chem restarts cannot be read correctly in a CO2 simualation"
### Description of the problem
I run a CO2 simulation via GEOSCHEM 13.1.0 with GEOSFP metadata.

I can run the simulation smoothly by directly setting the simulation period from 20150103-20150105, but if I stopped the simulation at 20150104, then restarted the simulation with the restart file of 20150104, the continued simulation failed with the restart file reading problem.

I tried to update GEO

[2022-03-15 03:51] wanghlin opened #1172 "[QUESTION] GEOS-Chem13.3.1: GFED4 vertical distribution of emissions"
When running the fullchem simulation, I found that the biomass burning emissions in the HEMCO_diagnostics results became double. I am not sure what might lead to this, can you offer me some help?

[2022-03-15 05:53] ssj94 opened #1173 "[BUG/ISSUE] Problem with downloading HEMCO files from WUSTL"
### What institution are you from?
University of Wollongong, Australia

### Description of the problem
I was trying to download HEMCO GFAS files from WUSTL (using the following URL "http://geoschemdata.wustl.edu/ExtData/HEMCO/GFAS/v2018-09/") into my working space. I used the following command to download the files,

[code]
However, it returned with an error message as shown below,

[code]

### De

[2022-03-15 08:50] YangZhenJiang11 commented on #1165
Thank you，it‘s works！

[2022-03-15 10:26] kimm1na opened #1174 "[QUESTION] small diagnostic value in CO2 simulation"

[2022-03-15 11:25] yantosca commented on #1173
Please see issue #1173 for a solution.

[2022-03-15 11:38] yantosca commented on #1171
Thanks for writing @lin02060757.  It looks like your restart file may be corrupted.  Can you open it with a netCDF file viewer such as ncview?  Or if you don't have ncview, you can use the `ncdump  -cts GEOSChem.Restart.20150104.nc` command to view the file contents.  If either of these don't work then it means that your file is corrupted.

[2022-03-15 12:05] yantosca commented on #1171
Can you also look at the boundary conditions file?  It looks like you may have some negative numbers in there:
[code]
I would also recommend configuring GEOS-Chem to use the debugging flags.  From your run directory:
[code]
and then rerun the gcclassic executable.  This will flag if you have any out-of-bounds errors or other issues.

Also, have you made any modifications to the source code, or are

[2022-03-15 12:08] wanghlin commented on #1172
Maybe there is a problem in the vertical distribution of biomass burning emissions. Because I didn't distribute 65% to PBL and 35% to FT, the total biomass burning emissions were correct. Here is the code that I have changed the distribution.
[hcox_gfed_mod.F90.txt](https://github.com/geoschem/geos-chem/files/8253056/hcox_gfed_mod.F90.txt)

[2022-03-15 13:20] msulprizio commented on #1037
For future reference...

Christoph Keller wrote:

[2022-03-15 14:02] lfreese commented on #824
I wasn't able to fully solve this, no! Would be great to bring this to the nested model community. The middle ghost cell does not return to the boundary condition value every 3 hours, while the other two ghost cells do. It doesn't make a large difference when you compare the output of a nested run to the global run (re-gridding the nested to a 4x5), but it still seems worth while to fix as this sh

[2022-03-15 17:19] bzhang419 commented on #1173
Hi, I had the same issue before, I fixed it by turning off wget robots.txt. See #1165

[2022-03-15 17:44] msulprizio commented on #1172
Also note that particular code in the GFED extension was added back in v11-02a (in early 2017), before HEMCO was separated out as a submodule in GEOS-Chem. It's likely that many structural changes have been made to that code, so I would not be surprised if that feature no longer works properly.

[2022-03-15 18:07] yantosca commented on #1173
Oops, sorry, I meant to type #1165, which is the solution by @bzhang419.

[2022-03-15 22:53] ssj94 commented on #1173
Thank you!. it is working now.

[2022-03-15 22:53] #1173 closed

[2022-03-16 01:05] #1174 closed

[2022-03-16 02:36] Holton1 commented on #1133
Hi Bob, thanks for following up this issue. I have resolved this issue. The error happens near the bound of my nested domain, so I slightly cut my nest domain and the error doesn't appear.

[2022-03-16 03:02] Holton1 opened #1175 "[BUG/ISSUE] (12.7.2) Invalid longitude subset values for collection "BoundaryConditions"!"
### Ask a question about GEOS-Chem:

Hi, I am using GEOS-Chem 12.7.2 global 2x2.5 simulation to output boundary condition fields. To save storage space, I set the boundarycondition domain to be northern hemisphere ([-180,180],[0,90]) in HISTORY.rc.

My setting in HISTORY.rc is:

[code]
The error report says:

[code]

I tried setting the boundary condition output domain to be smaller ([-180,-120],[

[2022-03-16 06:49] lin02060757 commented on #1171
I only inserted a few lines to print out the variables regarding to the pbl calculation.

I rerun the simulation with debug version, the error was as follow:

     - Found all CN     met fields for 2011/01/01 00:00
     - Found all A1     met fields for 2015/01/04 00:30
     - Found all A3cld  met fields for 2015/01/04 01:30
     - Found all A3dyn  met fields for 2015/01/04 01:30

Program received

[2022-03-16 14:06] #1133 closed

[2022-03-16 14:16] yantosca commented on #1175
Thanks for writing @Holton1. We issued a fix for this that went into 13.3.4.  See #1045 and #1047 for details.

[2022-03-16 21:18] yantosca commented on #1157
I have isolated the source of the differences to this DO loop in routine `WET_SETTLING` in `GeosCore/seasalt_mod.F90`.  It might be that we need to add an `!$OMP REDUCTION` for the summation. clause.  Will investigate further.

Offending DO loop:

https://github.com/geoschem/geos-chem/blob/04024de551f76bc2c7edda43e88f2b3eeaa62471/GeosCore/seasalt_mod.F90#L660-L693

[2022-03-16 21:22] Holton1 commented on #1175
Thanks Bob!

[2022-03-17 09:19] lixiao-bit opened #1176 "[QUESTION] the calculation of the gravitational velocity and gravitational deposition flux"
### Ask a question about GEOS-Chem:
Hi GC Team,

I have recently read subroutines like DEPVEL and DO_DRYDEP in drydep_mod.F90, which is used to calculate DryDepVel. According to [Zhang et al. 2001], the dry deposition velocity for aerosol should be calculated as Vd = Vg+ 1/(Va+Vs).  However, the code may ignore the gravitational velocity (Vg) and only calculate the second term (1/(Va+Vs)) in the e

[2022-03-17 13:41] #1175 closed

[2022-03-17 13:46] yantosca commented on #1176
Thanks for writing @lixiao-bit.  These are science questions and should be directed to the Emissions & Deposition working group.

[2022-03-17 22:01] msulprizio commented on #1145
Pull request #1177 now turns off SSA debromination using switches in HEMCO_Config.rc. I didn't think there was a need to include a switch in input.geos too because this update does not impact the GEOS-Chem source code. Including a switch in both input.geos and HEMCO_Config.rc would be redundant and may cause user confusion.

I ran a 1-month simulation to evaluate the impact of turning off SSA debr

[2022-03-17 22:27] msulprizio commented on #1139
The update described above has now been merged into `dev` and will be included in GEOS-Chem 13.4.0.

[2022-03-17 22:27] #1139 closed

[2022-03-17 22:28] msulprizio commented on #1132
This fix has now been implemented in 3e8166d and will be included in GEOS-Chem 13.4.0.

[2022-03-17 22:28] #1132 closed

[2022-03-17 22:29] msulprizio commented on #1115
Pull request #1123 has now been merged into `dev` and will be included in GEOS-Chem 13.4.0.

[2022-03-17 22:29] #1115 closed

[2022-03-17 22:30] msulprizio commented on #1131
This issue has been addressed by pull request #1151 and will be included in GEOS-Chem 13.4.0.

[2022-03-17 22:30] #1131 closed

[2022-03-18 01:49] shirleyxyliu opened #1179 "Invalid time index error encountered when HEMCO reads files"
Hi there, just writing to check if anyone has any insights about the following. We sccucessfully implemented TCEQ emission into HEMCO of GEOS-Chem 12.2.1, but error occurred when we implemented the same emission file into HEMCO of GEOS-Chem 12.8.1. The error suggested invalid time index in my emission file (below). I feel like somehow HEMCO does not recognize time variables in the emission file no

[2022-03-18 08:09] callazhao opened #1180 "[BUG/ISSUE]When I submit the job, there is an error in reading HEMCO, as follows"
### Description of the problem
Hi！When I submit the job, there is an error in reading HEMCO, as follows
![image](https://user-images.githubusercontent.com/101862285/158960528-500f9b4c-9a1d-420b-a30c-d5c19b6ceb08.png)
These are hemco.log and  log respectively interface.
But in the log file I found this problem and I won't solve it.
![image](https://user-images.githubusercontent.com/101862285/158961

[2022-03-18 11:05] jie0314ouc commented on #1137
Thanks @yantosca ！I redownloaded the file from http://geoschemdata.wustl.edu/ExtData/HEMCO/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc, but there was still  the same error information prompts here.
I wondered if there was something wrong with my environment variables?

[2022-03-18 13:10] yantosca commented on #1180
Thanks @callazhao for writing. This error means that there is a syntax error in your `HEMCO_Config.rc` file.  Maybe there are too many or too few entries on a given line.

Try to check your `HEMCO_Config.rc`against an "out-of-the-box" version (i.e. a `HEMCO_Config.rc` file from a newly-created run directory).  You should be able to isolate where the error is very quickly that way.

[2022-03-18 13:22] yantosca commented on #1137
I don't know what the issue is.  If you've downloaded the file (which was shown to be uncorrupted at WashU) and it still doesn't work then maybe it's an issue with your netCDF or Linux environment setup.  Regrettably, we cannot assist you with fixing issues that are local to your computer system.

Maybe try re-installing netCDF and the other required software libraries and see if that helps.

Sorr

[2022-03-18 14:20] LiHui94 opened #1181 "memory usuage problem when using GC13.3.0"
### Ask a question about GEOS-Chem:
when I ran GC13.3.0 with 8 cpus running in parallel on a single node, nearly 250GB of memory was used. Is this usage normal?
Besides, I wonder why there is no option for the following sector when I created my run directory with 13.3.0. It seems I can only choose fullchem?
     Choose chemistry domain:
     --------------------------------------------------------

[2022-03-18 15:06] lizziel commented on #1037
We now have data through Feb 2022 available and I will download future months as they become available. Extending the year range in HEMCO_Config.rc from 2020 to 2022 will be included in 13.4.

[2022-03-18 19:39] yantosca commented on #1037
This PR has now been merged into the 13.4.0 development stream.

[2022-03-20 00:08] LiHui94 opened #1184 "[BUG/ISSUE] Code stopped from DO_ERR_OUT (in module NcdfUtil/m_do_err_out.F90)"
### What institution are you from?
Tsinghua University.

### Description of the problem
In Nccr_Wr, cannot create:  OutputDir/GEOSChem.SpeciesConc.20190701_0000z.nc4
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Code stopped from DO_ERR_OUT (in module NcdfUtil/m_do_err_out.F90)
This is an error that was encountered in one of the netCDF I/O modules,
which indicates

[2022-03-20 07:30] callazhao commented on #1180
Thank you for your reply. I have managed to find errors and correct them. Your help is very useful to me. Thanks！

[2022-03-20 15:01] jie0314ouc opened #1185 "[BUG/ISSUE] Cannot find field with valid time stamp error"
### What institution are you from?
I am a graduate student in the school of environment, Ocean University of China.

### Description of the problem
When I run gcclassic, there are error information:
Cannot find field with valid time stamp in /home/zhangj/Geos-Chem/data/ExtData/GEOS_2x2.5/MERRA2/201           6/01/MERRA2.20160101.A1.2x25.nc4 - Cannot get field ALBEDO. Please check file name and tim

[2022-03-21 11:00] LiHui94 opened #1186 "[QUESTION]Question when compiling GCC13.3.4 with cMake"
### Ask a question about GEOS-Chem:
when I excute make -j during the compiling, this warning pop up:
ld: warning: libnetcdf.so.18, needed by /public/software/mathlib/netcdf/intel/4.7.4/lib/libnetcdff.so, may conflict with libnetcdf.so.15

and then when excute ./gcclassic >GC.log, error pop up:
./gcclassic: error while loading shared libraries: libnetcdf.so.15: cannot open shared object file: No su

[2022-03-21 18:50] eamarais opened #1187 "[FEATURE REQUEST] Code updates to save first boundary condition timestep"
I've applied minor edits to GEOS-Chem version 13.3.4 so that the filename of the first day of boundary conditions of a simulation is output at 00hh 00min and includes the full complement of outputs (8 3-hour instantaneous time steps rather than 7).

I've uploaded the git patch of these minor changes:
[fix_save_BCs.patch.zip](https://github.com/geoschem/geos-chem/files/8318381/fix_save_BCs.patch.zi

[2022-03-22 02:35] lin02060757 commented on #1171
@yantosca

Hi, Bob,

I reran a global simulation with 4x5 MERRA2 for the BC file. Then I ran an Asian-scale simulation with 0.25x0.315 GEOS-FP.
I met an error described as follows:

![image](https://user-images.githubusercontent.com/76841219/159395858-a6610e7a-2471-479f-8640-ed2f17d24800.png)

It seems the simulation can successfully run for the first two hours but crashed at the 3rd hour.

there

[2022-03-22 13:23] yantosca commented on #1171
From the error log it looks like there was a problem reading in the boundary conditions file:
[code]
The error happened at line 2478 of hco_utilities_gc_mod.F90, which is in this block of code:

https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/GeosCore/hco_utilities_gc_mod.F90#L2455-L2493

You can try to uncomment the debug print statements to see if you can get

[2022-03-22 14:49] lixiao-bit opened #1188 "[QUESTION] How to get concentration of H+ ion?"
### Ask a question about GEOS-Chem:
Hi GC Team,

I need to calculate the reaction rate of a chemical reaction in Tropchem.eqn, which requires the concentration of Hydrogen ion (H+). In the research result of Yu at el.(2017), in the AMAR model, the estimation of Hydrogen ion (H+) is based on EAIM II aerosol thermodynamical system. I look into the GC wiki website, GC approximately uses the ISORROPIA

[2022-03-22 15:12] yantosca commented on #1188
Thanks for writing @lixiao-bit.  You must be using one of the GEOS-Chem 12 versions.  In the more recent versions I believe we renamed `State_Chm%HplusSav` to `State_Chm%IsorropHplus` to reflect more accurately the nature of the quantity.

In either case, this diagnostic archives H+ in molal (mol/L of water) concentration.
[code]

[2022-03-23 04:52] lin02060757 commented on #1171
@yantosca
Hi bob,

(1) I tried to uncomment the debug print statements, but the recording lines wasn't found in the new GC.log (attached).

[GC.log.uncomment debug.txt](https://github.com/geoschem/geos-chem/files/8329781/GC.log.uncomment.debug.txt)

(2) I also tried to monitor the occupation situation of memory during the simulation, and for the whole running, the occupation was below 25%.

![imag

[2022-03-23 13:33] #1180 closed

[2022-03-23 13:45] msulprizio commented on #1145
@viral211 wrote:

This update has now been merged into `dev` and will be included in the 13.4.0. The official 1-month and 1-year benchmarks for that version will be resubmitted soon.

[2022-03-23 13:45] #1145 closed

[2022-03-23 20:28] yantosca commented on #1157
Remaining paralllelization issues have been solved with PR #1190.  We now obtain identical results regardless of the number of cores used.  We can close this issue now.

[2022-03-23 20:28] #1157 closed

[2022-03-23 20:29] yantosca commented on #1082
Remaining parallelization issues have been solved in PR #1190.

[2022-03-23 20:30] yantosca commented on #1103
Remaining parallelization issues have been solved in PR #1190.

[2022-03-23 20:45] yantosca commented on #1168
I will close out this issue as the solution is listed in #1020.

[2022-03-23 20:45] #1168 closed

[2022-03-24 14:40] flavioquadros opened #1191 "[BUG/ISSUE] 40-level GCClassic fullchem restart files are not up to date"
### What institution are you from?
Delft University of Technology - Faculty of Aerospace Engineering

### Description of the problem
The restart files [available](http://atmos.earth.rochester.edu/input/gc/ExtData/GCAP2_RESTARTS/) for fullchem simulations using GCAP 2.0 are missing some variables expected by the latest version of GEOS-Chem ([present in these restart files](http://geoschemdata.wustl

[2022-03-24 16:47] yantosca opened #1192 "[BUG/ISSUE] Missing oxidant fields for Hg simulation via KPP (and other issues)"
### What institution are you from?
GCST

### Description of the problem
I've noticed that some of the oxidant fields that are required for the new Hg simulation via KPP have not been added to the `HEMCO_Config.rc.Hg` template file.  Also, for some of these fields we do not have archived data yet.

The issues that I've found are:

1. In routine `Set_HcoPointers`, the code expects to read the `GLOBA

[2022-03-24 17:20] ltmurray commented on #1191
@yantosca, I'm not seeing newer restart files on the WUSTL or Harvard servers for GCClassic than GC_13.0.0.  This issue should impact all GCClassic users, not just GCAP2.

[2022-03-24 17:35] yantosca commented on #1191
@ltmurray @flavioquadros, the GC_13.0.0 indicates that those were from the 10-year benchmark done with 13.0.0.  Restarts for other more recent model versions are in the more recent vYYYY-MM folders.  For example, the 13.3.0 restart files are in http://geoschemdata.wustl.edu/ExtData/GEOSCHEM_RESTARTS/v2021-09/.

[2022-03-24 17:49] ltmurray commented on #1191
v2022-01 only contains GCHP restart files, which is presumably the version with acetylene et al.?

[2022-03-24 17:59] yantosca commented on #1191
This is a list of the restart file folder locations that the `download_data.py` script will pull from, if it makes it clearer.
``yml
restarts:
  root: GEOSCHEM_RESTARTS/
  aerosol:
    remote: v2021-09/GEOSChem.Restart.fullchem.20190101_0000z.nc4
    local: GEOSChem.Restart.20190101_0000z.nc4
  fullchem:
    remote: v2021-09/GEOSChem.Restart.fullchem.20190701_0000z.nc4
    local: GEOSChem.Restart.

[2022-03-24 18:01] yantosca commented on #1192
Also there is no entry in the `HEMCO_Config.rc.Hg` template file called `GLOBAL_RH`.
[code]

[2022-03-24 18:15] yantosca commented on #1192
Am wondering if we should just get RH from the State_Met object instead of reading it in from disk.

[2022-03-24 19:26] ltmurray commented on #1191
Okay, thanks — I didn't realize vYYYY-MM didn't update all restart files at the same time.

I've just vertically re-gridded and uploaded the restart files since GCAP2 launched to the Rochester server. @yantosca if the GCST could let me know when those get updated in the future, I can process at the same time.

@flavioquadros , please feel free to send me an email so I can add your project to the l

[2022-03-24 19:35] ltmurray commented on #1191
Also, it looks like download_data.yml needs to be modified for GCAP2 run directories to point to the correct restart files

[code]

[2022-03-24 21:16] yantosca commented on #1191
Thanks @ltmurray.  Will try to add that in as soon as I can.  I think we need to make 2 different yml files, one for GEOS, one for GCAP.

[2022-03-25 01:49] #1113 closed

[2022-03-25 12:54] viral211 commented on #1192
Hi @yantosca. The HEMCO_Config.rc file and the input data were also updated as part of the Hg chemistry updates. These updates have probably not been included in 13.4. You can find the necessary files here:  `/net/seasasfs02/srv/export/seasasfs02/share_root/vshah/Hg/rundirsNew` Please let me know when you have these in and I can test the simulation got any other missing items.

[2022-03-25 23:28] yantosca commented on #1192
Thanks @viral211.  I'll take a look at these as soon as I can.

[2022-03-26 07:29] yangning-code opened #1193 "[QUESTION] Modifying reaction rate for SOAP + OH"
### Ask a question about GEOS-Chem:
How to modify the rate of SOAP+OH reaction in simplified SOA mechanism in GEOS-Chem.13.3.2?

[2022-03-28 13:27] yantosca commented on #1193
Thanks for writing @yangning-code.  I think you would modify the SOAP lifetime in `GeosCore/carbon_mod.F90`:

https://github.com/geoschem/geos-chem/blob/9ab6931db5b556eafd0e002e9fd4fdbcbd5fbb44/GeosCore/carbon_mod.F90#L396-L410

This might also be a good question to ask the Aerosols Working Group.  Also tagging @eamarais.

[2022-03-28 15:01] arifein opened #1195 "[BUG/ISSUE] Running Hg simulation with inter-annually varying anthropogenic emissions"
### What institution are you from?
MIT

### Description of the problem
I am trying to run an Hg simulation with inter-annually varying anthropogenic emissions (e.g. 2014–2015 with varying emissions according to the Streets et al. 2019 inventory). If I submit a run for 2 years:

`Start YYYYMMDD, hhmmss  : 20140101 000000
End   YYYYMMDD, hhmmss  : 20151201 000000`

The second year of anthropogenic e

[2022-03-28 16:53] yantosca commented on #1195
Thanks for writing @arifein.  I am not sure the EmisMercury collection was ever validated.  In the new code that @viral211 sent us for inclusion into 13.4.0, we now save Hg diagnostics to the HEMCO_diagnostics file, which should be more accurate.

[2022-03-28 17:36] yantosca commented on #1192
See PR #1196

[2022-03-28 17:57] yantosca opened #1197 "[BUG/ISSUE] Parallel loop issue in Hg simulation (routine PartNox)"
## What institution are you from?
GCST

## Description of the problem
In this parallel loop in routine `PartNox`:

https://github.com/geoschem/geos-chem/blob/19dc8700c051fdc53bc50ed8048c54a9c8cc7a35/GeosCore/mercury_mod.F90#L1854-L1891

Variables `C_NOx` and `C_O3` are only defined in the IF block where it is sunlight, but are used outside of it.  This can cause incorrect values of these variables

[2022-03-28 18:30] cdholmes commented on #1192
Thanks for fixing these things. In case you haven't already done it, I support using RH from state_met.

[2022-03-29 06:10] lin02060757 commented on #1171
Hi,

I have resolved the problem of reading both the BC files and the restart files.

For BC files, I originally set up the BC file reading according to the official guide, but actually, the modification should be made to change the hour field from 0-23 to * in the HEMCO_Config.rc for BC reading [https://github.com/geoschem/geos-chem/issues/248](url). And the hourly BC files were required in my si