[2021-07-26 22:13] LukeFakes commented on #791
Thanks @yantosca, I'm trying the same run now with the appropriate restart and will see if that works.

[2021-07-27 01:04] Alex-Fang66 commented on #786
@yantosca Hi, Could you tell me what to do next?  I really have no idea how to deal with it right now.

[2021-07-27 04:19] clearsky112 opened #792 "geos-chem 13.1.2 netcdf I/O (new user)"
**### Description of the problem**

I am a new user.
1. I downloaded the code from https://github.com/geoschem/GCClassic
   git clone https://github.com/geoschem/GCClassic.git GCClassic.13
2. In the GCClassic.13 folder
    went to ./run and used createRunDir.sh to create a run directory
3. In the run directory
    run cmake commands and first had issue:

[100%] Linking Fortran executable ../bin/gc

[2021-07-27 04:22] #792 closed

[2021-07-27 04:25] clearsky112 opened #793 "[BUG/ISSUE] GEOS-Chem 13.1.2 netcdf I/O problem (new user)"
**### Description of the problem**

I am a new user.
1. I downloaded the code from https://github.com/geoschem/GCClassic
   git clone https://github.com/geoschem/GCClassic.git GCClassic.13
2. In the GCClassic.13 folder
    went to ./run and used createRunDir.sh to create a run directory
3. In the run directory
    run cmake commands and first had issue:
[code]
I used the netcdf4+hdf5. I thought it

[2021-07-27 06:40] LukeFakes commented on #791
Hi @yantosca, a clean restart with [this file](http://ftp.as.harvard.edu/gcgrid/geos-chem/10yr_benchmarks/13.0.0/GCClassic/restarts/GEOSChem.Restart.20160101_0000z.nc4) fails with the same wet dep error.

[2021-07-27 07:47] Alex-Fang66 commented on #793
You can try to re-download the nc file of "/HEMCO/XIAO/v2014-09/C3H8_C2H6_ngas.geos.1x1.nc", and replace the old one.

[2021-07-27 11:34] mje1398 commented on #791
I don't think this is a restart file problem. Looking at the log file it is falling over at the top of the stratosphere?

[2021-07-27 13:20] yantosca commented on #786
@Alex-Fang66, here's what you should try:

  - Start with a fresh "out-of-the-box" version of GEOS-Chem, see if that compiles and runs.
  - Add one change at a time (i.e. turn on MEIC) and then re-run
  - Repeat until you find the change that caused the issue

[2021-07-27 13:24] yantosca commented on #793
Thanks for writing @clearsky112.  I think you are using a netCDF version, which does not have the HDF5 library installed.  That is why you are getting that error.

I would ask your sysadmin if there is a netCDF-4 version with HDF5 on your system.  If not, you can install one with Spack by following these instructions in Issue #637.

[2021-07-27 14:16] LiamBindle opened #794 "[BUG/ISSUE] LUO_WETDEP doesn't work regardless of build configuration setting"
@msulprizio reported:

[2021-07-27 14:38] Alex-Fang66 commented on #786
@yantosca Thank you, I will try soon!

[2021-07-27 14:55] rgryan92 opened #795 "[BUG/ISSUE] Lightning flash Rate_save unit conversion issue in HEMCO hcox_lightnox_mod.F90"
In hcox_lightnox_mod.F90, line 447, the lightning flash rate term RATE_SAVE should be calculated by conversion from flashes/km2/s to flashes/km2/min. Lines 446-447 read

[code]

I think it should be divided by 60 to convert from /s to /min.#

The result does not transfer to the lightning flash rate used in lightning NOx calculations but does mean that the lightning flash rate output by HEMCO diagn

[2021-07-27 15:16] ltmurray commented on #795
This is correct, and a hold-over from when lightning was calculated online within the model, instead of prescribed as a meteorological field. I have created a pull request with a fix.

[2021-07-27 15:17] ltmurray commented on #795
@yantosca can you move this ticket over to HEMCO?

[2021-07-27 15:19] rgryan92 commented on #795
Thanks @ltmurray

[2021-07-27 17:01] tscarter opened #796 "[BUG/ISSUE] Planeflight concentration output has weird/inconsistent units"
### Description of the problem/Description of troubleshooting performed
In looking at planeflight diagnostic output, the concentration output seems to be in different units (e.g., ppm, ppb, ppt) for different species, and I cannot tell a pattern for those differences. For example, in these files, ISOP appears a factor of 1E6 too small and MTPA a factor of 1E3 too small. The runs are fully spun up,

[2021-07-27 17:10] clearsky112 commented on #793
Thank you!
1. I tried to re-download/replace the nc file but it didn't work
2. I tried the netcdf -4 with HDF5, but can't compile the model. It shows errors as below:
 /opt/ohpc/pub/utils/intelv18.0.3.222/mmb35wrf/lib/libnetcdf.a(libnetcdf4_la-error4.o): In function `nc_log_hdf5':
error4.c:(.text+0x153): undefined reference to `H5Eprint1'
/opt/ohpc/pub/utils/intelv18.0.3.222/mmb35wrf/lib/libnetcdf

[2021-07-27 20:01] clearsky112 commented on #793
I solved this issue, although i don't know whether it's the best way.
I added *hdf5 libs paths to */build/src/CMakeFiles/gcclassic.dir/link.txt  and the model is compiled (with netcdf-4+hdf5)

[2021-07-27 20:27] yantosca commented on #796
Thanks for writing @tscarter.  You can attach a log file by dragging & dropping, but you have to make sure it's renamed to e.g. plane.log.txt.  Then Github will understand it.

[2021-07-27 20:30] tscarter commented on #796
Got it. Thanks! Here it is.

[plane.log copy.20190923.txt](https://github.com/geoschem/geos-chem/files/6888547/plane.log.copy.20190923.txt)

[2021-07-28 12:23] Alex-Fang66 opened #798 "Error about AFCID when running nested simulation"
### Description of the problem
I created a clean run_dir (05x0625 nested of AS) and didn't change anything except file path and simulation time, which I don't think it would make any influence on simulation. However, I soon encountered an error and once I closed AFCID, the error disappeared. The error is shown below.
![sub message](https://user-images.githubusercontent.com/65645232/127319521-c923e

[2021-07-28 13:11] lizziel commented on #781
Hmm, if -11.0 - 0.0 and 0.0 - 55.0 both finished to completion, but -11.0 to 55.0 did not, how about trying a smaller range that also straddles the latitude, such as -5.0 - 5.0? Also, have you checked the HEMCO log file?

[2021-07-28 13:34] lizziel commented on #754
Hi @aschuh, let us know what you find. For now I will keep this issue open in case anyone in the community sees it and wants to weigh in. @sdeastham, do you have any insight into this question?

[2021-07-28 13:38] sdeastham commented on #754
Hi all - unfortunately convection is not my strength, so I can't say anything definitive on this front. I have the same gut feeling as @aschuh but don't have any rigorous data or logic to back it up.

[2021-07-28 14:38] aschuh commented on #754
We can close this issue for now.  I tested by scaling with 1.5X and 3X the CMFMC and DTRAIN fields being read in.  Changes the overall tracer distributions very little and has no effect on mass.  I may continue to explore this issue w/ doing things like redistributing the convective mass fluxes through the column to make sure it still conserves mass but we'll move this discussion to an upcoming tr

[2021-07-28 14:38] #754 closed

[2021-07-28 18:43] lizziel commented on #798
Hi @Alex-Fang66, could you provide the full configuration and log files for your run? You can add '.txt' to the filename and then drag and drop into the comment box on this page. Files to include are input.geos, HEMCO_Config.rc, HEMCO.log, the and GEOS-Chem standard output log.

[2021-07-28 20:42] #746 closed

[2021-07-28 20:42] #753 closed

[2021-07-29 01:08] Alex-Fang66 commented on #798
@lizziel Sure, thanks a lot for relying.
[input_geos.txt](https://github.com/geoschem/geos-chem/files/6897228/input_geos.txt)
[HEMCO_Config.txt](https://github.com/geoschem/geos-chem/files/6897229/HEMCO_Config.txt)
[GC.txt](https://github.com/geoschem/geos-chem/files/6897230/GC.txt)
[HEMCO_log.txt](https://github.com/geoschem/geos-chem/files/6897231/HEMCO_log.txt)

[2021-07-29 14:33] msulprizio commented on #746
Hi @Shuto-kop. Sorry for the lack of response. Do you still need help with these questions? If so, I can reopen and respond to each point.

[2021-07-29 15:18] bsuther commented on #231
Hello, I am wondering if anyone ever figured out a solution to this other than switching the compiler? I am working with our system admin to get a different compiler on our system, but if there is a different solution which allows you to use ifort 17.0.1 and not get this error I would love to hear it. For  reference I am getting this error when I run GEOS-Chem version 13.1.0 with boundary conditio

[2021-07-29 20:00] lizziel commented on #788
I was able to reproduce this issue, also reported in https://github.com/geoschem/geos-chem/issues/798. I'll investigate and report back what I find. It indeed seems to be a bug.

[2021-07-29 20:01] dylanbm opened #800 "[BUG/ISSUE] Collection times for HISTORY.rc"
There appears to be a glitch in the calculation of the simulation time for HISTORY.rc when doing a full-year simulation. I have a 1-year simulation starting at 20160801 and ending at 20170801. The 'Metrics' collection of HISTORY.rc is set to output at the end (as is the default).

However the simulation stops with a "no diagnostic output will be created" error (pasted below). The simulation length

[2021-07-29 21:42] yantosca opened #801 "[BUG/ISSUE] Planeflight bug: Code stops before converting altitude to pressure"
In routine `READ_POINTS` (in module `GeosCore/planeflight_mod.F90`), there seems to be a misplaced call to `GEOS_CHEM_STOP` at line 1111:
https://github.com/geoschem/geos-chem/blob/9b92b79614e308f61aa3afa0ec27944ad12b997d/GeosCore/planeflight_mod.F90#L1057-L1126

I think the `GEOS_CHEM_STOP`  should be placed above the `ENDIF`.  Otherwise the simulation will stop abruptly with no warning before an

[2021-07-29 21:58] yantosca commented on #796
Hi @tscarter, I so I made a simple Planeflight.dat for testing with the same location that you used.  I used a different date (since that is what my restart file was for), as the date might not matter if there is a units issue.
[code]
So I specified ISOP by name and by TRA_121, and MTPA by name and by TRA_146.  My plane.log file looked like this:
[code]

The species by name are in molec/cm3:
[code

[2021-07-29 22:05] yantosca commented on #796
Also I think there have been some recent updates to the planeflight diagnostic but at this point we have been relying on the community to submit scientific updates, as we aren't using it ourselves.  See commits: 6e14981f56ea105e32e00faed255f72f27644a13, 0727622b7e7f32bf022f27806661812c48a56543, a61579079007848373e41cf7c5f223e50d96c5c0, and 7b1c6183f8294641a9fba853e10d763640a1d478.

Also, you can t

[2021-07-29 22:09] yantosca commented on #796
A couple more things:
  1. It's 'State_Chm%Spc_Units` that has the units of the species.
  2. In planeflight, I printed this out and got: `### State_Chm%Species units: kg/kg dry`

So the species units are now mass mixing ratio rather than molar mixing ratio.  That may explain the weird units

[2021-07-30 01:59] jinlx opened #802 "[QUESTION] HEMCO standalone"
Hi there, I am trying to use hmco sa to output biomass burning emissions from 20180701-201801001. After setting up everything, HEMCO sa v13 runs smoothly with ifort compiler in the first few days but it stops due to error encountered in routine HCOIO_Read_Std. The error information is provided below. I am not sure how to solve the but. Ift would be great if you could provide some insights on it.

[2021-07-30 05:19] yangxiajie opened #803 "[QUESTION]Hwo to fix an INTEGRATE RETURNED ERROR?"
In GEOS-Chem 12.9.3, an `INTEGRATE RETURNED ERROR` occured when I run a nested model:

[code]

Is there any way to fix that error?

[2021-07-30 08:28] r-pound commented on #732
I've been able to replicate this issue in version 13.1.0 with the model built with chemistry only in the troposphere (Tropchem OH average of ~4x10^5). Rebuilding the model with chemistry in troposphere and stratosphere (Standard OH average of ~10x10^5) resolves this so it does appear to be a Tropchem only issue

[2021-07-30 08:37] mje1398 commented on #732
@yantosca It would seem to me that we should pull TropChem? From what I remember it's no faster than standard and creates a problem as we don't benchmark it? If that's the case I don't really see an advantage to it?

[2021-07-30 12:24] dylanbm commented on #762
Hi @mattloman and all - did you end up sorting this out? I'm seeing the same thing in 13.1.1 with GEOS-FP at 4x5 in 08/2016 and wondering if a cause & solution was found. Thanks!

[2021-07-30 13:13] mje1398 commented on #732
Thanks @yantosca. Perhaps we should remove the option to generate tropchem via the rundirectory as it doesn't work?

[2021-07-30 13:38] yantosca commented on #801
This issue is now fixed with commit bab45d4b9af72a790c26dc623551dfcd7e868a9e.  This will ship with patch version 13.2.1.

[2021-07-30 13:38] #801 closed

[2021-07-30 14:34] Alex-Fang66 commented on #798
Thanks a lot!  I am looking forward it.

[2021-07-30 14:44] jimmielin opened #804 "[QUESTION] Change in definition of Jval_O3O3P and Jval_O3O1D in 13.0.0"
### Ask a question about GEOS-Chem:

Hi all,

When comparing J-values for `O3` between GEOS-Chem Classic, CESM2-GC and CAM-chem, @fritzt and I noticed that the reference values in the 1-yr benchmarks for GEOS-Chem Classic versions 12.9.0 and 13.0.0 are different by 3-4 orders of magnitude:

* **12.9.0** Page 117, 118: http://ftp.as.harvard.edu/gcgrid/geos-chem/1yr_benchmarks/12.9.0/FullChem/GCC/Pl

[2021-07-30 15:00] Twize commented on #732
Glad to know that the issue is reproducible and wasn't only occurring on my end! Thus far, I have switched over to the trop + strat chem version of the model and have not had any issues since in my simulations.

[2021-07-30 15:02] yantosca commented on #796
This issue should now be fixed with commit 2e588964472489aa5addb6ae8679011365bedd01.  This will ship as version 13.2.1 (but you can grab this right now  from the `patch/13.2.1 branch, which is based off of `main`).

With the unit conversions to v/v dry corrected, we now get:
[code]
RO2, AN, and NOy concentrations look pretty good.  The ISOP and MTPA are low (~4000 molec/cm3) but this might be true

[2021-07-30 15:10] mje1398 commented on #732
Glad you've found a solution. I'm thinking that we should just ditch the tropchem version as I don't think its being very useful.

[2021-07-30 15:19] yantosca opened #805 "[DISCUSSION] Implement a GEOS-Chem code of conduct?"
At a recent meeting on Diversity, Inclusion, and Belonging (DIB) at Harvard, one of the questions that came out of the discussion was "Should GEOS-Chem have a publicly displayed code of conduct?".

Many open-source software packages and atmospheric models (such as CESM) have a code of conduct document on their Github repos stating that bullying and other forms of harassment will not be tolerated o

[2021-07-30 15:20] msulprizio commented on #732
About a year ago, the GCST tried to push for retiring the tropchem simulation. The GCSC agreed that we should have a single chemical mechanism but decided they wanted to keep the option for a reduced chemistry grid (see the [GCSC meeting minutes with that discussion here](http://acmg.seas.harvard.edu/geos/word_pdf_docs/steering_cmte/gc_sc_minutes_27May2020.pdf)). With that said, the tropchem simul

[2021-07-30 15:33] djxjacob commented on #805
I don't feel strongly about this. It seems to be targeting a non-issue, so why bother? But if others think it's important then I have no objection

[2021-07-30 15:33] Twize opened #806 "[BUG/ISSUE] GFAS biomass burning emissions not working in version 13.1.1"
### Description of the problem
When switching on GFAS biomass burning emissions in version 13.1.1, no emissions are actually being injected into the model. GFED v4 appears to work fine and is injecting emissions correctly.

### Description of troubleshooting performed
To confirm the issue, I have looked at the HEMCO biomass burning emissions diagnostics, and do not see any emissions at all when us

[2021-07-30 15:42] mje1398 commented on #732
Hi @msulprizio,

that’s great. From what I remember there was no time penalty for standard vs tropchem? I which case I can’t see a reason for keeping it?

mat

[2021-07-30 16:09] msulprizio commented on #732
This was the breakdown of timing by component when I ran 1-month benchmarks for the standard (72 and 47 level) and tropchem (47 level) chemical mechanisms in GEOS-Chem 12.8.0:
<img width="598" alt="Screen Shot 2021-07-30 at 12 09 17 PM" src="https://user-images.githubusercontent.com/4805437/127681183-e4db6f36-6bdd-4410-917a-8903e0b01b5b.png">

[2021-07-30 16:40] msulprizio commented on #806
Hi @Twize. It looks like you may need to modify your HEMCO_Diagn.rc to properly output the biomass burning emissions. In that file by default, we have:

[code]

where `111` corresponds to the GFED extensions number. The extension number for GFAS emissions is `0` (i.e. base emissions). You can determine this from the number in the first column of the GFAS entries in HEMCO_Config.rc:

[code]

Try ch

[2021-07-30 16:57] yantosca commented on #798
@Alex-Fang66 @lizziel, I have pushed a fix for this issue to commit 419831b62e2544bcfae268989216810fced62fe1.  The problem was in this line of code in `GeosUtil/gc_grid_mod.F90`:
[code]
The problem is that the `State_Grid%GlobalXedge` array should be using the `IG` index, which is the global grid index, instead of `I`, which is the cropped grid index.  So you can change this line in your code to:

[2021-07-30 16:59] yantosca commented on #788
@olivian13 , please see [this comment(https://github.com/geoschem/geos-chem/issues/798#issuecomment-890026756) at issue #798 for the solution.

[2021-07-30 17:00] yantosca commented on #798
Also noting that this is the same issue described in #788

[2021-07-30 17:03] yantosca commented on #786
This appears to be a duplicate of #788

[2021-07-30 17:05] yantosca commented on #781
@dorosieun: Please see [this comment](https://github.com/geoschem/geos-chem/issues/798#issuecomment-890026756) in issue #788 for a possible solution.  A recent modification for the GCAP2 met fields introduced a side-effect that corrupted the nested-grid cropped grid definition.

[2021-07-30 18:18] msulprizio commented on #804
This difference was also noted in the [1-month benchmark assessment form for 13.0.0](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_13.0.0#Benchmark_assessment_form). From the additional notes in that form:

[2021-07-30 18:21] msulprizio commented on #804
I am still looking into the order of magnitude difference between the two versions.

[2021-07-30 19:28] msulprizio commented on #804
I compared the log files for the 12.9.0 and 13.0.0 benchmarks to check the FAST-JX output that prints there. The output is identical between the two versions, indicating there appears to be no change to the mapping of species or reactions that would impact the J-value diagnostic output.

I suspect much of the difference may be resulting from the [updates introduced in 13.0.0](http://wiki.seas.harv

[2021-07-30 19:32] yantosca opened #807 "[FEATURE REQUEST] Update HEMCO sample BC data for 13.2.0; Re-enable nested grid integration tests"
The current HEMCO sample boundary condition file (in the `HEMCO/SAMPLE_BCs/v2020-03/tropchem/` folder) was insufficient for running short test simulations (such as integration tests).  A new file compatible with GEOS-Chem 13.2.0 has been made available in the path `HEMCO/SAMPLE_BCs/v2021-07/fullchem`.

I have pushed commit 660c1e97ed225f1e4826768c00bd0be6dae87047, in which:

  1. The GEOS-Chem "Cl

[2021-07-30 19:32] msulprizio commented on #765
The output is the same whether you set unit to kg or kgN.

That is to be expected. We removed automatic unit conversions where possible. Fluxes in HEMCO are now in kg species/m2/s throughout. We encourage users to convert units via post-processing instead.

[2021-07-30 19:32] yantosca commented on #807
I will close this issue as this work has already been done.  But this will show up in the milestone as a task completed.

[2021-07-30 19:32] #807 closed

[2021-07-30 19:34] yantosca commented on #798
I've confirmed that the fix mentioned above now allows nested-grid simulations to proceed without encountering the AFCID regridding error.  I will close this issue now.  Thanks for bringing it up @Alex-Fang66.

[2021-07-30 19:34] #798 closed

[2021-07-30 19:41] yantosca commented on #788
I have confirmed that the fix mentioned above is able to get past the error in the nested-grid simulation.  I will close out this issue.  The fix is available in our `patch/13.2.1` branch at this repository.  This will ship with version 13.2.1 (which will be issued simultaneously with 13.2.0, once 13.2.0 passes benchmarking).   Thanks again for bringing this to our attention!

[2021-07-30 19:41] #788 closed

[2021-07-30 19:43] yantosca commented on #793
Thanks @clearsky112.  You shouldn't have to modify the CMakeFiles.  You can try adding the path to hdf5 libraries to your `LD_LIBRARY_PATH` environment variable.  Also, if your system uses the `module load` command, you might have to do something like
[code]
etc.  You can ask your sysadmin for more information.

I'll close out this issue for now.  Feel free to reopen if you still have any problems

[2021-07-30 19:43] #793 closed

[2021-07-30 19:45] yantosca commented on #786
The fix that I described in #798 allowed me to run a nested-grid AS simulation to completion.  Therefore I will close out this issue.  Feel free to reach out again if you are still having problems.

[2021-07-30 19:45] #786 closed

[2021-07-30 19:46] yantosca commented on #802
Thanks @jinlx.  Would you be able to attach the full log file, as well as the HEMCO_sa_*.rc files to this issue?  We can take a look.

[2021-07-30 20:01] jinlx commented on #802
Here you are! The config and diagn files are provided as well. Thanks for taking a look at this issue! I appreciate it!

**Config and Diagn from GC classic**
[HEMCO_Diagn.rc.txt](https://github.com/geoschem/geos-chem/files/6909770/HEMCO_Diagn.rc.txt)
[HEMCO_Config.rc.txt](https://github.com/geoschem/geos-chem/files/6909769/HEMCO_Config.rc.txt)

**HEMCO files from hmco sa**
[HEMCO_sa_Time.rc.txt](h

[2021-07-30 22:06] yantosca commented on #800
Thanks for reporting this issue @dylanbm.  I've pushed commit 8192c7793a18948b46369ef99da235bcf461abf7 to the `patch/13.2.1` branch, which should fix this issue.  The problem was that the FileWriteAlarm and FileCloseAlarm were being incremented by 366 days.  Even though 2016 is a leap year, the alarm interval should be 365 days, because the start date of 20160801 is after March 1st (when we are pa

[2021-07-30 22:06] #800 closed

[2021-07-30 22:12] yantosca commented on #763
I've pushed a update that I believe will fix this issue.  See [this comment](https://github.com/geoschem/geos-chem/issues/800#issuecomment-890193839) on issue #800.

I will close out this issue.  The fix will ship in version 13.2.1, which will be released immediately after 13.2.0 (once it clears benchmarking).

[2021-07-30 22:12] #763 closed

[2021-07-30 22:13] yantosca commented on #800
Now that I have had a chance to look into this, I believe this issue and the one reported in #763 will be fixed by commit 8192c7793a18948b46369ef99da235bcf461abf7.  So I've tagged this as a duplicate of #763.

[2021-07-30 22:22] #805 closed

[2021-07-31 03:35] yangxiajie commented on #803
[Files.zip](https://github.com/geoschem/geos-chem/files/6910608/Files.zip)
Hi @yantosca , Thank you for reply.

I upload these files already. I also checked the min & max concentrations of the data you mentioned above, but I cannot find the problem.

[2021-07-31 15:41] Alex-Fang66 opened #808 "[QUESTION] Low load_avg of SGE"
Hi, I allocated 32 cpus for the simulations, but the load_avg is low. As is shown below, the all.q@compute-0-1.local and all.q@compute-0-10.local are for  global 2x25 simulations and the all.q@compute-0-2.local and all.q@compute-0-3.local are for nested simulations of AS.
![qstat](https://user-images.githubusercontent.com/65645232/127744907-0fdbe795-b01a-40ba-950b-864ea2819185.jpg)
![qhost](https:

[2021-08-02 06:04] dorosieun commented on #781
Thank you @lizziel.
I have already checked the HEMCO log file and tried a smaller but latitude-crossing range, and the two have no problems.
My conclusion is that the memory problem seems to be right.
-5 to 45 range were possible, but not -11 to 55.

[2021-08-02 09:11] kilicomu commented on #806
@msulprizio If this turns out to be an issue with the prepped emissions, drop me a line!

[2021-08-02 14:42] tscarter commented on #796
Thanks for all this follow up, Bob! The site is a tower in the Amazon, so I
would not really expect biogenics to be low...

On Fri, Jul 30, 2021 at 11:02 AM Bob Yantosca ***@***.***>
wrote:

[2021-08-02 18:40] mattloman commented on #762
@dylanbm I wasn't able to figure out for sure what was causing the high radius - I switched restart files and stopped encountering the issue.

[2021-08-02 22:13] LiamBindle commented on #758
Hi all. Quick update on this issue.

https://geoschemdata.computecanada.ca should be back to normal. It's limited to 80 Mbps egress, so slowness is still possible depending on how many people are trying to access it. Let us know if it's bad for a couple days in a row---it's possible it's getting spammed by bots and we need to ban some IPs.

https://geoschemdata.wustl.edu is live but we're still wo

[2021-08-03 07:51] dorosieun opened #809 "[BUG/ISSUE] nested run with Luo et al(2019) wet deposition"
### Description of the problem
I tried to run a nested model with the settings below.
![스크린샷 2021-08-03 오후 4 29 46](https://user-images.githubusercontent.com/87462290/127975558-53b6b11b-20a2-4ad0-8379-adc3c97d5ee4.png)
I turned on Luo et al.(2019) wet deposition option at compile step.(as you can see below)
![스크린샷 2021-08-03 오후 4 31 03](https://user-images.githubusercontent.com/874

[2021-08-03 14:57] Twize commented on #806
Thanks @msulprizio, I will give that a try. However, I don't think it's only an issue with the diagnostics in this particular case. I am currently looking at comparisons with a ground-based FTIR in the Arctic, and it seems that when using GFAS, there is no influence of the wildfires on the CO total columns (see the plots below):

Simulation using GFAS:
![GC_v13_CO_raw_total_columns_EUR_2017(GFAS)]

[2021-08-03 16:15] msulprizio commented on #806
I noticed from your GEOS-Chem log file the GFAS emissions for January 2017 seem to be read repeatedly, regardless of the simulation month:

[code]

Could you check your data directories to ensure you have the files beyond 2017/01 downloaded? It may be that HEMCO can't find the files for later dates, so it uses the closest date available.

If that's not the culprit, I would recommend setting Verbos

[2021-08-03 16:20] msulprizio commented on #547
Daniel Jacob wrote:

Barron Henderson responded:

[2021-08-03 17:11] Twize commented on #806
Hi @msulprizio, good catch! I did not notice this previously. I checked on our servers and it does in fact look like only the January 2017 GFAS file is downloaded (not entirely sure why). This is likely the cause of the issue since there are probably no biomass burning emissions in the NH during January, I will download the full set GFAS files and re-run a couple months to confirm.

[2021-08-03 18:26] msulprizio commented on #787
I'm going to close this issue for now, but please feel free to reply here with additional questions and we will reopen. You may also choose to open a new issue.

[2021-08-03 18:26] #787 closed

[2021-08-03 18:28] #759 closed

[2021-08-03 18:30] msulprizio commented on #748
@LiamBindle @YanshunLi-washu Is this still an issue or has the problem been resolved?

[2021-08-03 18:39] YanshunLi-washu commented on #748
@msulprizio Hi Melissa, we're still working on that. There will be results later this week. Please keep it opened for another while. Thank you

[2021-08-03 19:06] msulprizio commented on #783
@zsx-GitHub Were you able to address your scaling concerns?

Some other resources to check out include:

- [HEMCO User's Guide: Build-in tools for scaling/masking](http://wiki.seas.harvard.edu/geos-chem/index.php/The_HEMCO_User%27s_Guide#Built-in_tools_for_scaling.2Fmasking)
- [Applying scale factors to non-emissions data](http://wiki.seas.harvard.edu/geos-chem/index.php/HEMCO_examples#Applying_sc

[2021-08-03 19:07] msulprizio commented on #806
Great! I will close this issue for now, but please feel free to follow up here with the results or if any issues persist.

[2021-08-03 19:07] #806 closed

[2021-08-04 15:22] yantosca commented on #808
Thanks for writing @Alex-Fang66.  I see your CPU architecture is AMD.  Can you remind me if you are using GNU or Intel compilers?  As it turns out, you will never get great performance with Intel compilers on an AMD chipset, because the Intel compiler does not take advantage of AMD-based chip optimizations.  This is because Intel wanted to drive AMD out of the market about 20 years ago.

We would

[2021-08-04 15:35] yantosca opened #810 "[BUG/ISSUE] State_Diag%JvalO3O1D and State_Diag%JvalO3O3P were not getting zeroed in flexchem_mod.F90"
This issue came out of the discussion in #804.

Lizzie Lundgren wrote:

[2021-08-04 15:35] yantosca commented on #810
In commit 5cb62c8f5dd21a465b30878360be45c565f1a074, we now have added the following code to make sure all relevant diagnostic arrays are zeroed in `flexchem_mod.f90`.
[code]
This update has been added to the `patch/13.2.1` branch.  It will ship in version 13.2.1, which will be issued immediately after the  13.2.0 release.

NOTE: This fix does not resolve the issue of why these diagnostics may be l

[2021-08-04 16:35] #755 closed

[2021-08-04 19:06] yantosca opened #811 "[BUG/ISSUE] Nested-grid integration tests fail"
A recent set of GEOS-Chem Classic integration tests showed the following results:

[code]

[2021-08-04 19:15] yantosca commented on #811
The solutions were as follows:

  1. The nested-grid CH4 integration tests failed because there was no sample boundary conditions file for the CH4 simulation in the new `HEMCO/SAMPLE_BCs/v2021-07/` path.  We have created a new sample boundary conditions file and have uploaded it to `HEMCO/SAMPLE_BCs/v2021-07/CH4` folder in the HEMCO directory tree.  This update (commit e5dd66097208fb393237299e2410

[2021-08-04 19:15] #811 closed

[2021-08-04 21:05] yantosca commented on #809
Thanks for writing @dorosieun.  The Luo et al 2019 wet deposition is kept as an option, but it was never really adopted because there were some issues with it scientifically.  We would recommend that you take GEOS-Chem 13.2.1 once it is released, which will contain the Luo et al 2020 wetdep scheme.  This will address some of the outstanding issues with the Luo et al 2019 wetdep scheme.

[2021-08-04 21:08] yantosca commented on #809
Also it could be that the error you are seeing is due to default background concentrations (~1e-20) being used when e.g. SALAAL is not found in the restart file.

It could also be an out-of-bounds error.  Have you tried configuring GEOS-Chem with `-DCMAKE_BUILD_TYPE=Debug' and recompiling?  That might trap additional errors.

[2021-08-04 21:10] yantosca commented on #804
Also note we have fixed an issue (described in #810) where the diagnostic arrays for JvalO3O1D and JvalO3O3P were not getting zeroed at the start of each new chemistry timestep.  This might not explain all of the differences observed in the outputs between 13.x and 12.x versions.

[2021-08-04 21:11] yantosca commented on #782
I am going to close out this issue for now.  Please let us know if you have any further questions.

[2021-08-04 21:11] #782 closed

[2021-08-04 21:18] yantosca commented on #768
@mirajnaik, were you able to solve this issue?

[2021-08-05 00:37] dorosieun commented on #809
Thanks @yantosca. I already tried configuring GEOS-Chem with '-DCMAKE_BUILD_TYPE=Debug' and recompiling. But there is nothing different in log file.
Would it be different from 'Turn on debug printout? : T' in input.geos file?

[2021-08-05 01:35] Alex-Fang66 commented on #808
Thanks for replying @yantosca. I am using gfortran. It is worth mentioning that when I use 64 cores to occupy an entire node, the utilization will be improved. However, when using 32 cores, computing resources are not fully utilized I suppose.

[2021-08-05 01:56] BownsC commented on #782
I'm really grateful for your reply which have solved my question successfully ,meanwhile,i want to make an apology for  i didn't reply your answer as soon as possible,because there was something wrong with my internet and then I forgot about it.Think you and best wish to you

[2021-08-05 07:31] dorosieun commented on #809
I found the difference of code between v13.0.0 and before one(v12.8.0).
at v12.8.0 DO_TEND module in GeosCore/mixing_mod.F90 code :
![스크린샷 2021-08-05 오후 4 28 21](https://user-images.githubusercontent.com/87462290/128309540-9a0e4c25-ac86-4ffc-b989-58a3acc56d75.png)

at v13.0.0 DO_TEND module in GeosCore/mixing_mod.F90 code :
![스크린샷 2021-08-05 오후 4 29 06](https://user-images.githubus

[2021-08-05 07:54] #781 closed

[2021-08-05 13:38] yantosca commented on #808
Thanks for the feedback @Alex-Fang66.  The utilization issue would be something to run by your sysadmins.  It could be that when you request an entire node you get better performance because there aren't any other competing jobs on the same node.

[2021-08-05 13:45] yantosca commented on #809
@dorosieun, thanks for the feedback.  We put in an error to stop the run to make sure that people would be aware of the issue,

If it helps, you can reset the negatives to zero.  But first, try to reduce the transport timestep from 300 seconds to 150 and see if that fixes the issue.

[2021-08-05 15:08] yantosca commented on #796
@tscarter, thanks for following up.  My run was only for 1 hour so this could be an initialization issue.  Have you tried again with the unit conversion fixes?

[2021-08-05 15:11] tscarter commented on #796
That would make sense. I haven't yet tried with the unit conversion fixes
but will get back to you when I have.

On Thu, Aug 5, 2021 at 11:08 AM Bob Yantosca ***@***.***>
wrote:

[2021-08-05 15:14] yantosca commented on #796
Thanks @tscarter.  Have a hunch that if you use a well-spun up restart file then it should be OK.  But let us know when you get to it.

[2021-08-05 18:13] yantosca commented on #744
I have just updated the ObsPack wiki page noting that the `time` variable is always the center of the observing window.  See this link: http://wiki.geos-chem.org/ObsPack_diagnostic#Input_file_format

[2021-08-05 18:13] #744 closed

[2021-08-05 18:21] yantosca commented on #631
This has now been updated as noted in #744.  See:

http://wiki.seas.harvard.edu/geos-chem/index.php/ObsPack_diagnostic#Input_file_format

[2021-08-05 20:38] yantosca commented on #714
I've re-enabled the nested-grid integration tests.  This was made possible by creating new sample boundary condition files as described in #811.

[2021-08-05 20:41] yantosca commented on #791
@msulprizio and I were wondering if the UCX P/L files that are used in the stratosphere when UCX=off may be too out of date for the currrent simulation.  One thing to do is to try using the GMI strat data files.

[2021-08-05 20:47] yantosca commented on #807
Also see #811, where we have created new sample boundary conditions to allow nested-grid integration tests to proceed.

[2021-08-06 01:36] Alex-Fang66 commented on #808
Thank you!

[2021-08-06 01:36] #808 closed

[2021-08-06 08:35] dorosieun commented on #781
Thanks @yantosca for your kind and speedy advice.
I asked a person who knows cluster well and checked available memory on my system. I think it is impossible to get more memory.
I think I have to reduce the domain to run the nested model.

[2021-08-06 13:55] dorosieun commented on #809
Thanks @yantosca. I did as you told me(reduce the transport timestep) and the part where the error occurred went over(it works). But can we say that the result is the same even if the time step changes?

[2021-08-06 16:51] zichongchen commented on #178
Thanks Bob, this saved my day! And I assume this is only an issue for a quarter resolution runs?  And FYI, I also read others who post this problem, it seems that error always happens on the day of 12/27.  --Zichong

[2021-08-06 18:46] zichongchen commented on #178
@yantosca Sounds great and thanks for letting me know.

[2021-08-06 18:51] #762 closed

[2021-08-06 19:41] yantosca opened #812 "[FEATURE REQUEST] Update download_data.py script to more easily update data mirrors & other settings"
The `download_data.py` script that is placed into each newly-created GEOS-Chem run directory uses hardcoded python code to select the data mirror sites (e.g. AWS, ComputeCanada, U. Rochester), as well as to define the default restart file names.

It would be desirable to separate this hardwiring from the `download_data.py` script.  This way, in case a data mirror site is deactivated, we will not h

[2021-08-06 19:46] yantosca commented on #812
I have pushed commit fa5919c0c36862d88ec995cea87f126323816141 which does the following:

  1. Global configurable settings (such as the data mirror parameters and the default restart file names) are placed into a YAML file.  See: [download_data.yml](https://github.com/geoschem/geos-chem/blob/patch/13.2.1/run/shared/download_data.yml).  Note that we have also defined a new data mirror: http://geosc

[2021-08-06 19:46] #812 closed

[2021-08-09 00:23] dorosieun commented on #809
Thanks @yantosca. I had similar problem when I ran with MERRA2 0.5x0.625 Met Field from 20200101 to 20200301. And it solved with a smaller timestep you said.
Additionally, I did the model run with the same setting but from 20200701 to 20200901. There is no such problem.
I guess it only happens for the winter season.

[2021-08-09 08:44] yangxiajie opened #815 "[QUESTION]Relationship between SO4 and SO4D1 - SO4D4 in Aciduptake Mechanisms"
There are multiple tracers of sulfate in  `SpeciesConc` from acid uptake mechanisms (SO4, SO4D1, .SO4D2, ..). Introduction from wiki  gave full names of them. However, I wonder if there is a quantitative relationship between them (e.g. SO4 = SO4D1 + SO4D2 + ...). If I want to calculate the concentration of aerosol sulfate in the simulated region, should I choose SO4 or SO4+SO4D1+SO4D2+... ?

[2021-08-09 13:43] dylanbm commented on #762
Hi Bob: I'm not sure that's right since I'm using a 2016 restart from the
2010-2019 GEOS-Chem 13.0.0 10-year full-chemistry benchmark.

On Fri, Aug 6, 2021 at 1:51 PM Bob Yantosca ***@***.***>
wrote:

--
_________________________________________
Dylan Millet
Distinguished McKnight University Professor
University of Minnesota | www.atmoschem.umn.edu

[2021-08-09 14:39] yantosca commented on #815
Thanks for writing @yangxiajie.  I think the SO4D1.. SO4D4 is sulfate taken up on dust aerosol.   I would defer to the Aerosols Working Group, who may be able to give you better information than I can.

@theloniuspunk @beckyalexander

[2021-08-10 12:04] theloniuspunk commented on #815
I would guess this as well. Becky may know better.

On Mon, Aug 9, 2021, 10:39 AM Bob Yantosca ***@***.***> wrote:

[2021-08-10 18:19] msulprizio commented on #560
See PR https://github.com/geoschem/geos-chem/pull/813 submitted by @michael-s-long

[2021-08-10 18:24] yantosca commented on #809
Thanks @dorosieun for the feedback.

Also take a look at https://github.com/geoschem/geos-chem/issues/798#issuecomment-890026756.  There was a typo that caused nested-grid simulations to sometimes have weird behavior (probably due to an out-of-bound error).  This will be fixed in GEOS-Chem 13.2.1.

[2021-08-10 19:55] debatoshpartha opened #818 "[QUESTION] Unit of Chemical Species in GEOS-Chem Code 12.6.3"
Hi, I am trying to get the species concentration of Benzene, Toluene, Xylene from a global simulation for the year 2015 that used GEOS-Chem code v12.6.3. The issue I'm running into is the unit of these chemical species which is specified as "mol/mol dry" in each netcdf output files. I'm trying to know if the mixing ratios of these hydrocarbons are processed in the code as their carbon equivalency

[2021-08-10 21:34] yantosca commented on #809
I will close out this issue for now. Please let us know if you are still having problems.

[2021-08-10 21:34] #809 closed

[2021-08-12 13:50] yantosca opened #819 "[BUG/ISSUE] Cannot access geoschemdata.computecanada.ca from China"
Xugeng Chang wrote:

[2021-08-12 13:53] yantosca commented on #819
Thanks for writing.  You can also try to download data from the new WashU data server (https://geoschemdata.wustl.edu), which should have all the same data as ComputeCanada.

In fact, we are migrating away from the ComputeCanada server to WashU.  Right now both servers are active, but in the future ComputeCanada may be deactivated.

Also, if your institution uses Globus file transfer, there is a G

[2021-08-12 13:57] yantosca commented on #819
This is related to issues #758 and #819.  I think the ultimate solution is to use the WashU server instead of ComputeCanada.

[2021-08-12 16:43] msulprizio opened #820 "[BUG/ISSUE] Bug in implementation of LUO_WETDEP option in 13.2.0-beta.1"
Following the benchmarking of [GEOS-Chem 13.2.0](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_13.2.0) with the [Luo et al. (2020)](https://gmd.copernicus.org/articles/13/2879/2020/) wet deposition scheme, Gan Luo noticed a bug in the code. @ganluoasrc wrote:

[code]

[2021-08-12 16:44] msulprizio commented on #820
We will fix this and resubmit the 13.2.0 full-chemistry and transport tracer benchmarks with the `LUO_WETDEP` option enabled. The version with this fix will be tagged with `13.2.0-beta.2`.

[2021-08-13 13:37] lfreese commented on #771
@xiaoyu-ss @yantosca Is there a solution to this issue? We are coming across the same problem when running the nested grid over North America, with extremely high values on the edges of runs. I use v12.9.3, but a labmate using 13.1.1 is also facing the same problems. I'm attaching images of our ozone below. The first is April, May 2016 with 12.9.3 and the second is March 2013.
<img width="809" alt

[2021-08-13 17:18] map06 opened #821 "[BUG/ISSUE] Infinity in DO_CLOUD_CONVECTION! while running tagged ozone simulation."
### Description of the problem

I am running GEOS-Chem tagged simulation in 4 by 5 degree resolution on cloud. But, whenever I run it, I get `Infinity in DO_CLOUD_CONVECTION! ` error.

### Description of troubleshooting performed

I checked issue #275  and #402. But, both of them seem to be related to nested grid and not for tagged simulation.
Also, when I turned off transport, there is not any er

[2021-08-15 01:10] cbutenhoff opened #822 "pmix option in SLURM run script"
In the sample SLURM run script provided in the GCHP distribution,  _simple_batch_job.slurm.sh_, srun is used with the option _--mpi-pmix_ to execute GCHP:

 `srun` -n 60 -N 2 -m plane=30 --mpi=pmix ./gchp   # launch 60 GCHP processes

It appears however the SLURM version on our cluster was not built with the pmix plugin as I get this error when I use this srun line in my run script:

`+ srun -m pl

[2021-08-15 15:24] tscarter commented on #796
Yes, can confirm that this looks fine on my end. Thanks for your help!

On Thu, Aug 5, 2021 at 11:14 AM Bob Yantosca ***@***.***>
wrote:

[2021-08-16 05:58] cbutenhoff opened #823 "error running GCHP at resolution c24"
### Description of the problem
In testing my build of GCHP 13.1.2 I am able to run the default full chemistry standard simulation at C48, i.e. the job completes successfully and writes the output netCDF files,  but when I change the resolution to C24 the job fails after reading in the restart file. I'll add the entire output log below but here are some snippets:

[code]

[code]
I ran the C24 job e

[2021-08-16 19:35] yantosca commented on #796
Thank you Tess!  Will close out this issue.

[2021-08-16 19:35] #796 closed

[2021-08-17 00:09] lfreese opened #824 "[BUG/ISSUE] Buffer zone cells in nested grid not properly re-adjusting to boundary conditions"
### Description of the problem
The buffer zone cells of GEOS-Chem should adjust every three hours to match the value of the boundary conditions in the cell (from the GC wiki: "In any case, the tracer concentrations in the “buffer zone” will get overwritten by the 2° x 2.5° or 4° x 5° boundary conditions at the specified time (usually every 3h)"). I am finding that this is not happening, and instea

[2021-08-17 14:46] yantosca commented on #824
Thanks for writing @lfreese.  There was a similar issue reported in #700.  The fix for that was to change the time cycle flag for boundary conditions to "CRE".  Let us know if that works in your case.

[2021-08-17 14:49] yantosca commented on #824
Oops, instead of "CRE", try "EFY".  My bad.  The "EY" flag only reads once but "EFY" will keep reading.

The behavior of the time-cycle flags was updated in 13.1.0, I believe.

[2021-08-17 15:05] yantosca commented on #824
Just to confirm, in the 13.1.* and later versions, the time flags are now:
[code]

[2021-08-17 15:13] lizziel commented on #823
Hi @cbutenhoff, this is definitely curious. We have not run into this on our end. Have you tried plotting your C24 restart file to see if it is corrupt?

[2021-08-17 15:14] lizziel commented on #823
I should also mention we have not tried using ESMF 8.1.1 yet but are still using 8.1.0. However, as you stated, if it worked for C48 and C90 there isn't really reason it wouldn't work for C24.

[2021-08-17 16:58] lfreese commented on #824
Thank you! I'll switch to the 'EFY' and check that it works properly.

[2021-08-17 16:59] lfreese commented on #824
It might be worth updating this wiki page: http://wiki.seas.harvard.edu/geos-chem/index.php/Setting_up_GEOS-Chem_nested_grid_simulations to show 'EFY' as well

[2021-08-17 17:43] cbutenhoff commented on #823
Thanks for the suggestion to check the restart file. It was indeed corrupt, something must have happened during download. The C24 run now works fine.

[2021-08-17 18:40] bsuther opened #825 "Outputting monthly restart files"
Hello,
Can you tell me how to make it output restart files at the start of each month during a longer simulation? I used to get it to do that by changing the "Restart.frequency:          'End',"  to   "Restart.frequency:          00000001 000000," as described [here](https://github.com/geoschem/geos-chem/issues/310) however, since I updated to version 13.1.0 it no longer seems to be working. I see

[2021-08-17 19:00] yantosca commented on #824
Thanks @lfreese.  That page is a bit stale.  We are in the process of moving the GC manual to geos-chem.readthedocs.io as time allows.  I will update the wiki page in the meantime.

[2021-08-17 19:17] lizziel commented on #823
Okay, great. I'll close out this issue.

[2021-08-17 19:17] #823 closed

[2021-08-17 19:24] lizziel commented on #825
Hi @bsuther, as far as I know the frequency functionality for the Restart collection should still work with GEOS-Chem Classic using the format you specific. Doing the same thing for GCHP is not possible, though the behavior can be achieved starting in 13.1 by specifying exact dates to output. Since this issue is about GC-Classic, and that hack is for GCHP only, I won't go into more specifics about

[2021-08-18 02:27] yangning-code opened #826 "[BUG/ISSUE]"
### Description of the problem
When I use GEOS-Chem.12.0.0 to read CO2 in QFED, I cannot read it into the model.

### Description of troubleshooting performed
Default

### GEOS-Chem version
GEOS-Chem.12.0.0

### Description of modifications
Default

### Log files
- Build log (if applicable):attachment-lastbuild
- Run logs (if applicable):attachment-input_logs_1701
- Run script (if applicable):atta

[2021-08-18 18:50] lizziel commented on #825
Hi @bsuther, I have not been able to replicate this issue with our benchmark simulation in 13.1. Could you give more specifics on your test, including your `input.geos`, `HISTORY.rc,` and run log files? If you append `.txt` to the end of the filenames you can drag and drop them into the comment box.

[2021-08-18 19:52] bsuther commented on #825
Hi @lizziel thank you for working on this. Attached are the files. It did create one Restart File, but not at the time I expected (GEOSChem.Restart.20140101_0010z.nc4).
[HISTORY.rc.txt](https://github.com/geoschem/geos-chem/files/7009609/HISTORY.rc.txt)
[input.geos.txt](https://github.com/geoschem/geos-chem/files/7009610/input.geos.txt)
[GC.log](https://github.com/geoschem/geos-chem/files/7009611/

[2021-08-18 19:57] yantosca commented on #775
Note that you should now be able to download data from https://geoschemdata.wustl.edu.  If you have Globus, there is an endpoint called "GEOS-Chem data (WashU)" on that server.  That should be faster than ComputeCanada.

I will close out this issue for now.  Let us know if you are still having issues.

[2021-08-18 19:57] #775 closed

[2021-08-19 10:38] XugengCheng opened #828 "Modifying regions in tagged O3 simulations[QUESTION]"
### Ask a question about GEOS-Chem: I was planning on making a sort of 'tagged' O3 run. If the masks are not square regions, can I create a netCDF file with the various areas, and apply it in the HEMCO_Config.rc input file instead of having to hardwire it in the code?

[2021-08-19 13:39] yantosca commented on #828
Thanks for writing @XugengCheng.  The tagged O3 simulation is supported by the GEOS-Chem community, and I believe there hasn't been much interest in making the masks available via HEMCO.  We would appreciate input from the GEOS-Chem community.

For now, it is probably simpler and faster to hardcode your new regions into the code.  Due to other priorities, the GEOS-Chem Support Team cannot commit t

[2021-08-19 14:04] lizziel commented on #825
I think I see your problem. Your Restart collection frequency is set to daily but your duration is still End. This means you will output daily Restart data but to one file only. If you change duration to match frequency then you will get one time per file.

I tested out the case similar to your run to see whap would happen, using a 3-hr run with Restart frequency set to 1-hr and duration set to En

[2021-08-19 14:18] yantosca commented on #826
Thanks for writing.  I was able to replicate your issue.  I believe it is because CO2 is not an advected species (i.e. in the standard simulation, CO2 is not in the `ADVECTED SPECIES MENU` in input.geos.  You could try adding CO2 to this menu if you wish to get emissions output data.

[2021-08-19 14:44] yantosca commented on #825
@bsuther @lizziel, I can push a fix for this into the patch/13.2.1 branch, which will ship with 13.2.1.  It will be very easy to force an error if freqeuncy & duration don't match for the Restart collection.

[2021-08-19 15:54] yantosca commented on #825
I have pushed commit 7648b19a605cda15be1e35942a0522f30fa46014 that will resolve this issue.  This will ship with 13.2.1.

NOTE: if you set, e.g.
[code]
then you will get an error message such as this, because the duration (1 day) doesn't match the frequency (3 hrs).
[code]
But if you set these:
[code]
in input.geos:
   Start YYYYMMDD, hhmmss  : 20190101 000000
   End   YYYYMMDD, hhmmss  : 20190102

[2021-08-19 15:58] yantosca commented on #825
I can close out this issue now.  We are currently waiting for 13.2.0 to pass benchmarks, then 13.2.1 will be released immediately afterwards.

[2021-08-19 15:58] #825 closed

[2021-08-19 16:04] bsuther commented on #825
I made the suggested changes to HISTORY.rc and it is working as I expected now. Thank you both for your help!

[2021-08-19 18:39] msulprizio commented on #820
This is now resolved in commit https://github.com/geoschem/geos-chem/commit/3d82b3a6ad2dcb0843e752616f7f761820a1a1aa (currently in `dev`)

[2021-08-19 18:39] #820 closed

[2021-08-19 19:39] yantosca commented on #821
Thanks for writing @map06.  Have you tried building GEOS-Chem with the debug flags (`-DCMAKE_BUILD_TYPE=Debug`)?  That might reveal further errors.

[2021-08-20 00:53] febfly commented on #775
Thanks Bob! That's really good to know.

[2021-08-20 11:57] map06 commented on #821
@yantosca  Thank you for your reply. I think I understand now what's the problem. The unit of `Prod_Ox` and `Loss_Ox` that I obtained from the full chemistry simulation has units `kg/s`.
[code]
But `tagged_o3_mod.F90` states
[code]

So the units of production and loss values  must be in `kg/m3/s` and `1/m3/s`. I tried the older production and loss values that was available in the server, and the m

[2021-08-20 16:25] msulprizio opened #829 "[DISCUSSION] Timing of nested-grid simulations"
Colette Heald wrote:

Ishir Dutta wrote:

![nested-timed-1-month](https://user-images.githubusercontent.com/4805437/130264015-d906fd01-7e11-4bd2-be1b-d07d56c185fc.png)

![gc-classic-13 1 1-nested-timed](https://user-images.githubusercontent.com/4805437/130264196-d2bd9086-82cd-4b67-b98d-83de6eb66986.jpg)

[2021-08-20 16:47] msulprizio commented on #829
Here are some tips for speeding up nested grid simulations:

1. By default, nested grid simulations read in global high-resolution meteorology fields to allow for domains over any region. The file I/O for the large files can slow down simulations, so we recommend cropping the met fields to your region when possible and updating the file paths in HEMCO_Config.rc to read those files instead. The fil

[2021-08-23 03:55] yangning-code commented on #826
Thank you very mcuch. I tried the way you said. The problem was solved.

[2021-08-23 08:36] LukeFakes opened #830 "Abort nested grid runs when boundary condition files aren't found/read.[FEATURE REQUEST]"
When trying to run v13.1.2 nested grid simulations with boundary conditions from a 4x5 global run, the simulations failed at the first timestep in wet deposition. e.g:

[code]
Looking at the log file, this was due to problems with the boundary conditions files. Similar issues were addressed in [788](https://github.com/geoschem/geos-chem/issues/788) and fixed by commit [419831b](https://github.com/

[2021-08-23 14:33] lizziel opened #831 "[FEATURE REQUEST] Allow easy disabling of all emissions"
In GEOS-Chem 13 there is a toggle in `HEMCO_Config.rc` to turn off emissions separate from meteorology and chemistry inputs read through HEMCO. The setting to turn emissions on/off in `input.geos` is retired. When the emissions toggle is set to `False` in full chemistry simulations, however, the model crashes because it can't find volcano files. I think this is because the toggle excludes online e

[2021-08-23 17:50] msulprizio opened #833 "[FEATURE REQUEST] 2020 Volcano Emissions"
@chfite wrote:

[2021-08-23 17:51] msulprizio commented on #833
@christophkeller wrote:

[2021-08-23 17:53] msulprizio commented on #833
Thanks @christophkeller! We can update the volcano emissions up through May 2020 in GEOS-Chem 13.2.0.

In addition, we will be adding a climatology option soon as discussed in https://github.com/geoschem/geos-chem/issues/500.

[2021-08-23 18:01] christophkeller commented on #833
Sounds good! In the tar file that I shared there are daily files up to Jan 1, 2022. The data after May 2020 is just the degassing climatology, which is probably what you would want to use for a climatology? There is also an explicit climatology file (degassing only) in the tar file, named `so2_volcanic_emissions_CARN_v202005.degassing_only.rc`

[2021-08-23 21:38] msulprizio opened #849 "[FEATURE REQUEST] Create and test a benchmark workflow on AWS for GEOS-Chem Classic and GCHP"
Resources on Harvard's Cannon Cluster are not always reliable and are subject to the activity of other user groups. To avoid delays in running benchmark simulations, we should have a benchmark workflow on AWS to easily get GEOS-Chem Classic and GCHP benchmark simulations running there.

The setup would involve evaluating differences in model performance and model output when running benchmarks on

[2021-08-24 07:12] yangning-code opened #836 "[QUESTION]"
### Ask a question about GEOS-Chem:
How do I convert the CH2O with the unit atomsC/cm2/s in the HEMCO_diagnostics.201804260000.nc to the unit g

[2021-08-24 10:39] djxjacob commented on #836
The GEOS-Chem Support Team does not have time to answer basic chemistry questions like this.

[2021-08-24 13:12] #836 closed

[2021-08-24 13:58] eamarais commented on #350
Hi @lizziel, I have a clarification question about RRTMG. I'm using GEOS-Chem version 12.9.3 (though the RRTMG code is the same in 13.0.2). In rrtmg_rad_transfer_mod.F90, there are the following 2 lines in the subroutine do_rrtmg_rad_transfer:

!N.B. STRAT CH4 NOT CURRENTLY INCLUDED IN THE DRE OF CH4
!N.B. STRAT O3  NOT CURRENTLY INCLUDED IN THE DRE OF O3

My impression is that DRE calculations fo

[2021-08-24 14:28] lfreese commented on #829
I've been facing similar issues:
Runs with v12.6.1 took about 2 weeks to run 15 months of simulations with 32 CPUs
Runs with v12.9.3 took about 2 months to run 18 months of simulations with 32 CPUs
I'm currently running v13.1.2 and am getting similarly slower times as with 12.9.3. I am turning on the timers to get some output and see if it is similar to the above.

I am also transitioning to using

[2021-08-24 15:38] yantosca commented on #829
Thanks @msulprizio and @lfreese.  I did a quick CH4 NA simulation and noticed that we were getting these warnings:
[code]
This means that we are getting array temporaries created under the hood.  This means that the code has to make a copy of the data, then pass it to the subroutine, then destroy the copy of the data.  That usually happens when slices of arrays are passed instead of the entire arr

[2021-08-24 15:43] yantosca commented on #829
Also these lines (687-697) and line 822 in tpcore_window_mod.F90

https://github.com/geoschem/geos-chem/blob/bc9873924a613fe8395b2359ab2ce75d1eb80b0d/GeosCore/tpcore_window_mod.F90#L681-L698

https://github.com/geoschem/geos-chem/blob/bc9873924a613fe8395b2359ab2ce75d1eb80b0d/GeosCore/tpcore_window_mod.F90#L814-L824

[2021-08-24 15:45] yantosca commented on #829
@lfreese, which compiler are you using?

[2021-08-24 17:24] lizziel commented on #350
Hi @eamarais, I checked the git history and those lines were added by Dave Ridley back in 2015 for version 10-01i. I am not sure if they are relevant anymore. We can certainly remove them if they are not accurate. Perhaps check in with @sdeastham or other recent RRTMG users for clarification, or look in the DRE calculation files? If there are any bugs please create a GitHub issue for it.

[2021-08-24 17:27] sdeastham commented on #350
Hi both - I think that those 2 lines are copied erroneously. They are correct _if_ `LUCX=.FALSE.`, but when `LUCX=.TRUE.` stratospheric CH4 and O3 should be included (just looking at the code as written).

[2021-08-24 18:12] lizziel commented on #350
It appears twice in Dave's original code update, both with and without UCX defined (back when we had a CPP switch for this):
@@ -540,6 +547,38 @@
[code]

However, I know this doesn't clarify anything other than this has been there for a long time.

[2021-08-24 19:10] eamarais commented on #350
Thanks @lizziel and @sdeastham. Perhaps worth removing these lines in the next version to avoid confusion? I'm confident from scrolling through the code and with my print statements that the stratospheric component of the column is included in the RRTMG calculations.

[2021-08-24 21:05] lizziel commented on #350
Will do. Thanks for reporting this.

[2021-08-25 02:19] dorosieun opened #837 "[BUG/ISSUE] latitude center and edge mix up at 13.1.2"
### Description of the problem
I tried running nested model run and I found something wrong in the log file.

longitude grid>

![스크린샷 2021-08-25 오후 12 06 14](https://user-images.githubusercontent.com/87462290/130720009-dddc3aa2-1b6e-47a9-9f2e-01ad301ee769.png)

latitude grid>

![스크린샷 2021-08-25 오후 12 06 26](https://user-images.githubusercontent.com/87462290/130720017-e614572d-9541-

[2021-08-25 05:06] dorosieun commented on #837
`    !======================================================================
    ! Global Horizontal Grid
    !======================================================================
    DO J = 1, State_Grid%GlobalNY
    DO I = 1, State_Grid%GlobalNX

      IF ( J == 1 ) THEN
         State_Grid%GlobalYEdge(I,J) = -90.0
      ELSE
         IF ( State_Grid%HalfPolar ) THEN
            State_Grid%Glo

[2021-08-25 07:24] jennyfisher commented on #666
Hi @lizziel - thanks for updating us about this work at GCSC, exciting! I'm just wondering whether the code will still use those external text files to define cross sections & quantum yields, or whether that will get embedded in the code in some form?

If those files will change, one thing we might want to think about is the way they are currently done, which is kind of a mismash. Some species hav

[2021-08-25 10:44] yangning-code opened #838 "[BUG/ISSUE] Reading QFED emissions POG1/POG2 in GEOS-Chem 12.0.0"
### Description of the problem
In this module geosfp_2x25_complexSOA_SVPOA, when I used the biomass burnning QFED emission source, since there are no two species of OCPI and OCPO in input.geos, these two species were replaced by POG1 and POG2, resulting in no OC being read in QFED. When I modify the corresponding OCPI and OCPO in HEMCO_Config.rc to POG1 and POG2, I can read the OC in QFED, then wh

[2021-08-25 12:27] sdeastham commented on #666
@jennyfisher - that inconsistency has been bugging me for years! Two thoughts:
1. The file structure is taken directly from Fast-JX, so (in order to facilitate future updates to Fast-JX) it would be helpful to keep the file structure as-is; and
2. Agreed that it would be great to see a more consistent approach taken with regards to the cross sections and quantum yields! If we do improve it, I'd su

[2021-08-25 13:39] msulprizio opened #839 "[FEATURE REQUEST] Retire tropchem option"
As originally reported in https://github.com/geoschem/geos-chem/issues/732, the tropchem simulation in GEOS-Chem 13.0.0 - 13.1.2 is problematic. The issue seems to arise from the several uses of IF statements for the UCX option throughout the code and may be more of a science issue than a bug within the code. Previous timing tests have showed similar timing between GEOS-Chem standard simulations (

[2021-08-25 13:51] eamarais opened #840 "[QUESTION] iord_bg and jord_bg values defined in tpcore_window_mod.F90"
I've been digging into an issue of negative advected tracer concentrations when I run a nested grid simulation over India. These occur at the boundaries of the nested domain. I tried adjusting the number of buffer cells from 3 to 6, but this didn't address the issue. Changing the domain seems to get around this issue, but doesn't fix it.

Something I have noticed is that in tpcore_window_mod.F90,

[2021-08-25 19:38] viral211 opened #841 "[BUG] Typo in fullchem.eqn in KPP/fullchem"
There is a typo in the following reactions in fullchem.eqn:
https://github.com/geoschem/geos-chem/blob/d7baeb8fe51a66914408e9d1f655dd062bd5d4df/KPP/fullchem/fullchem.eqn#L1358-L1360
The product in these reactions should be HNO2, instead of HNO3 (cf. Table 2, Reaction R7 in [Wang et al. 2019](https://acp.copernicus.org/articles/19/3981/2019/acp-19-3981-2019.pdf)). Xuan Wang confirms and says that t

[2021-08-25 22:00] jinlx opened #843 "In NcGet_Var_Attr_C: cannot read attribute : units"
Hi there,
I am trying to implement FINNv2.4 into GC. However, it seems that GC is not able to read attributes of processed FINN data. The error information I got is provided below.
[code]
If you ncdump -h the data, it would show format below. I wonder what kind of format of attributes I need to make the netcdf file readable in GC.
[code]
The HEMCO_Config.rc file I used to read in data is provided.

[2021-08-26 08:53] dorosieun opened #844 "[QUESTION] question about stratospheric chemistry"
### Ask a question about GEOS-Chem:
Hi :>
I have a simple question.
I set chemistry menu of input.geos file below.

![스크린샷 2021-08-26 오후 5 47 19](https://user-images.githubusercontent.com/87462290/130932078-286f524d-83c0-485a-b6ed-4fd303764e40.png)

Does it mean that the species at the stratosphere are calculated by using UCX except ozone?
As far as I understand, stratospheric ozone is cal

[2021-08-26 15:15] sdeastham opened #845 "[BUG/ISSUE] Error in ExtData.rc vertical scale factors"
It looks like there's a typo in the vertical scale factors - I see this states `v2020-05`, but the files are actually `v2021-05`:

https://github.com/geoschem/geos-chem/blob/d7baeb8fe51a66914408e9d1f655dd062bd5d4df/run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem#L1954-L1956

[2021-08-26 16:25] #845 closed, assigned to msulprizio

[2021-08-26 17:27] #843 closed, assigned to yantosca

[2021-08-27 01:54] #844 closed, assigned to msulprizio

[2021-08-30 02:15] jennyfisher opened #847 "[BUG/ISSUE] Bug fix to LAnthroHgOnly in mercury simulation"
### Description of the problem
In the mercury code, the logical flag LAnthroHgOnly should set all natural (non-anthropogenic) emissions to zero, but is currently missing the code to zero geogenic emission. Note that some of the natural emissions for mercury are not exclusively dealt with in HEMCO, so while the flag probably isn't best practice it is still somewhat useful for now and we should make

[2021-08-30 07:56] jennyfisher commented on #847
Addition: Harriet is using v13.0.2

[2021-08-30 23:09] jennyfisher commented on #847
Embarrassingly I don't really know how to do that - especially as I don't have an updated version of the standard code at the moment (I'm just helping out on this in my capacity as Hg-POPS WG co-chair). I was hoping that since it's just a one-line change (and doesn't impact the standard simulations) it would be easy for someone on GCST to handle it.

Thanks,
Jenny

[2021-08-31 14:17] yantosca commented on #847
Thanks Jenny.  I've added the line to the code, as it is a one-liner.  Please see commit 9580101a582418c502526064e83a5f9055a46ac1.  This will ship with version 13.2.1

The reason we prefer pull requests is because it allows us to do a code review before merging, and we can assign it to a Github milestone for documentation.  Also in this case, the code block in question was not at my line 1488 but

[2021-08-31 14:17] #847 closed

[2021-08-31 14:34] yantosca commented on #837
I will close this issue as 13.2.1 will be released soon.  Thanks for bringing this to our attention!

[2021-08-31 14:34] #837 closed

[2021-08-31 14:57] yantosca commented on #840
Thanks for bringing this to our attention @eamarais.  It does appear to be legacy code.  I looked into the Git history but could not find where this change was made.

I've pushed commit a43cbadfd3ce3c3e20fca8fad6dd326f7867b09d, which sets `iord_bg = iord` and 'jord_bg = jord`.  This will go into version 13.2.1.

[2021-08-31 14:57] #840 closed

[2021-08-31 15:02] dxy8413 opened #848 "[QUESTION] Is SOAGX considered as biogenic secondary organic aerosol (BSOA)?"
### Ask a question about GEOS-Chem:
Does SOAGX considered as biogenic secondary organic aerosol (BSOA)? It seems the variable "TotalBiogenicOA" is the sum of "AerMassTSOA", "AerMassSOAIE", "AerMassSOAGX", and "AerMassLVOCOA". But in urban areas SOAGX may be mostly from aromatics.

Thanks for the time and help!

[2021-08-31 15:11] djxjacob commented on #848
Hi dxy8413 - this is a science question, not a software/code question. Please contact the Aerosol WG chairs.  Thanks

[2021-08-31 16:17] #83 closed

[2021-08-31 16:18] #168 closed

[2021-08-31 16:18] #197 closed

[2021-08-31 16:19] #363 closed

[2021-08-31 16:19] #377 closed

[2021-08-31 16:20] #458 closed

[2021-08-31 16:21] #533 closed

[2021-08-31 16:21] #534 closed

[2021-08-31 16:21] #535 closed

[2021-08-31 16:22] #536 closed

[2021-08-31 16:22] #537 closed

[2021-08-31 16:22] #538 closed

[2021-08-31 16:23] #539 closed

[2021-08-31 16:23] yantosca commented on #768
Going to close this issue due to a lack of activity.  Feel free to open a new issue if you are still having problems.

[2021-08-31 16:23] #768 closed

[2021-08-31 16:23] #540 closed

[2021-08-31 16:23] #541 closed

[2021-08-31 16:24] #542 closed

[2021-08-31 16:24] #594 closed

[2021-08-31 16:25] #614 closed

[2021-08-31 16:25] #637 closed

[2021-08-31 16:26] #642 closed

[2021-08-31 16:26] #679 closed

[2021-08-31 16:26] #731 closed

[2021-08-31 16:27] #723 closed

[2021-08-31 16:27] #567 closed

[2021-08-31 16:28] #829 closed

[2021-08-31 17:04] yantosca commented on #821
Thanks for writing @map06.  So that might be a bit of legacy coding.  Now that we use the netCDF diagnostics the units of the prod/loss are `kg/s`.  The old bpch diagnostics saved in units of `kg/m3/s`.

To convert e.g. `kg/s` to `kg/m3/s` you can divide by `State_Met%AIRVOL`, which has units of m3.

[2021-08-31 17:05] yantosca commented on #819
I will close out this issue for now, as we have an alternate server (https://geoschemdata.wustl.edu) that you can use.   Please let us know if you continue to have problems accessing data.

[2021-08-31 17:05] #819 closed

[2021-08-31 21:06] yantosca commented on #849
Benchmarking in the cloud might be facilitated by using the containers that get pushed to Dockerhub from Azure Pipelines.

Also see: https://github.com/geoschem/geos-chem/pull/459, which will make automated run directory creation easier.

[2021-08-31 23:59] jennyfisher commented on #847
Thanks, greatly appreciated. I will learn how to do pull requests one day, but I'm not doing much model development work at the moment.

[2021-09-01 05:18] dxy8413 opened #876 "[QUESTION] Is SOAGX part of biogenic secondary organic aerosol?"
### Ask a question about GEOS-Chem:
Is SOAGX part of biogenic secondary organic aerosol? It seems the variable "TotalBiogenicOA" equals to the sum of SOAIE, SOATP, SOAGX, and LVOCOA. But in urban areas, SOAGX may be mostly from anthropogenic aromatics.

[2021-09-01 15:07] laestrada commented on #849
My current plan is to build and push a docker image with GCClassic, GCHP, and GCPY to AWS ECR using pipelines. Once pushed, the docker image will be triggered to run via ECS (also using pipelines). All the relevant output can be pushed up to an s3 bucket prior to the termination of the container. The upside of using ecs is that the ec2 instance will automatically terminate after finishing the give

[2021-09-01 15:37] msulprizio commented on #876
This is a duplicate of https://github.com/geoschem/geos-chem/issues/848. I will close this issue and move the conversation there.

[2021-09-01 15:37] #876 closed

[2021-09-01 15:45] LiamBindle commented on #849
@laestrada Terrific! That's sounds awesome.

When done, I think this could be adapted to run the integration tests in the cloud too (triggered by prerelease tags)! @yantosca

[2021-09-01 15:49] msulprizio commented on #848
The field TotalBiogenicSOA is only used for diagnostic purposes. SOAGX is included in ISOAAQ (isoprene SOA from aqueous formation), which is included in the summation of both the TotalBiogenicSOA and TotalOA diagnostics. From aerosol_mod.F90:

[code]

I am tagging the Aerosol Working Group leaders (@theloniuspunk, @beckyalexander) and developer of the aqueous isoprene SOA mechanism (@eamarais) in

[2021-09-01 16:50] LiamBindle opened #878 "[BUG/ISSUE] Compilation failed on patch/13.2.1 with GNU 8"
@yantosca On the patch/13.2.1 with GNU 8 (re: https://github.com/geoschem/geos-chem/commit/9580101a582418c502526064e83a5f9055a46ac1) I'm getting

[code]

Do you know a fix?

[2021-09-01 17:01] LiamBindle commented on #878
No problem! Thanks!

[2021-09-01 17:07] msulprizio opened #879 "[BUG/ISSUE] Small negative values in Streets Hg emissions"
@cpthackray wrote:

[2021-09-01 17:10] yantosca commented on #878
This is now fixed in ae7afb8682eeb0f0453d442b44935adfe3b2359d.  Also referencing Issue #847.

[2021-09-01 17:10] #878 closed

[2021-09-01 17:12] yantosca commented on #847
Note, had to issue commit ae7afb8682eeb0f0453d442b44935adfe3b2359d to fix the issue reported in #878.  EHg0_geo is 2-D array but the fix provided in this issue assumed it was a 3-D array.  Sorry for not catching it!  Another reason to use pull requests (it would have caught this).

[2021-09-01 17:42] msulprizio commented on #879
This is now resolved in commit https://github.com/geoschem/geos-chem/commit/100167e1dcd5cef30bafa19cdf4194c1624e042f (currently in the `patch/13.2.1` branch). The corrected file can be accessed here: http://ftp.as.harvard.edu/gcgrid/data/ExtData/HEMCO/MERCURY/v2021-09/Streets/Streets2019_Hg.nc.

[2021-09-01 17:42] #879 closed

[2021-09-01 18:12] LiamBindle commented on #878
Thanks Bob!

[2021-09-01 23:18] jennyfisher commented on #847
Oops sorry about that!

[2021-09-02 03:44] dxy8413 commented on #848
Hi  djxjacob and Bob - Sorry I didn't notice it the first post was closed because it was not a software question, I thought it was internet problem lost the post and didn't mean to post it twice. I think msulprizio's post explains TotalBiogenicSOA  was only for diagnostic analysis, Thanks for the help!

[2021-09-02 10:08] map06 commented on #821
@yantosca  Thank you. I was able to convert the units to `kg/m3/s` after dividing it by `State_Met%AIRVOL`. But, the unit of loss should be `1/m3/s`.  So I still  need to divide  the loss by mass of `Ox`. Is there a way to  print out the mass of `Ox` directly, so that the units  are consistent?
[code]

[2021-09-02 11:29] theloniuspunk commented on #848
That seems right, Melissa, though Eloise would know better than me.

On Wed, Sep 1, 2021 at 9:49 AM Melissa Sulprizio ***@***.***>
wrote:

[2021-09-02 12:07] eamarais commented on #848
That's correct @dxy8413. At the time that I developed the scheme the overwhelming majority of glyoxal in the model was biogenic in origin over the US. Indeed, over locations like China and India (depending on the quality of the inventory) the diagnostic will include anthropogenic glyoxal. And over locations with intense biomass burning, it will also include this component, though the model substan

[2021-09-03 01:12] msulprizio commented on #848
Thanks, @eamarais!

@dxy8413 I will close out this issue for now, but feel free to comment further or open a new issue.

[2021-09-03 01:12] #848 closed

[2021-09-03 01:20] msulprizio commented on #732
This bug is now fixed in commit https://github.com/geoschem/geos-chem/commit/72f44cdceabf43cc1960b95e70961a0e46273470 off of GEOS-Chem 13.0.0. This commit has been tagged as [`13.0.0+TropchemFix`](https://github.com/geoschem/geos-chem/releases/tag/13.0.0%2BTropchemFix). Users of GEOS-Chem 13.0.0 - 13.2.0 can apply this change to their code using the following steps.

1. Navigate to the `GCClassic/

[2021-09-03 01:20] #732 closed

[2021-09-03 01:30] msulprizio commented on #839
1-month benchmark simulations comparing the existing tropchem simulation (i.e. troposphere-only chemistry) with the standard simulation (i.e. tropospheric+stratospheric chemistry) have been completed. The model performance statistics and OH metrics are included below.

<img width="926" alt="Screen Shot 2021-09-02 at 9 17 53 PM" src="https://user-images.githubusercontent.com/4805437/131936369-01a9b

[2021-09-03 03:30] hyungmini opened #881 "[BUG/ISSUE] forbidden (403) or not found (404) to wustl server from Korea"
Problem: I am trying to download MERRA2 met field via WUSTL server from Korea. I have tried two ways; one using wget and the other one through the website.

When using wget I got following message.

When I tried to through the website (http://geoschemdata.wustl.edu/ExtData/GEOS_0.5x0.625_AS/MERRA2/2020/12/MERRA2.20201203.A3cld.05x0625.AS.nc4). I got following message.

I have been trying to downlo

[2021-09-03 15:32] NatalliaMiatselskaya commented on #759
I ran the simulation anew with offline dust emissions and debugging options. It crashed at the same time step with compiler message:

nata@met:~/runs/runs_v12.1.1/geosfp_025x03125_EU_complexSOA$ ./geos > trac_avg.eu_complexSOA_daily.20150707_prov.log
forrtl: severe (408): fort: (3): Subscript #2 of the array Q has value 0 which is less than the lower bound of 1

Image              PC

[2021-09-03 17:45] yantosca commented on #831
I think this could easily be done with 2 modifications:

  1. Wrap the EXTENSION DATA section in `(((EMISSIONS` and `)))EMISSIONS` tags, so that none of the extension data is read in.
  2. If the master emissions switch is toggled off, also toggle off all extensions.  This may be able to be done in `hcox_driver_mod.F90`.

[2021-09-03 19:59] YanshunLi-washu commented on #881
Hi @hyungmini We're working on the permission issue. Will let u know once it's done. Thanks

[2021-09-03 20:21] msulprizio commented on #839
Daniel Jacob wrote:

[2021-09-05 23:54] #765 closed

[2021-09-06 07:59] NatalliaMiatselskaya opened #882 "[BUG/ISSUE] Subscript of the array is zero or negative"
I run GEOS-Chem v.12.1.1 classic, nested Europe, 0.25x0.3125. The simulation was OK from 2015.01.01 to 2015.07.07.  I reran it several times beginning from 2015.07.07 00:00, 22:40, 23:00  etc. It crashed at 22:50 or 23:00 or 23:30... with different messages (negative values in wet deposition, negative values in Lightnox, particle radius or C_Y is neg) or without messages. So I ran the simulation w

[2021-09-06 18:51] tessac2 opened #883 "ExtData files not readable during GEOSChem runs [BUG/ISSUE]"
### Description of the problem
When I run GEOS-Chem (GEOS-FP), I get errors in my GC and HEMCO log file saying that seemingly random files are missing data/not able to be read. I am a bit confused why this is happening, since I ran a dry run over the time period in question (2018). I am running GEOS-Chem for 3 month periods in 2018, but in each time period I have run into this issue. It seems to b

[2021-09-07 01:21] hyungmini commented on #881
Hello,

Now I am able to download through wget from wustl server.
I am not sure if this was the fix though, I used '--no-http-keep-alive --no-cache --no-cookies' flags this time.
Thanks.

[2021-09-07 01:21] #881 closed

[2021-09-07 10:55] vijaykumarsagar opened #884 "GEOS-CHEM ERROR: Error encountered in "COMPUTE_PBL_HEIGHT" at initialization!"
Hi Everyone, I want to do a tagged ozone simulation over a nested ASIAN (AS) grid with MERRA2 meteorological files.
I have done global simulation to generate a global boundary conditions file with standard full chemistry run of 4x5 degree of resolution. It run successfully, but in the HEMCO.log file it is showing unit related issue:
`HEMCO WARNING: Data is treated as unitless, but file attribute s

[2021-09-07 15:08] LiamBindle commented on #881
@hyungmini Thanks for the update. When we transfered all the data from ComputeCanada to WashU the file permissions got messed up, so we're still working on making sure everything is correct. Initially, there were hundreds of thousands of files with the wrong permissions. We're down to ~30K that still need to be fixed (see [here](http://geoschemdata.wustl.edu/ExtData/maintenance/bad_file_permission

[2021-09-07 17:59] yantosca opened #885 "[FEATURE REQUEST] Make sure that createRunDir.sh scripts for GCC and GCHP use "main" for the default Git branch"
The run directory creation scripts (`run/GCClassic/createRunDir.sh` and `run/GCHP/createRunDir.sh`) allow you to put the configuration files in a created run directory under Git version control.  However, by default, the main branch is named `master`, and should be renamed to `main` for consistency with GEOS-Chem Git repo usage.

[2021-09-07 20:07] lizziel commented on #885
People can set git to do this for all new directories put under version control with this command:
`git config --global init.defaultBranch main`

[2021-09-08 00:13] msulprizio opened #886 "[BUG/ISSUE] Floating point exception error in AIRQNT in patch/13.2.1 branch"
GEOS-Chem is stalling in what seems to be a continuous loop when running with the current `patch/13.2.1` branch. When the code is built with `-DCMAKE_BUILD_MODE=Debug` and gfortran 10.2, it crashes in AIRQNT with the following error:

[code]

I was able to narrow down the cause of this bug to commit 7f6021ca6e846771437b0e6ba1db078ff908dcdf.

[2021-09-08 00:19] msulprizio commented on #886
The changes in commit 7f6021ca6e846771437b0e6ba1db078ff908dcdf seem to have introduced unintended changes in the grid definition. What should be:

[code]

is now:

[code]

[2021-09-08 06:40] NatalliaMiatselskaya commented on #882
Thank you! I actually use tropchem. I would like to upgrade to 13.2.1 with chemistry in the stratosphere, but I am not sure that my CPU resources are sufficient. Is 13.2.1 computationally expensive? I created boundary conditions using tropchem 12.1.1 with 2x2.5 resolution. May I use these BC for 13.2.1 nested grid simulation?

[2021-09-08 07:25] NatalliaMiatselskaya commented on #882
Thank you!

    On Tuesday, September 7, 2021, 05:31:47 PM GMT+3, Bob Yantosca ***@***.***> wrote:

Thanks for writing. The Courant number should definitely not be greater than 1. You might need to reduce the dynamic timestep so tha tthe Courant number limit is not exceeded.

Are you using the tropchem option? We have found that this option can be problematic. Also 12.1.1 by now is a 2+ year old v

[2021-09-08 21:15] #783 closed

[2021-09-08 21:19] yantosca commented on #884
Thanks for writing.  The tagged O3 simulation has not really ever been used for a nested-grid simulation, so it is possible that there are issues with it.  I suspect that you might need to use a well-spun up restart file (at least for the global O3 species),

[2021-09-08 21:22] yantosca commented on #882
We are finalizing the 13.2.0 and 13.2.1 releases now.  This was delayed due to some computer issues on our cluster in recent weeks.

My colleague Melissa (@msulprizio) has done some timing tests with the tropchem simulation.  Those results are listed in issue #839.  If you use 47L with chemistry on in the trop & strat, that is not much more expensive than tropchem at 47 levels (see the plots in th

[2021-09-09 00:46] msulprizio commented on #886
This is now fixed in commit https://github.com/geoschem/geos-chem/commit/1e6661b329c7717bce0eb8c2f108c47d94ae1655. The issue was caused by the removal of an ELSE statement when computing global latitude edges. This fix will be included in [13.2.1](https://github.com/geoschem/geos-chem/milestone/25).

[2021-09-09 00:46] #886 closed

[2021-09-09 06:49] NatalliaMiatselskaya commented on #882
Thank you very much!

[2021-09-09 06:49] #882 closed

[2021-09-09 11:28] yangning-code opened #889 "[BUG/ISSUE]"
### Description of the problem
Open QFED biomass burning emissions in HEMCO_Config.rc_qfed，but not in HEMCO.log_qfed. At same the time, Open GFED biomass burning emissions in HEMCO_Config.rc_gfed and in HEMCO.log_gfed.
### Description of troubleshooting performed
Default

### GEOS-Chem version
GEOS-Chem.12.0.0

### Description of modifications
Default

### Log files
- Build log (if applicable):las

[2021-09-10 15:23] RuijunDang commented on #547
Hi all, I am trying to use NEI2016 here and a few questions came up to me.
1. Where does this NEI2016 emission come from? As far as I know, the NEI updates every three years. There are NEI2011, 2014 and 2017. I am not sure which of these the NEI2016 emission inventory is based on.
2. I noticed that the 'c1c2' and 'c3' categories are ship emissions. Perhaps it is better to split it and add it as an

[2021-09-10 17:07] #830 closed

[2021-09-10 19:40] barronh commented on #547
Short answer: There is a lot of documentation available for this version, which is nominally 2016v1.[1]

Long answer:
The naming as NEI2016 can cause confusion. "The National Emissions Inventory (NEI) is a comprehensive and detailed estimate of air emissions of criteria pollutants, criteria precursors, and hazardous air pollutants from air emissions sources."[2] This is just one step in making emi

[2021-09-10 20:32] RuijunDang commented on #547
Hi @barronh, thanks for your answer. I learned a lot!

[2021-09-10 21:28] #818 closed

[2021-09-10 22:07] msulprizio commented on #839
This is now resolved via PR https://github.com/geoschem/geos-chem/pull/890.

[2021-09-10 22:07] #839 closed

[2021-09-10 22:08] msulprizio commented on #885
Thanks @lizziel!

Is this update needed anymore? I'm going to remove the 13.2.1 milestone, but we can always add this update to a future version.

[2021-09-11 16:27] #804 closed

[2021-09-12 16:22] YanshunLi-washu commented on #547
Hi @barronh Will hourly emission data of NEI2016 be available?

[2021-09-13 13:26] barronh commented on #547
There are hourly emissions that have been made publicly available.[1] Another version (V2) will be available soon. The hourly files have point sources in the typical point-source format. These can be vertically allocated similarly to what we do in our Jupyter Notebook. The data volume is, obviously, much larger.

[1] https://views.cira.colostate.edu/iwdw/Modeling/Platforms.aspx

[2021-09-13 15:57] jimmielin commented on #804
This is correctly closed but I'm just updating this for future reference. The fixes implemented in #810 have correctly resolved the order-of-magnitude differences in the J-value diagnostics. There are differences between 12.9 and 13.x but those would be science questions. I will update further on this if I have more information.

Thanks everyone for looking into this!

[2021-09-14 08:30] MikhailKleymenov opened #891 "Forbidden error (403) while trying to download data from wustl server from Russia"
Hello!

I'm trying to download offline lighting data v2020-03 for merra2 2020 run but I can't do it neither using wget no through website.

--2021-09-14 11:20:35--  http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_LIGHTNING/v2020-03/MERRA2/2020/FLASH_CTH_MERRA2_0.5x0.625_2020_01.nc4
Распознаётся geoschemdata.wustl.edu (geoschemdata.wustl.edu)… 35.209.233.133
Подключение к geoschemdata.wustl.edu

[2021-09-14 08:52] xiaoyu-ss opened #892 "[QUESTION]How to add OCS fluxes into GEOS-Chem simulation?"
### Ask a question about GEOS-Chem:
Hi,

I have some questions about the OCS simulation. I am using GEOS-Chem v13.0.0 full-chemistry, I find that the model don't include a real emission or flux data, just using the surface VMR of OCS in it. So I would guess that I have to add external OCS fluxes data to it. Maybe I should build an offline OCS simulation module using GEOS-Chem and my OCS fluxes dat

[2021-09-14 10:08] #889 closed

[2021-09-14 13:24] yantosca commented on #891
Thanks for writing @MikhailKleymenov.   I know that the sysadmins for the WashU server were working on adding some folder permissions.  I also do not have permission to view the folder from the USA.  I am tagging @LiamBindle and @YanshunLi-washu, who are at WashU and can probably speak better to this issue than I can.

[2021-09-14 13:37] LiamBindle commented on #891
Hi @MikhailKleymenov thanks for reporting this. I fix the permissions for those files. Can you try again now?

[2021-09-14 13:46] MikhailKleymenov commented on #891
Hi @LiamBindle Now I can download them, wget works. Thanks!

[2021-09-14 13:50] LiamBindle commented on #891
Great! Thanks for reporting this.

[2021-09-14 13:50] #891 closed

[2021-09-14 14:34] msulprizio commented on #892
Thanks for writing @xiaoyu-ss. We are planning to include OCS in a joint carbon simulation with CO-CO2-CH4-OCS. This is slated for the GEOS-Chem 13 series. See issue https://github.com/geoschem/geos-chem/issues/654 for details.

I am tagging Kevin Bowman (@kbowman77) here because he is our point person for OCS in GEOS-Chem and may be able to provide the best answers to your questions.

[2021-09-14 16:41] msulprizio opened #893 "[FEATURE REQUEST] Add GCAP 2.0 runs to integration tests"
The current integration test script runs a series of simulations for GEOS-FP and MERRA-2 met fields at 4x5, 2x2.5, and nested-grid resolutions. We should expand this capability to include at least a full-chemistry simulation with GCAP 2.0 met fields. This will require downloading a sample set of GCAP 2.0 input data from the U. Rochester ftp site to Harvard.

See also the related issue https://gith

[2021-09-14 18:57] tessac2 commented on #883
After redownloading the file shown in the above images, I ran the model again and got a similar error but for another ExtData file. Again, I am unsure why this is happening, I was able to do a different run with MERRA2 over the same time period with no issues.
![image](https://user-images.githubusercontent.com/70339432/133317487-6008aad0-8d9b-4ede-bee6-56598ab138ef.png)

[2021-09-15 16:14] yantosca commented on #883
Thanks for writing @tessac2.  Were you getting data from ComputeCanada?  If so, that server was having issues recently.

In GEOS-Chem 13.2.1 (released this week), the dry-run can now download data from the WashU server (https://geoschemdata.wustl.edu), which will eventually replace ComputeCanada.  If you have trouble getting data from one server (or not all files come over properly), then you can

[2021-09-15 22:23] tessac2 commented on #883
Thank you @yantosca for your reply! I had been getting data from ComputeCanada. I will try running the new GEOS-Chem 13.2.1 with downloading data from the WashU server and see if that works, and follow up accordingly. Thank you for your help!

[2021-09-16 08:01] xiaoyu-ss commented on #892
Thanks for your reply!
May I ask if there is an approximate time when will the joint carbon simulation with CO-CO2-CH4-OCS be ready?

[2021-09-16 14:12] msulprizio commented on #892
There's still a good amount of work to do to implement the joint carbon simulation in GEOS-Chem 13 since we are planning on implementing it as a new mechanism in KPP (rather than using the offline chemistry currently in global_ch4_mod.F90, co2_mod.F90, and tagged_co_mod.F90). We don't expect this to be ready until late Fall 2021 or Winter 2022. Feel free to comment on issue https://github.com/geos

[2021-09-16 15:30] hmhorow opened #895 "Many emissions diagnostics are 0 in mercury model GCClassic 13.1.1 output [BUG/ISSUE]"
### Description of the problem
When running the mercury model in GC version 13.1.1 out of the box, many of the emissions diagnostics in the GEOSChem.MercuryEmis.YYYYMMDD_0000z.nc4 output file are 0 everywhere for each month: EmisHg0anthro; EmisHg0geogenic; EmisHg2rivers; EmisHg2snowToOcean; EmisHg2HgPanthro; and EmisHg0vegetation. I am not sure if this is just a saving out the diagnostic issue or

[2021-09-16 15:42] #815 closed

[2021-09-16 16:55] hmhorow opened #896 "online sea salt emissions are 0 for GC version 13 up until version 13.2.0 [BUG/ISSUE]"
### Description of the problem
When running GCClassic version 13.1.1 with online sea salt emissions, sea salt emissions are 0 everywhere (EmisSALA_Natural and EmisSALC_Natural) for both HEMCO standalone and GC. In the GC run EmisSALACL_Natural and EmisSALCCL_Natural are also 0 everywhere. I believe this issue would be the same for all GC version 13.0.0 onwards until the blowing snow sea salt emiss

[2021-09-16 17:02] msulprizio commented on #896
Hi @hmhorow. Can you also upload your HEMCO_Diagn.rc file? I want to check to ensure the ExtNr and Cat in HEMCO_Diagn.rc match those that are being used in HEMCO_Config.rc. By default, I believe they are set to:

[code]

which reflects obtaining sea salt emissions from OFFLINE_SEASALT. When switching to online sea salt emissions, those entries should be changed to:

[code]

[2021-09-16 18:42] yantosca commented on #895
Thanks for writing @hmhorow.  I added the Hg diagnostics in netCDF form but we never were able to do a deep dive into validating these.  I believe you can still get the old bpch diagnostics for the Hg simulation (am not 100% sure).

Also in the older versions many of the Hg diagnostics were kept as manual HEMCO diagnostics.  I

The issue with the flux diagnostics may just be a metadata issue -- th

[2021-09-16 21:32] hmhorow commented on #896
Hi @msulprizio - thank you so much for your help!! I feel pretty silly because that is definitely the answer. I just compared my HEMCO_Diagn.rc to what you sent and it was like the first case with ExtNr=0 and Cat = 3, not the second one you included above with ExtNr=107 and Cat=-1. I also tried running online seasalt with 13.2.0 and the same HEMCO_Diagn.rc file (so ExtNr=0 and Cat = 3) and the emi

[2021-09-16 21:32] #896 closed

[2021-09-17 04:57] mirajnaik commented on #768
Dear yantosca,

I am trying to run the 2*2.5 simulation with the same setup. but getting a segmentation fault. can you suggest.

[2021-09-17 13:35] msulprizio commented on #896
That's a great suggestion @hmhorow. We will add a note to HEMCO_Config.rc to let users know they should also change the values in HEMCO_Diagn.rc when switching between offline and online emissions.

The change to use FROCEAN and FRSEAICE in 13.2.0 did introduce changes in sea salt emissions along coasts. This change is discussed in https://github.com/geoschem/geos-chem/pull/356. There @lizziel als

[2021-09-17 16:05] hmhorow commented on #896
thank you so much for the info @msulprizio, this is really helpful!

[2021-09-17 18:24] tscarter opened #898 "[BUG/ISSUE] GMAO_TEMP from planeflight diagnostic appears wrong"
### Description of the problem
The temperature variable (GMAO_TEMP) outputted in the planeflight diagnostic appears to be wrong because it gives values as low as ~200K at times. I've run it for KORUS (~May-June 2016), ATOM-1 (July-Aug 2016), FIREX (July-Sep 2019), and as a tower diagnostic for the Amazon Tall Tower Observation (ATTO) in June and September 2019 and see the strangely low values.

##

[2021-09-18 07:50] mirajnaik opened #899 "[BUG/ISSUE] geos-chem 13.0.2 has segmentation fault using GNU compiler on cray-xc40"
I am working on the 2*2.5 simulation with the GNU compiler on the cray xc40 system.

Previously face the same issue with the 4*5 simulation on the cray system. the system has 128GB memory per node so. memory can not be the issue.

### GEOS-Chem version

GEOS-Chem 13.0.2

Log file:
[GC_1day_gnu.log](https://github.com/geoschem/geos-chem/files/7189477/GC_1day_gnu.log)

PBS Script:
[submit_1day.txt](

[2021-09-19 02:28] xpye98 opened #900 "[BUG/ISSUE] Missing variables in 0.5x0.625 offline seasalt emission after 2018"
### Description of the problem
After 2018, 0.5x0.625 offline seasalt emission file miss `SALA_TOTAL` and `SALC_TOTAL` variables, but have `EmisSALA_Natural` and `EmisSALC_Natural`.

Should we modify`HEMCO_Config.rc` file to adapt this change?

[2021-09-19 05:21] sumengqian commented on #712
@HarrietGRN ,hi~ Did you resolve the promblem that you commented on 2 May about the HEMCO ERROR? I have the same error now when running an aerosol simulation:

HEMCO ERROR: Cannot find field with valid time stamp in ./GEOSChem.Restart.20190701_0000z.nc4 - Cannot get field SPC_BCPI. Please check file name and time (incl. time range flag) in the config. file

If there is a solution, could you please

[2021-09-19 11:36] zsx-GitHub opened #901 "Re-naming HISTORY diagnostic collection names not allowed in version 13.0.2?"
I am using GEOS-Chem version 13.0.2. I find that re-naming HISTORY diagnostic collection names does not work for this version. For example, if I add a diagnostic collection called "SpeciesConc_daily" in HISTORY.rc, I will receive the following message in v13.0.2.log file:
[code]

Has anyone encountered same issues as me? Thank you!

[2021-09-19 16:49] HarrietGRN commented on #712
Hello! I tried a different Restart.mode and Restart.fields in THE Restart COLLECTION of HISTORY.rc and it worked.....

[2021-09-20 13:34] yantosca commented on #901
Thanks for writing @zsx-GitHub.  Did you also put the `SpeciesConc_daily` in the `COLLECTIONS` list at the top of the `HISTORY.rc` file?  That might be the problem.

This error can also occur if there are new species that have not been added to the `species_database.yml` file.

[2021-09-20 13:39] yantosca commented on #898
Thanks @tscarter, we will take a look at this.  I believe the planeflight diagnostic uses the State_Met%T field so it should be the same temperature as is read in/interpolated.  But there may be something else going on here.  Stay tuned.

[2021-09-20 14:23] msulprizio commented on #900
The 0.5x0.625 offline seasalt emission files look OK on our end at Harvard. All files through 2019/09/30 have the `SALA_TOTAL` and `SALC_TOTAL` variables. We obtained these files from ComputeCanada.

However, I do see a switch `SALA_TOTAL` and `SALC_TOTAL` to `EmisSALA_Natural` and `EmisSALC_Natural` in the 0.25x0.3125 files on 2019/11/01. From the history attribute in those files, it appears that

[2021-09-20 14:50] YanshunLi-washu commented on #900
Hi @hongjianweng Could you kindly look into it? I don't have much information about this. Thanks!

[2021-09-20 15:26] nicodgomez opened #902 "[BUG/ISSUE] Corrupted MERRA2.20210317.A3dyn.4x5.nc4 at WashU data server"
### Description of the problem
Hello I am performing full chemistry calculation within the period 2021-03-01 and 2021-04-01, and the calculation ends with the following message,
[code]
### GEOS-Chem version
13.1.0

### Software versions
- CMake version: 3.21.1
- Compilers (Intel or GNU, and version): GNU 7.5.0
- NetCDF version: 4.6.0

I attach the respective input.geos, HEMCO_Config.rc, HISTORY.rc

[2021-09-20 18:52] nicodgomez commented on #902
Also I have recently noticed that in http://geoschemdata.wustl.edu/, the corresponding file http://geoschemdata.wustl.edu/ExtData/GEOS_4x5/MERRA2/2021/03/MERRA2.20210317.A3dyn.4x5.nc4 has a size of 342K much less than the others' MERRA2.year/mounth/date.A3dyn.4x5.nc4 files.

[2021-09-20 19:42] msulprizio commented on #902
Thanks for bringing this to our attention. @YanshunLi-washu or @LiamBindle could you check the problematic file on your end?

[2021-09-20 19:50] yantosca commented on #900
@hongjianweng @YanshunLi-washu @msulprizio I wonder if this came about due to using two different versions of the HEMCO standalone.  In older versions I think the default emission names in HEMCO_DIagn.rc were SALA_TOTAL and SALC_TOTAL but in one of the 12.x versions that got changed to EmisSALA_Total and EmisSALC_Total.  If that helps.

One thing that could be done is to rename the older names wit

[2021-09-20 21:04] yantosca commented on #898
Hi @tscarter, I made a test Planeflight.dat file for 20190701 (since that is the date of the restart file that ships with the fullchem run directories):
[code]
and this gives output:
[code]
I looked up lat=-59.01 and lon = -2.15, and it's in the Southern Ocean.
![2021_09_20_16_57_54_Greenshot](https://user-images.githubusercontent.com/5880296/134074960-c7dfcef8-0188-476b-81e4-857b225fff85.png)

So

[2021-09-20 21:42] tscarter commented on #898
Thanks for checking! I really appreciate it.

After more digging, it appears to be an issue on my end and not with the
model. So we can close out the issue.

On Mon, Sep 20, 2021 at 5:04 PM Bob Yantosca ***@***.***>
wrote:

[2021-09-20 22:10] yantosca commented on #898
Thanks @tscarter!  Will close this out.  Glad you found the error!

[2021-09-20 22:10] #898 closed

[2021-09-21 02:51] xpye98 commented on #900
Thanks for your help.
I think rename the variable with n

[2021-09-21 02:53] xpye98 commented on #900
Thanks for your help!
I think rename the variable with nco/cdo would be a good idea as long as these variables are identical.

[2021-09-21 18:50] msulprizio commented on #547
I wanted to follow up on the inclusion of emissions over Canada and Mexico in this inventory. Since some of the emissions for Canada and Mexico are included in the standard files, I think it would be easier for users to update the mask file if they want to include those emissions rather than attempt to split them off into separate options in HEMCO_Config.rc (and further clutter that file). I've up

[2021-09-21 19:43] viral211 opened #906 "[BUG/ISSUE] Typo in CloudHet"
There is a typo in CloudHet in gckpp_Hetrates.F90. The line
https://github.com/geoschem/geos-chem/blob/ba58da4a6e447e47714fe5e7da488d15432a6fdc/KPP/fullchem/gckpp_HetRates.F90#L1282
should be:
      `ff = min( ff, 1.0e30_dp )`

I have run it by Chris Holmes @cdholmes. I think this would change the benchmark output significantly.

[2021-09-21 19:53] yantosca commented on #906
Thanks Viral.  Also tagging @msl3v on this.  We can try to get this into 13.3.0 and benchmark.

[2021-09-21 21:25] vijaykumarsagar commented on #884
Sir, Thank you for your kind response.
I have downloaded the restart file from ( [http://ftp.as.harvard.edu/gcgrid/data/ExtData/GEOSCHEM_RESTARTS/](url) and  http://ftp.as.harvard.edu/gcgrid/geos-chem/10yr_benchmarks/13.0.0/GCClassic/restarts/ ) and keep at their respective folders.

This time, I have tried Geos-Chem 13.0.0 source code. I have created a boundary layer condition file for one day an

[2021-09-21 22:48] viral211 opened #907 "[FEATURE REQUEST] Revise N2O5 gamma calculation"
The gamma values for N2O5 hydrolysis on sulfate and sea salt aerosols in version 13 are calculated using the parameterization from [Bertram & Thornton (2009)](https://acp.copernicus.org/articles/9/8351/2009/acp-9-8351-2009.pdf) and [McDuffie et al. (2018](url)) as follows:

<a href="https://www.codecogs.com/eqnedit.php?latex=\gamma(\mathrm{N_2O_5})=AHk,\\&space;A=\frac{4V}{\nu&space;S},k=\beta(1-e

[2021-09-22 01:00] yangning-code opened #908 "[BUG/ISSUE] New location of GAMAP manual?"
### Description of the problem
Ask for GAMAP Location

[2021-09-22 03:37] lixiao-bit opened #909 "[QUESTION]How to add the photoactivation of dust particles and the recombination reaction of an electron-hole pair into the model."
### Ask a question about GEOS-Chem:
How to add the photoactivation of dust particles and the recombination reaction of an electron-hole pair into the model shown as below:
dust -> dust + e_h
e_h -> energy
e_h + O2(g) -> OH(d)

[2021-09-22 07:46] mje1398 commented on #907
Hi All, This seems like the parameterization has come up with a very high value there which isn't appropriate. 0.03 on wet sea-salt is what I had in my very old n2o5 parameterization, so the 0.036 cap would seem appropriate. Would that cap all values of gamma or cap the value on sea-salt.
Mat

[2021-09-22 09:26] hongjianweng commented on #900
Yes, after the 12.3.2 version, the default emission names are EmisSALA_Total and EmisSALC_Total. And the difference between different versions of the HEMCO standalone for sea salt aerosols is just emission names.
The 0.5x0.625 offline seasalt emission files' names are SALA_TOTAL and SALC_TOTAL at Harvard and Compute Canada for all dates.
The 0.25x0.3125 change to EmisSALA_Total and EmisSALC_Total

[2021-09-22 13:08] viral211 commented on #907
It would cap all gamma values to 0.036. For internally-mixed fine-mode sulfate-nitrate-ammonium + sea salt aerosols + OA, the cap will apply only when RH exceeds 95% and particle radius becomes larger than 125 nm. For other aerosol types, gamma values are already lower than 0.03.

[2021-09-22 13:29] emcduffie commented on #907
Hi Everyone,

I just wanted to chime in a say that a cap seems reasonable as 0.4 is very high, though also to note that I don’t think we’ve had any observational studies evaluate gamma in the regions where the values are largest and also to highlight that both laboratory and observational studies have derived gamma values larger than 0.036 (Figure 4 and S26 from McDuffie et al., JGR 2018).

-----

[2021-09-22 14:32] msulprizio commented on #900
Thanks for confirming @hongjianweng. I vote we go with Bob's suggestion and run a script on any files using `EmisSALA_Total` and `EmisSALC_Total` in `HEMCO/OFFLINE_SEASALT/v2019-01/` to ensure all files in that directory consistently use `SALA_TOTAL` and `SALC_TOTAL`. @YanshunLi-washu or @hongjianweng Is this something that you could do? I think it would need to be done at WashU and then we can up

[2021-09-22 15:50] RuijunDang commented on #402
Hi @ltmurray, I am running the nested version of 12.9.3 and experiencing the same problem as you did. The simulation just stopped after a few days running, and the species is also N2O. I wonder how you resolve it in the end?

[2021-09-22 17:51] yantosca commented on #908
Thanks for writing @yangning-code.  The GAMAP manual can now be viewed at

https://geoschem.github.io/gamap-manual/

[2021-09-22 18:56] barronh commented on #907
The cap you propose sounds reasonable to me.

[2021-09-22 20:18] yantosca commented on #907
Hi @viral211 @mje1398 @emcduffie @barronh, thanks for this update.  We can try to get it into 13.3.0 if there's time.

Also, could someone point me to the code that computes this?  I have a hard time going from formulae to code, as I mostly deal with the code. :-)

[2021-09-22 20:26] viral211 commented on #907
Hi @yantosca, _A_ is computed here:
https://github.com/geoschem/geos-chem/blob/ba58da4a6e447e47714fe5e7da488d15432a6fdc/KPP/fullchem/gckpp_HetRates.F90#L2345
We will have to add the following lines after the line referenced above:
` ! Cap A at 3.2D-8 to account to prevent high gamma values when Vol/Area is high`
` A = min( A, 3.2e-8_fp )`

[2021-09-22 20:27] yantosca commented on #907
Ah OK, thanks, I see it now, in function `N2O5_InorgOrg`.

FYI, in the 13.3.0 code, the `gckpp_HetRates.F90` has been removed and replaced with a new module `fullchem_RateLawUtilFuncs.F90`.

[2021-09-22 23:40] msulprizio commented on #900
According to [the HEMCO issue](https://github.com/geoschem/HEMCO/issues/103) referenced above. This is also a problem in the offline soil NOx files.

[2021-09-23 00:56] jingqiumao commented on #907
I thought the diffusion limit is reflected on the gas diffusion term in reactive uptake calculation. Even with a large gamma, the first-order reactive uptake rate will be still small if the effective radius is large (in this case it is coarse-mode sea salt aerosols). Jacob 2000 paper has a pretty nice explanation on this.

So I thought the large gamma might not matter much, but I am happy to be co

[2021-09-23 13:04] viral211 commented on #907
Hi @jingqiumao, I was referring to aqueous-phase diffusion in my original post. You are right that the gas-phase diffusion will limit the effect of a very large gamma, but when gamma is small (say 0.03), the uptake term will limit the loss rate. For coarse-mode sea salt aerosols, the gas-phase diffusion and the reactive uptake terms are about equal when gamma=0.13.

[2021-09-23 20:10] jingqiumao commented on #907
Thanks. I don't have a strong opinion against a cap on gamma_N2O5.

Is it possible to show an impact of this change on ozone? I think it might be worthwhile to document this change.

[2021-09-24 10:58] zsx-GitHub commented on #901
Thank you @yantosca! I do put the SpeciesConc_daily in the COLLECTION list, and the species specified to output are all in the species_database.yml because GC works well when using COLLECTION name 'SpeciesConc'. I actually have been adding new 'daily/hourly' collections in previous GC versions and all have been working well.

[2021-09-24 20:52] yantosca commented on #907
@jingqiumao: We will run "alpha" benchmarks for this update.  These are internal benchmarks that we don't usually publish, but use internally so that we can tie certain changes in output to a certain feature.  I can post the OH metrics here.

[2021-09-24 21:11] yantosca commented on #908
I am closing out this issue because it has been resolved.  Thanks for writing!

[2021-09-24 21:11] #908 closed

[2021-09-24 21:13] yantosca commented on #560
Closing this PR since it is now resolved by #904.

[2021-09-24 21:13] #560 closed

[2021-09-24 21:37] yantosca commented on #841
This is now fixed with commit 14dca24963dacdfd43cd41491786c68e60090a9c.

[2021-09-24 21:38] yantosca commented on #907
This is now fixed with commit 2833e4d651ea58bff5cc56ff0d7ebaa37d9fb5a2.   Awaiting PR review and merge.

[2021-09-24 21:40] yantosca commented on #906
This has been fixed with commit c6adf4b2f3772caa8d2dedc8acb9990bf03a3016.  Awaiting PR review and merge.

[2021-09-24 21:47] yantosca commented on #901
@zsx-GitHub, can you attach your HISTORY.rc file here? (Rename it to HISTORY.rc.txt and drag & drop into the comment box.)

[2021-09-26 05:04] jingqiumao commented on #907
Thanks @yantosca. It would be great to know the impact on ozone as well.

[2021-09-27 10:18] flavioquadros opened #915 "[BUG/ISSUE] AEIC VOC scale factors might not be right (?)"
### Description of the problem
The scale factors applied to aviation VOC emissions were changed on v13.2.0 (https://github.com/geoschem/geos-chem/pull/776), but I am a bit unsure if the added carbon correction was needed, could someone please check this issue again? I was under the impression that the HC variable in AEIC was in CH4-equivalent grams, as mentioned in the papers describing the invent

[2021-09-27 13:15] JinZheeee opened #916 "[QUESTION] Timestamp of HISTORY.rc"
### Ask a question about GEOS-Chem:
Hi GEOS-Chem support team,

I'm running the CO2 simulation, and I output CO2 concentrations hourly. The setting of my HISTORY.rc is as follows:
[code]
The instantaneous CO2 concentrations will be stored at 00:00, 01:00, ..., 23:00. Can I store the results as hourly data at 00:30, 01:30, ..., 23:30?

I look forward to hearing from you.

Zhe Jin

[2021-09-27 14:32] lizziel opened #917 "[BUG/ISSUE] Floating divide by zero when History collections turned on"
@zsx-GitHub submitted the following issue:

From: https://github.com/geoschem/gchp/issues/37:

@lizziel Hi Lizzie and all, I recently run into a similar issue. I enforced particulate matter concentration in GEOS-Chem to be at the measured value in the lowest 8 layers. After my revisions, the model can run smoothly if all HISTORY COLLECTIONS are turned off. The model will stop with 'forrtl: error (

[2021-09-27 14:34] lizziel commented on #917
Hi @zsx-GitHub, could you post your configuration and log files here? You can add extension '.txt' to the filenames and then drag and drop them into the GitHub comment box. Files to include are:

- input.geos
- HEMCO_Config.rc
- HISTORY.rc
- GEOS-Chem log file
- HEMCO.log

Please also let us know what version you are using and what simulation you are running.

[2021-09-27 14:58] zsx-GitHub commented on #917
Hi @lizziel, thank you very much! Please see below my configuration and log files.

[HEMCO.log.txt](https://github.com/geoschem/geos-chem/files/7237232/HEMCO.log.txt)
[input.geos.txt](https://github.com/geoschem/geos-chem/files/7237220/input.geos.txt)
[HEMCO_Config.rc.txt](https://github.com/geoschem/geos-chem/files/7237224/HEMCO_Config.rc.txt)
[HISTORY.rc.txt](https://github.com/geoschem/geos-che

[2021-09-27 16:10] yantosca commented on #906
This has now been merged into the 13.3.0 development branch and tagged with 13.3.0-alpha.4.

[2021-09-27 16:29] yantosca commented on #917
Hi @zsx-Github, thanks for providing the information.  I took a quick look at the config files and didn't see anything out of the ordinary.  Can you point me to your rundir on Cannon?  I can try to run in the debugger, since the job seems to choke after an hour.  Also, which Intel compiler version are you using?

[2021-09-27 18:33] yantosca commented on #906
Hi @viral211 and @cdholmes.  I merged this PR as 13.3.0-alpha.4 but @msulprizio and I noticed that it caused fullchem sims to choke on the 2nd chemistry timestep with a could not integrate error:
[code]

I am wondering if that MIN value is even needed.  In my new hetrates code I now use a SafeDiv function to set the result at 1e30 if the division cannot be done.  So we may be able to get away with

[2021-09-27 18:35] yantosca commented on #906
Also, this was not caught in integration tests because the integration tests only do 1 chemistry timestep, and stopped before the timestep of the error.  We should probably extend integration tests to 1hr of simulation runtime.

[2021-09-27 18:37] yantosca opened #918 "[FEATURE REQUEST] Extend length of integration test runs to 1hr"
In at least one instance, an integration test simulation length of 20 minutes was not sufficient to find errors.  We propose lengthening the integration test runtime from 20 minutes to 1 hr.  This will encompass 3 chemistry timesteps (for most simulations) and should be more robust.

[2021-09-27 18:48] cdholmes commented on #906
Omitting the the MIN line, as you have done, should be fine. Does that fix the integration error?

[2021-09-27 18:49] yantosca commented on #906
It does not fix the integration error, I just treid.

The original code in the old gckpp_HetRates.F90 was:

https://github.com/geoschem/geos-chem/blob/ba58da4a6e447e47714fe5e7da488d15432a6fdc/KPP/fullchem/gckpp_HetRates.F90#L1276-L1294

If you print out some of the values of ff, xx, and kHet, there are sometimes negative xx and negative kHet:
[code]
I would think that you wouldn't want to have neg

[2021-09-27 18:55] yantosca commented on #906
@cdholmes, flushing negative xx to zero gets us past the integration error:
[code]

[2021-09-27 18:56] cdholmes commented on #906
1. As a temporary fix, you can flush xx and khet to zero.
2. Could you also print out kI and fc in addition to ff, xx, khet? I want to look into this further. (Might be roundoff error and catastrophic cancellation in xx calculation.)

[2021-09-27 19:12] viral211 commented on #906
Hi @yantosca. The calculation of `xx` in the code you just pasted is from an older version. It had an error that we had fixed sometime back. The file on GitHub has the correct calculation. It should be:

`xx = ( ff- kk- 1.0_dp ) / 2.0_dp + sqrt( 1.0_fp + ff*ff + kk*kk + 2.0_dp*ff + 2.0_dp*kk - 2.0_dp*ff*kk ) / 2.0_dp`

I wonder if that's he reason for negative values of xx.

[2021-09-27 19:13] yantosca commented on #906
@cdholmes, here is printout from a few locations where xx and khet are zero:
[code]
I have a larger log file (75 MB) if you'd liek to see the whole thing.

[2021-09-27 19:50] yantosca commented on #906
@viral211 thanks.  I was sure that I had fixed that in the new code but I guess it fell thru the cracks.  Sorry for the bother.

[2021-09-27 20:17] cdholmes commented on #906
It looks like the bug in the xx definition was causing the negative values. I checked a few examples from the log excerpt that Bob sent. Can you confirm that the negatives are gone when xx is defined correctly?

[2021-09-27 21:39] yantosca commented on #906
I was able to run a 1-day fullchem_benchmark run and I didn't get the integration error.   With the negatives the run bombed out before 00:30.  So I think we are OK now.

[2021-09-28 13:47] msulprizio commented on #547
Annual scaling factors for 2002-2020 based on EPA Trends Report for Tier 1 CAPS [mentioned above](https://github.com/geoschem/geos-chem/issues/547#issuecomment-891983661) by Barron. The version of the spreadsheet used here was downloaded from the EPA website on 21 Sep 2021. A modified version of that sheet with the scale factor calculations has been made available at http://ftp.as.harvard.edu/gcgr

[2021-09-28 20:19] yantosca commented on #917
Hi Shixian.  I used gfortran 10.2.0.  I copied your run directory and code directory to my scratch space and built the model with debugging flags.  It found an error right away because you are missing a couple of species from the `species_database.yml` file in your run directory.  You need to add the following entries:
[code]
I was able to run until I got this error:
[code]
but that is because I d

[2021-09-29 08:15] dorosieun opened #924 "[QUESTION] How to speeding up nested grid model run?"
### Ask a question about GEOS-Chem:
Hi :>
I am currently attempting a nested model run for Asia with 0.25x0.3125 resolution.
My domain for simulation is as follows.
lon : 70 - 150E
lat : -7 - 50N
As a result of my test, it takes about 12h/day to run for the domain.
I've seen how to speed up as suggested in #875, and that method has already been applied by me.
Is there any other technique to speed

[2021-09-29 13:50] zsx-GitHub commented on #917
Hi @yantosca, thank you so much for building the model! I realized that I have still been using the ifort17. Now I changed to gfortran 10.2.0 (by 'source ~/envs/gcc.gfortran10.2_cannon.env' with the newly downloaded cannon-env). However, while compiling, it prompt:

[  4%] Building Fortran object src/HEMCO/src/Shared/Headers/CMakeFiles/HeadersHco.dir/hco_precision_mod.F90.o

Error: A license for C

[2021-09-29 13:56] yantosca commented on #917
Hi @zsx-GitHub, I would open up a ticket with FASRC (rchelp@rc.fas.harvard.edu) about the  license and storage issue.  That is something that the GCST cannot resolve.

[2021-09-29 13:58] yantosca commented on #917
Also @zsx-GitHub, I would open up a new terminal window and load modules for gfortran 10.2.0.  If you tried loading the gfortran 10.2.0 in the same window as ifort 17 there may be errors.

I can try copying your run directory again and running so that I won't get stuck on the permission error.

[2021-09-29 14:39] yantosca commented on #917
@zsx-GitHub Also I can't get to the point of where HISTORY.rc fails because your HEMCO_Config.rc is still looking for files in your home directory: /n/home02/szhai/holyscratch01/EMISSIONS/MEIC.  If you make your home directory readable then I can run.

[code]

[2021-09-29 15:05] msulprizio commented on #906
I ran an internal 1-month benchmark to evaluate the impact of these changes (tagged as `13.3.-alpha.4`). The benchmark plots and tables may be viewed at http://ftp.as.harvard.edu/gcgrid/geos-chem/validation/InternalBenchmarks/GCC_13.3.0-alpha.4/. The OH metrics are included below for quick review:

[code]

Changes are considerably large, as suspected by Viral in the original post above. I will clo

[2021-09-29 15:05] #906 closed

[2021-09-29 15:41] msulprizio opened #1424 "[DISCUSSION] Investigate scalability of GEOS-Chem Classic with gcc 10.2.0 and gcc 12.2.0"
The recent switch from the ifort19 to gcc 10.2.0 compiler for internal benchmarks has revealed that GEOS-Chem simulations with gcc 10.2.0 run just as fast as ifort19. These simulations ran on all 48 CPUs of one Intel Cascade Lake node on Harvard's Cannon cluster. Interestingly, scalability (using wall time / cpu time as a proxy) of simulations with ifort19 was much better (~90% ideal) than simulat

[2021-09-29 15:48] viral211 commented on #906
Thanks @msulprizio. I was expecting a general increase in ozone because NOx loss on clouds is now much slower. The decrease in ozone over the southern ocean was unexpected. It is caused by the increase in Br, but I am not sure what drives it. I spoke with Xuan Wang and we suspect that it is because the loss of Br through the HOBr+S(IV) reaction in clouds is now slower (along with other HOBr cloud

[2021-09-29 16:43] msulprizio commented on #841
This update was tested with 1-month internal benchmark `13.3.0-alpha.6`. Results may be viewed at http://ftp.as.harvard.edu/gcgrid/geos-chem/validation/InternalBenchmarks/GCC_13.3.0-alpha.6/. The OH metrics are included below for quick review:

[code]

[2021-09-29 16:43] #841 closed

[2021-09-29 16:47] msulprizio commented on #907
I ran an internal 1-month benchmark to evaluate the impact of these changes (tagged as `13.3.0-alpha.5`). The benchmark plots and tables may be viewed at http://ftp.as.harvard.edu/gcgrid/geos-chem/validation/InternalBenchmarks/GCC_13.3.0-alpha.5/. The OH metrics are included below for quick review:

[code]

@jingqiumao The impact on O3 specifically may be viewed in the plots found in http://ftp.as

[2021-09-29 16:47] #907 closed

[2021-09-29 18:41] msulprizio commented on #547
Hi @barronh @lfreese. I'm trying to run a 1-year HEMCO standalone simulation with NEI2016 emissions to evaluate emissions totals. I ran into an issue with the file [`2016fh_16j_othafdust_adj_0pt1degree_month_02.ncf`](https://gaftp.epa.gov/Air/aqmg/global/NEI2016fh/output/2016fh_16j_othafdust_adj_0pt1degree_month_02.ncf). That file has a time dimension, but no time value set, which is causing HEMCO

[2021-09-29 19:00] jingqiumao commented on #907
Thanks so much, Melissa! This is consistent with what I have in mind. The effect on O3 should be small, as coarse-mode aerosols should only contribute to a small fraction of aerosol surface area, and thus have little impact on N2O5 loss and O3 production.

[2021-09-29 19:46] msulprizio commented on #833
This is now resolved by PR https://github.com/geoschem/geos-chem/pull/921 and is currently merged into the `dev` branch. It will be included in GEOS-Chem 13.3.0.

NOTE: The option to use the volcano climatology (i.e. degassing emissions only) has also been included via the pull request https://github.com/geoschem/HEMCO/pull/110.

[2021-09-29 19:46] #833 closed

[2021-09-29 20:45] yantosca commented on #883
I will close out this issue.  Please feel free to open a new issue if you are still having problems with the dry-run or data transfer.

[2021-09-29 20:45] #883 closed

[2021-09-30 01:12] dorosieun commented on #924
Thanks @yantosca.
I keep looking the discussion #875.

@msulprizio said,

But,  I used 0.25x0.3125, GEOS_FP nested-grid. The default setting of this grid is 300/600s.
Will the accuracy of the simulation be reasonable even if the time step is doubled(600/1200s)?

[2021-09-30 11:54] zsx-GitHub commented on #917
Hi @yantosca, thank you so much! I redid the compiling with gfortran 10.2.0. The model is running smoothly with SpeciesConc outputs! So it seems that compiler matters!! Thank you very much for pointing this out.

There are, however, some warnings in the slurm****.out file:

At line 744 of file /n/home02/szhai/GC_run/clean.13.0.2/gc_merra2_fullchem_05x0625_AsiaPM_LDSTUP_obsPMC/CodeDir/src/GEOS-Chem

[2021-09-30 13:48] msulprizio commented on #924
@dorosieun That's right. The recommendation has always been to use the 300/600s timesteps when using 0.25x0.3125 GEOS-FP nested-grid simulations because of the higher grid resolution.

Here is also a wiki page with some tips for speeding up your simulations: http://wiki.seas.harvard.edu/geos-chem/index.php/Speeding_up_GEOS-Chem.

[2021-09-30 13:51] yantosca commented on #917
Thanks @zsx-Github. Those warnings
[code]
are caused by pointer references to fields of State_Met before calling TPCORE_WINDOW. Gfortran complains about it, ifort does not.

Hopefully the run will finish OK!

[2021-09-30 14:02] yantosca opened #926 "[FEATURE REQUEST] Use consistent naming for nested-grid integration test run directories"
In the integration tests the names of the nested-grid runs are different from the rest.

- Non-nested grid integration test run directories are named: `gc_{res}_{sim}_{met}`,
- But nested grid integration test run directories are named: `{met}_{res}_{sim}_{region}_{nLev}`.

We should make the nested grid run directory names use `gc_{res}_{sim}_{met}_...` for consistency.  This is a simple fix in t

[2021-09-30 16:08] yantosca commented on #901
Closing this issue, it is related to #917

[2021-09-30 16:08] #901 closed

[2021-09-30 18:04] yantosca opened #928 "[FEATURE REQUEST] Use nested-grid NA met fields for integration tests"
Nested-grid integration tests currently use the full global native-resolution met fields.  By using the cropped met fields to the NA domain we can speed up the time the tests take to execute.

Also, make all nested-grid integration tests use the NA domain (one uses AS).

[2021-09-30 18:40] yantosca commented on #928
This is now addresed with commit 60da147eea00cb661107a5550e6b07322876e1e2.

[2021-09-30 18:40] yantosca commented on #926
This is now addressed by commit c4d40fd6f8008e992a426c65dc559c3f3cdf9ae0.

[2021-09-30 20:26] tscarter opened #930 "[BUG/ISSUE] KPP 2.2.5 git pulls 2.2.3"
I am trying to customize the GC chemical mechanism, which means, as I understand it, that I need to install KPP-for-GEOS-Chem 2.2.5_gc – for GEOS-Chem 13.0.2 and earlier since I am running 13.0.0. However, when I use the commands on the website (copied below), I get the kpp-2.2.3 instead. This seems to be at least one of the reasons  why kpp compiling is failing. Any thoughts you have would be app

[2021-09-30 21:24] yantosca commented on #930
Hi @tscarter, thanks for writing.  It may be due to the version of Git that you have.  If you have an older version of Git (like before 1.8.5), then `git clone -b` isn't implemented.   Then you have to manually check out the tag and create a branch at the tag.

I was able to do the following commands on my server:
[code]

So the original git clone was able to checkout the commit at 2.2.5_gc, as no

[2021-09-30 21:26] yantosca commented on #930
I can update the RTD page when I get a chance.

Also note: @laestrada and I are preparing a new KPP repository, where all of the updates in the different branches are merged into the main branch.  This is definitely a work in progress.   Until that happens the geoschem/KPP repo is still the one to use.

[2021-09-30 21:30] yantosca commented on #930
If the `-b` option doesn't work, you can do this:

[code]
So you have to do the `git clone` and the `git branch` commands separately.

[2021-09-30 22:53] tscarter commented on #930
Thanks for such a quick reply. Our git version is much later (2.9.5), so I
don't think it's that.

I tried your second suggestion of separating out the commands, but I run
into the following error when running "git branch KPP_2.2.5_gc":
Not a git repository (or any parent up to mount point /home)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

Any ideas?

On Thu, Sep 30

[2021-10-01 01:16] barronh commented on #547
I'll check it out in the morning.

[2021-10-01 06:59] zsx-GitHub commented on #901
Hi @yantosca, thank you! But this is a different issue from #917.  Problems in #917 can be resolve by using compiler gfortran 10.2.0. But here the problems remain even after changing to gfortran 10.2.0.

I am attaching the HISTORY.rc file here to make sense of this issue.

[HISTORY.rc.txt](https://github.com/geoschem/geos-chem/files/7264821/HISTORY.rc.txt)

[2021-10-01 11:28] yfsong0709 opened #931 "[QUESTION] Some questions for HEMCO diagnostic files"
Thank you very much for offering this excellent program. When I was trying to run this model to simulate the tagCO concentration, I got some questions for the output results. Look at the following table, which contains the max value for each emission and each day in HEMCO_Diagnostics.YYYYMMDD0000.nc file.
![image](https://user-images.githubusercontent.com/17495679/135612596-6cac45b9-b4e7-4ad6-8ffa

[2021-10-01 13:19] yantosca commented on #931
Thanks for writing @yfsong0709.  I think `CER` is not an allowed time cycle option.  If you want to apply the QFED2 data only within the data range then you should use `EFY`.  Otherwise, if your simulation goes past the last year of QFED2 data that you have on disk, then you should use `C` instead.

[2021-10-01 15:28] yantosca commented on #930
Ooops, I think I got the order wrong.  Git checkout comes first, then git branch.

[code]
then you'll see the commit checked out at the tag 2.2.5_gc and then also checked out on the branch KPP_2.2.5_gc.

Sorry for the confusion!

[2021-10-01 17:16] tscarter commented on #930
Thanks! That worked; although, it still named it kpp-2.2.3_01. I do have
the log write out: Increase MAX_INLINE from 20000 to 50000; update version
to 2.2.5_gc. So should I assume that I have the correct version of KPP but
that it is just named incorrectly?

On Fri, Oct 1, 2021 at 11:28 AM Bob Yantosca ***@***.***>
wrote:

[2021-10-01 18:29] tscarter commented on #930
Perfect. Thanks!

On Fri, Oct 1, 2021 at 2:18 PM Bob Yantosca ***@***.***>
wrote:

[2021-10-01 18:54] yantosca commented on #930
Great.  I'll close out this issue.  Stay tuned for more news about our new KPP repo (but it will might take a while before KPP 3.0.0 is ready).

[2021-10-01 18:54] #930 closed

[2021-10-01 19:59] yantosca commented on #926
This is now applied with PR #929.

[2021-10-01 19:59] #926 closed

[2021-10-01 19:59] yantosca commented on #918
This is now applied with PR #929

[2021-10-01 19:59] #918 closed

[2021-10-01 20:00] yantosca commented on #928
This is now applied with PR #929

[2021-10-01 20:00] #928 closed

[2021-10-02 16:52] arundathi-c opened #935 "[QUESTION] Query regarding GEOS-Chem model resolution"
### Ask a question about GEOS-Chem:
Hello!

I have a query related to set the GEOS-Chem simulations for finer resolutions, other than the currently supported resolutions such as (4.0°x5.0°, 2.0°x2.5°, 0.5°x0.625°, and 0.25°x0.3125°). Is it possible to set up the simulations for finer resolutions by regrinding the input meteorology and by using FlexGrid?

[2021-10-03 04:34] yixinguo0421 opened #936 "[BUG/ISSUE]HEMCO RCP section reads emissions of NH3 wrong"
### Description of the problem
I utilize HEMCO RCP section to conduct runs that use future anthropogenic emissions and find issues with reading in NH3 emissions correctly. I conducted simulation for one year with 4-month spin up. Comparing HEMCO_diagnosis results and my input emission files, the model reads in all species correct except for NH3.

Let me provide some numbers to elaborate:
In one ca

[2021-10-03 10:04] ruifeili opened #937 "[BUG/ISSUE]Cannot do the dry run on the AWS cloud in 13.2.1(no yaml module)"
### Description of the problem
I want to conduct the full chemistry simulation on AWS cloud. But when I follow the instruction, the problem occurred in the process of dry-run. It showed that" File "./download_data.py", line 40, in <module>  import yaml ModuleNotFoundError: No module named 'yaml'".

### Description of troubleshooting performed
[code]

### GEOS-Chem version
13.2.1

### Description o

[2021-10-03 10:51] #838 closed

[2021-10-03 17:12] #761 closed

[2021-10-04 03:44] #803 closed

[2021-10-04 06:15] yixinguo0421 commented on #936
It seems that for every month in a year, HEMCO RCP section would reads only NH3 emissions from the first month of the emission file. I check HEMCO_diagnosis files for each month and EMis NH3 anthro is the same value for every month. This seems to be the bug.... Instead, EMis SO2 and NO anthro does get monthly variability

This issue also does not occur for earlier version of GEOS-Chem 12.1.1

[2021-10-04 06:45] #936 closed

[2021-10-04 17:19] tiffpangg opened #938 "[BUG/ISSUE] PM2.5 including dust when running with RCP emissions"
Hello, I am using GEOS-Chem for my thesis and I encountered some issues with the PM2.5 aerosol mass mixed in with dust
### Description of the problem
I am looking into PM2.5 levels in the future scenarios of different RCPs, but in different RCPs they all encountered the same problem -- dust is included in the PM2.5 aerosol mass as visualized below:
![2006_PM](https://user-images.githubusercontent.

[2021-10-04 18:56] chfite opened #939 "[QUESTION] Column integrated AOD diagnostic output"
I am wanting to save out netcdf files of the vertically summed AOD for different aerosol species. Currently in the Aerosols diagnostic in History.rc the AOD is saved out at all vertical levels and has dimensions (time, lev, lat, lon). I only want the vertically summed AOD values, thus dimensions (time, lat, lon), because it will reduce the space I need to store output on disk. Is there a way to sp

[2021-10-05 08:39] alviswong1221 opened #940 "[BUG/ISSUE] Problems related to the restart files in 12.9.3 simulations"
### Description of the problem
I have tried to run GEOS-Chem simulations in a computer cluster. Due to some technical issues, my geos-chem runs may be stopped by the cluster suddenly without any notice. Once the cluster stopped my job, I will re-run the simulation with the start date be the start of the month before the day the simulation stop, for instance, if the run stopped on 17/3/2014, I will

[2021-10-05 13:24] laestrada commented on #937
Hi Ruifelli,

The error looks like not all of the python packages needed are installed. Specifically the error you are hitting looks like PyYAML is not installed. Have you set up [gcpy](https://gcpy.readthedocs.io/en/stable/)? If so, do you have your conda environment activated?

[2021-10-05 14:55] yantosca commented on #939
Thanks for writing @chfite.  You would have to add a new diagnostic for column-integrated AOD, because the dimensions of HISTORY diagnostics are fixed and are specified before the diagnostics arrays are allocated.

We have outlined the basic steps for adding new History diagnostics [here http://wiki.seas.harvard.edu/geos-chem/index.php/Adding_new_History_diagnostics].  You can also cut-n-paste the

[2021-10-05 15:02] yantosca commented on #937
Thanks for writing @ruifeili.  I think @lizziel is correct -- you will need to activate a Conda environment before running the `download_data.py` script.

We would also encourage you to view [our Youtube video tutorial](https://i.ytimg.com/vi/ZLSXrjHqJAs/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCre0CxeYmf-CPXwQ5QuFf8Tz4xow) that outlines the steps of how to do a

[2021-10-05 15:05] yantosca commented on #935
Thanks for writing @arundathi-c.  Technically you probably could go finer than the standard grids in GC-Classic, but you might find that the regridding incurs a large amount of computational overhead.

We would recommend that you look into using GCHP for high-resolution simulations.  GCHP 13.2.0+ now has a stretched-grid feature that allows you to zoom in on a region of interest.  Please see our G

[2021-10-05 18:57] yantosca opened #941 "[BUG/ISSUE] Incorrect indexing for State_Chm%DryDepVel and related drydep quantities"
@lizziel found an error in the registering of the `State_Chm%DryDepVel` field.

The list of CHEM_DryDepVel species in the log looks wrong
[code]
The drydep species start at MPAN and then go alphabetically.   Some of those are not drydep species, e.g. `MP`.

We think that this is related to incorrect species indexing, and/or the omission of the wild card for drydep species.  We are working on a fix

[2021-10-05 20:04] laestrada commented on #937
@ruifelli we have published the amis for 13.2.1 and 13.2.0. See [here](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_versions) for the ami ids.

[2021-10-06 10:01] LukeFakes opened #943 "[QUESTION] HEMCO masks "Box" attribute redundancy"
### Ask a question about GEOS-Chem:
I've been using a custom mask to apply regional emissions in GC v13.2.1. I noticed that when changing the Box attribute column (in this case to apply the mask over a smaller region of longitudes), it had no effect. I did what I'd wanted to by editing my mask file, so it wasn't an issue.

The HEMCO user's guide [mask section](http://wiki.seas.harvard.edu/geos-che

[2021-10-06 10:11] ruifeili commented on #937
@yantosca @laestrada
Thank you for the help. I used the AMI for 13.2.1 (ami-0983d1d6b06e4dd3f) to run the simulation. I watched the suggested video and typed the command "conda activate geo" and "time -p ./download_data.py log.dryrun amazon". Now it works. Thank you so much!

[2021-10-06 10:12] #937 closed

[2021-10-06 14:44] eamarais opened #944 "[BUG/ISSUE] No files shown on http://geoschemdata.wustl.edu/ using a web browser"
Is there an issue with http://geoschemdata.wustl.edu/ currently? I was only able to download some months of MERRA2 2020 meteorology at 4x5. When I tried to check whether this data was missing on http://geoschemdata.wustl.edu/ using Google Chrome and Safari, the folders appear empty, as in the attached/below screenshot.

![Screenshot 2021-10-06 at 15 41 20](https://user-images.githubusercontent.com

[2021-10-06 15:27] yantosca commented on #943
Thanks for writing @LukeFakes.  I believe that the Box attributes for the masks (shown below) do not have any function for GEOS-Chem Classic.
[code]
I think in earlier versions of HEMCO they were used to tell GCHP which lats/lons to expect the mask in so that the masking could be done in the MPI environment.  But even now I think it is no longer used for that.

So it's more or less an obsolete fea

[2021-10-06 16:01] YanshunLi-washu commented on #944
Hi @eamarais It was very likely down for maintenance. I just tried myself a few minutes ago. It looks good now. You're also welcome to use the globus endpoint GEOS-Chem Data (WashU).

[2021-10-06 19:20] yantosca commented on #938
Thanks for writting @tiffpangg.  Can you confirm, is the plot above from the RCP emissions, or is it the PM25 diagnostic from the Aerosols collection?  I wasn't clear on that.

PM2.5 in GEOS-Chem is computed in `GeosCore/aerosol_mod.F90` as:

[code]
So there is a dust component of PM2.5 in the standard GEOS-Chem diagnostic output.  You could comment those lines out if you wish to exclude them from

[2021-10-06 20:24] yantosca commented on #940
Thanks for writing @alviswong1221.  You might need to also update your `HEMCO_Config.rc` file to save out monthly HEMCO restart files.  Otherwise, HEMCO quantities will be re-initialized to zero.

Also, the restart files are netCDF and use compression, so their size may vary somewhat.

[2021-10-08 02:06] tiffpangg commented on #938
Thank you so much for your answers!

It is a plot from the Output file: GEOSChem.AerosolMass_20060501_0000z.nc4 under variable "PM25"

Does it mean to comment out these lines from the `GeosCore/aerosol_mod.F90` file?

[code]

also attaching my HEMCO_Config file:
[HEMCO_Config.txt](https://github.com/geoschem/geos-chem/files/7307891/HEMCO_Config.txt)

[2021-10-08 15:52] eamarais commented on #944
Thanks @YanshunLi-washu. Is it possible the permissions for the files are not correct? I tried downloading MERRA2 at 4x5 for Jan-July 2020, but get the message "HTTP request sent, awaiting response... 403 Forbidden".

[2021-10-09 11:10] yangning-code opened #946 "[BUG/ISSUE] Excessive fall velocity in UCX when running complex SOA_SVPOA"
### Description of the problem
When I use GEOS-Chem.13.2.1 to run gc_025x03125_geosfp_fullchem_complexSOA, The model always reports an error, the content is as follows GEOS-CHEM ERROR:  Excessive fall velocity? STOP at  CALC_FALLVEL, UCX_mod. The specific content is placed in the log files

### Description of troubleshooting performed
Describe any troubleshooting that you have already performed he

[2021-10-10 17:46] lfreese commented on #824
Hoping to re-open this issue as it seems that it is more than just an error caused by the change to CRE. Using CRE instead of EFY fixes spiking values in the most exterior of the buffer grid cells, but not in the second layer. I'm wondering if this has anything to do with the hard-coding of value 1 in lines 2500-2531 of hco_utilities_gc_mod.F90? It looks like the I,J,L are set to be values of 1 (o

[2021-10-11 12:42] stefanyim opened #947 "[BUG/ISSUE] Segmentation fault when reading HEMCO_Config.rc"
### Ask a question about GEOS-Chem:
When using GC v11-01 to run geosfp_2x25_soa compiled by ifort17, I meet a segmentation fault as below:

[code]

I have been set the environment variable as ’export OMP_STACKSIZE=500m’ and ‘ulimit -s unlimited’. The following is content in hco_extlist_mod_m(line 713):

[code]

I wonder how to solve this problem, thank you very much.

[2021-10-11 13:41] XunZhangNJU opened #948 "[BUG/ISSUE]HEMCO ERROR: Cannot find field SPC_COus, Please check variable name in the config. file"
### Description of the problem
When I run GEOS-Chem version 13.2.1, tagged CO, resolution 2.5x2.5, MET restrart files is MERRA2, run time range: 20130701-20130801.

### Description of troubleshooting performed
After compiled,  run ./gcclassic, GC show this error:
HEMCO ERROR:  Cannot find field SPC_COus, Please check variable name in the config. file

### GEOS-Chem version
gcclassic 13.2.1

### De

[2021-10-11 21:43] lfreese opened #949 "[BUG/ISSUE] (solved--this was an issue of two different branches being used)"
### Description of the problem
Because of the change in UCX and retirement of tropchem, a few of the presets in v13.2.1 are a bit confusing off the bat and need to be modifying--putting this here in case others are seeing similar errors, and wondering if there is an automatic work-around to this:

1. When running a nested grid, the nested lat/lon no longer are automatically input in the grid menu

[2021-10-11 23:39] #949 closed

[2021-10-12 08:43] yangxiajie opened #950 "[QUESTION]How to plot results from WRF-CMAQ with GAMAP"
This is a question about GAMAP ploting. I want to plot a map from WRF-CMAQ results, with GAMAP.  However, I found that the coordinates of the map were shifted to the lower left as a whole.  First, I thougt it was because of the projection, so I set `/LAMBERT` at tvmap. But it was still not work.

I wonder if GAMAP can p;oy the results from WRF-CMAQ?

Thank you very much.

I put the map here:
![map

[2021-10-12 13:52] yantosca commented on #946
This may be duplicate of #762.

[2021-10-12 15:16] BlackFreedom commented on #948
Thank you very much for your reply, Prof. Yantosca. I use CYS in the HEMCO_Config and run successfully. I spin up my simulation at least one year, Right?

[2021-10-12 15:39] #948 closed, assigned to nobody

[2021-10-12 15:48] yantosca opened #951 "[BUG/ISSUE] Wrong precision used for MO2 + HO2 reaction in fullchem.eqn"
In fullchem.eqn, this reaction:
[code]
should use double-precision exponents:
[code]
to avoid type errors.

NOTE: This was not flagged by any integration tests using Gfortran 10.2, but @jimmielin reported this issue in a development branch that he was working on.

[2021-10-12 15:49] jimmielin commented on #951
These also seem to have single-precision exponents:
[code]

Not sure if they also affect compile, but I fixed all of them to pass gfortran compile with standalone KPP.

[2021-10-12 21:42] yantosca commented on #947
Thanks for writing.  This error seems to be in the Fortran `TRIM()` function when reading HEMCO_Config.rc.  This could happen if the `HEMCO_Config.rc` you are using is from a different version.

Have you tried turning on `VERBOSE: 3` in your `HEMCO_Config.rc` file?   This will increase the amount of debug output sent to the `HEMCO.log` file.  That might help you narrow down where the error is occu

[2021-10-13 20:49] lizziel opened #953 "[FEATURE REQUEST] Use Cloud-J as submodule in GEOS-Chem"
This feature request supersedes https://github.com/geoschem/geos-chem/issues/666 (Extract FAST-JX code into separate directory). Cloud-J is an improved Fast-J from Michael Prather that can be run as a standalone model. Rather than pull the existing Fast-J out of GEOS-Chem into a separate module I will instead add Cloud-J as a git submodule within the GEOS-Chem super-projects (GC-Classic and GCHP).

[2021-10-13 20:49] #666 closed

[2021-10-13 21:41] barronh commented on #547
Wow, that was a long morning. This slipped through the cracks, but I have updated it and reposted.

[2021-10-13 22:35] msulprizio commented on #941
This has been resolved by PR https://github.com/geoschem/geos-chem/pull/942 and is now in the `dev` branch for inclusion in 13.3.0.

[2021-10-13 22:35] #941 closed

[2021-10-14 02:24] stefanyim commented on #947
Thank you @yantosca !! It seems that my `HEMCO_Config.rc` is from the same version. I have tried turning on VERBOSE: 3 in your HEMCO_Config.rc file, but it did not work. Here are the `HEMCO_Config.rc` and `HEMCO.log` before/after I turned on VERBOSE: 3.
[HEMCO_Config&log.zip](https://github.com/geoschem/geos-chem/files/7342453/HEMCO_Config.log.zip)

[2021-10-14 15:14] yanglibj opened #954 "[BUG/ISSUE]CH4 simulation: Infinity in DO_CLOUD_CONVECTION"
### Description of the problem
Using version12.9.3, got the "Infinity in DO_CLOUD_CONVECTION" error starting since the 2021/04/04 19:30 time step.
[code]
### Description of troubleshooting performed
Tried an earlier fix that was added to UCX_MOD: https://github.com/geoschem/geos-chem/commit/e4a632bf4d5f8790797c8b6b3f84d883cf867261
but this didn't resolve the problem.

Turned on debugging to track

[2021-10-14 15:44] yantosca commented on #954
@yanglibj can you also try using a Gfortran (such as gfortran 10) with debugging?  That might trap the error better than ifort.

[2021-10-14 16:48] hmhorow opened #955 "compatibility of gcc-built netCDF libraries with intel compiler? [BUG/ISSUE]"
### Description of the problem
Installed netCDF libraries for GEOS-Chem using spack and gcc compiler. Compiled Viral's GC mercury code with Intel compiler (because gfortran wouldn't work with this version. more info on version below). Ran mercury simulation, it died at the end of the first month because it seems to be unable to write netCDF output files ("In Nccr_Wr, cannot create:  OutputDir/GEOS

[2021-10-14 16:55] klconferUW opened #956 "[QUESTION] Stratospheric Bry species in trop only vs trop+strat"
Hi,

I am aware the troposphere only GC versions 13.0.0 - 13.1.2 is problematic. I am interested in what caused the “~50% differences in tropospheric halogens in trop only 47L versus trop+strat 72L” mentioned in #732 and #839. Is stratospheric halogen chemistry handled the same in trop only and strat+trop?

I am specifically interested in how stratospheric Bry species are handled and the differenc

[2021-10-14 18:58] hmhorow commented on #955
Hi @yantosca , thanks so much for your reply! that is what I suspected.

So I just retried compiling with gfortran, and this is the error:

`../Makefile_header.mk:186: *** "Unknown Fortran compiler!  Must be one of ifort, gfortran, or mpifort|mpif90.  Check the FC environment variable in your .bashrc or .cshrc file.".  Stop`

if I enter `echo $FC` it shows this which should be the correct location

[2021-10-14 21:18] yantosca commented on #955
Hi @hmhorow, thanks for the feedback.  So when I load my own Spack environment, I end up doing (in a script):
[code]
So I end up doing a

[code]
etc.  This seems to make the compiler available for me.  But it may also be because I used the `spack load` commands, as I think that loads certain paths into your `PATH` and `LD_LIBRARY_PATH` environment variables.

That error is thrown a check in the Ma

[2021-10-14 21:27] yanglibj commented on #954
Yes I did. I always make clean before compiling.

[2021-10-14 22:48] yanglibj commented on #954
I still couldn't make the model running with gcc.gfortran10.2_cannon.env. But I was able to use gfortran through init.gc-classic.gfortran71.centos7
However, the new simulation didn't give me any new information at all...

I also tried an earlier version 12.7.1 but got the same NaN error. Below is the message:
libifcoremt.so.5   00002AEF268F5216  for__signal_handl     Unknown  Unknown
libpthread-2.

[2021-10-15 07:09] Dimakis8 opened #957 "[BUG/ISSUE] Restart files in Hg simulation"
Dear all,

I would like to make a question. I am using geos chem 13.0.2 for mercury simulation on 2x2.5 grid.

my mercury menu in input.geos is the following:
[code]
The error reported is about the restart files and related with the snowpack hg source.
[code]
When the restart fields are including ONLY the SpeciesRst_Hg0-Hg2-HgP and the MET fields, the simulation is running.

When I add the 'Chem_O

[2021-10-15 10:10] LukeFakes commented on #791
Hi @yantosca ,  to use the GMI strat files do you turn off UCX in input.geos?

[2021-10-15 13:20] #944 closed

[2021-10-15 13:48] msulprizio commented on #900
@YanshunLi-washu would you be able to take care of correcting the variable names in the affected files?

[2021-10-15 14:01] msulprizio commented on #791
Hi @LukeFakes to switch between using UCX and GMI prod/loss rates, you can modify the settings in `HEMCO_Config.rc`:

[code]

[2021-10-15 15:10] yantosca commented on #946
@yangning-code, did applying the fix in #762 solve your issue?

[2021-10-15 15:46] LukeFakes commented on #791
Hi @msulprizio. This problem is also present in nested grid runs using the same configs as their 4x5 simulation, even after testing with UCX vs GMI on. The error occurs at the first timestep with `DO_CLOUD_CONVECTION`. For info, these are the config and log files
[Files.zip](https://github.com/geoschem/geos-chem/files/7354465/Files.zip)

[2021-10-15 16:48] YanshunLi-washu commented on #900
@msulprizio Yes. I'll work with @hongjianweng to fix it and let you know ASAP. Thanks

[2021-10-16 11:56] flavioquadros commented on #915
Thanks for the response!

The thing is I don't think these factors (101-109) assume the input is in kg C. They should be applied on total organic gases ("TOG") expressed as kg. This is, in turn, calculated from total hydrocarbons ("THC") expressed as equivalent kg of CH4, which is how turbojet emissions are measured for regulation. The hydrocarbon emissions on AEIC represent this THC in base CH4,

[2021-10-18 00:23] yangning-code commented on #946
I can only modify the falling speed threshold to keep the model running.

[2021-10-18 07:35] lixiao-bit opened #958 "[QUESTION]calculation of PM10 concentration"
### Ask a question about GEOS-Chem:
How to calculate the concentration of PM10 based on the model‘s outputs?

[2021-10-18 14:47] RuijunDang opened #959 "[QUESTION] Unit conversion in Planeflight diagnostic"
Hi All,

I am using the planeflight diagnostic, and noticed the issue #796 and the fix to it [2e58896](https://github.com/geoschem/geos-chem/commit/2e588964472489aa5addb6ae8679011365bedd01) in version 13.2.1.

But In lines 1703-1705 of GeosCore/planeflight_mod.F90, the calling of 'Convert_Spc_Units'  seems to have completed the unit conversion (from kg/kg dry to v/v) before saving out the concentr

[2021-10-18 15:37] yanglibj commented on #954
I didn't see anything weird related to the met field for 2021-4-4 so I didn't mention it up earlier. Maybe I missed anything. If you could reprocess the data, I can try the simulation again and see whether it fixes the problem.  Also, I have shared my code and rundir on Cannon with your team in my private email. It would be helpful if you can take a look for me. Thank you!

[2021-10-18 15:44] yanglibj commented on #954
Btw if you prefer to look into a clean code version, you can download a clean v12.9.3 code and it should give you the same problem.

[2021-10-18 20:02] mzhang78 opened #960 "[QUESTION] Run time for nested NA grid model run?"
### Ask a question about GEOS-Chem:
Hi, I am currently taking some merra2_05x0625_tropchem_na nested model runs.
As a result of my test, a one-month simulation takes 80hrs (Wall-clock time) with 20 CPUs. (core-wall time: >1500 hrs)
I think it takes much longer than I expected, but I'm not sure.
Is this running time normal?

FYI:
GEOSChem version: 12.9.3
Tran/conv timestep [sec]: 600
Chem/emis time

[2021-10-18 20:13] yanglibj commented on #954
Thanks for catching this. This is the error from ./geos > GC_12.9.3.log, no MPI.

Program received signal SIGFPE: Floating-point exception - erroneous arithmetic operation.

Backtrace for this error:
#0  0x2aaaac1ec3ff in ???
#1  0x1164338 in __ncdf_mod_MOD_nc_read_arr
	at /home/liy/GC/Code.12.9.3/NcdfUtil/ncdf_mod.F90:1156
#2  0xcc2d6c in __hcoio_read_std_mod_MOD_hcoio_read_std
	at /home/liy/GC/C

[2021-10-19 04:52] YanshunLi-washu commented on #902
Before regridding to the GEOS-Chem ready data file, the original MERRA2 file MERRA2_400.tavg3_3d_asm_Nv.20210317.nc4 on the Washu data portal is found corrupted. I'll try redownload and reprocessing it again. Thanks.

[2021-10-19 10:54] tscarpelli opened #962 "[BUG/ISSUE] Issue with nested CO2 simulation (custom grid) boundary conditions"
### Description of the problem
Hello support team! I am a new GEOS-Chem user and I am trying to run a 1-week nested CO2 simulation at 0.25 x 0.3125 using GEOS-Chem v13.2.1 over a custom region in Europe. The code dies soon after it starts time stepping with a Segmentation Fault error (invalid memory reference).

### Description of troubleshooting performed
I believe the problem is associated with

[2021-10-20 18:10] LiamBindle opened #1422 "[Feature Request] Update land info for GEOS-FP"
GEOS-FP has some improvements to the surface info as described here: https://gmao.gsfc.nasa.gov/researchbriefs/land_changes_GEOS-FP/land_changes_GEOS-FP.pdf.

I haven't had a chance to review this yet, but it might be worth updating our constant surface metfields fields for GEOS-FP.

[2021-10-20 19:12] rgstevens opened #964 "[BUG/ISSUE] Reference in YuIMN.F90 to GEOS_NATIVE, which is now CHEM_INPUTS"
### Description of the problem
We set up a GEOS-Chem simulation with TOMAS (40 bins). When we attempted to run the simulation, it almost immediately crashed with a runtime error:
`Fortran runtime error: Cannot open file '/home/alejo/projects/rrg-hayesp/nicolet/GC/ExtData/GEOS_NATIVE/TOMAS_201402/YuIMN_J5D.txt': No such file or directory`

### Description of troubleshooting performed
On line 306 of

[2021-10-21 15:24] msulprizio opened #965 "[BUG/ISSUE] Incorrect units for ProdLoss diagnostic output in GEOS-Chem 13.0.0+"
@ltmurray wrote:

This is a bug in the diagnostics code. The units of the ProdLoss diagnostic are still in molecules cm-3 s-1. In routine `Get_Metadata_State_Diag` in `Headers/state_diag_mod.F90` there is [a check for `isFullChem`](https://github.com/geoschem/geos-chem/blob/ba58da4a6e447e47714fe5e7da488d15432a6fdc/Headers/state_diag_mod.F90#L10964-L10994) using a logical from `Headers/diaglist_mod

[2021-10-21 17:06] #964 closed, assigned to msulprizio

[2021-10-21 17:17] msulprizio commented on #965
This bug is now fixed in commit https://github.com/geoschem/geos-chem/commit/b1f020693b84efba303ba85ef642af65c69562c4, which will be included in 13.3.1.

[2021-10-21 17:17] #965 closed

[2021-10-21 18:45] ncolombi opened #966 "[BUG/ISSUE] Integrate error in GEOS-Chem 12.7.2 with Bates et al. (2021) aromatic chemistry"
### Description of the problem
Describe your problem here.  Describe the steps to reproduce the problem here, if possible.

I am running a geosfp4x5 global tropchem simulation using GC version 12.7.2. I have added Kelvin/Ke's aromatic chemistry through the steps detailed below in the modifications section. However, I keep getting the the following error:
[code]
### Description of troubleshooting p

[2021-10-22 03:23] xin-tie opened #967 "[QUESTION] Running GEOS-Chem 12.9.0 with GISS ModelE2.1"
Hi everyone, I am currently using meteorology from GISS ModelE2.1 as input for running GEOS-Chem 12.9.0 to do a simulation for pre-industrial, although I am stuck at "make -j MET=  GRID=4x5 CHEM=Standard NO_REDUCED=NO" to compile, because I don't know what to use for MET and I tried GCAP but don't think that's the correct one to use. Could anyone give me some suggestions on this? Thanks so much! (

[2021-10-22 09:04] UniquePEI opened #968 "[QUESTION] How to output the concentration of mineral dust from the Aerosolmass model？"
### Ask a question about GEOS-Chem:
Dear GC Team,
I am using v13.2.1 and would like to output the concentration of mineral dust in Aerosolmass model. But the model just output AerMassNIT, AerMassSO4, TotalOA, PM2.5 et. al. I read the aerosol_mod.f90 documentation and found calculations of SOILDUST. So I would like to ask how to set the concentration of the output mineral dust. Thanks!

[2021-10-22 15:05] map06 opened #969 "[BUG/ISSUE] Negative concentration for species NO"
### Description of the problem
I am running nested grid simulation in the customized grid. I at first simulated at 4 by 5 degree resolution and then used its Boundary condition values to simulate at  0.4 by 0.625 degree resolution. The model works fine till I simulate it at the date `20151026` at time `15:00` from where I get the following warning:
[code]
Then the code stops abruptly.
[code]

###

[2021-10-22 17:50] yfsong0709 opened #970 "[QUESTION]Questions about CO simulation"
Hi，I'm a new user to use the Geos-Chem v [13.1.12]for the tagCO  simulation. When I was trying to run this model, I have some questions about it.
1.	The CO simulation is a simplified simulation for the CO species only. Should I turn on the chemistry menu in input.geos file below?
![image](https://user-images.githubusercontent.com/17495679/138498305-4251c9b7-571c-4d74-b1d6-0051da9099bb.png)
2. If t

[2021-10-22 18:23] laura-hyesung-yang opened #971 "[BUG/ISSUE] Error when reading new species from restart file in GEOS-Chem 13.3.0 development code"
I'm using GCClassic v13.3.0-alpha.12-4-g9c5f426. I'm getting an error due to the change in species name. For instance, in the past, the compound was called IONITA and now it's called AONITA. So, I have to manually change the species name in the restart file. May I ask if this can be integrated into v13.3.0?

<img width="823" alt="Screen Shot 2021-10-22 at 2 14 44 PM" src="https://user-images.githu

[2021-10-25 17:33] croy64 opened #972 "[QUESTION] Making O3 inert when it crosses into the troposphere"
Hello,
I wanted to know if there is a way to either turn off stratospheric transport into the troposphere, or make the ozone molecules coming into the troposphere inert, in GC full chemistry simulations?
Thank you

[2021-10-25 22:19] #971 closed, assigned to msulprizio

[2021-10-26 09:20] map06 opened #973 "[BUG/ISSUE] Incorrect ozone values in tagged ozone simulation."
### Description of the problem
I am trying to run tagged  ozone simulation in GeosChem `v13.0.0`. But, the results seems very  inaccurate. The initial range of surface ozone, `SpeciesConc_O3`  at the start of simulation, is between 30 and 60 ppbv(All units are in ppbv). But, the  ozone  values decrease  the more I run.
![image](https://user-images.githubusercontent.com/30238394/138730226-0e8b1fde-

[2021-10-26 14:01] #968 closed, assigned to msulprizio

[2021-10-26 16:25] #962 closed, assigned to msulprizio

[2021-10-27 01:07] yangning-code opened #974 "[QUESTION] Why was Pye et al 2010 SOA retired?"
### Ask a question about GEOS-Chem:
At IGC9, the Aerosols Working Group decided that the VBS isoprene SOA based on Pye et. al (2010) should be removed in favor of the mechanistic isoprene SOA from Marais et al. (2016).
Why do you do this? Is it because these two mechanisms double-calculate the total amount of SOA generated by ISOP?

[2021-10-27 01:08] yangning-code opened #975 "As the speed keeps changing, although I changed the threshold, I still get an error"
As the speed keeps changing, although I changed the threshold, I still get an error
### radius   3.207498238154354E-002
### density    990.000000000150
### tcenter    214.997045516968
### pcenter   10.0514360000000
### vel:    14.3075995075333
GEOS-CHEM ERROR:  Excessive fall velocity?
STOP at  CALC_FALLVEL, UCX_mod

Finally add the code:
IF (VEL.gt.10.e+0_fp) THEN
   VEL = 10.e+0_fp
ENDIF
! Veloc

[2021-10-27 16:23] #975 closed, assigned to nobody

[2021-10-27 18:34] #974 closed, assigned to nobody

[2021-10-29 14:48] #959 closed, assigned to yantosca

[2021-10-29 18:45] barronh commented on #547
No worries. It surprised me that it cached. I wonder if that is a setting on our site that could be updated to prevent similar future caches.

[2021-10-29 19:22] subtlescreamer opened #981 "[BUG/ISSUE] Negative scale factor in CH4 simulation"
Shout-out to the community and the geos-chem team for all their extensive documentation and descriptive wikis.

### Description of the problem
I am working to better understand Methane concentrations from the CLIMCAPS retrieval algorithm by comparing them to Methane simulations using Geos-chem.
Currently running a debug test simulation for Methane and have come across an issue - When the simulatio

[2021-10-29 19:30] yantosca commented on #981
Thanks for writing @subtlescreamer.  Could you also post your HEMCO.log file?  I believe this is an error in HEMCO, and it should show up in HEMCO.log.  (Rename it to HEMCO.log.txt so that it'll post here.)

[2021-10-29 19:38] yantosca commented on #915
Also tagging @sdeastham here who was the developer of the AEIC inventory.

[2021-10-29 20:25] yantosca commented on #604
I believe we can close this issue because PR #658 has been merged and will be released pending approval of benchmark results.

[2021-10-29 20:25] #604 closed

[2021-10-29 20:30] yantosca commented on #748
Please note: geoschemdata.computecanada.ca will now bounce to the WashU server.  See discussion #963.

[2021-10-29 20:33] yantosca commented on #733
gckpp_HetRates.F90 has since been removed.  This issue is now corrected in the new code which will be introduced in version 13.3.0.

https://github.com/geoschem/geos-chem/blob/2b3b2b304abd092231c7d33718015e7b995ad277/KPP/fullchem/fullchem_RateLawFuncs.F90#L1648-L1709

[2021-10-29 20:33] #733 closed

[2021-10-29 20:39] yantosca commented on #500
Feature request #833 has now been closed, so we can close this issue as well.  The volcano climatology has been merged into the 13.3.0 development stream and will be released with version 13.3.0.

[2021-10-29 20:39] #500 closed

[2021-10-29 21:10] yantosca commented on #958
@lixiao-bit, we are currently waiting from guidance from the GEOS-Chem Steering Committee and hopefully soon should have an accepted definition for the PM10 diagnostic.

[2021-10-29 21:11] yantosca commented on #953
@lizziel: should we remove the `feature/modularize_fjx` branch if we are abandoning work on FAST-JX in favor of Cloud-J?

[2021-10-29 21:17] yantosca opened #982 "[FEATURE REQUEST] Add a line to remove PET*.ESMF_LogFile logs to run/shared/cleanRunDir.sh"
GCHP now saves out one `PETnn.ESMF_LogFile` per each core `nn` used in a simulation.  For GCHP benchmarks this adds 96 files to the rundir.   Could we add a line such as
[code]
to the rundir script `run/shared/CleanRunDir.sh`?   This would get rid of these log files along with all of the other logs when cleaning up a GCHP rundir.

Tagging @lizziel @LiamBindle

[2021-10-29 21:58] msulprizio commented on #982
See this discussion here: https://github.com/geoschem/GCHP/discussions/153#discussioncomment-1320852

[2021-10-29 23:32] #909 closed

[2021-10-30 03:30] yangning-code commented on #946
Is there no way to solve this problem?

[2021-10-31 14:12] yfsong0709 commented on #970
Hi, I have tried to spin up my simulation with the default settings for several years. Then, I find the concentrations of species ‘CO’, ‘COnmvoc’ and ‘COch4’ are still exceedingly higher than the normal value. (See Fig.1. The value up to 1e+8 mol/mol dry. Shouldn't this value be less than 1 mol/mol dry?) After extensive experiments, I found that turning off the two switches shown in the Fig.2 belo

[2021-11-01 09:54] yangning-code commented on #762
I want to know which restart file you used to solve GEOS-CHEM ERROR: Excessive fall velocity?

[2021-11-01 11:15] #946 closed

[2021-11-01 15:46] yantosca commented on #935
I am going to close out this issue.  Feel free to contact us if you are still having problems.

[2021-11-01 15:46] #935 closed

[2021-11-01 16:02] yantosca commented on #947
@stefanyim, because v11-01 is a very old version at this point, we can no longer support it.  I would recommend updating to one of the more recent versions if possible.  If you have to stick with your v11-01 version, please try recompiling with the debug flags turned on (DEBUG=y BOUNDS=y FPEX=y) and see if that fixes your issue.

[2021-11-01 16:02] #947 closed

[2021-11-01 16:14] yantosca commented on #940
Thanks @alviswong1221.  I will close out this issue.  Please contact us again if you are still having problems.

[2021-11-01 16:14] #940 closed

[2021-11-01 18:21] yantosca commented on #965
Also see PR #978

[2021-11-01 18:55] yantosca commented on #917
Hi @zsx-GitHub, I will close out this issue as it seems that this is now resolved.  Please feel free to submit a new issue if you are still having problems.  Thanks so much!

[2021-11-01 18:55] #917 closed

[2021-11-01 20:36] LiamBindle commented on #982
I believe @lizziel fixed this in https://github.com/geoschem/GCHP/commit/8bdae2cac33946e8b5763faf9fd641b1d4bde255 (latest commit in 13.3.0)

[2021-11-01 20:42] yantosca commented on #981
@subtlescreamer, I wasn't able to tell if the run that you did was an "out-of-the-box" run (i.e. with no modifications), or if you added any modifications (i.e. turning on non-default emissions).  Could you please clarify?

If you haven't done an "out-of-the-box" run, then I would try that...just create a new rundir and set it up to run for 1 day, without touching any of the other defaults.  If th

[2021-11-01 20:58] lizziel commented on #982
My fix prevents ESMF error that resulted in the files always being created. But I did not update the createRunDir script to remove them should they be created. @yantosca, adding that line is a good idea. I think a line to remove new log file allPEs.log is also needed. Thanks!

[2021-11-01 22:59] yantosca commented on #982
Thanks @lizziel, I'll make a PR shortly for 13.3.1 with these fixes to createRunDir.sh.

[2021-11-01 23:00] yantosca commented on #982
@LiamBindle: also I was working with a 13.3.0-alpha.9 benchmark so probably the update from @lizzie wasn't added at that point.

[2021-11-02 15:48] lizziel opened #984 "[QUESTION] TS or T2M temperature in MEGAN and add T2M in HISTORY.rc"
### Discussed in https://github.com/geoschem/geos-chem/discussions/979

<div type='discussions-op-text'>

<sup>Originally posted by **luhu0** October 29, 2021</sup>
Hello there,

I am trying to figure out which surface temperature is used to drive MEGAN biogenic VOC emissions and output the right diagnostic for that. I think traditionally we used T2M (surface temperature at 2 m). From the hcox_meg

[2021-11-02 15:55] yantosca commented on #984
Thanks for writing @luhu0.  In the routine `GeosCore/flexgrid_read_mod.F90`, we read the `T2M` field and store it as `TS`, and then we save the `TS` field as `TSKIN`:

[code]
This was done mostly for backwards compatibility.  At some point in the past (maybe at the GEOS-3 to GEOS-4 switchover), the TS field was switched to be the surface skin temperature.  This caused isoprene emissions to skyrock

[2021-11-02 20:17] yantosca commented on #957
I was able to reproduce this issue.  It seems that the various State_Chm%OceanHg0 etc. fields have not been registered for the diagnostics.  This was probably an oversight or was lost in the shuffle as we modernized the code.  I can work on a solution.

[2021-11-02 20:24] yantosca commented on #957
Actually upon further review, these fields should be getting registered in this code in state_chm_mod.F90 (at least it is in v13):

https://github.com/geoschem/geos-chem/blob/ba58da4a6e447e47714fe5e7da488d15432a6fdc/Headers/state_chm_mod.F90#L2378-L2648

I can look into why this isn't working further.

[2021-11-02 21:04] yantosca commented on #957
It looks like there is an issue in the wildcarding of the species
[code]

[2021-11-03 15:39] yantosca commented on #957
This issue should now be fixed with commit 51fa209141a075c0b39c2ef0622137e9ae11e886.  The issue was that we were trying to add a second underscore into the diagnostic name, but the second but this is not necessary.  I will merge this into 13.3.1.

NOTE: The tagged Hg simulation now appears to be broken but we look to the community to fix this.

[2021-11-03 18:22] yantosca commented on #981
@subtlescreamer, I was just able to run successfully for 20160101 without the error using the 13.2.1 code, which is the latest version.  Could you try with this version?  I wonder if something got fixed since 12.9.3.

[2021-11-03 18:26] yantosca commented on #966
I will close out this issue @ncolombi.  Please feel free to open a new issue if you are still having problems.

[2021-11-03 18:26] #966 closed

[2021-11-03 18:28] luhu0 commented on #984
Great. Thanks for clarifying it, Bob. This makes sense now.

[2021-11-03 18:29] ncolombi commented on #966
I upgraded to version 13.3 and it runs perfectly!

On Wed, Nov 3, 2021 at 2:26 PM Bob Yantosca ***@***.***>
wrote:

[2021-11-03 18:48] #916 closed

[2021-11-03 20:39] yantosca commented on #984
Thanks @luhu0.  I will close out this issue now.

[2021-11-03 20:39] #984 closed

[2021-11-03 20:40] yantosca commented on #966
Glad to hear it @ncolombi!

[2021-11-03 20:47] sdeastham commented on #915
Thanks @yantosca and @flavioquadros for digging into this! The original derivation of the UHC speciation factors comes from the AEDT guidance (https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.719.2090&rep=rep1&type=pdf), which itself is derived from an EPA document which can be found at https://www.epa.gov/sites/production/files/2016-09/420r09903_0.xls. Using acetone as a reference point,

[2021-11-03 20:49] yantosca commented on #957
PR #986 has now been merged into the 13.3.1 development stream, so we can close this issue.

[2021-11-03 20:49] #957 closed

[2021-11-03 20:50] yantosca commented on #958
We have updated the GEOS-Chem wiki with new information about the current definitions of PM2.5 and PM10.  Please see: http://wiki.geos-chem.org/Particulate_matter_in_GEOS-Chem.   I will be creating a PR shortly.

[2021-11-03 21:01] yantosca commented on #915
Thanks @sdeastham and @flavioquadros.  If one of you could make a PR with the proper speciations that would be much appreciated.

[2021-11-03 22:32] tessac2 opened #987 "Missing December 2019 GEOSFP files on WUSTL server [BUG/ISSUE]"
### Description of the problem
When running a download script after performing dryrun over 2019 with GEOSFP, I noticed that files from December 2019 were not found in the folder /ExtData/GEOS_4x5/GEOS_FP/2019/.  When I went to the WUSTL website, [http://geoschemdata.wustl.edu/ExtData/GEOS_4x5/GEOS_FP/2019/12/](http://geoschemdata.wustl.edu/ExtData/GEOS_4x5/GEOS_FP/2019/12), I noticed the folder wa

[2021-11-04 02:48] DancingChild opened #988 "[QUESTION] I want to add scale emissions by country,but get ERROR when run the model"
### Ask a question about GEOS-Chem:
### I followed the tutorial (http://wiki.seas.harvard.edu/geos-chem/index.php/HEMCO_examples#Scale_emissions_by_country) to set up the HEMCO_Config.rc file, but When I run the model, I get ERROR as follows:
![image](https://user-images.githubusercontent.com/30101596/140247688-f0fb0a1a-7b10-4d1b-a239-2f55a7db585d.png)

### ERROR messages in HEMCO.log are as follo

[2021-11-04 10:28] ruifeili opened #989 "[QUESTION]Which kind of simulation should be chosen for PM25?"
### Ask a question about GEOS-Chem:
Hi, I want to simulate the global PM25 concentrations by using GEOS-Chem model (13.2.1) with MERRA2 at the resolution of 2.0x2.5 with 47 levels.  Then I found that there are two types of simulations (Full chemistry and Aerosol-only simulation) which can provide the results of aerosolmass (PM25).  I also found that the simulation time for Aerosol-only simulation

[2021-11-04 13:40] yantosca commented on #989
Thanks for writing @ruifeili.  I would recommend to use the fullchem simulation in GEOS-Chem 13 for saving out PM2.5.

You could experiment with changing the timesteps to see what impact they have on the simulation.

Also see discussion #875 for more tips on speeding up GEOS-Chem, especially for nested-grid simulatiosn.

[2021-11-04 15:34] ruifeili commented on #989
@yantosca Thanks for answering. I have another question about the emission inventory used in fullchem simulation. I use AWS cloud to do the simulation, and I download the emission data according to the HEMCO_Diagn.rc. The emissions (including BC, OC, SO2, NO, NH3,CO) were from CEDS database. But why the emission of NMVOC was not downloaded and used in the fullchem simulation (because I did not fin

[2021-11-04 17:37] yantosca commented on #989
Can you attach your HEMCO_Config.rc file to this issue, @ruifeili?

[2021-11-04 17:47] ruifeili commented on #989
@yantosca I just used the defaulted HEMCO_Config.rc of the fullchem simulatio
[HEMCO_Config.txt](https://github.com/geoschem/geos-chem/files/7477096/HEMCO_Config.txt)
n.

[2021-11-04 17:50] ruifeili commented on #989
@yantosca I just used the default HEMCO_Config.rc of the fullchem simulation.
I noticed that the HEMCO used the emission of OC,BC,CO,NH3,NO and SO2 from CEDS, but not included the emission of NMVOC.
[HEMCO_Config.txt](https://github.com/geoschem/geos-chem/files/7477102/HEMCO_Config.txt)
.

[2021-11-04 17:58] yantosca commented on #989
@ruifeili, the dry-run will only pick up those inventories that you turn on.  I am not clear by what you mean by NMVOC emissions?  Do you mean the biogenic emissions produced by MEGAN?

[2021-11-04 18:13] ruifeili commented on #989
@yantosca Sorry for bothering you. I just noticed the note in the HEMCO_Config.rc "NOTE: EOH files in CEDS/v2021-06 are actually VOC1 (total alchohols) and are split into MOH, EOH, ROH here". So the emission of VOC was involved. Now I have no questions. Thank you for your help!

[2021-11-04 18:25] #989 closed

[2021-11-04 18:43] rgstevens opened #991 "[BUG/ISSUE] ParaNOx and NEI11_SHIP_MONMEAN mutually exclusive"
### Description of the problem
If both ParaNOx is on and NEI11_SHIP_MONMEAN is True at the same time, I get an error printed to HEMCO.log stating:
[code]

### Description of troubleshooting performed
The error does not appear if either ParaNOx is turned off (of course) or if NEI11_SHIP_MONMEAN is set to False. I would guess that this is related to issue #256

Given the commentary in HEMCO_Config.r

[2021-11-04 19:18] yantosca commented on #991
Thanks for writing @rgstevens.  Yes, we typically do not recommend using NEI11_SHIP_MONMEAN.

[2021-11-04 21:28] YanshunLi-washu commented on #987
Hi. The data is now available from the WUSTL site. Let me know anything else. Thanks @tessac2

[2021-11-05 00:34] tessac2 commented on #987
Thank you!

[2021-11-05 05:49] dorosieun commented on #243
Hi, I got similar problem.
When I run with default source code,  I got same error message like @MaggieMarvin.
![스크린샷 2021-11-05 오후 2 41 22](https://user-images.githubusercontent.com/87462290/140463876-8ebd29c5-12b4-4c29-84d9-38a772bb0df4.png)
-run.log
![스크린샷 2021-11-05 오후 2 41 48](https://user-images.githubusercontent.com/87462290/140463910-575a2cf7-55d0-4f22-8174-690042ffa2d3.png)

[2021-11-05 07:03] yangxiajie opened #993 "[QUESTION]How to add NO2 photolysis rate coefficient to gckpp_HetRates.F90 ?"
I try to modify a heterogeneous reaction rate in `gckpp_HetRates.F90` (v12.9.3), which is ralated with NO2 photolysis rate coefficient (`JNO2`). I wonder if there is a golobal variable about NO2 photolysis rate coefficient in GEOS-Chem Code, so that I can add it directly. Or, is there any way to add `JNO2`, as a variable , in `gckpp_HetRates.F90` ?

Thank you for your time.

[2021-11-05 13:56] yantosca commented on #993
The NO2 photolysis is stored in the 11th slot of the `PHOTOL` array, as defined in fullchem.eqn:
[code]
so you can just use `PHOTOL(11)` in your code.  For other reaction rates, see `fullchem.eqn` and/or `gckpp_Rates.F90`.

[2021-11-05 14:23] yantosca commented on #243
@doroiesun: Have you tried using NINT instead of INT here, as mentioned above?
[code]

[2021-11-05 14:26] dorosieun commented on #243
@yantosca Yes! I used NINT. And I got 'forrtl: error (65): floating invalid' error.

[2021-11-05 14:35] yantosca commented on #982
This is now in the development stream for 13.3.1, so we can close this issue.

[2021-11-05 14:35] #982 closed

[2021-11-05 14:36] yantosca commented on #967
I will close this issue for now.  As @msulprizio said, please update to GEOS-Chem 13.1.0 or later.

[2021-11-05 14:36] #967 closed

[2021-11-05 14:37] yantosca commented on #902
@YanshunLi-washu, is this issue resolved?  If so we can close out this issue.

[2021-11-05 14:57] yantosca commented on #243
@doriesun, did you try to print out any values?  That can give you a hint of what is going on.

[2021-11-05 15:46] YanshunLi-washu commented on #902
Thanks Bob @yantosca, Yes! The MERRA2.20210317.A3dyn.4x5.nc4 file has been reproduced and uploaded to the WUSTL website. @nicodgomez

[2021-11-05 15:51] rgstevens commented on #991
Okay. That solves my problem.

Are you interested in investigating and debugging this further, or should we close the issue? I don't mind running further tests, but if the inventories are not recommended for use anyway, then it might not be a worthwhile use of either your or my time.

[2021-11-05 16:25] yantosca commented on #902
Thanks @YanshunLi-washu!  I'll close this issue now.

[2021-11-05 16:25] #902 closed

[2021-11-05 16:26] yantosca commented on #991
@rgstevens, I am OK with closing out the issue.  If you would like to investigate further, then please go ahead.   We now use CEDS v2 ship emissions by default in the standard GC 13 code so this is likely not going to be a big issue going forward.

[2021-11-05 16:27] yantosca commented on #993
I should also mention that `PHOTOL` is in gckpp_Global, which should be available to you in gckpp_HetRates.

[2021-11-05 18:18] yantosca commented on #988
@DancingChild, have you tried to put the `scalefactor.txt` file in your run directory?   Your example shows it in the HEMCO Root folder.  Then you would list:

[code]

[2021-11-05 20:09] #991 closed

[2021-11-05 22:21] yantosca commented on #981
@subtlescreamer, I believe that you cannot flush negative values to 0 in HEMCO for the CH4 simulation.  This is because some of the surface flux quantities have + and - values.  The out-of-the-box HEMCO_Config.rc for the CH4 simulation uses:
[code]
[From the HEMCO User's Guide](http://wiki.seas.harvard.edu/geos-chem/index.php/The_HEMCO_User%27s_Guide):

| Setting | Default | Explanation |
|-------

[2021-11-07 03:08] DancingChild commented on #988
Thank you for your advice. I tried it and it didn't work.

[2021-11-07 05:43] yangxiajie commented on #993
Thank you @yantosca .

I can add `JNO2` to gckpp_HetRates now. Thank you for help.

By the way, what is the unit of `PHOTOL` in GEOS-Chem ? s-1 or min-1 ?

[2021-11-07 06:13] YanshunLi-washu commented on #954
Hi @yanglibj and @yantosca, the 2021/04/04 data has been reprocessed! Hope that will help.

[2021-11-07 07:49] dorosieun commented on #243
![스크린샷 2021-11-07 오후 4 39 55](https://user-images.githubusercontent.com/87462290/140636745-a78b651d-1830-4d89-b7f4-472f077d374e.png)

This is the added code(below the comment, !added by SEL)
And I tried running  GEOSChem with Debug option.

I got this log and error code.
![스크린샷 2021-11-07 오후 4 40 05](https://user-images.githubusercontent.com/87462290/140636814-82eca50d-11a7-4e57-93

[2021-11-07 15:35] subtlescreamer commented on #981
@yantosca I set up GC-13.2.1 and the test simulation ran successfully. Thanks for your suggestion.

Regarding the negative value setting, if I set the value to 2, the simulation would run fine but my SpeciesConc_CH4 would have negative values since the first date of the simulation. I guess there was an issues either with my restart file or the way I set up my environment.
Nevertheless, let's hope

[2021-11-07 19:47] #931 closed

[2021-11-08 12:09] ymfu2021 opened #994 "[QUESTION]How to get the photolysis cross sections of a new species"
### Ask a question about GEOS-Chem:
I'd like to caculate some photolysis frequencies using Fast-JX v7.0a implemented in GEOS-Chem, and I found that I need to generate the cross-section using file 'UCI_fastJ_addX_73cx.tar.gz' first. When reading those codes, I am very confused about the 'subroutine for fast-JX Xsection generation', which seems interpolating X-section vs wavelength and outputting th

[2021-11-08 13:35] wanghlin opened #995 "[QUESTION] The problem of GEOS-Chem RRTMG model"
### Ask a question about GEOS-Chem RRTMG:
When I run RRTMG model, this following problem ocurrs. I don't know how to correct this error.

[GC.log](https://github.com/geoschem/geos-chem/files/7497310/GC.log)

[2021-11-08 14:19] yantosca commented on #995
Thanks for writing @wanghlin.  We made some fixes for the RRTMG model in GEOS-Chem 13.1.0.  I would recommend updating to the current stable GEOS-Chem version (which is 13.2.1), so as to be able to take advantage of these fixes.

Also tagging @lizziel, who worked on the RRTMG code recently.

[2021-11-08 14:21] yantosca commented on #243
@doroiesun, the traceback output is telling you that there is a problem at line 6436 of gckpp_HetRates.F90.  There is probably a division by zero or other such error that is causing the simulation to halt.

[2021-11-08 17:22] LiamBindle commented on #902
Thanks @YanshunLi-washu!

[2021-11-08 20:15] yantosca commented on #994
Thanks for writing @ymfu2021.  The tar.tz file you listed is the proper package to compute optical properties for new species.  Unfortunately, we cannot provide any assistance in this area, as this is a research issue rather than a coding issue.  I would recommend that you reach out to the GEOS-Chem Aerosols Working Group for assistance.

[2021-11-08 20:16] yantosca commented on #993
Thanks @yangxiajie.  Units of all reaction rates for KPP are s-1.

[2021-11-08 20:18] yantosca commented on #993
Also you are right @yangxiajie, PHOTOL is a 1-D array.  It is the array of J-values for species at a given (I,J,L) grid box.  PHOTOL is assigned values in the flexchem_mod.F90 module.

[2021-11-08 21:36] nbderenzqy66 opened #996 "[QUESTION] Running GEOS-Chem 13.2.0 before 2019"
### Ask a question about GEOS-Chem:
I'm trying to run aerosol simulation in GEOS-Chem 13.2.0. The restart file it gives me is 20190701. However, I want to run the simulation from 2014. I found the restart file generated from GEOS-Chem 13.2.0 is different from versions before 13. I also tried to find restart files in Compute Canada, but there are only files for 2019. Is there a way that I can find

[2021-11-08 21:49] yantosca commented on #996
Thanks for writing @nbderenzqy66.  Please see issue #971 for a solution.

[2021-11-08 21:52] nbderenzqy66 commented on #996
Thank you!

[2021-11-09 01:38] DancingChild commented on #988
I think I solved the problem.  I didn't put the '501 line' in the right place. I put it under
[code]
, and the model works.

[2021-11-09 06:17] wanghlin commented on #995
Thank you @yantosca, but we would like to use GEOS-Chem 12.8.0. I wonder whether there is any other solution?

[2021-11-09 08:42] yangxiajie commented on #993
Thank you very much @yantosca .

I want to add a heterogeneous reaction, which is only on the ground (L == 1). I found `ADJUSTEDRATE` in `gckpp_HetRates` is also for a (I,J,L) box. Is there any way to restrict the reaction rate to the first level ?

[2021-11-09 14:12] r-pound opened #997 "[FEATURE REQUEST] Update surface resistance for ozone deposition to ice/snow"
### Request a new GEOS-Chem feature:
Barten et.al 2021 (https://doi.org/10.5194/acp-21-10229-2021) increased the surface resistance of ozone dry deposition to snow and ice to 1E4 s m−1, this results in a reduction of ozone deposition velocity to ice of ≤ 0.01 cm s−1 (~ 66% reduction) which has better agreement with observations and results in improved comparison between Ozone observations in the a

[2021-11-09 14:21] #996 closed

[2021-11-09 14:22] yantosca commented on #988
Ah yes, thanks @DancingChild.  That definitely needs to go in the scale factors section.  I'll close out this issue now.  Let us know if you encounter other problems.

[2021-11-09 14:22] #988 closed

[2021-11-09 14:24] yantosca commented on #993
@yangxiajie, yes, you can write or modify a rate law function in gckpp_HetRates so that it returns the reaction rate if L==1 and returns 0 if L >1.

[2021-11-09 14:31] yantosca commented on #997
Thanks @r-pound.  I've added this to the [GEOS-Chem model development priorities](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_model_development_priorities#Feature_integration_not_yet_prioritized) page.

[2021-11-09 16:54] yantosca commented on #995
Did you try compiling with RRTMG=y?

[2021-11-09 19:03] yantosca commented on #981
Thanks for the update @subtlescreamer.  Glad it works.  Let me know if your production simulation runs OK, and if so, I'll close out this issue.

[2021-11-09 22:20] lizziel commented on #831
Following up on this issue, there is a further issue where even if you manually turn off all base emissions and extensions then the model crashes. I think this is probably just a matter of updating HEMCO_Config.rc so that required inputs are not turned off when turning off emissions.

[2021-11-09 22:24] lizziel opened #998 "[FEATURE REQUEST] Update archiveRun.sh scripts"
Currently there are differences in the archive directory structure between GCHP and GC-Classic due to differences in archiveRun.sh. Ideally they would be the same, of if needed, GCHP would simply have additional folders. It would also be useful to have the archive directory structure amenable to use with GCPy benchmark scripts. This would allow easy use of archived run directories for comparisons

[2021-11-09 23:07] tessac2 commented on #987
Hi everyone,

Sorry to re-open the issue, but I realized that HEMCO was missing some files for October, November and December 2019 on the new WUSTL site (HEMCO OFFLINE SEASALT v2019-01/0.5x0.625). I was wondering when this may be updated? [http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_SEASALT/v2019-01/0.5x0.625/2019/](http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_SEASALT/v2019-01/0.5x0

[2021-11-10 03:01] ymfu2021 commented on #994
Thanks. Also I wanna know if I have rewrited the code for my species, how to get the photolysis frequencies before I run the whole model. Can the 'dry-run' option give me such results?

[2021-11-10 07:09] zhaojunri1020 opened #999 "Error encountered in "EmissCarbonTomas" in TOMAS 15 simulation with GCAP 2.0 met fields."
**Ask a question about GEOS-Chem-TOMAS with GCAP2.0 met fields:**

In the HEMCO_Config.rc file,  i just set true the CMIP6_SFC_LAND_ANTHRO, CMIP6_AIRCRAFT, CMIP6_SHIP, BB4MIPS emissions.
When I run RRTMG model, the following error occurred when i trying to run TOMAS15 simulation with  GCAP 2.0 met fields using GEOS-chem v13.20.
I would be grateful if anyone can help me with this issue.

[code]

[2021-11-10 07:18] yangxiajie commented on #993
Thank you very much @yantosca .
Now I fix all problems.
Appreciate your time.

[2021-11-10 07:18] #993 closed

[2021-11-10 14:14] wanghlin commented on #995
Thanks @yantosca. RRTMG usually use the Tropchem chemistry mechanism. Also I wanna know if RRTMG can run with standard simulation? Just modify the CHEM=standard in the Makefile before compiling?

[2021-11-10 14:54] yantosca commented on #999
Thanks for writing.  I am going to tag Jeff Pierce (@theloniuspunk), who is involved with TOMAS development.

You should also configure your model with:

[code]

because TOMAS still needs some of the old bpch diagnostics.

I will say, I am not aware of TOMAS ever having been used with the GCAP 2.0 met fields.  So there is a possibility that some kind of input quantities are in the wrong units or a

[2021-11-10 14:55] yantosca commented on #995
@wanghlin, yes, it should be able to be used with the CHEM=standard simulation as well in the 12.y.z versions.

[2021-11-10 16:07] theloniuspunk commented on #999
Thanks, Bob.

It may be that emissions for TOMAS are still configured as 2D, not 3D, so
if GCAP has 3D emission fields, it will throw an error with TOMAS.

TOMAS needs the emissions updated to handle 3D. I don't have the capacity
to do it now. I've mentioned it with Betty Croft in the past. Maybe it's
something she can do.

On Wed, Nov 10, 2021 at 7:54 AM Bob Yantosca ***@***.***>
wrote:

[2021-11-10 16:27] hmhorow commented on #900
@YanshunLi-washu we ran into this issue and as of today on the WashU server it appears that the variables have not yet been renamed at least in the offline seasalt files in November 2019 onwards.
Could you let us know the timeline on this or should we rename the variables ourselves? Thank you so much!

[2021-11-10 16:44] yantosca commented on #999
Thanks @theloniuspunk.  I will leave this issue tagged with "need community input" as it is something that is beyond the scope of the GCST.

[2021-11-10 17:05] YanshunLi-washu commented on #900
@hmhorow Apology for the delay. I've been recently busy with fixing corrupted met fields on the data portal. Will start to work on the variable name issue this week. Thanks for your patience.

[2021-11-10 17:21] theloniuspunk commented on #999
Thanks!

On Wed, Nov 10, 2021 at 9:45 AM Bob Yantosca ***@***.***>
wrote:

[2021-11-10 20:54] LiamBindle commented on #987
Hi @tessac2, thanks for pointing this out and reopening.

I'm looking at the OFFLINE_SEASALT/v2019-01 data, and it looks like the dataset does in fact stop at 2019-09.
- http://ftp.as.harvard.edu/gcgrid/geos-chem/data/ExtData/HEMCO/OFFLINE_SEASALT/v2019-01/0.5x0.625/2019/ (stops in October 2019)
- https://geoschemdata.computecanada.ca/ExtData/HEMCO/OFFLINE_SEASALT/v2019-01/0.5x0.625/2019/10/ (empt

[2021-11-10 21:32] tessac2 commented on #987
@LiamBindle Thank you for your reply! I think on further inspection the error I am getting for this run is actually more associated with the different sea salt variable names in the 0.25x0.3125 resolutions for OFFLINE_SEASALT/v2019-01 for November/December compared to other months, similar to this issue: [https://github.com/geoschem/geos-chem/issues/900](https://github.com/geoschem/geos-chem/issue

[2021-11-11 01:41] #970 closed

[2021-11-11 04:12] yfsong0709 opened #1000 "[BUG/ISSUE]Unit problem in tagged CO simulation"
### Description of the problem
I am trying to run tagged CO simulation in GEOS-Chem v13.1.2 for several years. But the results seem very inaccurate. The initial range of species ‘COnmvoc’, ‘COch4’ at the start of simulation is between about 1e-8 mol/mol dry to 1e-8 mol/mol dry. I found the simulation results for species ‘COnmvoc’, ‘COch4’ were exceedingly higher than the normal value (usually up t

[2021-11-11 06:31] ymfu2021 commented on #994
Thanks for helping @yantosca.

[2021-11-11 07:58] zhaojunri1020 commented on #999
Thanks for helping @yantosca.

[2021-11-11 08:10] zhaojunri1020 commented on #999
Thanks  @theloniuspunk.
Also i wanna what you mean by "3D emission fields", do you mean those emissions file which have vertical layer ( e.g., aircraft emissions) ?

[2021-11-11 12:34] theloniuspunk commented on #999
Yes, emissions files with a 3rd dimension for the vertical distribution of
emissions. Some inventories have aircraft emissions but do not have a 3rd
dimension, rather, it's assumed to be at a certain altitude I think. Right
now, the subroutine which maps mass emissions into the size-resolved TOMAS
bins is expecting 2D emissions fields. It needs to be updated to be
expecting 3D fields and loop over

[2021-11-11 13:33] zhaojunri1020 commented on #999
Thanks for your detailed explanation! @theloniuspunk

But i have finished the whole year (2020) simulation using GC-TOMAS (v12.6.0) with AEIC emissions turned on in the HEMCO_Config.rc.  And i checked that  AEIC aircraft emission file contains the vertical layer.   Does that mean that TOMAS can handle 3D emission fields？

Junri

[2021-11-11 13:54] viral211 opened #1001 "[BUG/ISSUE] Bug in henry_mod/CALC_HEFF"
### Problem
The calc_heff routine calculates the effective Henry's law constant accounting for acid dissociation. calc_heff is called from wetscav_mod/compute_l2g and gckpp_hetrates/compute_l2g_local.
In the current code (version 13.2) we compute Heff only when the pKa is greater than 0, but pKa can be negative.
https://github.com/geoschem/geos-chem/blob/ba58da4a6e447e47714fe5e7da488d15432a6fdc/Ge

[2021-11-11 15:31] hmhorow commented on #900
@YanshunLi-washu I tested for a file in November and saw the renamed variables, so I think it worked, thank you so much!!

[2021-11-11 15:36] YanshunLi-washu commented on #900
@hmhorow No problem! Hi @msulprizio, could we close this one?

[2021-11-11 16:31] yfsong0709 commented on #1000
I think  the units should  be molec/cm3/s  as the older version. They had similar values but differences in units. So the unit transform variable in tagged_co_mod.F90 should be modified from
    kgm3_to_mcm3sCO = ( AVO / (FMOL_CO * DTEMIS) ) * 1.0e-6_fp
to
    kgm3_to_mcm3sCO = 1.0_fp

[2021-11-11 17:47] jinlx opened #1002 "[QUESTION] How to change the rate constant of reactions in GEOS-Chem?"
Hi there,

I am trying to update the rate constant of XYLE + OH in old version (2.31d-11) to what Kelvin recent reported in his 2021 ACP paper (1.7d-11). One spot I found I may need to modify is the value in ./CodeDir/KPP/Tropchem/Tropchem.eqn. I was wondering if there is anything else I need to do to modify the reactions

Cheers,
Lixu

[2021-11-11 18:10] theloniuspunk commented on #999
Not sure. I was only speculating before about why the crash was happening.
Maybe there's something special for aircraft emissions that allows it to be
handled. I'm sorry, I'm too busy this week to look much into it.

Jeff

On Thu, Nov 11, 2021 at 6:33 AM zhaojunri1020 ***@***.***>
wrote:

[2021-11-11 21:34] RuijunDang opened #1003 "[BUG/ISSUE] Inconsistency in lightning emissions in different versions"
Hi @ltmurray,

I have been comparing NOx emissions in v13.2 with those in v11.2 (both used the MERRA-2 meteorology). I found that the lightning NOx emissions in v13.2 simulation is much smaller than those in v11.2, which is very weird because the offline data should be identical to the online calculation. The attached figure compares the US lightning NOx emission profiles in these two versions. Do

[2021-11-12 00:17] yangning-code opened #1004 "[BUG/ISSUE] Error in nested-grid fullchem simulatin with complex SOA_SVPOA option"
### Description of the problem
When I use GEOS-Chem.13.2.1 to run gc_025x03125_geosfp_fullchem_complexSOA_SVPOA in Asia. The model always reports an error, the content is as follows GEOS-CHEM ERROR: WARNING: Negative concentration for species SALAAL at (I,J,L) = 223 130 46; GEOS-Chem ERROR:at DO_TEND (in module GeosCore/mixing_mod.F90); GEOS-Chem ERROR: Error encountred in "DO_TEND"!at DO_MIXING (

[2021-11-12 06:01] zhaojunri1020 commented on #999
Thanks for your help @theloniuspunk.
I will continue testing with GCAP2.0 met fields and let you know the test result.

Junri

[2021-11-12 14:49] yantosca commented on #1002
Thanks for writing @jinlx.  You would need to change the reaction rate in the Tropchem.eqn file (in your version) and then rebuild the mechanism with KPP.  Please see: https://kpp.readthedocs.io for instructions.

Also note: We now recommend using the fullchem option with 47 levels rather than tropchem.  See this Github issue: https://github.com/geoschem/geos-chem/issues/839

[2021-11-12 14:53] yantosca commented on #1001
Thanks @viral211 .  There was some discussion a while back about not adjusting the Henry's law constant KH for pH but I can't remember why.  In either case we should use consistent code in both places.

[2021-11-12 14:58] yantosca commented on #1004
Thanks for writing @yangning-code.  This may be due to boundary condition issues.  Have you created the boundary conditions from a global simuation (i.e. archiving the BoundaryConditions collectioin in History diagnostics)?

[2021-11-12 15:03] viral211 commented on #1001
Thanks @yantosca. To use consistent code in both places, we could set the condition pKa>-100, since we use -999 to represent the missing value.

[2021-11-12 15:04] yantosca opened #1005 "[FEATURE REQUEST] Use degassing-only volcano climatology for GEOS-Chem benchmarks"
@christophkeller wrote:

https://gmao.gsfc.nasa.gov/gmaoftp/geoscf/volcano_so2/so2_volcanic_emissions_CARN_v202005.degassing_only.rc

[code]

[2021-11-12 15:34] yantosca commented on #1001
Thanks @viral.  I think we can get this into 13.4.0 pretty easily.

[2021-11-12 15:44] yantosca commented on #1001
The other thing we can do is to try to pull out the code so that it is only kept in 1 place.  I think we replicated it in the old gckpp_Hetrates to avoid bringing in wetdep code into chemistry code.  We can maybe make a separate folder and compile the henry_mod first so that it can be used in wetscav and in hetchem.

[2021-11-12 15:54] viral211 commented on #1001
That would be better. The henry_mod routines could also be used in sulfate_mod, where we do this calculation numerous times when calculating cloud water pH. It would make the code cleaner.

[2021-11-12 16:00] laura-hyesung-yang opened #1006 "[BUG/ISSUE] The GEOSChem.SpeciesConc file is corrupted for the 1st day of simulation"
### Description of the problem
The 1st day of simulation GEOSChem.SpeciesConc output is always corrupted for 4x5 and 0.25x0.3215 grids simulation outputs. It's only the 1st day of simulation and other dates outputs are perfectly fine.

### GEOS-Chem version
GC 13.3.0 alpha version

[2021-11-12 21:42] yantosca commented on #997
@r-pound: do you have a corresponding PR that we can use?  Thanks.

[2021-11-13 04:41] yangxiajie opened #1009 "[QUESTION]Model diagnostics of N2O5 uptake coefficients and ClNO2 yields"
In GEOS-Chem v12.9.3, the model include N2O5 uptake on chlorine-containing aerosols, which based on the analysis of WINTER observations in McDuffie et al., JGR, 2018. I want to output the model-calculated N2O5 uptake coefficients and ClNO2 yields. I found `Chem_GammaN2O5fine` and `Chem_YieldClNO2fine` from `StateChm diagnostic`, I wonder if they are model-calculated N2O5 uptake coefficients and Cl

[2021-11-13 19:17] #939 closed

[2021-11-13 19:17] #821 closed

[2021-11-14 00:28] yangning-code commented on #1004
I had created the boundary conditions from a global simulation. For specific settings, you can check the following two files(HEMCO_Config.aisa.rc and HEMCO_Config.global.rc) and a screenshot.
![BoundaryConditions](https://user-images.githubusercontent.com/51811371/141662916-6418468a-8c48-4cad-9e39-6941a0de5c34.JPG)
[HEMCO_Config.zip](https://github.com/geoschem/geos-chem/files/7532970/HEMCO_Config

[2021-11-14 21:45] tessac2 commented on #900
@YanshunLi-washu @hmhorow I noticed this same issue is happening with the OFFLINE_SOILNOX/ files, where starting November 2019 the variable is named "EmisNO_Soil" rather than "SOIL_NOx" --would it be possible to also update these variable names? Thanks!

[2021-11-14 21:55] jinlx commented on #1002
Appreciate the comment Bob! That's useful information to know. Just a quick follow-up with the question.
I tried compilling KPP after loading all requirement library. I encountered the error below. Do you have any insights in fixing this?

I suppose that what I really need to do is 1) change either Tropchem.eqn or Custom.eqn (recommended in the doc) and then recompile the GC by selecting specific

[2021-11-15 14:34] mzhang78 commented on #191
I'm having a similar issue running with a nested NA region v12.9.3 tropchem. (20160108) Thanks

[2021-11-15 15:03] sdeastham opened #1010 "[BUG/ISSUE] OFFLINE_BIOVOC files missing for 1999 and 2000"
### Description of the problem
Some months are empty/not fully populated for OFFLINE_BIOVOC on the master WUStL server. At minimum, I've found that November and December 1999 (http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_BIOVOC/v2019-10/0.5x0.625/1999/11/ and http://geoschemdata.wustl.edu/ExtData/HEMCO/OFFLINE_BIOVOC/v2019-10/0.5x0.625/1999/12/) and most months in 2000 (e.g. http://geoschem

[2021-11-15 15:10] sdeastham commented on #665
Is there an update on this issue and/or a timeline for the reactivation of offline dust? [tagging @lizziel ]

[2021-11-15 15:26] Jampo26 opened #1011 "[BUG/ISSUE] Problem running Hg in GC 13.3.1"
### Description of the problem
Hello. We are using GC v13.3.1 to test the mercury module, but have encountered some problems as follows:
In the step of Creating run directories, we choose the setting of MERRA-2, 4°×5°, and 47 levels. After compiling the model successfully, we did a dry-run for 20190101-20200101, and downloaded the input data we need. After a 1-year running, we found the distributi