[2020-11-20 21:15] jinlx commented on #492
Thanks for asking Melissa! I did it by multiplying the output with (1e5*1e5*4*5)*(60*60*24*30) to convert the kg/m2/s into Tg.

[2020-11-20 21:29] yantosca commented on #531
Viral Shah wrote:

[2020-11-20 21:35] msulprizio commented on #492
You may want to take the AREA field directly from the HEMCO_Config.rc output and multiply your emissions field by that  field to convert to kg/s. Then you would multiply by the number of seconds in the month and convert kg to Tg. You can do this in python or using a tool like [CDO](https://code.mpimet.mpg.de/projects/cdo). For example, with CDO:

[code]

[2020-11-20 21:41] msulprizio commented on #383
We recently discovered that HEMCO does not convert from kgC back to kg species in GEOS-Chem 12.9.0 and earlier. This means even if units in HEMCO output are listed as kg/m2/s for VOC species traditionally carried in GEOS-Chem in units carbons, the units are actually kgC/m2/s. This may explain the differences you're seeing between C2H6 and C3H8 emissions. This will be fixed in 13.0.0 with the [remo

[2020-11-20 21:45] yantosca opened #533 "[DISCUSSION] Future emissions: is RCP still the best to use?"
"Is RCP still the best option for future emissions" was a question raised by @eamarais by the Emissions and Deposition Working Group at the GEOS-Chem Steering Committee on 18 Nov 2020.   Please respond with your thoughts in the comments.

[2020-11-20 21:48] yantosca opened #534 "[DISCUSSION] Aircraft emissions are for 2005. How to deal with these becoming increasingly outdated?"
This question was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

NOTE: An updated inventory does exist, but has licensing issues.  But scaling factors to the existing AEIC 2005 inventory should be implementable. @sdeastham is working on that.

Please add your thoughts in the comment boxes below.

[2020-11-20 21:50] yantosca opened #535 "[DISCUSSION] Natural NH3 emissions not from seabirds is from 1997. Are these still appropriate?"
This question was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 21:52] yantosca opened #536 "[DISCUSSION] Ongoing issues with alkane emissions (and chemistry)"
This question was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please add to the discussion by using the comment boxes below.

[2020-11-20 21:53] yantosca opened #537 "[DISCUSSION] Incorporate lessons/findings from major fire-focused field campaigns into GEOS-Chem emissions"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 21:55] yantosca commented on #535
This question was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 21:55] yantosca opened #538 "[DISCUSSION] Ocean exchange/emissions summary needs to be conducted to assess whether this needs to be updated in GEOS-Chem"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 21:57] sdeastham commented on #534
We have a 2015 inventory with AEIC which can be made available for projects which have a specific need. However, it is subject to some strict licensing (specifically, we have to negotiate every use of the gridded emissions data with the EU agency which supplied some of the aircraft performance data). Although I'm hopeful we will eventually be able to release updated emissions inventories, we are i

[2020-11-20 21:59] yantosca opened #539 "[DISCUSSION] Implement recently published EDGAR emission inventory with consistent global temporal scaling factors"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Reference:  https://www.nature.com/articles/s41597-020-0462-2

Please add to the discussion by using the comment boxes below.

[2020-11-20 22:01] yantosca opened #540 "[DISCUSSION] NH3 bidirectional flux: should it be in the standard version of the model?"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 22:03] yantosca opened #541 "[DISCUSSION] How to represent emissions during pandemic lockdowns"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 22:04] yantosca opened #542 "[DISCUSSION] What’s the best approach to update other aspects of the model that rely on emissions (complex and simple SOA schemes)"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

Please respond with your thoughts in the comment boxes below.

[2020-11-20 22:07] yantosca opened #543 "[FEATURE REQUEST] Emissions-related wiki and documentation updates"
This topic was raised by @eamarais at the GEOS-Chem Steering Committee meeting on 18 Nov 2020.

In particular there are 2 items:
1. Neaten up Working group wiki: do we need “Current Projects” and “Ongoing Developments” entries?
2. Recommended inventories table needs to be updated to match benchmark

[2020-11-20 22:09] yantosca opened #544 "[FEATURE REQUEST] MEGAN3 + updated canopy treatment (Sam Silva, MIT)"
This update has been identified as ready for inclusion into GEOS-Chem.

Reference: https://gmd.copernicus.org/articles/13/2569/2020/

[2020-11-20 22:10] yantosca opened #545 "[FEATURE REQUEST] Vertically resolve anthropogenic emissions (Barron Henderson, USEPA)"
This update from @barronh is almost ready for inclusion into GEOS-Chem.

[2020-11-20 22:12] yantosca opened #546 "[FEATURE REQUEST] Africa: charcoal production and use emissions (Bockarie et al)"
This update has been identified by @eamarais as almost ready for implementation into GEOS-Chem.

Reference: https://pubs.acs.org/doi/10.1021/acs.est.0c03754

[2020-11-20 22:12] yantosca opened #551 "[FEATURE REQUEST] Africa: charcoal production and use emissions (Bockarie et al)"
This update has been identified by @eamarais as almost ready for implementation into GEOS-Chem.

Reference: https://pubs.acs.org/doi/10.1021/acs.est.0c03754

[2020-11-20 22:15] msulprizio commented on #545
This is being tracked on the HEMCO repository. See https://github.com/geoschem/HEMCO/issues/46.

[2020-11-20 22:15] yantosca opened #547 "[FEATURE REQUEST] US: NEI 2016 (P. Campbell et al)"
This update by co-authors Patrick Campbell, Barron Henderson (@barronh), and Lyssa Freese (@lfreese) is listed as almost ready for inclusion into GEOS-Chem.

This feature request will track the progress of this item's inclusion into GEOS-Chem.

[2020-11-20 22:18] yantosca opened #548 "[FEATURE REQUEST] China: diurnal variability of power plant emissions (J. Lin and H. Weng)"
This update from Jintai Lin and Hongjian Weng was identified as being almost ready for inclusion into GEOS-Chem. Jintai wrote:

We will use this feature request issue to track further progress.

[2020-11-20 22:19] msulprizio commented on #544
@samjsilva91 wrote:

[2020-11-20 22:21] yantosca opened #549 "[FEATURE REQUEST] Replace MIX emissions by MEIC for China (Lu Shen & Gongda Lu)"
This update by Lu Shen (Harvard) & Gongda Lu (U. Birmingham) was identified by @eamarais as being almost ready for inclusion into GEOS-Chem.

We will use this feature request issue to track further progress.

[2020-11-20 22:21] yantosca opened #550 "[FEATURE REQUEST] MEIC regional emissions for China"
This update by Lu Shen (Harvard) & Gongda Lu (U. Birmingham) was identified by @eamarais as being almost ready for inclusion into GEOS-Chem.

We will use this feature request issue to track further progress.

[2020-11-20 22:24] msulprizio commented on #455
The progress of NEI 2016 emissions is now being tracked via https://github.com/geoschem/geos-chem/issues/547.

[2020-11-20 22:25] lfreese commented on #547
@yantosca I have the benchmark analysis that @barronh and I completed for the new files if that is needed for this incorporation. I think we were also hoping to find a way to make the methods publicly accessible (with the hopes of it being used again for future inventories), but Barron may want to confirm that given that he did the majority of the work on the notebook to create the files.

[2020-11-20 22:43] yantosca commented on #510
I am going to close out this issue for now.   Feel free to create a new issue if you still have questions.

[2020-11-20 22:43] #510 closed

[2020-11-20 22:48] yantosca commented on #505
GCHP and GCClassic integration tests have now been incorporated into dev/13.0.0 (the main 13.0.0 development branch).

The GCClassic superproject was updated with this commit: https://github.com/geoschem/GCClassic/commit/03c0ad9748bfa7eb2b95da362ae8e647533aae36

The GCHPctm superproject was updated with this commit: https://github.com/geoschem/GCHPctm/commit/0cb0c3b5faf26f5b96abbdb9a1f87b7bdcd9208

[2020-11-20 22:48] #505 closed

[2020-11-20 23:06] yantosca commented on #111
The GCC History can now save output as REAL*4 or REAL*8 (cf. https://github.com/geoschem/geos-chem/commit/6e004b7a9cb0d1dbd09e4142e79a5b984abf0f2e merge).

However, at present, HEMCO can still only read and carry REAL*4 data in its data structures.  This needs to be resolved first before this issue is closed.

[2020-11-21 05:47] xpye98 opened #552 "[QUESTION] Could not locate SpeciesConc diagnostics state registry"
# Ask a question about GEOS-Chem:

Hi,

I'm using GEOS-Chem v11-02-rc, and trying to output species concentration in netCDF. I compile with `NC_DIAG=y` but an error occurred saying `Could not locate SpeciesConc_NO diagnostics state registry` (same thing also happened to other collections like AerosolMass).
So I'm not sure is t
here anything extra I need to set? Or maybe v11-02-rc just doesn't supp

[2020-11-22 06:43] wreckdump opened #553 "[BUG/ISSUE] GEOS-CHEM ERROR: Could not find FRLAKE in HEMCO data list!"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:

### Expected behavior: ###

I expected the model to run. I did download the ExtData/GEOS_4x5/MERRA2/2015/01/MERRA2.20150101.CN.4x5.nc4 file into the data directory, but the model can not read it somehow. The file is not corrupted, I did confirm it with ncdump/ncview. I even tried to change the file name to MERRA2.20160101.CN.4x5.nc

[2020-11-22 15:40] FeiYao-Edinburgh opened #554 "[QUESTION] Has the gravitational velocity been included in the DryDepVel of aerosols?"
Hi GC Team,

I have recently read several subroutines in drydep_mod.F90 and I believe DryDepVel diagnostics are calculated and assigned in DEPVEL and DO_DRYDEP, respectively, using DVEL as the link. In the DEPVEL, `DVEL(I,J,K) = VD(K)`, where `VD(K) = VK(K) +.001D0* DBLE( IUSE(I,J,LDT) )/C1X(K)`, where `C1X(K) = RA + RB + RSURFC(K,LDT)`. For aerosols, RB=0, leaving only RA (aerodynamic resistance)

[2020-11-23 12:52] hongjianweng commented on #309
Hi @msulprizio
When I use HEMCO-standalone dev/13.0.0,
HEMCO_sa_Spec.rc has removed emMW_g and MolecRatio
#ID NAME           MW      K0                CR        PKA

but I found the SUBROUTINE Model_GetSpecies in hcoi_standalone_mod.F90 still read them

 901        ! Read species ID, name, molecular weight, and Henry coefficients
 902        ! K0, CR, pKa (in this order).
 903        DO I = 1, 8

[2020-11-23 12:59] yantosca commented on #552
Thanks for writing @xpe98.  In earlier versions of GEOS-Chem, not all of the netCDF diagnostic collections were activated

v11-02rc is by now an old version (released in Jun 2018).  We would advise you to download to one of the more recent versions of GEOS-Chem, as many of the issues with diagnostics have since been resolved.

[2020-11-23 13:04] yantosca commented on #554
Thanks for writing @FeiYao-Edinburgh.  I am tagging @jgeddes85, @ltmurray, and @amospktai, who are co-chairs for the Chemistry-Ecosystem-Climate Working Group.  They are probably better able to answer your question than the GCST can.

Also, the current drydep code is very old and probably needs some "pruning".  That instance of VK(K) = VD(K) might be an instance of a "useless" statement.  But we d

[2020-11-23 15:29] sdeastham commented on #271
Hi all - I wanted to check in on this. I just attempted a simulation with a fresh download of the Compute Canada data, and my simulation failed on 2016-12-28 because of incorrect timestamping in the 2016-12-29 file. I saw from this thread that @hongjianweng had plans to regenerate the files with the new LAI, including producing files specific to these dates. Are these files available for download?

[2020-11-23 16:47] lfreese commented on #501
@yantosca and @eamarais I haven't yet figured out the true source of this error-- I'm attaching my latest debugging output in the case that it might help, but right now I'm looking into whether or not I should round all negative values to 0, as I'm not sure the next best steps for debugging this.

[run_out.txt](https://github.com/geoschem/geos-chem/files/5584426/run_out.txt)

[2020-11-23 19:21] yantosca commented on #553
Thanks for writing @wreckdump.  I think the issue is this:
[code]
This code (in GeosCore/hco_gc_interface_mod.F90) turns off the chemistry data input via HEMCO if chemistry is turned off in input.geos:
[code]
but it should not turn off the metorology input.   Take a look at your HEMCO_Config.rc file and make that the `METEOROLOGY` switch is always turned on:
[code]
if not, then HEMCO won't read in

[2020-11-23 19:26] yantosca commented on #501
Thanks @lfreese for the output.  It seems like there are weird values in the restart file:
[code]
those might be either NaN or underflow values.  You might want to scan the restart file with Python and see what those values really are.  If they are very low you can reset them to zero.

[2020-11-23 19:57] yantosca opened #555 "[FEATURE REQUEST] Change run/GCHPctm and test/GCHPctm directories to run/GCHP and test/GCHP"
There is a general preference for the term GCHP over GCHPctm.  Therefore, we should change directory names like run/GCHPctm and test/GCHPctm to run/GCHPctm and test/GCHP before the 13.0.0 release.

[2020-11-23 20:41] yantosca commented on #555
This has now been accomplished with the following commits:

1. 3e5890fc291fe47ee1ba463736404deceb422eb6
2. 7554cf1dd78ea018bd52671d0c2a491084dcf8a0
3. dbddca265d892cf48e9c8e92ec24040debb0caa0
4. dbddca265d892cf48e9c8e92ec24040debb0caa0

These updates were also validated with a GCHP integration test (results to be shown in the next comment).

[2020-11-23 21:05] wreckdump commented on #553
Yup. That was the problem! Thank you!

[2020-11-23 21:05] #553 closed

[2020-11-23 22:00] yantosca commented on #555
The results of the GCHP integration tests are:
[code]
Therefore, we can close out this issue.

[2020-11-23 22:01] #555 closed

[2020-11-23 22:34] LiamBindle commented on #160
I think that reading monthly/annual files should be fixed now (geoschem/GCHPctm#62). Therefore, I think it's okay if we continue using monthly OFFLINE_LIGHTNING fields.

[2020-11-23 22:38] msulprizio commented on #309
Thanks for reporting this @hongjianweng. I thought I removed carbon-based units everywhere, but I will double check and push a fix to HEMCO prior to the GEOS-Chem 13.0.0 / HEMCO 3.0.0 release. I created a new issue on the HEMCO repository to track the progress. See https://github.com/geoschem/HEMCO/issues/64.

[2020-11-24 02:47] hongjianweng commented on #447
Thanks,   it help a lot.

[2020-11-24 06:02] emmapetersen commented on #527
No, unfortunately not.

[2020-11-24 08:36] febfly commented on #531
And this bug may not affect surface measurements as well (which often uses altitudes), as the code forces 1st layer for TYPE started with "S" (identifier for surface sites)
![image](https://user-images.githubusercontent.com/8473067/100067769-9f13f700-2e71-11eb-85a0-e84026c08c3a.png)

But I wonder if we had to force 1st layer because  the aforementioned bug caused errors in locating a proper model

[2020-11-24 12:35] hongjianweng commented on #271
Hi @sdeastham ,

Sorry for the delayed update, I will update the wrong date files at the end of this month.

Hongjian

[2020-11-24 15:12] yantosca commented on #527
@emmapetersen, what is your error now?

Also in the kpp_2.2.3._01/doc folder there is a PDF file kpp_UserManual.pdf.  That might have some more suggestions.

[2020-11-24 18:09] JFBrewer opened #556 "Naphthalene concentrations not passed to planeflight menu and NAP emissions aren't responding as expected [BUG/ISSUE]"
Hi GCST,

Happy Week Of Thanksgiving! I'm just writing in to let you know that the NAP species concentrations seem not to be able to talk to the planeflight diagnostics - when I attempt to output NAP using the planeflight diagnostics, the number densities are all zeros. This is true regardless of how I represent the emissions of Naphthalene. This is true regardless of how I represent the emissions

[2020-11-24 18:30] msulprizio commented on #556
Hi @JFBrewer. Can you clarify if you're using the complexSOA simulation or the complexSOA_SVPOA? Only the complexSOA_SVPOA simulation includes NAP as an advected species. This can be verified by checking your settings in the advected species and aerosol menus of input.geos. If you can confirm that NAP is there, can you try the following. In HEMCO_Config.rc, set Verbose and Warnings to 3. Rerun a s

[2020-11-24 20:53] neyranaz commented on #461
@hym0627 Did you end up using an earlier version of GC to perform your aerosol run, or did you fix 12.9.3?
We did it an Aerosol run with 12.7.0 and it works, but we were figuring out if we could already use a later version.

[2020-11-25 00:09] #552 closed

[2020-11-25 05:11] jinlx commented on #492
Thanks for the writing @msulprizio ! I did try area filed from GC ouput. However, the overestimation for offline emissions in the GC12.9.3 doesn't change much.

[2020-11-25 07:51] yutao-chen opened #557 "a question about sourceTime setting in HEMCO_Config.rc"

[2020-11-25 14:03] emmapetersen commented on #527
My error is the same as before. Thank you, I will have a look.

[2020-11-25 21:29] ltmurray commented on #554
The Emissions and Deposition Working Group might be better suited to answer this question? I only know @eamarais 's handle.

[2020-11-26 02:31] amospktai commented on #554
Did we not receive a similar request to clarify some aspects of dry deposition before? I remember back then we referred them to Anthony Wong (BU) and Sam Silva (MIT/NCAR), who have extensively looked into the dry deposition module in GEOS-Chem, and attempted to revamp some aspects of it.
--
Amos P. K. Tai, Ph.D., Associate Professor
Earth System Science Programme, Faculty of Science
The Chinese Un

[2020-11-29 11:48] FeiYao-Edinburgh opened #558 "[BUG/ISSUE] PM25ss uses ORG_GROWTH rather than SSA_GROWTH"
Hi GCST,

I thought I found a small bug in `aerosol_mod.F90`, in which `PM25ss` diagnostic is calculated using `ORG_GROWTH` but it should use `SSA_GROWTH`.
[code]

[2020-11-30 18:58] lfreese commented on #501
I've fixed those and it is still giving a negative value at level 41 in the atmosphere for HI. My current understanding of the track of the errors is that:
1. We get an error in resuspension in middle levels, which indicates there is precip entering the grid box but not leaving
2. I end up with negative values of HI because of too much rainout

Is there a way to in the SAFETY to just set anything

[2020-11-30 21:30] LiamBindle opened #1415 "[DISCUSSION] Running GEOS-Chem with native C180 MERRA2 data"
Hi everyone, this is a discussion/documentation thread related to running GCHP (and more broadly GEOS-Chem) with native MERRA2 metfields. Currently, I'm working on getting GCHP running with native MERRA2 metfields as a part of AIST:
1. so we can run GEOS-Chem with native metfields, and so at some point in the future we could eliminate the metfields preprocessing step
2. so we can evaluate the cube

[2020-12-01 15:26] msulprizio opened #559 "[FEATURE REQUEST] Implement H2 chemistry"
@cdholmes wrote:

[2020-12-01 15:30] msulprizio opened #560 "[FEATURE REQUEST] C2H4 and C2H2 chemistry"
@kelvinhb wrote:

[2020-12-01 15:32] msulprizio commented on #558
Thanks for reporting this bug. We can fix it for the GEOS-Chem 13.0.0 release.

[2020-12-02 12:31] tsherwen commented on #412
Hello @ktravis213/@msulprizo, please could I check if you have been able to make any progress on this? or know if anyone else has? I need to extract photolysis rates for our recent aircraft campaign, so need to have this functionality active again and happy to contribute.

[2020-12-02 16:14] msulprizio commented on #558
This is now resolved in 04bf01e2695059ee048f763272522e726d9dfb9f.

[2020-12-02 16:14] #558 closed

[2020-12-02 16:49] yantosca commented on #501
Hi @lfreese.  Yes you could do this within SAFETY if you wish.  The specific modifications you would need is to change the read-only attribute of the Spc vector in the argument list, i.e. change:
[code]
to
[code]
and then the easiest way to change negative values would be to do something like this:
[code]

[2020-12-03 12:59] barronh commented on #547
I confirm that this is ready, but I urge initial users to look for any issues that we may have missed.

[2020-12-03 18:45] neyranaz commented on #355
This was also probably caused by the inclusion of commit [286745c ](https://github.com/geoschem/geos-chem/commit/f6586419c929dcee69790dcdc7499087ef90e076), [#312](https://github.com/geoschem/geos-chem/issues/312)

[2020-12-05 08:25] yutao-chen opened #563 "[QUESTION]How to add a new sea flux emission likeDMS"
How to add a new sea flux emission like DMS in HEMCO_Config.rc? And how to calculate the DMS emission flux？

[2020-12-07 10:31] Rainbow1994 opened #564 "[BUG/ISSUE] Read regional nested ND51 output"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:
I turned on ND51 switch in input.geos and set up an Asian nested methane run.  When I read ND51 output bpch files using xbpch python module, the length of 'longitude' doesn't match the size of  'J-AVG-$_CH4' field. I wonder if something wrong I set up in input.geos.

### Error messages

[code]

## Required information:

### Your GEO

[2020-12-07 14:10] yantosca commented on #564
Thanks for writing @Rainbow1994. I think the issue is this... the ND51 menu is set up to produce global 4x5 output:
[code]
but your simulation is a nested-grid run:
[code]
and I believe this grid has [145 longitude points x 133 latitude points] (http://wiki.geos-chem.org/GEOS-Chem_horizontal_grids#0.5_x_0.625_AS_nested_grid).  Therefore, you should use these settings in the ND51 diagnostic:
[code]

[2020-12-07 15:06] Rainbow1994 commented on #564
I've set IMIN, IMAX of region in ND51 section as what you said. Do you mean that the min and max parameters of the region in other sections should be the same as those in the ND51 section, though I turned off the section switches?
![image](https://user-images.githubusercontent.com/29177864/101366972-8528da00-389d-11eb-8eee-88011ac6d471.png)

[2020-12-07 18:36] TerribleNews opened #565 "[DISCUSSION] How to submit a pull request with submodules"
I believe the GCHP adjoint code is close to a state where I can submit a pull request. However, I have had to fork the geos-chem, MAPL, FVdycore, and HEMCO submodule repositories and make changes to them in addition to the GCHP code. Is that multiple pull requests then? How can they be coordinated? More generally, is there a guide about coding and testing requirements before submitting the request

[2020-12-07 19:00] msulprizio commented on #412
The GCST has not had time to work on this item. I'm not sure if @ktravis213 made any progress.

[2020-12-08 20:41] mtsivlidou opened #566 "[BUG/ISSUE] Error when trying to restart interrupted simulation using existing restart file GCHP 12.9.3"
Hello,
I am Maria Tsivlidou, a PhD student in Laboratoire d'Aerologie in Toulouse, France supervised by Bastien Sauvage and Brice Barret. I am trying to restart a GCHP simulation using an existing restart file, and I would like to kindly ask your assistance for an error I have. 

## Describe the bug:
I used GCHP version 12.9.3 to produce a successful simulation with start date 20080501 and end dat

[2020-12-09 08:53] emmapetersen commented on #527
@yantosca, I found my problem. After adding the path to my .bashrc file, I had to close my terminal window and start a new one. Thank you for your help!

[2020-12-09 14:23] yantosca commented on #527
Thanks @emmapetersen, glad to know it worked!  I'll close out this issue now.

[2020-12-09 14:23] #527 closed

[2020-12-09 14:26] yantosca commented on #563
Thanks for writing @yutao-chen.  I think the best thing to do would be to look at the HEMCO extension code (hcox_seaflux_mod.F90), and then to try to copy what has been done for DMS.  You might need a new data source.  You might also be able to scale from DMS depending on your application.

[2020-12-09 14:43] yantosca commented on #557
What is your question?

[2020-12-09 14:44] yantosca commented on #564
Only if you want output from those other timeseries diagnostics.

[2020-12-09 14:57] yantosca opened #567 "[DISCUSSION] Migrating code out of sulfate_mod.F90 and gckpp_Hetrates.F90 into KPP"
## Overview ##

We have set up this discussion thread to track progress of moving code out of sulfate_mod.F90 and gckpp_HetRates.F90 into KPP.  Please feel free to add to the discussion below in the comment boxes below.

## Original discussion thread ###

@tsherwen wrote:

@yantosca replied:

Viral Shah wrote:

@zsx-GitHub wrote:

[code]

@tsherwen wrote:

[2020-12-11 10:05] Lianheng257 opened #568 "[QUESTION] Why SOAGM (aerosol phase methylglyoxal) be removed from 12.8 in GEOSChem?"
# Ask a question about GEOS-Chem:

Why SOAGM (aerosol phase methylglyoxal)  be removed from 12.8 in GEOSChem? I had checked the aerosol phase methylglyoxal is added in to SOAGX (aerosol phase glyoxal)? why do that? I want to get the reason that deletes the SOAGM and add both aerosol phase glyoxal and methylglyoxal into SOAGX?

[2020-12-11 15:19] msulprizio commented on #548
@hongjianweng wrote:

[Diurnal scale factors of power plants emissions in China.pptx](https://github.com/geoschem/geos-chem/files/5679980/Diurnal.scale.factors.of.power.plants.emissions.in.China.pptx)

[Diurnal scale factors of power plants emissions in China.xlsx](https://github.com/geoschem/geos-chem/files/5679982/Diurnal.scale.factors.of.power.plants.emissions.in.China.xlsx)

[2020-12-11 15:52] msulprizio commented on #568
Yumin Li also asked:

![image](https://user-images.githubusercontent.com/4805437/101924565-d9ce9c80-3b9e-11eb-9e93-05a9dafee77f.png)

![image](https://user-images.githubusercontent.com/4805437/101924632-e652f500-3b9e-11eb-9943-ce5ee06eac0c.png)

[2020-12-11 15:54] msulprizio commented on #568
This change came in with the updated isoprene chemistry implemented in GEOS-Chem 12.8.0 following [Bates et al. (2019)](https://www.atmos-chem-phys.net/19/9613/2019/). We would refer you to that paper for the details. Please also see https://github.com/geoschem/geos-chem/pull/142.

[2020-12-11 17:11] Rainbow1994 commented on #564
Sorry, maybe I didn't make it clear. I ran geos.mp successfully, but I cannot read ND51 output using xbpch module. The error message shows:
ValueError: conflicting sizes for dimension 'lon': length 145 on 'IJ-AVG-$_CH4' and length 576 on 'lon'
![image](https://user-images.githubusercontent.com/29177864/101933022-8296ef00-3bd3-11eb-972b-25c781ace1c6.png)
I wonder if longitude and latitude coordinat

[2020-12-11 17:32] yantosca commented on #392
This issue is now fixed by commit 1291ab2a91eb4e76e7d08837faeeb7d2e18eef71, which for the moment is currently in the branch **bugfix/bmy/SulfateModOmpFix**.  This will be merged into the final 13.0.0 version.

Although it initially seemed that this error was in `gckpp_HetRates.F90`, further investigation revealed that it was actually in the CHEM_SO2 routine of `sulfate_mod.F90`.  Pointers to `Stat

[2020-12-11 17:45] yantosca commented on #567
FYI, I am placing my updates in the *dev/bmy/epa-kpp* branch on Github.   You may see this branch at: https://github.com/geoschem/geos-chem/tree/dev/bmy/epa-kpp.**

NOTE: I have included a fix for a parallelization error in sulfate_mod.F90 that had side-effects in the KPP solver.  See: https://github.com/geoschem/geos-chem/issues/392 for more information.

[2020-12-11 18:27] sharonshen-wq opened #569 "[BUG/ISSUE] Error in the tagged O3 simulation w/ extended species list"
HI, I just began to run a tagged O3 (extended) simulation , while there's some question at the begaining, attached is my simulation stuff.

[123.zip](https://github.com/geoschem/geos-chem/files/5680905/123.zip)

[2020-12-11 19:42] yantosca commented on #569
Thanks for writing @sharonshen-wq,  There seems to be an inconsistency between the species names in input.geos and the species names in the ./species_database.yml file in your run directory:

In input.geos:
[code]
in species_database.yml:
https://github.com/geoschem/geos-chem/blob/0d390164f3441816defd05519f28dfde574a1cfa/run/shared/species_database.yml#L2868-L2920

As you can see, the tagged O3 sp

[2020-12-11 19:59] yantosca commented on #528
This issue is now fixed in commit 7b1c6183f8294641a9fba853e10d763640a1d478.  This will go into the 13.0.0 final release.

[2020-12-11 19:59] #528 closed

[2020-12-11 20:00] yantosca commented on #531
This issue is now fixed in commit 7b1c6183f8294641a9fba853e10d763640a1d478.  This fix will be applied to the 13.0.0 final release.

[2020-12-11 20:00] #531 closed

[2020-12-11 20:19] #392 closed

[2020-12-11 20:20] yantosca commented on #531
The main branch of the geoschem/GCClassic superproject repository now points to this update.  It will ship with the 13.0.0-release-candidate.

[2020-12-11 20:20] yantosca commented on #528
The main branch of the geoschem/GCClassic superproject repository now points to this update. It will ship with the 13.0.0-release-candidate.

[2020-12-11 21:09] sharonshen-wq commented on #569
thanks, this is the problem, now I successively run this simulation, but there was an error occurred "GEOS-Chem ERROR: BrNO3 is undefined, but is needed for heterogeneous chemistry!-> at Init_HetInfo (in module Headers/state_chm_mod.F90)" , which did not affect the simulation yet. So what's the cause?

[2020-12-11 22:25] yantosca commented on #569
Are you using a full-chemistry run directory?  If you are in a tagged O3 run directory and if your input.geos file is set up properly, then the code should not try to initiate heterogeneous chemistry.  Please double check your input files.

On another note, in GEOS-Chem 13.0.0 (final release), we will use all tagged CO species by default.  This was done in commit 7e9bfc36e4c1e939bc45398a8332fcaab3

[2020-12-12 05:56] Lianheng257 commented on #568
@msulprizio
Thanks msulprizio!
I had read the Bates et al, (2019). Bates 2019 Shows that the production of methylglyoxal is much higher than that of glyoxal (20% molar yield from isoprene globally), but due to its low SOA yield, it contributes only 0.01 Tg iSOAa−1. So that the SOAGM be removed due to its low contribution? But why the process of gas-phase to aerosol-phase methylglyoxal process is s

[2020-12-13 13:29] idfarhan opened #570 "[QUESTION] GEOS-Chem CO2 Simulation"
[geos_chem.zip](https://github.com/geoschem/geos-chem/files/5684634/geos_chem.zip)

Hi everyone,

I am trying to simulate the CO2 from GEOS Chem from AWS. I have successfully simulated it but in the output, more than 95% of the CO2 values are between 370 to 380 ppm. I am afraid if I am making some mistakes because these values are much lower than expected. The detail about the simulation is given

[2020-12-13 16:01] sharonshen-wq commented on #569
yes, I run in the tagged O3 directory, the input.geos file is set up according to the sample file which I have uploaded before, and the GC.log indicated that there were no accumulation during the simulation, and the results in the output file were mostly -Infinity, the new attached is my GC.log
[GC.log](https://github.com/geoschem/geos-chem/files/5684920/GC.log)

[2020-12-14 00:33] wporter commented on #567
Hi Bob, thanks for pinging me on this topic!

Yes, as Tomas mentioned, my student Linia has been working on getting updated sulfur chemistry (specifically DMS oxidation) into FlexChem, and presented some of her initial progress at the recent GEOS-Chem Europe virtual meeting in September. So far she has added the previous updates of Chen et al., 2018 as well as the more recent HPMTF pathways from V

[2020-12-14 14:42] yantosca commented on #570
Thanks for writing @idfarhan.  I think this might be related to the spin-up.  The sample restart files that ship with GEOS-Chem should not be used to start a production simulation... instead you should spin up your simulation for a long-enough time period so that the signature of the initial conditions from the restart file are no longer present in the species concentration.  Also, the sample rest

[2020-12-14 15:17] sharonshen-wq commented on #569
also to be mentioned , the units of O3 PROD_LOSS rate in the output file during the standard simulation were molec cm-3 s-1, while in the HEMCO.log file, it printed as "HEMCO WARNING: Data converted from kg/m3/s to kg/m3: O3_PROD: molec cm-3 s-1
" as shown in the attached figure, so what's the causes for the failed accumulation?
![HEMCO](https://user-images.githubusercontent.com/75856423/102098414

[2020-12-14 15:25] msulprizio commented on #568
Since this is more of a science question than technical question, I would defer to @kelvinhb.

[2020-12-14 16:36] yantosca commented on #567
Thanks @wporter.  It would be great to see what Linia has done in the sulfate_mod.  I wasn't able to attend the GCE1 meeting virtually, so I might try to go back and look at her presentation on the Youtube site.

I have been working on cleaning up the `gckpp.kpp` and `gckpp_HetRates.F90` codes.  Right now I have noticed that there are a lot of unnecessary casts to from REAL\*4 to REAL\*8 (see the

[2020-12-14 18:37] kelvinhb commented on #568
Yes, the individual tracer was removed just because of its low contribution, but we didn't want to artificially remove that SOA mass, so it's lumped in with the glyoxal SOA now. This fits with most of our other SOA tracers in the complex scheme, which aren't divided by individual species but rather by the mechanism through which they're formed -- e.g. IEPOX SOA includes SOA from other epoxides, is

[2020-12-14 19:03] yantosca commented on #567
@kelvinhb: tagging you to this thread about moving code into KPP to keep you in the loop.

[2020-12-14 20:04] cdholmes commented on #570
My group uses this procedure to initialize CO2 simulations, which expands on what Bob said.
1. Look up the global marine surface CO2 concentration from NOAA for a date when you will start your simulation (a). This date should be at least 2-5 years before any date that you want to analyze.
2. Calculate the global marine surface CO2 concentration in your restart file (b).
3. Multiply your CO2 restar

[2020-12-14 20:26] cdholmes opened #571 "[FEATURE REQUEST] Grid edges in netCDF files"
It would be nice if the netCDF files produced by GEOS-Chem provide the latitude and longitudes of the grid _edges_. As of 12.9, GEOS-Chem provides the latitude and longitude centers, but not edges, while edges are already provided for the vertical coordinate. The edge coordinates are required for some data operations, like mass-conservative regridding and plotting (e.g. pcolormesh in Python, Matla

[2020-12-14 22:36] yantosca commented on #571
This would be straightforward to do.  We can slip this into 13.1.0.

[2020-12-15 04:14] Lianheng257 commented on #568
Many thank kelvinhb and msulprizio,
Is really reasonable to combine them, I think if I want to separate them back, I can just follow the remove process showed in #142 to move back the SOAGM.

[2020-12-15 07:49] JinZheeee opened #572 "[QUESTION] Nested grid simulation using daily Boundary Condition files?"
Hi,
I'm trying nested grid CO2 simulation. I have prepared optimized daily CO2 concentration at hour 0 and want to use them as boundary condition files. Can I use daily boundary condition files or only hourly and 3-hourly files are allowable?

Thanks.

[2020-12-15 15:11] msulprizio commented on #572
At the moment, only 3-hourly boundary conditions saved to daily files are allowed. This is because the code in hcoi_gc_main_mod.F90 that applies the boundary conditions is hardcoded to accept data with 8 time slices. In routine `Get_Boundary_Conditions` in that module:

[code]

See also commit https://github.com/geoschem/geos-chem/commit/722a151c9748bc117b6fcfcb910892f3858836be.

[2020-12-15 15:24] msulprizio commented on #568
Great. I will close out this issue for now, but feel free to ask us to reopen it or you can always submit a separate issue with additional questions.

[2020-12-15 15:24] #568 closed

[2020-12-16 01:52] sharonshen-wq opened #573 "[QUESTION] Prod_Ox and Loss_Ox UNIT"
Hi, everyone, I use the 12.9.3 geoschem model to tag O3, the Prod_Ox and Loss_Ox generated by the standard simulation have units of molec cm-3 s-1, however, this version cannot convert the "molec cm-3 s-1" to the standard  HEMCO units, as described in the  hcoio_read_std_mod.F90
![HEMCO UNITS](https://user-images.githubusercontent.com/75856423/102294439-4cc97180-3f17-11eb-8120-590f4cc9855a.png)
,

[2020-12-16 03:08] idfarhan commented on #570
Thank you for the explanation. I am working on it. Hope it will work.

[2020-12-16 14:35] yantosca commented on #567
Also note that the KPP code may not parse properly if you build it with a recent GNU or Intel compiler.  See: https://github.com/geoschem/KPP/issues/1

[2020-12-16 17:43] deepangsu opened #574 "[QUESTION] Mass flux diagnostics"
How an the mass flux diagnostics (N24 and N25) be included in the simulations with GC Classic with version 12.1.0. The input.geos includes the diagnostics, however will the diagnostics be included in the simulation just by switching from 0 to 1 under the 'L' column if I need only 1st level ?

[2020-12-16 17:45] yantosca commented on #567
I have also been trying to determine the impact of removing the DBLE() functions in the code.  I wrote a test function to compare how this is done in at present, and how it is done in my development code:

[code]
Building and running this code gives
[code]
As you can see, the Ref and Dev values are different.  This is due to the line:
[code]
in the GC1 function.  Both the Intel and GNU Fortran com

[2020-12-16 18:35] davenhenze commented on #567
Hi all! Some general thoughts about this effort. I believe that sulfate aq / het chem has been traditionally held separate from gas-phase chemistry in models like CMAQ, in order to prevent the gas-phase system from becoming overly stiff.  I'd be interested in to know if this is encountered in the current model dev here.  Perhaps GC's aq chem is not detailed enough to cause this problem? CMAQ's aq

[2020-12-16 19:06] yantosca commented on #567
Thanks @davenhenze.  For now I am just looking at structural code modifications.  There are some functions in gckpp_Hetrates that I think can go into the rate law library (whether the function is called in Hetrates or in gckpp_Rates shouldn't really matter).  There are other routines in sulfate_mod that we'll have to consider more closely, and whether we keep them separate from the gas-phase.  If

[2020-12-16 20:12] davenhenze commented on #567
Sounds good Bob.  I guess I'm suggesting that eventually it might be desired to have 2 separate KPP stacks, or that you may find in the process of creating a single KPP mechanism for all chemistry it gets quite slow, even if it's been done correctly in terms of the code modifications.

[2020-12-17 09:05] idfarhan commented on #570
@cdholmes Sir, we arranged flight campaigns to collect CO2 in situ data from March 10 to March 20, 2019 and we intend to compare the vertical profiles. Do you have any CO2 restart file for this duration or 2 years before these dates?

Regards

[2020-12-17 16:24] yantosca commented on #567
Thanks @davenhenze.  I think I see see what you mean now.  In GeosCore/flexchem_mod.F90 we call SET_HET (in gckpp_HetRates.F90) to update the HET array, and then UPDATE_RCONST to copy the het rates into the RCONST array.  That was presumably done to avoid calling functions again deep down into KPP.

But... there is a section later down that, in case KPP can't converge to a solution, it calls UPDAT

[2020-12-17 16:38] yantosca commented on #567
Also -- chemistry question.  I notice that we have the Arrhenius function GCARR defined in gckpp.kpp, which takes the usual 3 Arrhenius coefficients (A, B, C):

https://github.com/geoschem/geos-chem/blob/681baa91d5e72c54c059acee22acc4bc48deebd2/KPP/fullchem/gckpp.kpp#L125-L129

But it seems that in the current fullchem.eqn file in the mechanism that we use, the Arrhenius B coefficient is always ze

[2020-12-17 17:00] wporter commented on #567
That change makes sense to me, Bob. If the removed term were ever needed in the future for some reason, the expanded version could always be added back in for the relevant reactions, right? Might as well stop multiplying by one where possible to improve computational efficiency and mechanism clarity.

[2020-12-17 17:06] yantosca commented on #567
Thanks @wporter.  I'm actually keeping the GCARR function as it is and making a parallel GCARR2 function.  So the user still use GCARR if all 3 coefficients are presnet, or GCARR2 if only A and C are present.

Another modification:  if both Arrhenius B and C coefficients are zero, we can just skip the function call and just assign the rate constant as the A coefficient, i.e.:

[code]
would become

[2020-12-17 17:09] wporter commented on #567
Ah yes, that seems like an ideal solution. Use simplified function calls where possible, keep the expanded versions for use where necessary.

Any sense as to how much impact these changes would have in practice, though? I'm always curious. :)

[2020-12-17 17:11] yantosca commented on #567
Thanks @wporter.  I sense they could have a big impact, any little savings will be multiplied as we go to finer & finer resolution.  I can do a profiling of the code before & after to quantify it.

[2020-12-17 17:34] tsherwen commented on #567
This sounds like a really good option @yantosca. I too would be interested in how much of a difference this makes. Leaving the existing function present and just adding a simpler function to use for rates with fewer terms sounds good. It might also be a good opportunity for us to add some more documentation to the gckpp.kpp file as that might make it more accessible for people to edit.

Do you kno

[2020-12-17 18:56] davenhenze commented on #567
@yantosca -- with regards to your earlier question, I was thinking about the efficiency of the overall chemical owing to increasing the stiffness of the ODEs when adding cloud chemistry. This could cause more / shorter internal time steps or a need for smaller ATOL and RTOL values for stability.

However, I agree with your suggestions for making Update_RCONST more efficient, and the support from o

[2020-12-18 15:57] yantosca commented on #573
Thanks for writing @sharonshen-wq.  The O3_PROD_LOSS data in the `HEMCO/TAGGED_O3/v2014-09` folder is not the most recent P/L data, but is there to allow us to test the tagged O3 simulation.

It might be easiest to change the units of the O3_PROD and O3_LOSS to match what they are in the data files that you have prepared:
[code]
and then just convert units in the the tagged O3 module after these g

[2020-12-18 16:16] yantosca commented on #573
We will try to update the units of the tagged O3 to be consistent with P/L rates that are saved from HISTORY.  This will likely go into a 13.y.z release.

[2020-12-18 16:52] yantosca commented on #569
Also see issue https://github.com/geoschem/geos-chem/issues/573

[2020-12-18 16:55] yantosca commented on #569
The tagged O3 species names are now consistent in the `species_database.yml` and `input.geos` files that will ship with GEOS-Chem 13.0.0.  Therefore I will close out this issue for now.  See issue https://github.com/geoschem/geos-chem/issues/573 for the units question.

[2020-12-18 16:55] #569 closed

[2020-12-18 17:48] #557 closed

[2020-12-18 19:38] idfarhan commented on #570
Thank you all. A member from CO2 working group shared the restart file. Issue seems resolved.

Regards

[2020-12-18 19:40] yantosca commented on #570
Great.  I'll close out this issue.  Feel free to open a new issue if you are still having problems w/ the CO2 simulation.

[2020-12-18 19:40] #570 closed

[2020-12-18 23:10] yantosca commented on #497
I will look into using COLLAPSE after the 13.0.0 version is released.  Seems promising.

Also, I have been working on eliminating excess computations (i.e. don't compute terms that evaluate to 1) in the various rate-law equations in gckpp,kpp.  See issue https://github.com/geoschem/geos-chem/issues/567 for more info.  If we remove unnecessary computations that get done on every (I,J,L) box, that s

[2020-12-18 23:11] yantosca commented on #454
I am closing out this issue as we have not heard back from you in a while.  Feel free to submit a new issue if you are still having problems.

[2020-12-18 23:11] #454 closed

[2020-12-18 23:14] yantosca commented on #351
Closing out this issue for now.  Please submit a new issue if you are still having problems.  There will be some fixes for the planeflight diagnostic in 13.0.0.

[2020-12-18 23:14] #351 closed

[2020-12-18 23:16] yantosca commented on #248
I will close out this issue for now.  Please let us know if you are still having problems.

[2020-12-18 23:16] #248 closed

[2020-12-20 09:04] yutao-chen opened #575 "infort: error #10005 :unable to open argument file "NC_FLIBS""
The problem has been solved .
Thanks

[2020-12-20 11:16] yutao-chen opened #576 "[QUESTION] The dummy species replace the POx、 LOx species when rebuild mechanism through KPP."
I use GEOS-Chemv11-02 and rebuild the mechanism through KPP-2.2.3_01  When I run the model , it shows the error that could nor locate  KPP prod/loss species ：POx.  And I found that many dummy species  took the place of  POx LOx .etc in KPP/Custom/gckpp_Monitor.F90.
（I do the same test in GEOS-Chem 12.9.3 and it shows the same error.）
I read the flexchem wiki page and it said that this problem has

[2020-12-20 16:55] sharonshen-wq opened #577 "[QUESTION] netCDF Start+count exceeds dimension bound error"
Hi, everyone, when I run a standard simulation in version 12.6.3, I encountered a problem that stop the run.
![12 6 3](https://user-images.githubusercontent.com/75856423/102719065-c23b9600-42b9-11eb-9a28-fbd31ffe9a14.png), it the restartfile created by the model not available? How can I solve this problem, thanks.

[2020-12-21 03:31] yutao-chen opened #578 "An error showing "too many equations" when rebuild the mechanism through KPP"
The problems have been solved .
Thanks

[2020-12-21 06:50] #578 closed

[2020-12-21 06:50] #575 closed

[2020-12-28 16:14] chfite opened #579 "[QUESTION]HEMCO Diagnostic output when using QFED and GFAS"
Having run various v12.6.0 simulations with differing biomass burning emissions I have noticed that HEMCO Diagnostic output for the `EmisBCPO_BioBurn` variable is all 0's when I use QFED and GFAS, but not when I use GFED. I know that QFED and GFAS are read in as base emissions and do not have their own HEMCO extension like GFED and FINN, so I assume that is why the HEMCO Diagnostic is showing 0's?

[2020-12-29 08:48] chuzhaohan opened #580 "[BUG/ISSUE]Error when running default aerosol configuration with GEOS-Chem v12.9.3"
## Describe the bug
When using GEOS-Chem v12.9.3 with gfortran to run default aerosol configuration, I always found a HEMCO ERROR saying "GLOBAL_HCl not found in HEMCO data list!", no matter what time I chose. I used dryrun option to download the files I needed from Compute Canada, and slurm dispatching system with a job script.

**Compilation commands**
make -j4 build

**Run commands**
./geos > G

[2020-12-30 19:52] JeanJGuo opened #581 "[QUESTION]HEMCO Onroad emission"
NEI2011 has a file called NEI11_0.1x0.1_$YYYY$MM_monmean_onroad_catx.nc. This file is not referenced in the unittest HEMCO_Config.rc file. The [README ](
http://ftp.as.harvard.edu/gcgrid/data/ExtData/HEMCO/NEI2011/v2017-02-MM/README) file mentions that both onroad and offroad emissions files are provided and they should both be scaled. I could not find the offroad emissions files in the HEMCO/NEI2

[2021-01-02 11:04] chuzhaohan commented on #580
I noticed the same issue from [https://github.com/geoschem/geos-chem/issues/354], but when I used version 13.0.0, I still found the same problem.

[2021-01-04 13:47] msulprizio commented on #354
The 10-year benchmark for 13.0.0 is in progress. From this simulation, we will be archiving monthly species concentrations. These fields can be used to restore the aerosol-only simulation and will be made available prior to the official 13.0.0 release in late January 2021.

[2021-01-04 13:48] msulprizio commented on #580
Yes, this is a known issue as reported in https://github.com/geoschem/geos-chem/issues/354. We are currently running the 10-year benchmark simulation for 13.0.0 and will make the updated oxidant fields needed to restore the aerosol-only simulation available from that simulation prior to officially releasing 13.0.0 later this month. Please follow that issue for updates.

[2021-01-04 13:48] #580 closed

[2021-01-04 14:21] yantosca commented on #579
Thanks for writing @chfite, and Happy New Year.

I think this is because the extension number for the Emis*_Bioburn diagnostics in HEMCO_Diagn.rc is set to GFED (111).  See this snippet:

https://github.com/geoschem/geos-chem/blob/7e9bfc36e4c1e939bc45398a8332fcaab386e8dc/run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem#L61-L72

If you are using QFED or GFAS, you should change the 111

[2021-01-04 14:40] #572 closed

[2021-01-04 15:05] #574 closed

[2021-01-04 15:20] yantosca commented on #577
Thanks for writing @sharonshen-wq,  Another user posted a similar issue, see: https://github.com/geoschem/geos-chem/issues/439.

Can you send us the log files from your run?  See this checklist on our [Submitting GEOS-Chem support requests](http://wiki.seas.harvard.edu/geos-chem/index.php/Submitting_GEOS-Chem_support_requests#How_can_I_make_a_support_request.3F) wiki page.

[2021-01-04 15:58] sharonshen-wq commented on #577
Sorry, here's the log files included
[GC1.log](https://github.com/geoschem/geos-chem/files/5765574/GC1.log)
[HEMCO.log](https://github.com/geoschem/geos-chem/files/5765575/HEMCO.log)

[HEMCO_Config.rc.txt](https://github.com/geoschem/geos-chem/files/5765582/HEMCO_Config.rc.txt)
[input.geos.txt](https://github.com/geoschem/geos-chem/files/5765583/input.geos.txt)

[2021-01-04 16:46] yantosca commented on #577
Thanks for the logs.  I didn't see anything out of the normal.  Can you also do

[code]
and then attach the output here? There may be something wrong with the dimensions of the restart file (or you may be using a nested restart file with a global GEOS-Chem simulation).

[2021-01-04 16:54] aschuh commented on #468
WIth the help of C. Keller, I was able to track this issue down to a line of code which truncates negative concentrations in mixing_mod.F90.

             ! Prevent negative concentrations. (ckeller, 3/29/16)
             State_Chm%Species(I,J,L,N) = MAX(State_Chm%Species(I,J,L,N),0.0_fp)

In rare cases, with strong fluxes near surface, e.g. w/ CO2 and pbl mixing off, AND negative fluxes such as b

[2021-01-04 16:54] #468 closed

[2021-01-04 20:45] sharonshen-wq commented on #577
it seems that the restartfile generated initially by the model had some problems. I replaced this restartfile by anonther one that generated by former simulation, and it's fixed. thanks for your help!

[2021-01-04 20:52] yantosca commented on #577
Thanks @sharonshen-wq!  I'll close out this issue.   Happy New Year!

[2021-01-04 20:52] #577 closed

[2021-01-04 21:37] yantosca commented on #576
Thanks for writing @yutao-chen.  You should be on the GC_updates branch of KPP, not the main branch.  The latest version is KPP 2.2.5_gc (just updated on 04 Jan 2021).

The main branch of KPP does not have the GEOS-Chem specific code included.

[2021-01-05 06:05] Aydr199406 opened #583 "[BUG/ISSUE] error: NC_FLIBS@: No such file or directory"
Hello,when i compile the GEOS-Chem source code, there are an error "gfortran: error: NC_FLIBS@: No such file or directory." Can you help me to deal with this problem. Thanks!

[2021-01-05 16:45] yantosca commented on #583
Thanks for writing.  Could you give us more information about your problem?  [Please see this checklist]( http://wiki.seas.harvard.edu/geos-chem/index.php/Submitting_GEOS-Chem_support_requests#How_can_I_make_a_support_request.3F) for a list of items to include.

[2021-01-05 16:46] yantosca commented on #583
Also please see this issue: https://github.com/geoschem/geos-chem/issues/575

[2021-01-05 16:50] #563 closed

[2021-01-05 16:53] yantosca commented on #583
Please also make sure that your environment variables are defined properly.  See this wiki page: http://wiki.geos-chem.org/Specifying_compilers_for_GEOS-Chem

[2021-01-05 17:17] yantosca commented on #523
I am going to close out this issue for now.   Please feel free to submit a new issue if you are still having problems.

[2021-01-05 17:17] #523 closed

[2021-01-05 17:17] yantosca commented on #509
I will close out this issue for now. Let us know if you are still having problems.

[2021-01-05 17:17] #509 closed

[2021-01-05 17:18] #452 closed

[2021-01-05 17:19] yantosca commented on #445
I will close out this issue for now.  Please feel free to submit a new issue if you are still having problems.

[2021-01-05 17:19] #445 closed

[2021-01-05 17:19] yantosca commented on #443
I will close out this issue for now.  Let us know if you are still having problems.

[2021-01-05 17:19] #443 closed

[2021-01-05 17:21] yantosca commented on #345
I will close out this issue for now.  Please let us know if you are still having problems.

[2021-01-05 17:21] #345 closed

[2021-01-05 17:23] yantosca commented on #160
I will close out this issue for now.

[2021-01-05 17:23] #160 closed

[2021-01-05 18:01] yantosca commented on #271
@hongjianweng, is this updated now?  If so we can close out the issue.

[2021-01-05 18:04] yantosca commented on #564
Question: what version of xarray are you using?  You might have to go back to xarray so that xbpch will work.  I think updates to the xarray package broke backwards compatibility with xbpch.

Also, if you have solved the problem, please let us know and we can close out the issue.

[2021-01-06 06:22] Aydr199406 commented on #583
Thank you very much. The GEOS-Chem version i used is 12.7.0. I will check the environment vatiables again!

[2021-01-06 14:59] yantosca commented on #581
Thanks for writing.  I took a look at the [script we used to create the monthly mean files](http://ftp.as.harvard.edu/gcgrid/data/ExtData/HEMCO/NEI2011/v2017-02-MM/scripts/NEI2011_monthly_mean.sh).  The monthly mean of each category is just computed from the daily files in that category.

As to whether or not the surface data contain onroad emissions, I am not 100% sure.  The GEOS-Chem Support Tea

[2021-01-06 15:34] yantosca opened #584 "[FEATURE REQUEST] Remove negative mass adjustment and exit with error if negative concs are found"
This feature requests builds upon issue #468.

## Description

@aschuh wrote:

point me to a piece of code where negative concs get truncated [(see link here)](https://github.com/geoschem/geos-chem/issues/468).  For those familiar w/ CO2 simulations, I was getting a 0.22ppm offset during 18 year CO2 simulations, not a big mass error but enough that I had to subtract it off somehow. Turning off pbl

[2021-01-06 16:07] eamarais opened #585 "[BUG/ISSUE] Make install issue with 13.0.0"
## Describe the bug:
I get a "make: *** No rule to make target `install'.  Stop." error when I enter "make install" at the command line to build the model version 13.0.0. This is Step 7 on this page: http://wiki.seas.harvard.edu/geos-chem/index.php/Compiling_with_CMake. In the Makefile there doesn't seem to be a rule to "make install". There are no errors in my build and compile steps before this

[2021-01-07 01:15] #583 closed

[2021-01-07 07:05] JinZheeee opened #586 "[QUESTION] HISTORY.rc diagnostic miss 00:00 result at 1st day of simulation"
Hi support team,
I'm using the v12.9.3 model at 2.5 x 2 resolution for the global CO2 simulation. I want to get three-hourly instantaneous species concentrations. Diagnostics of the 1st day of simulation only contain 7 results at 03:00, 06:00, ..., 21:00, and other days contain 8 results at 00:00, 03:00, ..., 21:00.
Can I get diagnostics at 8 time points (including 00:00) on the 1st day like the o

[2021-01-07 07:52] eamarais commented on #585
Adding @rgryan92 to this thread, a postdoc working in my group who is also trying to address this issue to get 13.0.0 compiled and running on the UCL servers.

[2021-01-07 15:42] yantosca commented on #586
Thanks @JinZheeee for writing.  This is by design.  The HISTORY diagnostics instantaneous mode write out the diagnostics at the end of each timestep (which is the same as the beginning of the next timestep).

At 00:00 of the first day, the model has not done any computations. Therefore, the species concentrations will be the initial conditions.  But you will get output at 00:00 of each successive

[2021-01-07 16:59] msulprizio commented on #585
Hi Eloise. I believe the issue is that you need to configure your CMake build with the `-DRUNDIR` option to tell CMake where it should copy the executable. I've updated the documentation on our [Compiling with CMake](http://wiki.seas.harvard.edu/geos-chem/index.php/Compiling_with_CMake#Overview) page to reflect this. You should be able to fix the error by doing:

[code]

[2021-01-07 17:14] msulprizio commented on #581
The onroad files for NEI2011 are not included in the default HEMCO_Config.rc following the recommendations from @ktravis213. Those emissions were found to be overestimated. Since they weren't used in the original implementation of hourly NEI2011 emissions, we did not include those emissions when computing the monthly mean NEI2011 emissions.

If you would like to generate monthly mean onroad and of

[2021-01-07 17:28] eamarais commented on #585
Thanks Melissa. That addressed the error.

[2021-01-07 17:32] yantosca commented on #585
Thanks @eamarais and @msulprizio.  We can close out this issue now.

Look for the official announcement of the GEOS-Chem 13.0.0 release candidates shortly!

[2021-01-07 17:32] #585 closed

[2021-01-07 19:33] yantosca commented on #515
I will close out this issue for now.  If you are still having problems then let me know and I can reopen this issue.

[2021-01-07 19:33] #515 closed

[2021-01-07 19:35] yantosca commented on #398
I will close out this issue for now. If you are still having problems, please let me know, and I can reopen this.

[2021-01-07 19:35] #398 closed

[2021-01-07 20:03] yantosca commented on #111
The remaining work needs to be done on the HEMCO side, as the GEOS-Chem "Classic" History component can now write REAL\*8 fields to disk.

Therefore, I am closing out this issue, and have opened a new feature request (https://github.com/geoschem/HEMCO/issues/69) on the HEMCO repository issue tracer,

[2021-01-07 20:03] #111 closed

[2021-01-07 20:11] barronh commented on #581
Katie Travis is the right person to check with here, but I'll do my best.   @lfreese and I have been working with the 2016 data that is some what different, but has a similar structure. Basically, the implementation for CMAQ-ready that was used as a basis for GEOS-Chem has point source files and one "merged surface file." The "merged surface file" has any mass that is not being treated by plume ri

[2021-01-07 20:16] yantosca commented on #51
I believe this issue is now resolved by the removal of carbon units for VOC species, which is detailed in https://github.com/geoschem/geos-chem/issues/309.  We can therefore now close out this issue.

[2021-01-07 20:16] #51 closed

[2021-01-08 19:46] msulprizio commented on #376
This is now complete. The default branch has been switched to "main" and the "master" branch has been deleted.

[2021-01-08 19:46] #376 closed

[2021-01-08 19:47] msulprizio commented on #330
The 10-year benchmark for 13.0.0 is in progress. We will use the output from the last year of this simulation to update the oxidant fields for specialty simulations. This will be completed during the 13.0.0 release candidate period.

[2021-01-11 08:22] usernamenottakenyet opened #587 "[BUG/ISSUE] Access to an undefined portion of a memory object."
Hi,
I'm new to GEOS-Chem. I'm using GEOS-Chem 12.9.3 on an Ubuntu machine (gfortran, fopenmp). When running the geosfp_4x5_benchmark, I'm getting:

[code]
The error occurs randomly, not at a given date.
Any idea, what that could be? How can I find out?
I did only make three change from the benchmark settings after download:
*47 instead of 72 levels
* Output every month
* longer simulation period (

[2021-01-11 14:10] yantosca commented on #587
Thanks for writting @usernamenottakenyet.  We don't have enough information to solve the problem.  Please see the checklist of items to provide at : http://wiki.geos-chem.org/Submitting_GEOS-Chem_support_requests and attach the required information to this Github issue.

[2021-01-11 16:36] #573 closed

[2021-01-11 16:39] msulprizio commented on #556
@JFBrewer were you able to resolve this issue or are you still experiencing problems?

[2021-01-11 16:47] msulprizio commented on #504
You may change the CRE flag for the offline dust emissions and meteorology fields to use `RF` instead of `C`. (NOTE: This is now the default in GEOS-Chem 13.0.0 and later. See https://github.com/geoschem/geos-chem/issues/475.) This will tell HEMCO to only use those files for dates that they are available, instead of using the closest available date. If your simulation is outside of the available d

[2021-01-11 16:50] #485 closed

[2021-01-11 16:55] msulprizio commented on #477
I am going to close out this issue for now. Please follow up with the developer of these emissions and/or open a new issue if there are still remaining questions.

[2021-01-11 16:55] #477 closed

[2021-01-11 17:04] msulprizio commented on #467
Please note that the HEMCO vertical grids are defined in [Core/hco_vertgrid_mod.F90](https://github.com/geoschem/HEMCO/blob/main/src/Core/hco_vertgrid_mod.F90). If you need to add a new vertical grid, you would do so there.

I will close out this issue for now, but we welcome you to open a new issue on the [HEMCO issue page](https://github.com/geoschem/HEMCO/issues) if there are any further questi

[2021-01-11 17:04] #467 closed

[2021-01-11 17:07] #421 closed

[2021-01-11 17:08] msulprizio commented on #383
I will close out this issue for now, but please contact us to reopen or feel free to submit a new issue issue if there are any remaining questions.

[2021-01-11 17:08] #383 closed

[2021-01-11 17:10] #370 closed

[2021-01-11 17:12] msulprizio commented on #335
@debatoshpartha Are you still experiencing problems or have you been able to resolve this issue?

[2021-01-11 17:58] yantosca commented on #587
Also it looks like your job is failing in TPCORE in the first parallel loop.  It may be that you do not have the proper settings for OpenMP parallelization in your computational environment.  Please see the [Specifying Settings for OpenMP parallelization](http://wiki.seas.harvard.edu/geos-chem/index.php/Specifying_settings_for_OpenMP_parallelization) chapter of the GEOS-Chem User's Guide for more

[2021-01-11 17:59] yantosca commented on #586
I will close out this issue for now.  Please feel free to open another issue if you are still experiencing problems with GEOS-Chem.

[2021-01-11 17:59] #586 closed

[2021-01-11 17:59] yantosca commented on #576
Are you still experiencing problems @yutao-chen?

[2021-01-11 19:56] JFBrewer commented on #556
Hi Melissa,

I ended up going in a different direction based on some other factors. I
have not solved this issue but it is not crucial at this precise moment

On Mon, Jan 11, 2021 at 9:39 AM Melissa Sulprizio <notifications@github.com>
wrote:

[2021-01-11 19:57] msulprizio commented on #556
OK. Thanks for letting us know. I will close this issue.

[2021-01-11 19:57] #556 closed

[2021-01-11 22:48] yantosca commented on #579
Hi @chfite, Happy New Year. Just checking to see if the suggested fix resolved your issue.  Let us know.

[2021-01-11 22:51] chfite commented on #579
@yantosca apologies, but yes it seemed to have fixed the issue and so now I get non-zero values in the HEMCO diagnostic output when using QFED and GFAS, as I should. Thanks!

[2021-01-12 14:08] yantosca commented on #579
Thanks @chfite!  I'll close out this issue now. Best wishes for 2021!

[2021-01-12 14:08] #579 closed

[2021-01-13 10:31] emmapetersen opened #588 "[BUG/ISSUE] GC/Code.GC/Headers does not contain species_database.yml"
Hi
I am having trouble with the species_database.yml file. I followed the guide
https://cloud-gc.readthedocs.io/en/latest/chapter02_beginner-tutorial/research-workflow.html
to set up my server on amazon cloud and set up my GEOS-Chem directories.

## Describe the bug:
When I try to create a run directory, I get a message saying that there is no species_database.yml file in the GC/Code.GC/Headers, a

[2021-01-13 13:53] WilliamDowns commented on #588
Thanks for opening this issue. Several instructions are now outdated in that workflow section of the Cloud GC Read The Docs site. The code download and run directory creation steps have changed as of version 13.0.0. We recommend following the instructions on the GEOS-Chem wiki for now, including for [downloading source code](http://wiki.seas.harvard.edu/geos-chem/index.php/Downloading_GEOS-Chem_so

[2021-01-13 13:56] emmapetersen commented on #588
Thank you very much!

[2021-01-13 18:19] #581 closed

[2021-01-13 19:35] JeanJGuo opened #589 "[QUESTION]Adding the new Volcanic emissions to the HEMCO_Diagnostic output file"
I'm trying to output volcanic degassing and eruptive emissions (in mass units of kg) in the `HEMCO_Diagnostic` output file.
With the new Volcano emissions, we set the following in the `HEMCO_Config.rc` file

[code]
and for the `MyDiagnFile.rc` file, I've been trying a bunch of numbers as below:
[code]
However, I'm getting 0's in the output diagnostic netCDF file.

When I set the below values (0 in

[2021-01-13 20:38] msulprizio commented on #589
This is what we are currently using in 13.0.0 and I can confirm that we get non-zero output in the HEMCO diagnostics file.

[code]

Have you changed the default settings for the HEMCO diagnostics in HEMCO_Config.rc? By default we're using:

[code]

but if your simulation is less than one month in duration, you may get zero or no output.

You can also try changing your units in HEMCO_Diagn.rc from

[2021-01-13 20:57] yantosca commented on #425
I am going to close out this feature request, as the GC-YIBs model will be developed and hosted elsewhere (at NUIST or at Hong Kong), and thus there are no action items for the GCST to fulfill.

[2021-01-13 20:57] #425 closed

[2021-01-15 06:47] yixinguo0421 opened #590 "[QUESTION] GEOS-chem future simulations using HEMCO's RCP and RCP VOCs emission species matching from CMIP6"
Greetings!
I am trying to do future GEOS-chem simulations using CMIP6 projections of air pollutant emissions  for 2050. Three questions:

1) How do I set HEMCO? Do I simply open the RCP emissions in HEMCO and turn off all other anthropogenic emission inventories ? Do I set the meteorology year (current year, e.g. 2015) when running the model?

2) How are CMIP5's VOCs species grouped for generating

[2021-01-15 14:50] yantosca commented on #590
Thanks for writing @yixinguo0421.

If you want to use the existing RCP, then I believe that you would turn off all the anthro emissions and turn on the RCP emissions in the `HEMCO_Config.rc`.  I dont' think you need to fix the meteorology year (unless you want to run all years with the same meterorology).

I am also tagging @cdholmes, who has worked a lot with the RCP / CMIP data.  The GCST typica

[2021-01-15 15:43] #589 closed

[2021-01-15 21:20] yantosca opened #591 "[BUG/ISSUE] Potential error in toms_mod.F90 in GEOS-Chem 13"
Tess Carter wrote:

<img width="615" alt="Screen Shot 2021-01-12 at 9 29 48 PM" src="https://user-images.githubusercontent.com/5880296/104779528-3fd5b300-574d-11eb-85c9-ea1aa426e023.png">

[2021-01-15 21:21] yantosca commented on #591
Thanks for bringing this issue to our attention.

From the error output you sent, I believe that State_Chm should be declared with `INTENT(INOUT)` instead of `INTENT(IN)`.

Ideally the model should be picking up the TO3 from the met fields, unless there is something going on that I’m not aware of.  I am going to look into this now and hope to have some clarity on this soon.

[2021-01-15 21:47] yantosca commented on #591
### What I tried
So I did a test with gfortran 10.2.0.  I made sure that State_Chm was `INTENT(IN)` in `COMPUTE_OVERHEAD_O3`.  Then I put some debug print in both `COMPUTE_OVERHEAD_O3` (in toms_mod.F90), and again in `GET_OVERHEAD_O3_FOR_FASTJ` (in `Interfaces/GCClassic/main.F90`).  I ran it expecting an error (since we are trying to modify `State_Chm`, which is read-only.  But instead, I got this

[2021-01-15 22:07] yantosca commented on #591
This issue has been resolved with commit 1630a809ea822f39318b0e2b35badb2e71c38697.  It will ship with the 13.0.0 final release version.

[2021-01-15 22:07] #591 closed

[2021-01-16 01:57] JeanJGuo opened #592 "[QUESTION]species_database.yml with more species"
I'm trying to add more species to `input.geos`, but I realize I need to add those species to `species_database.yml` in order to run GEOS-Chem. Is there a `species_database.yml` file that has more species?

I found the species names and a lot of other information on the wiki here (http://wiki.seas.harvard.edu/geos-chem/index.php/Species_in_GEOS-Chem), but it doesn't have Henry's constant and some o

[2021-01-16 05:27] plutologic opened #593 "[BUG/ISSUE] Why can't I save hourly OH concentrion with v12.3"
I am now using GEOS-Chem v12.3, I would like to save OH concentration for ND51 and ND49, but OH tracer is empty in the bpch file.
Why does this happen? I can save OH concentration in ND51 with v11-1.

[2021-01-18 18:21] tsherwen commented on #132
Hello,

In case it is of use to anyone else, I've pushed to Github how I setup extracting j-rates via planeflight from the KPP mechanism ([linked here on branch `v12.9.1_dev_PL_JVAL_extraction`](https://github.com/tsherwen/geos-chem/tree/v12.9.1_dev_PL_JVAL_extraction)). I could set up a pull request too unless there any comments / suggested improvements?

This approach could be used to get reacti

[2021-01-18 21:13] msulprizio commented on #132
Thanks @tsherwen! A pull request would be great. I think may users would be interested in this feature. Since it won't impact benchmark output, we could bring this update into the standard code at any time.

[2021-01-19 03:51] cdholmes commented on #590
Note that RCP emissions were used in CMIP5. CMIP6 future scenarios use SSP emissions.

Assuming that you do indeed want to use RCP emissions, Bob is correct that you should turn off anthropogenic emissions (global and regional) in HEMCO when you turn on RCPs. RCP emissions from ships and aircraft are *not* currently implemented in HEMCO, so you should keep those sector emissions on from a differen

[2021-01-19 04:33] yixinguo0421 commented on #590
Dear @cdholmes Christopher, I super super appreciate your help, the guidance document is extremely helpful.

I do wish to run the CMIP6 SSP emissions and have finished mapping the SSP species to species listed in HEMCO's RCP section (based on the names) - the guidance document provides a second check over the mapping of VOC species. I plan to use the RCP section in HEMCO_Config.rc to read in the S

[2021-01-19 14:50] yantosca commented on #593
Thanks for writing @plutologic.  We have been phasing out the bpch diagnostics in the GEOS-12 series.

To replicate the ND49 output, [please follow these instructions](http://wiki.seas.harvard.edu/geos-chem/index.php/Replicating_the_behavior_of_the_prior_timeseries_diagnostics).

ND51 output is still allowed even in GEOS-Chem 12.  Have you tried compiling with BPCH_DIAG=y?  That will make sure tha

[2021-01-19 14:54] yantosca commented on #592
Thanks for writing @JeanJGuo.  Which version are you using?  I believe these species were removed in 12.9.0 and later versions due to the updated mechanism.  Am also tagging @msulprizio and @wdowns, who worked on the updated mechanisms.

The tracerinfo.dat and diaginfo.dat files will not be generated unless you compile GEOS-Chem with BPCH_DIAG=y.  In recent versions, most of the bpch diagnostics h

[2021-01-19 15:06] yantosca opened #594 "[DISCUSSION] List of issues and fixes with TOMAS simulations"
We have created this discussion thread to keep track of issues and fixes with the TOMAS simulations:

## Overview

### Building TOMAS15
To compile GEOS-Chem for the TOMAS15 simulation , go to the run directory and type:
[code]

### Building TOMAS40
[code]

## Bugs and issues

### Issues that are now resolved (to be included in 13.0.0-final release)
1. Fixed a format error in routine WRITE_TINFO ca

[2021-01-19 16:40] msulprizio commented on #592
Those species were removed in [GEOS-Chem 12.8.0](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_12#12.8.0) with the updated isoprene chemistry. The species database was converted to .yml format in [GEOS-Chem 12.9.0](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_12#12.9.0). Before that, species properties were found in `Headers/species_database_mod.F90`. To obtain the speci

[2021-01-19 19:16] yantosca commented on #576
I am closing out this issue for now.  Feel free to submit another issue if you are still having problems.

[2021-01-19 19:16] #576 closed

[2021-01-19 19:37] #592 closed

[2021-01-20 01:05] plutologic commented on #593
Yes, I compiled with BPCH_DIAG=y. Actually, I saved NO2, uwind, vwind and OH tracers in ND51, only the OH tracer is empty.

[2021-01-20 14:53] yantosca commented on #594
I am also tracking down a floating-exception error when running TOMAS15 with gfortran 10.2.0, when configured with
[code]
The issue is is occurring at line 486 in the `KPP/fullchem/gckpp_HetRates.F90` code.

https://github.com/geoschem/geos-chem/blob/614a869c97922c1feedd1bb27b7d3090faadf996/KPP/fullchem/gckpp_HetRates.F90#L483-L486

which seems to be caused by the BrSALC concentration (i.e. `spcVe

[2021-01-20 17:18] yantosca commented on #594
The issue in the previous commit is now resolved in commits 0d0aaf42ed72c99238e79247151ee5273cefefa7, e9fa458262865a8c353e0b09524eb63cf1798740 in the GEOS-Chem science codebase, with corresponding commits in the wrappers: https://github.com/geoschem/GCClassic/commit/33d04f51bede11a6bbe2b8d6160c95bc821d5452, and https://github.com/geoschem/GCHP/commit/85bf5604b8af5a953f0a7f2c0af7e956da25a574.

The

[2021-01-20 19:38] yantosca commented on #594
FYI, the error I got in TOMAS occurred on the first timestep:
[code]
This is at line 836 of tomas_mod.F

https://github.com/geoschem/geos-chem/blob/e9fa458262865a8c353e0b09524eb63cf1798740/GeosCore/tomas_mod.F90#L823-L844

and it appears that `Gcout(jc)` may be a NaN value.

[2021-01-20 22:31] yantosca commented on #594
I will leave it to the TOMAS team to further debug the issue above, as it seems to be an issue within tomas_mod.F90 itself.  Perhaps due to parallelization.  One thing to try would be to disable (comment out) the parallel loop in tomas_mod.F90 and see if the error still persists.

[2021-01-20 22:37] yantosca commented on #593
Thanks for writing.  I think it is because the OH concentration is now part of the species concentration.  See this code:

https://github.com/geoschem/geos-chem/blob/e9fa458262865a8c353e0b09524eb63cf1798740/GeosCore/diag51_mod.F90#L507-L551

In older versions of GEOS-Chem, the OH concentration was stored in the `SAVEOH` array, because OH was stored separate from the advected species.  Now the OH s

[2021-01-20 22:39] yantosca commented on #513
I am going to close out this issue for now.  Please feel free to open another issue if you are still having problems.

[2021-01-20 22:39] #513 closed

[2021-01-20 22:40] yantosca commented on #368
I am going to close out this issue as there has been a lack of recent activity here.  Please feel free to open another issue.

[2021-01-20 22:40] #368 closed

[2021-01-20 22:44] yantosca commented on #241
I am going to close out this issue as there has not been recent activity.  Please feel free to reopen.

[2021-01-20 22:44] #241 closed

[2021-01-20 22:46] yantosca commented on #220
I am going to close out this issue as there has not been recent activity.  Please feel free to reopen.

[2021-01-20 22:46] #220 closed

[2021-01-20 22:46] yantosca commented on #50
Also see this discussion thread: #594

[2021-01-20 22:48] yantosca commented on #506
Hi @chfite... I was wondering if you have gotten this to work.  If so, would you consider posting a snippet from the HEMCO_Config.rc file here so that other users can follow your example?  Thanks!

[2021-01-20 22:56] yantosca commented on #564
I am going to close out this issue as there has not been recent activity.  Please feel free to open a new issue if you are still having problems.

[2021-01-20 22:56] #564 closed

[2021-01-20 22:58] yantosca commented on #492
@jinlx, have you been able to resolve this problem?  If so, we can close out this issue.

[2021-01-20 23:03] yantosca commented on #500
I will close out this issue.  As @msulprizio mentioned, this will be resolved for the 13.0.0 release (cf feature request #331), once we get the climatology fields from the 10-yr benchmarks.

[2021-01-20 23:06] yantosca commented on #331
NOTE: This will also resolve the issue reported in #500 by @melaniehammer.

[2021-01-20 23:08] yantosca commented on #354
This update will be resolved once we have the climatology fields from the 10 year benchmarks, as described in feature request #331.

[2021-01-20 23:12] yantosca commented on #331
Once we have the HCl concentration from the 10yr benchmarks, the issue with the aerosol-only simulation (reported in #354) will be resolved.

[2021-01-21 01:08] jinlx commented on #492
Hey Bob! I still haven't soleved the problem yet. I am currently working on the old GC (v12.5.0), which looks good on this issue.

[2021-01-21 02:17] plutologic commented on #593
Thank you for your reply.  the SAVEOH part is commented out in the diag51_mod.F90, saying "We can restore this once we figure out what the  proper unit conversion is (bmy, 11/20/17)", so, OH concentration cann't be saved in ND51 now. I hope it will be solved soon.
Thanks again for your help.

[2021-01-21 12:38] theloniuspunk commented on #594
Hi Bob @yantosca, I have not had the error that you're referring to above with Gcout (gfortran 7.5.0 on the machine I'm using).

I have found a different issue. TOMAS_Jeagle and TOMAS_DustDead are set to off by default in the HEMCO_Config.rc file that comes with a TOMAS setup. Oddly, when I ran with them off, there was dust emissions into the TOMAS bins (but not sea salt, as expected). When I turn

[2021-01-21 13:57] yantosca commented on #594
Hi @theloniuspunk, thanks for writing.  Can you attach your HEMCO_Config.rc and input.geos files to this issue (you have to append the .txt extension). I can take a look.   Also, were you running in debug mode?  In debug mode I get the error listed above (I suspect either an initialization error or maybe a parallelization error, I'm not sure.)

If you pull from the latest dev/13.0.0-final branch,

[2021-01-21 14:51] theloniuspunk commented on #594
Thanks, Bob. Files from the TOMAS_DustDead=on sim attached. I was not running in debug mode, but I'll do that in the future (possibly, like you said that it may be an initialization error, did your restart file have spun-up TOMAS tracers?)

I pulled the dev/13.0.0-final branch yesterday morning I believe. It had the dust and sea-salt options and tracers added to HEMCO_Config (which the main releas

[2021-01-21 16:05] yantosca commented on #593
I have now fixed this issue, which will ship in the final 13.0.0 release.  (Right now we are still in the release-candidate per iod and fixing minor issues.)  See commits ce052209826479a4ea46dfcf4abbfc8286741642 and https://github.com/geoschem/GCClassic/commit/2bb0382231ae8d1599f816237ff11a9d9584dd4c.

The fix is simple, make sure the IF block for OH in both GeosCore/diag51_mod.F90 and GeosCore/di

[2021-01-21 16:05] #593 closed

[2021-01-21 16:08] yantosca commented on #594
@theloniuspunk, no my restart file did not have spun-up TOMAS species.  Perhaps that is the issue.  If you can send me a restart file  (FTP or Globus) I can try to take a look with it.  If it's a restart file issue, we can update the default restart file that ships when you generate a run directory.  Thanks again!

[2021-01-21 16:21] yantosca commented on #594
Your HEMCO_Config.rc file looks pretty much like what we have.  I think there is still an issue in the script which updates the HEMCO_Config.rc settings from the template file (i.e. turning "off" to "on").  Am looking at that now.  Will push a fix to dev/13.0.0-final shortly.

[2021-01-21 16:36] theloniuspunk commented on #594
Here's a dropbox link for a spunup restart file that you should be able to wget from: https://www.dropbox.com/s/jqzbwikn1s1aae0/GEOSChem.Restart.20170101_0000z.nc4?dl=0

Let me know once you have it, so I can delete it from dropbox.

Thanks!

[2021-01-21 16:51] yantosca commented on #594
I pulled the restart file over, thanks.

[2021-01-21 17:33] yantosca commented on #594
Hi @theloniuspunk.  I ran into another HEMCO isssue:

[code]
but I believe I know what this is.  I think it is because I am running a TOMAS15 simulation but have specified 40 species in the TOMAS_DustDead extension.  I will make an update to the script that modifies the template HEMCO_Config file during run directory generation.

We may have to iterate on issues like these as a lot of things have

[2021-01-21 17:57] theloniuspunk commented on #594
Thanks, Bob! I think I initially had this issue as well when I had used the 40 species in the TOMAS15 simulation (sea-salt shipped with 40 in the hemco_config file as well). I trimmed them down to 15 species (see the hemco_config i posted earlier), and it still crashed when dust was turned on.

[2021-01-21 19:56] chfite commented on #506
Sure @yantosca. For simplicity I made the following changes to the vertical partitioning scale factors towards the bottom of my `HEMCO_Config.rc` file. For the PBL fraction I just changed it from 0.65 to 1.00, and for the free troposphere I changed it from 0.35 to 0.00, like so, in order to emit all of my BB emissions in the PBL:

<pre>
#============================================================

[2021-01-21 20:03] yantosca commented on #506
That's fine @chfite.  I'll close out this issue. Thank you for your solution!

[2021-01-21 20:03] #506 closed

[2021-01-21 20:30] yantosca commented on #594
Hi @theloniuspunk.  I tried with the spun-up TOMAS15 restart file, that seems to get us past the initial floating-point error that I was having.  If will go ahead and replace the TOMAS15 file that we have on SPC_RESTARTS in the data folder.  If you have another restart file for TOMAS40 then I can replace the existing initial TOMAS40 file that we have as well.

I figured out the error you were gett

[2021-01-22 12:27] theloniuspunk commented on #594
Those updates to HEMCO_Config seemed to fix the dust issue. Thanks! Here is my most up-to-date HEMCO_Config file for TOMAS15. I'll see if I can get a TOMAS40 sim going today.

[HEMCO_Config.rc.txt](https://github.com/geoschem/geos-chem/files/5855705/HEMCO_Config.rc.txt)

[2021-01-22 15:12] yantosca commented on #594
Thanks @theloniuspunk!  Your HEMCO_Config.rc for TOMAS15 is the same as what we currently have (except for a few whitespace differences).  I'll merge the bugfix branch up to dev/13.0.0-final shortly.

[2021-01-22 15:24] theloniuspunk commented on #594
Thanks @yantosca !

I'm now trying to test TOMAS40. Oddly, I'm having the same issue with deaddust as yesterday even though I added the lines for extension numbers 130 and 131 and expanded the number of dust and seasalt species from 15 to 40. Here are the relevant files.
Thanks!

[input.geos.txt](https://github.com/geoschem/geos-chem/files/5856787/input.geos.txt)
[log.txt](https://github.com/geosc

[2021-01-22 15:43] yantosca commented on #590
@yixinguo0421, just wanted to check if you have resolved this problem. If so we can go ahead and close out this issue.  Let us know, thanks.

[2021-01-22 15:44] yantosca commented on #554
I am going to close out this issue as there has not been recent activity.

[2021-01-22 15:44] #554 closed

[2021-01-22 15:46] yantosca commented on #492
Thanks much @jinlx   I'll close out this issue for now.  We are about to release GEOS-Chem 13.0.0....if you upgrade to this version and you still encounter the same problem, let us know.

[2021-01-22 15:46] #492 closed

[2021-01-22 15:47] yantosca commented on #412
I am going to close out this issue, as it is a duplicate of #132, which is still open.

[2021-01-22 15:47] #412 closed

[2021-01-22 15:48] yantosca commented on #335
I am going to close out this issue due to lack of recent activity.  If you are still experiencing problems, feel free to open a new issue.

[2021-01-22 15:48] #335 closed

[2021-01-22 15:49] yantosca commented on #195
I am going to close out this issue due to lack of recent activity.  If you are still interested in pursuing this, let us know and we can reopen it.

[2021-01-22 15:49] #195 closed

[2021-01-22 15:52] yantosca commented on #330
Cross-referencing issue #331, which describes creating output from the 10-yr benchmarks for 13.0.0.

[2021-01-22 18:26] yantosca commented on #594
Back to your question about the dust @theloniuspunk.  The default setting in GC 13.0.0is now to use the offline dust (at high-resolution) for the bulk DST1-4 species.  I wonder if you turn that off and use the online DustDead extension if DST2 would look more like DST14.

We can change that setting in the TOMAS run directory generation,  if you think it's best.

[2021-01-22 18:29] yantosca commented on #50
NOTE: This might be resolved by using a well-spun-up TOMAS40 restart file.  It could be that the default TOMAS restart file contains "missing" values (1e-30) for several species, which may be causing the warning & segfaults.    We will try with a better default restart file to see if this issue is fixed.

[2021-01-22 18:33] yantosca commented on #594
Also @theloniuspunk, I just pushed a bug fix to dev/13.0.0-final for the run script.  Make sure you have commit https://github.com/geoschem/GCClassic/commit/9885fe78eb0d8cff3713fdae35d3d064f6a2c0b8 in the GCClassic wrapper.

[2021-01-22 18:37] yantosca commented on #594
Also I am looking at the hcox_tomas_dustdead_mod.F.  Maybe the 40 dust tracers aren't being read in because the string length of a character variable is not sufficient (or some such similar thing).   Will advise soon.

[2021-01-22 20:49] theloniuspunk commented on #594
Thanks, Bob! Regarding 3 comments up (DUST tracers vs. DST tracers), the spatial distributions looked the same once I added the 130 and 131 code sections to HEMCO_Config.RC.

I'll check here to see if there are updates on the 40 dust tracer issue. Thanks!

[2021-01-22 21:16] yantosca commented on #594
Hi @theloniuspunk.  I just pushed this commit to the GCClassic superproject (https://github.com/geoschem/GCClassic/commit/c1802f1c1cc9e90378bfedd1ca967064aeb379d2).  This will pull the proper commits in the src/GEOS-Chem and src/HEMCO submodules.

Long story short, the `NBINS` parameter was hardwired in `HEMCO/src/Extensions/hcox_tomas_dustdead_mod.F90` but should have been set from the `HcoState%

[2021-01-22 21:17] theloniuspunk commented on #594
Thank you! I'll try to test this this weekend.

[2021-01-25 04:32] joeylamcy opened #596 "[QUESTION] How to incorporate/migrate to the new GC-Classic directory structure?"
# Ask a question about GEOS-Chem:

Hi GEOS-Chem Support Team,

As I am preparing for a PR, I wonder how I can incorporate/migrate to the new GC-Classic directory structure (i.e. the super project wrapper) with my branches and git histories in the old code directory (i.e. the science codebase directory here). Any suggestions for that?

Best,
Joey

[2021-01-25 14:40] yantosca commented on #596
Thanks for writing @joeylamcy.  What you can do is to clone a copy of GCClassic and check out the submodules, then check out a new branch in the src/GEOS-Chem folder:
[code]

Then go to your existing copy of GEOS-Chem,
[code]
and then make a new branch called `feature/ecophys_module` at the same commit where your existing code already is.  Then checkout the new branch
[code]
So at this point you a

[2021-01-25 20:01] msulprizio commented on #584
This is now resolved in e73ca4717ec266695ff72bda4a32f56c31b4a976 and will be included in the final 13.0.0 release.

[2021-01-25 20:01] #584 closed

[2021-01-26 15:01] yantosca commented on #501
Hi @lfreese.  Just checking in if there you have found a solution for this.  If so, we can close out this issue.

[2021-01-26 17:34] yantosca commented on #567
Hi @wporter.  Just wanted to touch base now that we're back from the holidays.  We would be greatly interested in collaborating with you on the efforts to bring sulfate_mod code into KPP.

Also, I have been able to remove most of the unnecessary computations in KPP rate law routines by adding new functions that skip computing terms that would evaluate to 1.  I still need to do timing/profiling tes

[2021-01-27 18:58] wporter commented on #567
Hi @yantosca,

Glad to hear about the computation improvements -- will be cool to see the timing impacts!

I had a quick (and hopefully not TOO stupid) question to ask before starting into the KPP change details. In sulfate_mod, the CHEM_DMS subroutine currently appears to only get called during offline aerosol simulations, which would make sense because the 3 reactions it includes (abstraction/ad

[2021-01-27 21:41] yantosca commented on #567
Thanks @wporter.  You are right, the CHEM_DMS subroutine is called for the aerosol-only module.  It may be a bit of historical baggage, I think CHEM_DMS might have also been used in the fullchem simulation way back when, but then those 3 reactions were added into the SMVGEAR mechanism (and now the KPP mechanism),  But we left it for the aerosol-only.

Ideally we would like to move as much as is po

[2021-01-27 23:08] wporter commented on #567
Ahh, got it -- that makes sense, and we can certainly help with the shift and testing of the chemistry from those subroutines. Do you have a preferred order of operations as far as priorities for the migration? CHEM_SO2 is going to be a real beast, but others like CHEM_MSA seem more or less ready to disappear. Also, although I've heard about the goal of transitioning specialty simulations as chemi

[2021-01-28 01:06] Aydr199406 opened #597 "[QUESTION] OH concentrations in the mesosphere and stratosphere"
Hi support team,
I'm using the v12.9.3 model for the global OH simulation. I have a question. Though GEOS-Chem is predominantly used for simulating tropospheric chemistry, can i use this model to get the OH concentrations in the mesosphere and stratosphere? Thank you very much !

[2021-01-28 14:39] msulprizio commented on #597
Thanks for writing. GEOS-Chem has been able to simulate stratospheric chemistry since the implementation of the [UCX mechanism](http://wiki.seas.harvard.edu/geos-chem/index.php/UCX_chemistry_mechanism) in GEOS-Chem v10-01. This mechanism quickly became adopted as our standard recommended full-chemistry mechanism. We continued to offer the troposphere-only chemistry option for users who were concer

[2021-01-28 15:48] sdeastham commented on #597
The GEOS-Chem chemistry has indeed been extended successfully to the mesosphere, with (as I understand it) minimal modifications. To my knowledge this has been done twice now: first by the NASA GMI folkd, and second by Eloïse Marais' group at UCL. My hope is that they will push their modifications to the main branch soon, but you may want to reach out either to her or to her postdoc Rob Ryan to fi

[2021-01-28 16:14] msulprizio commented on #596
When merging older GEOS-Chem code into 13.0.0 I haven't found that I need to do this step. Git seems to know how to handle most of that and identify any conflicts. I've only had to manually remove, for example, the HEMCO directory if I had `.o` files left there from a previous compilation. As Bob mentioned, if you did modify any files in the HEMCO source code you'll need to manually bring those in

[2021-01-29 00:13] Aydr199406 commented on #597
Thanks for your reply!

[2021-01-29 00:13] #597 closed

[2021-01-29 15:29] lfreese commented on #501
I did (although it is still somewhat a hack of setting this to zero, so if someone comes across this issue with these dates of meteo again, it might be worth revisiting). I ended up doing:

[code]

[2021-01-29 15:30] #501 closed

[2021-01-29 16:01] yantosca commented on #567
Thanks @wporter.  I think I am going to try to tackle gckpp_HetRates.F90 and sulfate_mod.F90 first, at least with the low-hanging fruit.  CHEM_MSA and similar routines sound like a good place to start.

For the specialty simulations I don't have slides but I guess the idea would be to try to isolate the chemical reactions in those routines that are explicitly written out and add them as KPP equati

[2021-01-29 16:03] yantosca commented on #271
I am going to close out this issue, as there hasn't been any recent activity.  I assume the updated files are created and posted.

[2021-01-29 16:25] yantosca opened #598 "[FEATURE REQUEST] Remove useless computations from KPP rate law library functions"
### The problem
This topic was introduced in discussion thread #567.  Long story short, the existing KPP equations and rate-law libraries use `REAL*4` constants (e.g. 1.0 or 1.0E+00) that are cast to double precision.  Not only does this involve a loss of precision, but this involves a lot of useless CPU cycles.

For example, this equation (in `fullchem.eqn`) calls function GCARR (in `gckpp.kpp`)

[2021-01-29 18:08] chfite opened #599 "[QUESTION] List of OC-equivalent species in complexSOA_SVPOA simulations?"
I am running simulations in version 12.6.0 with the complexSOA_SVPOA mechanism. I know that OCPO and OCPI are not species that are output when doing complexSOA_SVPOA simulations, but I was wondering if you all could provide a list (or if I can be directed to one if one already exists) which lists all of the species I would need to lump together if I was trying to sum the masses/concentrations of o

[2021-01-29 21:31] yantosca commented on #598
For some background, here is a slide showing the relative cost of various floating point operations (normalized to +, which only takes a couple of CPU cycles).
![2021-03-10 Bob Yantosca KPP](https://user-images.githubusercontent.com/5880296/106329328-3bca8a80-624f-11eb-9ef8-52874765e5ce.png)

[2021-01-31 16:02] theloniuspunk commented on #594
Hey Bob, here's a spun-up restart file for TOMAS40: https://www.dropbox.com/s/rahr1e3tiih89dd/GEOSChem.Restart.20170201_0000z.nc4?dl=0

Let me know when you have it. Thanks!

[2021-02-01 01:03] plutologic opened #600 "[BUG/ISSUE] wrong OH concentration saved in ND51 using v12"
I followed the way provided in https://github.com/geoschem/geos-chem/issues/593  to save OH concentration in ND51 using v12.3. But the result seems wrong, OH concentration over China is only 1e-17~1e-14 molec/cm3 in January 2020, much lower than what it should be (1e6 molec/cm3).

[2021-02-01 14:32] Aydr199406 opened #601 "[QUESTION] Simulating global OH concentrations"
Dear support team,
I'm a new user to use the  Geos-Chem v 12.9.3 for the global OH  concentrations simulation. I have a question. There is no chance to edit the CopyRunDirs.input file to simulate the concentrations of OH. I do not know how to set the parameter in the input.geos and something other folders. Can you give me a guider for simulating the OH concentrations! Thank you very much !

[2021-02-01 15:26] yantosca commented on #600
Thanks for pointing this out @plutologic.   The units in State_Chm%Species are in v/v and not molec/cm3.  There will have to be a unit conversion.

[2021-02-01 15:56] theloniuspunk commented on #594
Thanks!

Also, so we have it documented, here is a git patch for drydep_mod.F90 updates to the Emerson et al. (2020) parameters (as well as some small updates to TOMAS to remove the calls to the Yu IMN nucleation scheme, which is causing the model to crash on file read for me). Daniel asked if we should be making the Emerson dry-dep updates standard. Later today or tomorrow, I'm going to circulate

[2021-02-01 16:34] yantosca commented on #594
Thanks.  We would have to get the patch into a later 13.Y.Z version so that we could benchmark it.

[2021-02-01 16:39] theloniuspunk commented on #594
Makes sense

[2021-02-01 17:26] joeylamcy commented on #596
Thank you for your detailed guide. I think it works but I just need to resolve all the conflicts before merging. Luckily, I didn't modify anything in HEMCO.

[2021-02-01 17:26] #596 closed

[2021-02-01 17:43] msulprizio opened #602 "[BUG/ISSUE] Bug in potential temperature calculation"
Yuzhong Zhang reported a bug in the calculation of potential temperature. He wrote:

[2021-02-01 17:51] msulprizio commented on #602
This is now resolved in https://github.com/geoschem/GCClassic/commit/46a42eab4f6367f42095eebe96ca94b74689c731 and will be included in the final 13.0.0 release.

[2021-02-01 17:51] #602 closed

[2021-02-01 18:01] msulprizio commented on #601
OH is included in the [full-chemistry mechanism](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_chemistry_mechanisms), so you will need to run one of the full-chemistry simulations in order to simulate OH concentrations. Please note that [OH](http://wiki.seas.harvard.edu/geos-chem/index.php/Species_in_GEOS-Chem#O) is only a chemically active species (i.e. found in KPP) and it not advec

[2021-02-01 18:12] msulprizio commented on #599
I would refer your first question to the [Aerosols Working Group](http://wiki.seas.harvard.edu/geos-chem/index.php/Aerosols_Working_Group). @theloniuspunk, do you have any suggestions?

OCPO and OCPI are still listed in HEMCO_Config.rc for complexSOA_SVPOA simulations, but those entries should be ignored by HEMCO because OCPO and OCPI are not defined as species in those simulations. HEMCO defines

[2021-02-01 20:50] theloniuspunk commented on #599
Thanks, Melissa, and hi Charlie.

I have not worked closely with the complex scheme myself. Charlie, are there entries in HEMCO for emissions from POG/POA from combustion sources as well, or is it just emissions to OCPI and OCPO? Maybe a HEMCO extension takes care of converting it to POG and POA for the complex scheme? I'd need to look more into this if no one here has an answer. Does Sid Pai post

[2021-02-01 21:10] msulprizio commented on #599
That's a good point. Yes, there are scale factors used in HEMCO_Config.rc for converting OCPO emissions to POG emissions:

[code]

@sidhantp Do you have anything else to add?

[2021-02-01 22:31] sidhantp commented on #599
Yep! The POG emissions are scaled from the base OC inventories as @msulprizio mentioned. This is following the recommendation from Pye and Seinfeld (2010), although it's worth noting they classify it as likely being a conservative estimate.

[2021-02-01 23:14] sidhantp commented on #599
@chfite To calculate the total OA burden in the complex scheme (with SVPOA), you can include the following species (v12.1.1). There has been some restructuring of the code since then so the relevant species are slightly different now.
- POA[1-2]
- OPOA[1-2]
- TSOA[0-3]
- ASOA[N-3]
- SOAGX
- SOAME
- SOAIE
- SOAMG
- LVOCOA
- INDIOL
- ISN1OA

You can refer to (http://wiki.seas.harvard.edu/geos-chem/i

[2021-02-01 23:42] theloniuspunk commented on #599
Thanks, Sid!

[2021-02-01 23:45] Aydr199406 commented on #601
I have simulated the "standard" type. However, i do not find the OH concentrations in the output files. I will try to modify the HISTORY diagnostics now. Thanks!

[2021-02-02 00:21] chfite commented on #599
Thank you all for your help and advice! Yes, I had noticed that the biomass burning emissions in HEMCO scale CO for SOAP and some scale OC to emit POG1 and POG2. However, if I am correct, I think GFED and FINN are the only biomass burning datasets in HEMCO that scale OC emissions for POG1 and POG2. QFED and GFAS do not emit POG1 and POG2 and have no reference to the scale factors that were mention

[2021-02-02 01:52] Aydr199406 commented on #600
I am a new user of the GEOS-Chem model. Can you give me a contact information such as e-mail address for academic exchange? Thank you very much! @plutologic

[2021-02-02 01:58] plutologic commented on #600
yeah, sure, zqq200662@126.com

[2021-02-02 04:06] sidhantp commented on #599
I did not include MONITA and IONITA in my analysis because I was advised against putting them in since there were still some questions about the associated uncertainties in the organic nitrates. I think Jenny Fisher and Eloise Marais would be the appropriate people to ask about current best practices.

[2021-02-02 12:45] yantosca commented on #600
This issue is now corrected in commits 76814190d370d601e3aeb7fe37754f4dca8d0582 and https://github.com/geoschem/GCClassic/commit/aa3ba6627b626cec2aedc974a2b3071622900218.  The code changes are shown below:

Add this variable:
[code]
Define this after id_OH:
[code]

And then the IF statement should be:
[code]
This needs to be added to `GeosCore/diag51_mod.F90` and `GeosCore/diag51b_mod.F90`.

[2021-02-02 13:08] yantosca commented on #600
This will ship in 13.0.0-final. You can add this update to your code in the meantime.  I will close out this issue.

[2021-02-02 17:07] kbilsback opened #603 "[QUESTION] AOD diagnostics in v13.0.0"
Dear GC Team,
I am using v13.0.0 and would like to output AOD tracers to compare to AERONET. I tried using the "AODHygWL1_<spcname>" diagnostic in the AEROSOLS menu of HISTORY.rc; however, it appears that this is only the hygroscopic component of AOD. Is there a way for me to output the full AOD, not just the hygroscopic component? In the past, I had used the tracers 517-522 in the ND49 menu, but

[2021-02-02 18:21] yantosca commented on #603
Hi @kbilsback, thanks for writing.  For the GEOS-Chem benchmarks, we use these diagnostics to create the total AOD in the benchmarks:
[code]
And here is a [sample AOD plot](http://ftp.as.harvard.edu/gcgrid/geos-chem/1mo_benchmarks/GC_13/13.0.0-beta.0/GCHP/BenchmarkResults/GCHP_version_comparison/Aerosols/Aerosols_ColumnOptDepth.pdf) from the benchmarks.

[2021-02-02 18:32] yantosca commented on #603
Also, `AODTotal` is computed in our GCPy plotting code.  The other diagnostic names are as listed in the `HISTORY.rc` file.  Hope that helps!

[2021-02-02 18:48] yantosca commented on #594
Hi @theloniuspunk.  I was able to run a short simulation with your spun-up TOMAS40 simulation.  It didn't throw any errors.  I think this now fixes the issue described in #50, so I will close that out.   This will ship with the other restart files for GEOS-Chem 13.0.0 (which will be taken from the spun-up 10-yr benchmark simulations).   Thanks again!

[2021-02-02 18:49] yantosca commented on #50
This issue seems to be fixed when using a properly spun up TOMAS40 restart file.  I'll close this out for now.  Also see the discussion thread #594 for the latest updates.

[2021-02-02 18:49] #50 closed

[2021-02-02 18:55] theloniuspunk commented on #594
Awesome! Thanks!

On Tue, Feb 2, 2021 at 11:48 AM Bob Yantosca <notifications@github.com>
wrote:

[2021-02-02 19:00] #600 closed

[2021-02-02 19:01] theloniuspunk commented on #603
Hey Bob,

Can you point us to who developed these diagnostics? Cloud optical depths are - by definition - not aerosol optical depths and should not be included in the aerosol optical depth. Also, the hydrophobic BC and OC (BCPO and OCPO) should be included in the aerosol optical depth.

Thanks!

Jeff

[2021-02-02 19:06] yantosca commented on #603
So I believe the netCDF diagnostics are just analogs of the original bpch diagnostics.  We tried to get the netCDF to mimic the same outputs from the bpch.

I think @lizziel did some of the work to translate those diagnostics from bpch to netCDF.  Some of that work was also probably done by me as well.

[2021-02-02 19:07] yantosca commented on #603
Also tagging @msulprizio @sdeastham

[2021-02-02 19:31] theloniuspunk commented on #603
Thanks, Bob. They seem different than what we used to use for ND49 and ND51, but maybe they are the same as what used to come with the monthly output? @kbilsback Is this what you're thinking?

[2021-02-02 23:59] kbilsback commented on #603
@theloniuspunk Yes, I am looking for the aerosol optical tracers that used to be output from the ND49/ND51 menu (num. 517-522). It looks like the AOD diagnostics above (from the HISTORY.rc Aerosols menu) were originally in the ND21 cloud diagnostics. It looks like the ND49/ND51 aerosol optical depth diagnostics do not currently not have a netCDF equivalent. Unless I'm missing something?

[2021-02-03 14:31] angothelene commented on #588
Hi, I'm having a similar problem when downloading the code for v12.9.3.
I followed the [instructions on the wiki](http://wiki.seas.harvard.edu/geos-chem/index.php/Downloading_GEOS-Chem_source_code_(12.9.3_and_earlier_versions)): git clone https://github.com/geoschem/geos-chem Code.12.9.3.
When creating a run directory using the UT, I get the following warning:
<img width="672" alt="Screenshot 2021

[2021-02-03 14:56] WilliamDowns commented on #588
When you type `git clone https://github.com/geoschem/geos-chem Code.12.9.3`, you are not actually setting your GEOS-Chem version to 12.9.3; you are naming your copy of the repository "Code.12.9.3". To get version 12.9.3 of the code, change to your Code.12.9.3 directory and type `git checkout -b new_branch_name tags/12.9.3`. I've updated the instructions on the wiki to make this more clear. Hope th

[2021-02-03 16:15] msulprizio opened #604 "[FEATURE REQUEST] Updated aerosol dry deposition"
Jeff Pierce (@theloniuspunk) wrote:

[2021-02-03 16:17] msulprizio commented on #604
Here is the patch file provided by Jeff.

[pierce-dry-dep_patch-file.diff.txt](https://github.com/geoschem/geos-chem/files/5919876/pierce-dry-dep_patch-file.diff.txt)

[2021-02-03 16:19] lfreese opened #605 "[QUESTION] Nested Grid problems (potential numerical instabilities)"
Hi all--

I've been working on nested grid simulations in NA and am consistently getting what seem like large numerical instabilities in high latitudes. I've attached the images of O3 and SO2 for examples.

This run is 6 months of spinup (which all looked reasonable across 2015), but begins to have large values (eg: NOx values of >1e20) in one gridbox in the north-eastern part of the run. It then

[2021-02-03 19:53] msulprizio commented on #605
Are these high levels occurring at all levels, a particular level, or in the column mean? See [this post on the wiki](http://wiki.seas.harvard.edu/geos-chem/index.php/MERRA-2_implementation_details#Default_timestep_for_MERRA-2_nested_grid_simulations) describing a similar issue that Bram Maasakkers and I ran into when running nested NA simulations with MERRA-2.

If it's not an issue with the times

[2021-02-03 22:11] yantosca commented on #603
The ND49 diagnostics were removed I think in 12.6.0 and later, as you can now schedule any diagnostic with instantaneous frequency.

I took a look at the diagnostics in the diag51_mod.F90.  Here is the code for archiving the sulfate AOD:

https://github.com/geoschem/geos-chem/blob/dc499905328a4821de1b85b9ee67b8b1d95e61d0/GeosCore/diag51_mod.F90#L726-L751

and here is the code for archiving sulfate

[2021-02-04 03:03] wswanson3 opened #606 "[BUG/ISSUE] 12.9.3 HISTORY.rc DryDep diagnostics (besides DryDepVel) all reading zero"
# Report a GEOS-Chem bug or technical issue

[HISTORY.rc.txt](https://github.com/geoschem/geos-chem/files/5922876/HISTORY.rc.txt)

## Describe the bug:
When running the base version of GEOS_Chem 12.9.3 with DryDep diagnostics enabled in the HISTORY.rc file, the only nonzero class of diagnostics is the dry deposition velocity. All other quantities are zero.
### Expected behavior: ###

For the DryDe

[2021-02-04 14:57] yantosca commented on #606
Thanks for writing @wswanson3.  How long have you spun up your simulation for?  The initial restart files that ship with the run directories should not be used to start a scientific simulation.  You should spin up for at least a year.  This will remove the signature of the initial conditions from your run.

If the drydep velocities are OK, then the drydep fluxes will be zero in places where the co

[2021-02-04 18:14] kbilsback commented on #603
So if I understand correctly, the AOD tracers that used to be output with ND49 should be equivalent to what's output with the aerosols menu in HISTORY.rc. Thank you!

[2021-02-04 18:14] #603 closed

[2021-02-04 19:00] wswanson3 commented on #606
Bob,
This run was done with an initial restart file, but I had the same issue
when using a restart file that was spun up for a total of 7 months prior.
The Budget diagnostics show nonzero mixing ratios and Emis_DryDep fields.
-Will

On Thu, Feb 4, 2021 at 5:58 AM Bob Yantosca <notifications@github.com>
wrote:

[2021-02-04 21:19] yantosca commented on #606
@wswanson3,I noticed that you've turned off the non-local mixing scheme, i.e.,
[code]
Can you try turning that on and see if you get drydep output?  Some of the drydep diagnostics are applied mixing.

[2021-02-04 21:43] lfreese commented on #605
@msulprizio thanks-- this wiki link is very helpful! I'm encountering this across all levels, and it starts specifically on 20151226. When I changed the timestep to 5/10 transport/chemistry, the results on 20151226 no longer have negative values, so this does seem to potentially fix the issue (I've run it through 20151231). I'm running it out for a few more days to check results into 2016.

If it

[2021-02-04 21:53] wswanson3 commented on #606
Bob,
Will do, I’ll also make sure to use a spun up restart file.

Regards,
Will

[2021-02-05 00:10] wswanson3 commented on #606
Bob,
Turning on non-local PBL mixing fixes the DryDep diagnostic problem. When
non-local PBL mixing is set to True, the DryDep and DryDepMix become
nonzero. Using an initial restart file without spinup seems to cause
DryDepChm to go to zero. Thanks!
-Will

On Thu, Feb 4, 2021 at 12:53 PM Will Swanson <wswanson3@alaska.edu> wrote:

[2021-02-05 09:26] joeylamcy opened #607 "[FEATURE REQUEST] Support multiple wildcards for HISTORY output variables"
# Is multiple wildcards for output variables supported in v13?

Hi GCST,

I believed that in previous versions, there can be only 1 wildcard for each variable in HISTORY.rc. But in v13, I see WildCardList in Headers/taggeddiaglist.F90. Is multiple wildcards supported in v13?

https://github.com/geoschem/geos-chem/blob/dc499905328a4821de1b85b9ee67b8b1d95e61d0/Headers/taggeddiaglist_mod.F90#L64-L73

[2021-02-05 10:29] Yuan-yuan-2021 opened #608 "v12.9.3[BUG/ISSUE]"
---> DATE: 2015/07/01  UTC: 00:10  X-HRS:      0.166667
---> DATE: 2015/07/01  UTC: 00:20  X-HRS:      0.333333
forrtl: error (65): floating invalid
Image              PC                Routine            Line        Source
geos               000000000190454D  gckpp_hetrates_mp         522  gckpp_HetRates.F90
geos               000000000080FD74  flexchem_mod_mp_d         801  flexchem_mod.F90
libi

[2021-02-05 15:18] msulprizio commented on #608
We need more information to help with this issue. Please see [this wiki page](http://wiki.seas.harvard.edu/geos-chem/index.php/Submitting_GEOS-Chem_support_requests#What_do_I_need_to_include_in_my_support_request.3F) for information and files to include.

Please also see the following resources for debugging your error:
- [Floating invalid or floating-point exception error](http://wiki.seas.harvar

[2021-02-05 15:50] yantosca commented on #606
Thanks @wswanson3.  I'll go ahead and close out this issue.  Please feel free to open another issue if you are still having problems.  Glad it's working!

[2021-02-05 15:50] #606 closed

[2021-02-05 15:52] yantosca commented on #607
Hi @joeylamcy, thanks for writing.  Right now there is only one wildcard allowed per diagnostic.  Multiple wildcards are a feature that we would like to implement but we have not as yet gotten there due to other priorities.

I will change this issue into a feature request so that we don't lose sight of it.

[2021-02-05 16:32] yantosca commented on #598
I used the TAU Profiler to assess the performance of the KPP rate law functions with useless computations removed vs. the dev/13.0.0-final branch.  Results are below.

# Runs
* Simulation start : 2019-07-01 00:00:00z
* Simulation end : 2019-07-08 00:00:00z
* Simulation type: fullchem_standard simulation
* Diagnostic Collections: Restart, Metrics, KppDiags, SpeciesConc

## Ref: refrun_7d_omp3 (Exis

[2021-02-05 16:33] yantosca commented on #567
I have posted some profiling results that assesses the performance of removing the useless computations at feature request #598.

[2021-02-05 16:54] joeylamcy commented on #607
I see. Look forward to this feature!

[2021-02-05 16:56] msulprizio commented on #598
Tagging @kilicomu again for any thoughts (the username tagged above is incorrect)

[2021-02-05 17:19] sdeastham commented on #598
Wow! This was a real surprise. I guess though that `RCONST` was not taking the majority of the integration time, so fixing the rate law calculations (and it does look like this substantially improved that part) was only going to be able to yield a minor improvement at best. Is it possible that the slowdown in integration is due to the forcing to double precision? Presumably there is potentially so

[2021-02-05 18:22] yantosca commented on #598
I also have a ticket into FASRC to see if it is something to do with hyperthreading on the huce_cascade cluster.  If you notice in Dev the RCONST timer is almost exactly a factor of 2 smaller than in Ref.  That might have something to do with the hyperthreading.

@sdeastham: Even in the old code the output of the rate law functions was double precision (i.e.`REAL(kind=dp) FUNCTION GCARR( A0,B0,C0

[2021-02-05 18:38] yantosca commented on #598
For reference here are some articles about hyperthreading and OpenMP that I found online:

1. https://stackoverflow.com/questions/36958661/openmp-dont-use-hyperthreading-cores-half-num-threads-w-hyperthreading
2. https://stackoverflow.com/questions/35355944/how-does-hyperthreading-affect-parallelization
3. https://stackoverflow.com/questions/4817789/hyper-threading-made-my-renderer-10-times-slower

[2021-02-05 18:41] wporter commented on #598
This is interesting, and the hyperthreading does appear to be the most likely culprit. Could you rerun both cases with HT turned off?

[2021-02-05 19:21] yantosca commented on #598
Plamen Krastev suggests:

I have your request and I will answer your previous questions separately. Regarding the OpenMP hyperthreading questions, you can try exporting the OMP_CPU_AFFINITY environment variable, e.g.,

export OMP_CPU_AFFINITY="0-23"

This should restrict the OMP execution to the available physical cores only. You also need to include in the job submission script:

[2021-02-05 19:32] sdeastham commented on #598
Interesting! If all else fails, compiling without OpenMP and doing serial tests may shine some light too.

[2021-02-05 19:33] yantosca commented on #598
Rerunning with the new commands now.  I wonder if this affects other studies that were done on huce_cascade, like the recent benchmark output (not for results but for timings).

[2021-02-07 06:23] map06 opened #609 "[BUG/ISSUE]Error: NetCDF: Index exceeds dimension bound"
Hi,
I am trying to run full chemistry simulation in  `Geos-Chem v 2.9.3`. But, for some reason the simulation was interrupted. I tried to simulate again by the help  of hourly restart file  produced from the interrupted simulation. But, its giving me following error.

[compilation_logfiles.zip](https://github.com/geoschem/geos-chem/files/5944651/compilation_logfiles.zip)

[code]

[2021-02-07 14:17] theloniuspunk opened #610 "[BUG/ISSUE] Negative tracer issue in wet dep 8 months into simulation"
## Describe the bug:
Hi folks, I've been running a standard (non-TOMAS) global 4x5 simulation (dev/13.0.0-final pulled on 1/22/2021), and 8 months in to the simulation I get the the error pasted below in RESUSPENSION. If I put in a fix to make small negative numbers = 0, a similar error shows up in rainout instead.

I've seen discussion here on negative values in wet dep, but they all seem to be a

[2021-02-08 15:55] yantosca commented on #609
Thanks for writing @map06.  I wonder if you are using a restart file that comes from a nested-grid run directory for your global simulation.  Can you do

[code]
and post the output here (at least the output of just the dimension sizes), not all restart variables.  That will let us see the dimensions of the restart file and if they are consistent with your run directory.

[2021-02-08 20:23] wswanson3 opened #611 "[FEATURE REQUEST] Specifying species other than HNO3 and O3 with ConcAboveSfc Collection"
# Request a new GEOS-Chem feature

The ConcAboveSfc collection is quite useful for looking at surface ozone mixing ratios. Where could I modify the code to retrieve surface BrO mixing ratios? Would it be possible to add a feature to specify ConcAboveSfc species of interest (O3, HNO3, BrO or other) in input.geos in the same place that the height above surface is defined?

[2021-02-08 20:55] yantosca commented on #611
Thanks for writing @wswanson3.  I think you should just be able to add other species to the ConcAboveSfc collection by adding the `Is_DryAlt : true` to the `species_database.yml` file in your run directory:

For example, to add BrO to the ConcAfterSfc collection, make sure you have this:
[code]

Then as long as you have `SpeciesConc_?DRYALT?` requested in the `HISTORY.rc` file, you should get BrO

[2021-02-08 21:13] yantosca commented on #598
Also more info from Plamen at FAS Research computing:

[2021-02-08 21:42] yantosca commented on #598
Also tagging @vshah211 on this thread.

[2021-02-08 21:43] yantosca commented on #567
Tagging @viral211 on this thread.

[2021-02-08 21:43] yantosca commented on #598
Also tagging @viral211 on this thread.

[2021-02-08 21:51] wswanson3 commented on #611
Thank you so much, adding Is_DryAlt:True adds BrO output to the surface
concentration files. There may be sharp vertical gradients of BrO in the
Arctic regions I am examining, the ConcAboveSfc will help with that
analysis.

On Mon, Feb 8, 2021 at 11:55 AM Bob Yantosca <notifications@github.com>
wrote:

[2021-02-09 02:49] map06 commented on #609
[code]
Although I am not sure this is the same output as I again simulated it from the beginning  and  it seems the file has been overwritten.

[2021-02-09 08:23] joeylamcy opened #612 "[BUG/ISSUE] Some offline BVOC emission files for year 2000 are missing from Compute Canada."
# Report a GEOS-Chem bug or technical issue

## Describe the bug:
The offline BVOC emission files at 0.5x0.625 resolution should be available from 1980-2021 according to HEMCO_Config.rc. However, many of the files for year 2000 (e.g. July) are missing from the Compute Canada server.

### Expected behavior: ###

`http://geoschemdata.computecanada.ca/ExtData/HEMCO/OFFLINE_BIOVOC/v2019-10/0.5x0.625/Y

[2021-02-09 09:49] tsherwen commented on #132
Hello @msulprizio, thanks. I will submit a pull request once I have resolved why I am seeing an issue within a custom nested grid. I tested the code changes on a couple of datasets on a global scale, where it all worked fine. However, within my custom nested grid, I get a segmentation fault after the run successfully outputs the planeflight header. I will work on debugging this again next week. If

[2021-02-09 16:49] WilliamDowns opened #613 "[BUG/ISSUE] Spack NetCDF install issue; loading python and "C compiler cannot create executables""
Hannah Horowitz wrote:

[gcc_errors.txt](https://github.com/geoschem/geos-chem/files/5952836/gcc_errors.txt)
[spack-build-out.txt](https://github.com/geoschem/geos-chem/files/5952837/spack-build-out.txt)

[2021-02-09 16:59] WilliamDowns commented on #613
Thank you for pointing out that Python requirement. We can update our Spack documentation to mention this possible requirement.

Regarding the compiler error, can you comment here with output from `spack config get compilers`? This will help diagnose whether Spack is properly recognizing your compiler.

Assuming your `gcc 7.2.0` was installed outside of Spack, you can try loading the compiler howe

[2021-02-09 17:08] msulprizio commented on #271
@hongjianweng @jun-meng Can either of you provide an update? Have these files been reprocessed and uploaded to Compute Canada?

[2021-02-09 17:10] LiamBindle commented on #271
They have not been updated on Compute Canada. Unfortunately, that means it will affect most GCHP users.

[2021-02-09 18:01] hmhorow commented on #613
Thanks so much!

I realize that when I loaded the python module, it loaded the GCC compiler at the same time. I tried loading it separately and it is the same default version 7.2.0.

this is what happens when I do `spack config get compilers`:

[code]

I tried entering `spack compiler find` before `spack install netcdf-fortran %gcc@7.2.0`. I specified the version of gcc since there were two compil

[2021-02-09 18:03] hongjianweng commented on #271
@msulprizio @LiamBindle ,
The files has not been uploaded due to some problems in processing the file.
Fortunately, these problems have been solved and I'll upload in a week.
I'm so sorry for the delay and reply in time.

[2021-02-09 18:06] LiamBindle commented on #271
Thanks, @hongjianweng!

[2021-02-09 19:52] yantosca opened #614 "[DISCUSSION] Hyperthreading and OpenMP parallelization (only applies to GEOS-Chem "Classic")"
# Overview

I have been trying to do some profiling of GEOS-Chem classic on a SLURM partition consisting of Cascade Lake processors.  Each node has 24 physical cores but hyperthreading is activated (i.e. each has 2 logical cores), so there are 48 possible computational cores per node.  However, it seems that the hyperthreading is interfering with attempts to profile the code with the TAU Performan

[2021-02-09 20:27] WilliamDowns commented on #613
Thanks for following up. That all looks normal to me. Unfortunately I'm not sure what the issue is. One alternative is to install a copy of gcc through Spack, e.g. `spack install gcc@8.2.0; spack load gcc@8.2.0; spack compiler find`. This would take some time and disk space, but nothing crazy. This would almost definitely allow you to install netcdf-fortran using `spack install netcdf-fortran %gcc

[2021-02-09 21:09] hmhorow commented on #613
thanks for the suggestions!

I tried doing `spack install gcc@8.2.0` but I did not enter any spack commands related to compilers beforehand, the gcc 7.2.0 module was loaded but that was it. This seems to require a properly working C compiler? I got a number of errors which I am copying below, and attaching the spack-build-out file.
[spack-build-out-gcc820attempt.txt](https://github.com/geoschem/ge

[2021-02-09 21:14] hmhorow commented on #613
sorry to double comment, I tried checking compilers before doing the spack install (spack compilers, spack config get compilers, spack compiler find) but this did not change the above.

[2021-02-09 21:30] yantosca commented on #613
Hi @hmhorow, thanks for the update.  You might need to give the compiler name when installing each library, such as:

[code]
this will force a build with a specific compiler (has to be one of the compilers in your `~/.spack/config/compilers.yaml` file

Also, I would recommend to add the `target=x86_64` attribute, especially if your computer cluster has more than one type of chipset.  Out of the bo

[2021-02-09 21:32] yantosca commented on #613
Also -- if you do build a newer compiler version with Spack you'll have to add it to the `~/.spack/config/compilers.yaml` file before using that newer compiler to build any other libraries.

[2021-02-09 21:33] yantosca commented on #613
One more thing...often a build will fail because the download of the source code for that library was interrupted.   was incomplete.  If a spack install command fails, try it again and see if it continues.  It's best to do spack install commands one at a time for this reason (or at least I think so).

[2021-02-09 21:58] hmhorow commented on #613
Thanks Bob so much for your input!
So I tried
`spack install netcdf-fortran %gcc@7.2.0 target=x86_64`
which failed and got similar errors to before, e.g., :

[code]

The errors are repeated for almost all individual parts that are installed, except util-macros-1.19 which is successfully installed. Here is the full suite of error messages printed out
[all_errors_netcdf-fortran_gcc720_x86_64.txt](ht

[2021-02-09 22:05] WilliamDowns commented on #613
What happens if you try any of your install commands with `%gcc@4.8.5` instead of `%gcc@7.2.0`?

[2021-02-09 22:21] yantosca commented on #613
Sorry, yes it should be ~/.spack/linux.compilers.yaml.

[2021-02-09 22:22] hmhorow commented on #613
thanks for the idea!
I actually tried the netcdf one first (`spack install netcdf-fortran %gcc@4.8.5 target=x86_64`) and it seems to be working - so far everything is installing successfully. It's still going (much longer than any other attempt).
Is there any issue installing netcdf-fortran with this older version of gcc? if so, then I will try to install a newer version of gcc with gcc4.8.5.  wha

[2021-02-09 22:33] yantosca commented on #613
Hi @hmhorow.  I think GEOS-Chem Classic won't build with anything lower than gcc7.  But that's the compiler only.  The libraries built off of older compilers *may* work.  But often you run into compiler-library inconsistencies so I would recommend using the same compiler to build all the libraries and run GEOS-Chem.

Definitely GCHP needs gfortran 8.2.0 or later.  If you can, I would recommend usi

[2021-02-09 22:34] yantosca commented on #613
Also if you want to run GCHP, @WilliamDowns has set up a Spack package for GCHP that installs all the dependencies.  I think we are still updating the doc but he can give you more details about that if you want.

[2021-02-09 22:39] hmhorow commented on #613
thank you both so so much for your help! I am so grateful.
the install ended up getting killed before it was done, because I was trying it on a login node instead of a compute node on our cluster. oops!
But it seems promising that I should be able to install the appropriate newer version of gcc using the working older version of gcc, and then use the newer one to install netcdf (after loading it p

[2021-02-09 22:40] yantosca commented on #611
Thanks @wswanson3 for the update.  We can add the `Is_DryAlt: true` to BrO in the species database for the 13.0.0 official release.  That's an easy enough fix and won't affect any benchmark output.

[2021-02-09 23:06] yantosca commented on #611
This update has now been pushed into the development stream for the 13.0.0 final release, in commit: 7954bbec4f96dfc6d1b408cee0d72cc8b5a99b72.  It will ship with the official 13.0.0 release (to be released pending benchmark approval).

[2021-02-09 23:06] #611 closed

[2021-02-10 14:44] tsherwen commented on #132
I have now submitted a pull request (#615) for this. I resolved what was causing the issue I mentioned in my last message, which was unrelated to the pushed code.

[2021-02-10 15:54] barronh commented on #547
Lyssa Freese and I developed a Jupyter Notebook that can prepare gridded monthly NEI files for use by HEMCO. It can work in the cloud with Google Colab, or on any system that has the necessary libraries. It can be tweaked for different versions.

https://colab.research.google.com/drive/1Z7Btq_upCyCcHWaKk-NFhS9P_Rbiddne?usp=sharing

I'm not sure where all this is documented, so I wanted to tag it h

[2021-02-10 17:45] yantosca commented on #598
I ran a couple more profiling runs with hyperthreading turned off on the huce_cascade partition on slurm (see discussion thread #614).  These are the results from the GEOS-Chem timers, which simply measure the time elapsed across certain blocks of code:

[code]
As you can see, we drastically reduce the time spent in computing reaction rates but basically double the time spent in the Rosenbrock sol

[2021-02-10 17:56] hmhorow commented on #613
update: I installed gcc 9.3.0 with gcc 4.8.5, and then loaded the gcc 9.3.0 compiler to install netcdf-fortran successfully!
thank you again so much for your help!

[2021-02-10 18:12] yantosca commented on #613
Thanks @hmhorow, I'm glad it works now.   I like gfortran 9.3.0, it's a very stable compiler and catches a lot of errors (typically the GNU compilers parse the Fortran language more strictly than the ifort compilers do).

I'll close out this issue for now, but feel free to open a new issue if you are still having problems.

[2021-02-10 18:12] #613 closed

[2021-02-10 23:06] yantosca commented on #610
Thanks @theloniuspunk for writing.  There have been similar issues: #259 and #501.  Species #194 is SALACL (I think Cl on SALA aerosol).   This came in with the 12.9.0 halogen updates (I believe).

I wonder if this is caused by an initial condition issue.  If you are using a restart file that does not have SALACL, then the model will assume a value of 1.0e-30.  This is close to zero.

In the 13.0.

[2021-02-10 23:15] theloniuspunk commented on #610
Thanks, Bob. I saw these issues. Also, this error started happening 8 months into the simulation, so it would be surprising if it's an initial condition issue, but maybe the 10-year spinup would help. It is happening in level 45 of the 47-level grid, so it's well up in the stratosphere where there will not be much coarse sea-spray regardless... but why is there wet dep happening at level 45?

I ju

[2021-02-11 14:45] yantosca commented on #610
Thanks @theloniuspunk.  Maybe we can add a fix into 13.1.0 to cycle where precipitation is zero.  I know we start at the top of the atmopshere and go down level by level (perhaps to get some of scavenging on ice) but this might be a simple fix.

[2021-02-11 14:49] yantosca commented on #598
I was able to run simulations on our private node (Intel Haswell cores, no hyperthreading).   In both cases the jobs were the only one running on the node.

### Ref, dev/13.0.0-final branch, 24 cores
[code]
### Dev code (feature/bmy/StreamlineKpp branch), 24 cores
[code]
The Dev code is faster in computing the reaction rates, but this somehow causes the integration to take almost 2x as long.  I am

[2021-02-11 22:36] yantosca commented on #598
I just discovered that the KPP code that I had built had an excess call to `UPDATE_RCONST()` within the `gckpp_Integrator.F90` module. This should not have been there.  We call `UPDATE_RCONST()` outside of the internal integration timestep loop... this is done from within the main loop in `DO_FLEXCHEM` before the Integrator is called.  These excess calls to `UPDATE_RCONST` (one per internal integr

[2021-02-12 14:46] yantosca commented on #598
Here are the latest timing results (7 model-day simulations) The Dev run has the excess calls to UPDATE_RCONST() removed:

### Ref: (dev/13.0.0-final branch) huce_cascade, no hyperthreading, 24 cores
[code]

### Dev (feature/bmy/StreamlineKPP branch, huce_cascade, no hyperthreading, 24 cores
[code]

### Analysis
The updates that were made to remove the useless computations in the KPP rate law libr

[2021-02-12 14:50] yantosca commented on #614
As it turns out, the results above were not an apples-to-apples comparison.  The KPP integrator routine in the Dev code was calling UPDATE_RCONST (i.e. the rate law update function) within the integrator on each integration step.  Although the time to compute the reaction rates improved, the overall integration time increased.

A new test has been done that shows removing the useless computations

[2021-02-12 14:51] yantosca commented on #567
As it turns out, the timing results reported in #598 were not an apples-to-apples comparison. The KPP integrator routine in the Dev code was calling UPDATE_RCONST (i.e. the rate law update function) within the integrator on each integration step. Although the time to compute the reaction rates improved, the overall integration time increased.

A new test has been done that shows removing the usele

[2021-02-12 21:01] theloniuspunk commented on #191
Hi folks,

Is there a fix to this issue. I just had it as well. 0.5x0.667 Nested NA sim with MERRA-2. Full Chem (not TOMAS). It happened 12 months into the simulation.

Jeff

[2021-02-12 21:49] msulprizio opened #616 "[FEATURE REQUEST] Remove the Emissions Menu in input.geos"
In the Emissions Menu of input.geos we currently have:

[code]

The switch for `Set init. strat. H2O` has been a source of user confusion because this option should always be turned off for runs other than an initial simulation but often users forget (or don't know) to update this for subsequent runs. We will remove this switch and if users would like to change the initial concentrations of H2O fo

[2021-02-12 22:16] yantosca commented on #191
Hi @theloniuspunk.  We are not aware of a fix for this as of yet.  I've reopened the issue.

[2021-02-12 22:18] theloniuspunk commented on #191
Thanks, Bob!

On Fri, Feb 12, 2021 at 3:17 PM Bob Yantosca <notifications@github.com>
wrote:

[2021-02-15 17:16] ltmurray opened #617 "[BUG/ISSUE] Error in tropchem run directory generation"
When using the new run directory generator in 13.0.0 with the tropchem mechanism, replace_colon_sep_val fails to correctly replace "--> STATE_PSC" with "false," and instead replaces it with "tfalse".

[code]

[2021-02-15 17:40] ltmurray commented on #617
This appears to only be a problem on macOS, not Linux.  I'll try to figure out why.

[2021-02-16 15:21] ltmurray opened #618 "13.0.0 - CodeDir points to wrong directory / cmake will not build GCClassic"
(1) In createRunDir.sh, the automatic link to CodeDir points to "wrapperdir," which is two folders up from the actual code directory.

The line setting the symbolic link to the code directory should be
[code]
And the setting of wrapperdir at the top of the script can probably be deleted.

(2) cmake throws an error because CMakeLists.txt is missing a line defining the project at the top of the file

[2021-02-16 15:24] ltmurray commented on #601
Hi @Aydr199406, because OH is not advected, it is not saved in the SpeciesConc diagnostics (advected tracers), but in the ConcAfterChem diagnostics (chemically important but non-advected tracers).

[2021-02-16 15:51] ltmurray commented on #618
OK, this appears to be because of an issue (on my part) with the new super wrapper ending up corrupted.  Closing the issue.

[2021-02-16 15:51] #618 closed

[2021-02-16 16:43] LiamBindle commented on #271
Hi @hongjianweng, just checking in. Do you have any updates on this?

[2021-02-16 21:04] yantosca commented on #617
I can also take a look.

[2021-02-17 06:53] hongjianweng commented on #271
@LiamBindle , thanks for waiting and I have updated the wrong timestamps files for OFFLINE_BIOVOC/v2019-10 for the following dates.

[2021-02-17 13:20] ruifeili opened #620 "[BUG/ISSUE] Cannot find species_database.yml file; Cannot find 0.25 x 0.3125 met field data for China"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:
I want to simulate the BaP concentrations in China from 2014 to 2015 on the AWS cloud with nested grid simulation.
First question: When I download the code version of 12.9.3, and generate the run directory, there is no file of "species_database.yml" in the run directory. But when I download the code version of 12.9.2, it appears. So

[2021-02-17 14:42] WilliamDowns commented on #620
Thanks for opening this issue. The missing `species_database.yml` issue occurs when your code directory is version 13.0 and you try to use the unit tester to create a run directory from it. In your "Steps to Reproduce the Bug" (thank you very much for filling that out thoroughly, by the way),  the initial code version you have after `git clone https://github.com/geoschem/geos-chem Code.GC` is actu

[2021-02-17 14:43] Yuan-yuan-2021 opened #621 "[QUESTION] Specifying hourly PM2.5 output in GEOS-Chem 12.9.3"
Hello!
Now I’m trying to use cheo-chem, Code.12.9.3, merra2_2x25_tropchem, I want to output the daily PM2.5 concentration, but now I only output the monthly value. This is my setting. Can you tell me how to set and get the daily value of PM2.5?
[code]

[2021-02-17 20:40] yantosca commented on #621
Thanks for writing @Yuan-yuan-2021.  We have removed the binary punch hourly and daily output from GEOS-Chem 12.9.3.  However, you can save any of the netCDF diagnostic collections with hourly output ([see this link](http://wiki.seas.harvard.edu/geos-chem/index.php/Replicating_the_behavior_of_the_prior_timeseries_diagnostics)).

The PM2.5 diagnostic is contained in the AerosolMass diagnostic colle

[2021-02-17 20:43] yantosca commented on #621
Also if you want instantaneous output instead of time-averaged output, you can change the "time-averaged" for the PM25Hourly collection to "instantaneous".  Then you will get the instantaneous data at the top of each hour.

[2021-02-17 21:49] yantosca commented on #620
Thanks for writing.  As @WilliamDowns said, it looks like there is a run-directory mismatch.  The HEMCO_Config.rc file is looking for this file
[code]
but it should be looking for it in this file:
[code]
As @WilliamDowns suggested, I would try getting the 13.0.0-rc version.  In GEOS-Chem 13.0.0 the run directory generation is done from the GEOS-Chem code, so there will be no chance of run-director

[2021-02-17 21:55] yantosca commented on #620
Oops in the prior comment the second file path should have been:
[code]
My bad

[2021-02-18 05:11] Yuan-yuan-2021 commented on #621
Thank you very much, dear @yantosca

[2021-02-18 11:33] ruifeili commented on #620
Thank you for the help. I have tried version 13.0.0 to do the simulation.
But the first problem is that there is no option to do the nested simulation in China(CH) although there are files of GEOS_0.25x0.3125_CH in the database (http://ftp.as.harvard.edu/gcgrid/data/ExtData/). So I have to choose the option of "custom ". Then when I do the dry run, it can only download the global met field data fr

[2021-02-18 23:54] tianjialiu commented on #328
Hi Bob,
The maximum value of these files isn't 1. It seems like the daily fractions are multiplied by the number of days in the month, and the 3-hourly fractions by 8. Maybe there should be a note about this in the wiki or HEMCO_Config.rc to clarify the units? I created some new emissions files based on the HEMCO GFED format and just assumed the daily fractions meant a range of 0-1 like in the ori

[2021-02-19 21:43] LiamBindle opened #1417 "[Feature Request] Create integration test for listInputDataFiles"
Basic idea

[2021-02-20 09:37] #621 closed

[2021-02-20 09:40] Yuan-yuan-2021 opened #624 "[QUESTION]about emissions set"
Hello!
Now I’m trying to use  Code.12.9.3, merra2_2x25_tropchem, I want to simulate 2016 (meteorological fields), but I want to use all 2010 emissions, how should I set it? Thank you.

[2021-02-20 09:41] danphnis opened #625 "[QUESTION]Nested grid simulation runs too slow"
I am trying to run a nested grid simulation with GCv12.9.3 over 0.25x0.3125 China region. I find it so slow that it would cost about ONE week for a simulation of 20 days. Is this normal?

Here is my compile log:
[code]
And my Profile Results:
[code]
I've also attached those files and my HISTORY.rc.
[GEOS-Chem_Profile_Results.txt](https://github.com/geoschem/geos-chem/files/6014541/GEOS-Chem_Profil

[2021-02-20 12:04] ruifeili opened #626 "[BUG/ISSUE] Wrong results from BaP simulation in China"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:
I want to simulate the BaP concentrations in China from 2014 to 2015 on the AWS cloud with nested grid simulation with 0.25×0.3125 resolution.

Th first problem: As @WilliamDowns suggested, when I apply GEOS-Chem 13.0.0 to run the simulation for one day to test, the result seems wrong. The surface concentrations over the land were a

[2021-02-22 01:30] hmhorow opened #627 "[BUG/ISSUE] installing cdo with spack re-installs netcdf-c, hdf [BUG/ISSUE]"
Hello!
I wanted to install cdo with spack as recommended in the geos chem wiki. I assumed I should specify the same compiler (gcc 9.3.0) I used for all the other geos chem software (e.g., netCDF). so I entered the following:
`spack install cdo %gcc@9.3.0 target=x86_64`

this led to it apparently re-installing the same versions of netcdf-c and hdf that I had previously installed using spack and the

[2021-02-22 02:00] hmhorow opened #628 "[BUG/ISSUE] downloading input data with dry run from compute canada with gc 13.0.0-rc - restart file is not found"
Hello!
I followed the wiki instructions for doing a 1-day GEOS-Chem dry run for July 1, 2019 to July 2, 2019 with version 13.0.0-rc. This ran as expected (see below for the log.dryrun output).

Then, I followed the wiki instructions to download the needed input files specifically from compute canada to my institution's computational cluster (http://wiki.seas.harvard.edu/geos-chem/index.php/Downloa

[2021-02-22 02:11] Yuan-yuan-2021 commented on #608
I checked the reason, it may be the problem listed in the link you gave.Floating invalid or floating-point exception error. Thank you very much.

[2021-02-22 02:31] hmhorow commented on #627
I would like confirmation that this is the correct approach before closing the issue, but I went in and changed how I was loading netCDF-c and specifying the location in my .bashrc to refer to the specific 'spec' of the one that was installed first when I was setting up GEOS-Chem itself, not the one that was installed when I started installing cdo.

so from this:
`spack load netcdf-c  `
to this:
`

[2021-02-22 14:51] yantosca commented on #627
Thanks for writing @hmhorow.

You can remove the duplicate hdf5 and netcdf-c by attaching the hashes:
[code]
Also, when installing new spack libraries, you should make sure you have loaded all of your existing spack libraries with `spack load`.  That might have been why the cdo build tried to get new hdf5 and netcdf-c builds., because it couldn't find the existing ones.

Once you uninstall, you ca

[2021-02-22 14:55] yantosca commented on #628
I wonder if this is just because the Compute Canada server was either down for maintenance or just busy.  I would try again.  It seems to be up now (I just checked).

[2021-02-22 14:58] yantosca commented on #626
Thanks for writing @ruifeili.  I think you may have a run-directory mismatch.  You are trying to simulate BaP, which is the POPs simulation, but your dry-run ist trying to download the restart file for the aerosol-only simulation.

I would recommend updating to the GEOS-Chem 13.0.0-rc code, as this will avoid run-directory mismatches.

[2021-02-22 15:03] ltmurray opened #630 "Incorrect grid definitions in HEMCO standalone"
The grid definitions for 2x2.5, 0.5x0.625 and 0.25x0.3125 in the HEMCO standalone run directory generation are incorrect. @christophkeller please correct me if I am wrong, but XMIN and XMAX should be the westernmost and easternmost edges, and the native GEOS resolutions still have half-polar boxes.

There, HEMCO_sa_Grid.2x25.rc should read (changes emphasized with **bold**)
[code]

And, similarly,

[2021-02-22 15:07] ltmurray commented on #630
(And I just realized that I should have submitted this in the HEMCO repository now that the code is split; let me know if you want me to create a separate issue over there).

[2021-02-22 15:19] yantosca commented on #625
Thanks @danphnis for writing.  The nested-grid simulation can be slow, depending on the size of the grid you are using.  Also the I/O for the high-resolution fields can take a long time.

One question: are you using global met fields?  If so, you might find that the simulation runs faster if you can cut your met fields down to match the horizontal size of your nested-grid region.  See: http://wiki

[2021-02-22 15:21] yantosca commented on #627
@hmhorow, you can also use this syntax to put executable code in a bash script:

[code]

[2021-02-22 15:40] ruifeili commented on #626
Thank you for the comment. But I think you don't understand my questions.  The simulation results for BaP were wrong. So I want to change the OCPO and BCPO files. Please read my questions. Thank you very much!

[2021-02-22 19:49] yantosca commented on #624
Thanks for writing @Yuan-yuan-2021.  You would set the Emissions Year in HEMCO_Config.rc to 2010 to keep all of the emissions constant to that year.

[code]

[2021-02-22 19:49] #624 closed

[2021-02-22 21:06] yantosca opened #631 "[FEATURE REQUEST] Check that GEOS-Chem is reading the newest ObsPack files properly"
Andy Jacobson wrote:

[2021-02-23 03:33] syao2021 opened #632 "Questions about hcox_seaflux_mod.F90 in HEMCO Extension"
In THIS module, it was pointed out that seaflux was calculated using "two-layer" model, F = Kg(Cair - HCwater), and aimed to calculate the source and sink terms separately.
Source = Kg*H*SeaConc [kg/m2s]
Sinks = Kg/Deposition Height [s-1]

My question is why sinks is calculated according to deposition height and the unit is per second, which is not flux unit. How does it calculate the seaflux. Fro

[2021-02-23 17:06] yantosca commented on #626
Thanks for writing @ruifeili. I am not sure the POPs simulation was ever tested with 0.25 x 0.3125 resolution.  Have you tried running at coarser resolution first?  If that works, then try to run with finer resolution.  You might need to manually download data files because some of the specialty simulations like POPs do not have high-resolution input data.

We do not have a 0.25 x 0.3125 restart f

[2021-02-23 17:51] yantosca commented on #617
Thanks for bringing this up @ltmurray.  I wrote a test script to replicate the text replace:

[code]
I found that the text `s|^\` at the beginning of the sed command needs to be changed to `s|/^\` (i.e. adding a slash in front of the ^.  That seems to work on both MacOS and Linux.  I'll verify that this works on both and then push a fix shortly.

[2021-02-23 19:00] yantosca commented on #617
Actually I might need to tinker a bit more.  Stay tuned.

[2021-02-23 19:57] yantosca commented on #617
So apparently MacOS (based off of BSD) sed [acts differently](https://unix.stackexchange.com/questions/13711/differences-between-sed-on-mac-osx-and-other-standard-sed) than Linux sed.  Also see: https://unix.stackexchange.com/questions/401905/bsd-sed-vs-gnu-sed-and-i

[2021-02-23 20:03] yantosca commented on #617
Also see https://riptutorial.com/sed/topic/9436/bsd-macos-sed-vs--gnu-sed-vs--the-posix-sed-specification

[2021-02-23 20:28] ltmurray commented on #617
Yeah, it also creates extra files relative to GNU sed (a backup of the original appended with -e).  The quick fix I'm using at the moment — since I'm not very good with RegEx — is the following at the end of createRunDir.sh

[code]

[2021-02-23 20:41] hmhorow commented on #627
thanks so much Bob!
would you recommend using github for cdo then? will uninstall and then try nco with spack first (loading all the software beforehand)!

[2021-02-23 21:26] yantosca commented on #617
This version works on both MacOS (BSD) and Linux:
[code]
This uses the POSIX standard which is recognized by both MacOS/BSD and Linux.  Long story short, in MacOS, you cannot use any escaped characters (e.g. \t) in regular expressions.  The cheap solution is to print a tab character to a variable and then use that in the sed command where you would have used the \t.

Also, using the -e argument to

[2021-02-23 21:39] yantosca commented on #617
Also I wonder if it makes sense to make a new local sed function, something like
[code]
as we may end up running into this issue elsewhere.

[2021-02-23 22:11] luhu0 commented on #191
I had the same issue running 201807 with the 0.25x0.3125 nested NA + GEOS-FP + fullchem in v13 as well. The simulation stopped after ~15 mins, when GC seems to still read emission inputs. I tried to turn off all offline emissions, and change dates, the issue remained. Thanks for any inputs and suggestions. Lu

[2021-02-23 23:43] yantosca commented on #627
Hi @hmhorow.  I think that sounds reasonable -- try again with Spack first, before manually installing.

I tried reinstalling cdo in my Spack stack:
[code]
but I also found that it seemed to be trying to rebuild packages that I already had.  I'll dig into it a little bit more when I have the chance.

[2021-02-23 23:55] yantosca commented on #617
FYI, the above script works, but you have to put quotes around the arguments, i.e.
[code]
that will force the entire string to be passed to the sed command.

I am testing a fix with a set of integration tests and if they pass, I'll merge into dev/13.0.0-final for inclusion in 13.0.0.

[2021-02-24 00:03] yantosca commented on #191
Thanks for writing @luhu0.  Can you try configuring GEOS-Chem with
[code]
that will turn on the debugging flags.  If the problem is showing up in the 1st 15 minutes of a run, you could set up the input.geos. etc. files for a short run (like an hour) and then see if any errors turn up.

[2021-02-24 02:04] Yuan-yuan-2021 opened #633 "[BUG/ISSUE]forrtl: error (65): floating invalid（ Code.12.9.3, merra2_2x25_tropchem）"
Dear @yantosca ,
I often encounter the following problems. Sometimes model stopped after running 6 days data or other period. How can I avoid this problem. The following are tips when model stopped:

out.log:
[code]
HEMCO.log
[code]

[2021-02-24 03:23] jinjiuping opened #634 "[BUG/ISSUE]: Nf_Def_Var_Deflate: can not compress variable : P0（ Code.12.6.3, merra2_2x25_CO2）"
Dear:
   when I run the SpeciesConc of CO2 with GEOS-Chem, there have a question about netcdf-fortran, the error infomation as below:

  **Nf_Def_Var_Deflate: can not compress variable : P0**

 How can I avoid this problem?

[2021-02-24 14:50] yantosca commented on #634
This has been fixed in commit ab0bb02f12262a2b2b540b88f3143d85bdbee5fe, which is available in the 13.0.0-rc (release-candidate) version.

[2021-02-24 16:16] lizziel commented on #271
A quick fix for this issue went into the files on Harvard ftp for the 12.8.1 release, as listed [here](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_12#New_or_updated_data_directories_in_12.8.1).

[2021-02-24 17:21] yantosca commented on #633
This is likely due to a division by zero error in the `gckpp_HetRates.F90` routine.  You can determine this from the traceback output:
[code]
We have recently put a fix into the GEOS-Chem:

https://github.com/geoschem/geos-chem/blob/9b83bfd001cb55aff83818e4b93f29c5d63717a2/KPP/fullchem/gckpp_HetRates.F90#L482-L522

which was added in this commit: e9fa458262865a8c353e0b09524eb63cf1798740.  This wil

[2021-02-24 17:58] yantosca commented on #634
Long story short, the fix involves changing one line of code in subroutine `NCDEF_VARIABLE` (in `NcdfUtil/m_netcdf_io_define.F90`)

Change
[code]
to
[code]

[2021-02-25 01:16] jinjiuping commented on #634
Thank you very much, dear @yantosca, I have solve this question with your comment.

[2021-02-25 14:23] yantosca commented on #634
Thanks for the update @jinjiuping, glad it works!  I'll close out this issue now.

[2021-02-25 14:23] #634 closed

[2021-02-25 14:52] yantosca commented on #627
I think there is an issue on Spack that even if you have a package installed, it will build a package again if there is a newer version available.  So you might have to manually force all of the dependencies, i.e.
[code]
I think you can also specify dependencies in the packages.yml file.

[2021-02-25 15:41] WilliamDowns commented on #627
I did a little digging and found that what's probably happening is that by default, `spack install cdo` tries to build with the `+netcdf` option, which is presumably desired. This option requires that `hdf5` be built with the `+threadsafe` option as a back-end for `netcdf-c`. However, when you simply do `spack install netcdf-fortran` or `spack install netcdf-c`, this `+threadsafe` option is NOT en

[2021-02-25 15:48] yantosca commented on #627
Thanks @WilliamDowns!  That makes sense.   I am going to try this and let you know how it works.

[2021-02-25 16:06] hmhorow commented on #627
Thank you both so much for your help!

Looking forward to hearing how it goes, Bob. Then I will try it myself!

[2021-02-25 16:13] ltmurray opened #635 "[FEATURE REQUEST] Add surface pressure to any HISTORY diagnostic with 3-D fields"
If we add PS to each output file (like we do with AREA), then we have everything we need to calculate vertical altitudes/pressures for any output file (useful for plotting/regridding) without having to separately archive LevelEdgeDiags. I believe including PS is also part of the CF metadata specifications for that reason.

[2021-02-25 16:41] yantosca commented on #635
Thanks @ltmurray.  I think the best way to proceed would be to add `Met_PS` to each collection in HISTORY.rc.  This will let us be consistent with both GCC and GCHP.

We can update the HISTORY templates for the 13.0.0 final release.

[2021-02-25 16:47] ltmurray commented on #635
Thanks, Bob!  If we use the convention of naming the variable "ps" with a "standard_name" of "surface_air_pressure" per the [CF guidelines](http://cfconventions.org/cf-conventions/cf-conventions.html#_atmosphere_hybrid_sigma_pressure_coordinate), then the output files will be compatible with the majority of third-party software packages that process atmospheric model output (e.g., CDO, NCO, NCL, e

[2021-02-25 16:49] yantosca commented on #635
There would be no way to do that in GCHP unless we update the History component in MAPL.  We could do it in GCC with a little coding.  You can write a python script to change the names & attributes very easily though.

[2021-02-25 16:53] ltmurray commented on #635
Unfortunately, GEOS does not follow international standards like most climate models. I would strongly recommend that GCC at least natively output in CF compliant format.

[2021-02-25 17:01] yantosca commented on #635
Thanks @ltmurray.  Maybe I can make the GCC code modification in GC 13.1.0 (or if there is a patch version before that). Since we are trying to close out the benchmarks, we are trying not to touch the code too much right now.

An alternative would be to add a script in OutputDir to rename the the variable and attributes to make them CF-compliant for PS.  That's an easy stopgap fix.

[2021-02-25 17:30] yantosca commented on #617
This is now fixed with these commits: 74b2d790278fa8672293ce26d7e9ad2df4eb6cc3, https://github.com/geoschem/GCClassic/commit/1ab1b989de38767aefccbd83632779e337fdc6a9, and https://github.com/geoschem/GCHP/commit/0eaa68be5d329d259fd18c30cf096987aef90421.  The GEOS-Chem "Classic" run directory generation script and integration test generation script should now work on both MacOS/Darwin and GNU/Linux.

[2021-02-25 17:30] #617 closed

[2021-02-25 17:39] ltmurray commented on #635
13.1 is fine — it's certainly not a requirement, just a nice feature to have.

[2021-02-25 21:56] yantosca commented on #627
Hi @hmhorow and @WilliamDowns.  To uninstall the existing libraries:
[code]
To build the threadsafe version of netCDF:
[code]
NOTE: Do not put the `target=x86_64` at the end of the command, because Spack might not interpret it properly.  It should go before the list of dependencies.  This is what got me into trouble!!

To force the other libraries to use the hdf5 library we just built, you can use

[2021-02-25 22:12] hmhorow commented on #627
thank you so much for these details @yantosca !!

I think some of my students are actively using the existing netCDF installation so I may try the uninstall/reinstall later tonight or over the weekend and will confirm then that it works!

[2021-02-25 22:21] yantosca commented on #627
Thanks @hmhorow.  Let me know if it works (when you get to it) and then we can close out this issue.

[2021-02-26 13:16] lizziel commented on #635
It is possible in GCHP to provide an alias to a MAPL export variable in `HISTORY.rc` for use in a file. It is a feature of MAPL that we have not used before to avoid confusion. To do this you simply add a comma after the gridded component name in a `collection.fields` line and then the alias in quotes, followed by another comma. See also page 32 of the very outdated [draft MAPL User Guide](https:/

[2021-02-26 15:49] yantosca commented on #631
@andyjacobson: In the current ObsPack code, we interpret time-components as the interval central time.  Then knowing the sampling interval we construct the start & end times of the sampling interval.

[code]

There doesn't seem to be an attribute that would let us distinguish if time-components is either the start of the averaging interval or the end of the averaging interval

I think we could adj

[2021-02-26 15:52] yantosca commented on #631
@andyjacobson: or it would be nice to update the comment in the time_components variable:
[code]

[2021-02-26 15:55] yantosca commented on #631
@andyjacobson: We could also use
[code]
instead of time-components/time altogether.  I am not sure if these fields are in the older format ObsPack data.

[2021-02-26 16:30] ltmurray commented on #635
@lizziel Cool!

[2021-02-26 18:07] andyjacobson commented on #631
Bob et al.,

First a word of apology for this confusion about the representation of time in ObsPack products. NOAA has historically provided its time averages using the start time of the averaging period. I think this is just an artifact of the measurement processing. I have argued that we need to use the midpoint time because ObsPack is aimed at modelers and it just makes more sense to provide th

[2021-02-26 18:20] yantosca commented on #631
Thanks @andyjacobson, that makes sense.  I'll try to proceed that way.  I"ll use time instead of time-components.

So I just want to confirm the variable usage:
  1. In the v6 obspack, time_components = start time and time = center time
  2. In older obspack, time_components = center time and time  = center time?
  3. Is there any way to know the difference depending on the file version?  Maybe lo

[2021-02-26 18:44] yantosca commented on #631
Ah I had an OBSPACK_v4.1 file lying around and time indeed was the center time.  So it looks like that is the proper central time for all OBSPACK versions.  I'll fix the code to read in time instead of time_components.

[2021-02-26 18:53] andyjacobson commented on #631
Bob,

Not quite. Prior to this change, there were no midpoint times reported at all...everything was implicitly the start time. This includes GV+ CO2 v4.1, for which times are definitely reported at the beginning of the averaging interval. I instead recommend parsing the "comment" attribute for the time variable. For start-time versions you have:

time:comment = "POSIX time.  Number of seconds sin

[2021-02-26 19:03] yantosca commented on #631
Thanks for the update @andyjacobson.  The ObsPack 4.1 file that I used is `obspack_co2_1_GLOBALVIEWplus_v4.1_2018-10-29.20080417.nc` but it doesn' t have a `time:comment` attribute:

[code]
Not sure if this is the correct product but in this case I would have no way to know if the time is the beginning or center.

[2021-02-26 19:04] yantosca commented on #631
so if we don't see a comment with POSIX time, we assume start time of the interval?

[2021-02-26 19:15] yantosca commented on #631
I think I've got it now.  Will make corresponding code updates. Thanks!

[2021-02-26 20:39] yantosca commented on #631
A modification to (I believe) properly set the sampling window start & end times from the "time" variable is now included in these commits: 7967eb5d9f96d71117e79e3ecf93b22c4f3e44c1, https://github.com/geoschem/GCClassic/commit/ac0d4cd4b1536306b7ad078f0e686abdc04b8187, and https://github.com/geoschem/GCHP/commit/d25aba9f9f1f4c09edbfdfcedcc06705dca2b334.

Let me know if there are any further issues

[2021-02-26 20:48] yantosca commented on #631
Will close this out for now.  I can reopen if need be.

[2021-02-26 20:48] #631 closed

[2021-03-01 01:01] luhu0 commented on #191
Thanks, Bob. I tried the Debug option (with GCC 9.2.0). It looks like the error shows up right after Begin Time Stepping. I've also tested the versions in both fullchem and tropchem in the v13 nested NA, they all showed the same issue. See attached for the log file.
[GC.log](https://github.com/geoschem/geos-chem/files/6058546/GC.log)

[2021-03-01 17:45] angharadstell commented on #628
I'm just starting to use GEOSChem, so have very little idea how everything works, I was just copying the youtube tutorial, and had the exact same issue. It looks for this initial_GEOSChem_rst.4x5_fullchem.nc file that doesn't exist? This doesn't seem to be because the server was down/ busy, it downloaded everything else I was missing, bar these two things (that when I manually look for don't exist

[2021-03-01 23:03] yantosca opened #637 "[DISCUSSION] Installing a Spack software stack for GEOS-Chem Classic"
## Building software libraries with Spack for GEOS-Chem Classic

Here are some up-to-date instructions on installing a software stack for GEOS-Chem Classic with Spack.  I used gcc/gfortran 10.2.0 on the AWS Cloud (Ubuntu 18.04 Bionic Beaver) but these instructions should work for any cluster.

### Installing spack to your home directory
[code]

### Initialize Spack
Initialize spack (also add these

[2021-03-01 23:05] yantosca commented on #627
@hmhorow, @WilliamDowns: I posted the instructions for installing software libraries with Spack in #637.  I tried it on the AWS cloud and it worked (except GDB, the GNU Debugger wouldn't build).  But there is a version of that in most OS builds so you might not need to use the Spack version.

[2021-03-02 11:40] FeiYao-Edinburgh opened #638 "[QUESTION] Does compiler impact simulations?"
Hi GCST,

I have a long-term GEOS-Chem job compiled by "ifort" running on our local sever. Recently our IT want to replace the OS of the server from the Scientific Linux to Ubuntu. As such the compiler "ifort" won't be installed there due to some optimization issues. Hence, I would like to ask will changing the compiler in the middle of a long-term simulation impact the consistence of that simulat

[2021-03-02 14:40] yantosca commented on #637
## Installing optional packages

### OpenJDK (Java)
Some programs might need the OpenJDK Java Runtime Environment:
[code]

### TAU performance profiler
The Tuning and Analysis Utilities (TAU) lets you profile GEOS-Chem in order to locate computational bottlenecks:
[code]

[2021-03-02 14:58] yantosca commented on #637
## Loading Spack packages at startup

### Creating an environment file for Spack
Once you have finished installing libraries with Spack, you can create an environment file to load the Spack libraries whenever you start a new Unix shell.  The environment file that I use to load Spack libraries built with gcc/gfortran 10.2.0 is included below; you may modify it to suit your needs.
[code]
Save this t

[2021-03-02 15:40] yantosca commented on #638
Thanks @FeiYao-Edinburgh for writing.  A while back we did a comparison between gfortran and ifort with v11-02a.  The results showed that the differences in output were very small, at the level of numerical noise.

http://wiki.seas.harvard.edu/geos-chem/index.php/GNU_Fortran_compiler#Results_from_the_v11-02a_1-month_benchmark_comparing_ifort_and_gfortran

I believe that is true today. The gfortran

[2021-03-02 15:50] yantosca commented on #637
### Setting the number of cores for OpenMP

If you type:
[code]
by itself, this will set the `OMP_NUM_THREADS` variable to 1.  This variable sets the number of computational cores that OpenMP should use.

You can change this with, e.g.
[code]
which will set `OMP_NUM_THREADS` to 6.  In this case, GEOS-Chem Classic (and other programs that use OpenMP parallelization) will parallelize with 6 cores.

[2021-03-02 16:01] FeiYao-Edinburgh commented on #638
Thanks for your reply! I am all set!

[2021-03-02 16:04] yantosca commented on #638
Thanks @FeiYao-Edinburgh.  I'll close this out.

[2021-03-02 16:04] #638 closed

[2021-03-02 21:07] yantosca opened #639 "[FEATURE REQUEST] Add !$OMP COLLAPSE() to optimize parallel loops where necessary"
This is a generalization of Pull Request https://github.com/geoschem/geos-chem/pull/496 (submitted by @cdholmes).

Adding the `!$OMP COLLAPSE` directive to fully or partially vectorize parallel loops could potentially result in noticeable speedups.  We can focus on vectorizing parallel loops in routines that take a long time to execute, as identified by the TAU performace profiler.

[2021-03-03 12:33] huoxiao-C opened #640 "[QUESTION]The problem of the memory usage when running GEOS-Chem"
Dear:
       I output the netcdf4 file in the geos_chem_mod.F, and close the file. When I run the GEOS-Chem model, the memory usage grows with simulation time. Finally the program crashes until the memory runs out.  The GEOS-Chem version used is 12.6.3.
      Is there any way to solve this problem？
Thanks very much!

[2021-03-03 13:40] angothelene opened #641 "[QUESTION] Telling GEOS-Chem to use a custom mechanism with GNU make (12.9.3)"
Hello,
I'm trying to tell GEOS-Chem v12.9.3 to use a custom mechanism (in /KPP/Custom) but the instructions are only available for CMake (https://kpp.readthedocs.io/en/latest/usage-details/use_custom_mech.html). I only have cmake version 2.8.12.2 so I'd like to use GNU Make instead.
Thanks in advance for your help!

[2021-03-03 14:23] yantosca commented on #641
Thanks for writing @angothelene.  GEOS-Chem 13.0.0 will not use GNU Make (due to upstream code that we rely on for GCHP).  If you are using GNU Make with 12.9.3, I believe you can request a custom mechanism with
[code]
Also, you can install a more recent CMake version with Spack.  See issue #637 for instructions.

[2021-03-03 14:30] yantosca commented on #640
Thanks for writing @huoxiao-C.  I believe in 12.6.x versions, the HISTORY diagnostics had an issue that the maximum amount of memory was allocated to diagnostic arrays (in other words, even if you wanted to only output one species, enough space was allocated for the maximum number of species).  We have resolved this in more recent versions.  We would recommend that you update to the 13.0.0-rc vers

[2021-03-03 14:36] huoxiao-C commented on #640
Thank you for your answer **@yantosca** .

[2021-03-03 14:38] angothelene commented on #641
Hi Bob, thanks for getting back to me so quickly. Okay so turns out I now have cmake/3.14.4.
My issue now is that I don't have a build directory within my run directory (see screenshot).
![Screenshot 2021-03-03 at 15 38 12](https://user-images.githubusercontent.com/25373985/109821647-78b2e400-7c36-11eb-9363-db266201e94f.png)

[2021-03-03 14:43] yantosca commented on #641
Thanks @angothelene.  You can just make a directory named `build` in your run directory.  The Unit Tester doesn't create that for 12.9.3 but in 13.0.0, GEOS-Chem Classic run directories will have a `build` directory within them.

[2021-03-03 15:03] angothelene commented on #641
Okay, making some progress here.
I created the build directory and typed 'cmake ../CodeDir -DCUSTOMMECH=y'
Note the CMake Warning:  Manually-specified variables were not used by the project:

    CUSTOMMECH

![Screenshot 2021-03-03 at 16 02 43](https://user-images.githubusercontent.com/25373985/109825220-e57bad80-7c39-11eb-8d30-d693da9b319d.png)

[2021-03-03 16:12] yantosca commented on #641
Thanks @angothelene for the feedback.  I think the Git version you are using may be prior to 1.8.5, which does not allow for the `git -C` command.  You might need to update to a Git 2.0 or later version.

The Git commands here are just used to get the commit name and description for reference.   @LiamBindle: Do you know if there is a workaround to use Git versions that do not allow the -C argument

[2021-03-03 16:29] yantosca commented on #639
OMP COLLAPSE is not a silver bullet.  For the right loops, OMP COLLAPSE can improve performance, but under some circumstances it can make things worse.  See:

  1. https://stackoverflow.com/questions/28482833/understanding-the-collapse-clause-in-openmp
  2. https://stackoverflow.com/questions/44118788/fortran-openmp-code-creating-threads-but-do-loops-not-running-in-parallel
  3. https://stackoverf

[2021-03-03 16:38] angothelene commented on #641
Another try with git/2.21.0.

![Screenshot 2021-03-03 at 17 37 51](https://user-images.githubusercontent.com/25373985/109839212-31811f00-7c47-11eb-92c3-9fa1d73008a5.png)

[2021-03-03 16:38] msulprizio commented on #465
I have removed the 13.1.0 milestone for now. This item can go in when it is ready, but may not necessarily be a top priority.

[2021-03-03 16:39] msulprizio commented on #476
I have removed the 13.1.0 milestone for now. This item can go in when it is ready, but may not necessarily be a top priority.

[2021-03-03 16:40] yantosca commented on #641
Ah, with 12.9.3, try `MECH=custom`

[2021-03-03 16:42] msulprizio commented on #132
This feature request has been resolved by the above linked pull request. These updates will be included in [13.1.0](https://github.com/geoschem/geos-chem/milestone/17).

[2021-03-03 16:42] #132 closed

[2021-03-03 16:42] yantosca commented on #641
Sorry, a lot of things changed between 12.9.3 and 13.0.0.

[2021-03-03 16:44] LiamBindle commented on #641
@yantosca Our internal `get_repo_version()` macro takes the working directory as an argument. For example

[code]

Would run `git describe` in `${CMAKE_CURRENT_SOURCE_DIR}/HEMCO)` without using git's `-C` argument. This is facilitated by the WORKING_DIRECTORY keyword argument in `execute_process()` (https://github.com/geoschem/GCClassic/blob/b6f7aff35a42c798e3b7cc94c41aa669c27faccd/CMakeScripts/GC

[2021-03-03 17:01] yantosca commented on #641
@LiamBindle, I'll take a look at the CMakeLists.

@angothelene: Try this workaround:
[code]
Then go back to your build folder in the run directory and type:
[code]
That should work.

[2021-03-03 17:02] yantosca commented on #641
@angothelene Make sure to use "Standard", not "standard".  I misspelled that above (now fixed).

[2021-03-03 17:20] angothelene commented on #641
Yeah, I tried that already. It fails because /KPP/Custom (now /KPP/Standard) does not contain a CMakeLists.txt file. I tried copying this file from was.Standard but then I get:
CMake Error at KPP/Standard/CMakeLists.txt:12 (add_library):
  Cannot find source file:

    gckpp_Function.F90

  Tried extensions .c .C .c++ .cc .cpp .cxx .cu .m .M .mm .h .hh .h++ .hm
  .hpp .hxx .in .txx

CMake Error at

[2021-03-03 17:24] yantosca commented on #641
@angothelene: Ah, yes.  Copy the gckpp_HetRates.F90, gckpp_Integator.F90, and gckpp_Precison.F90 from was.Standard to Standard.  It needs that code.  Sorry for the omission.

[2021-03-03 17:30] msulprizio commented on #616
This update is now pushed to the `dev/13.0.0-final` branch.

[2021-03-03 17:30] #616 closed

[2021-03-03 17:39] angothelene commented on #641
Success! Thanks a lot for your help!

[2021-03-03 17:44] yantosca commented on #497
This feature request is now moved to #639.  Closing this issue

[2021-03-03 17:44] #497 closed

[2021-03-03 17:49] yantosca commented on #641
Thanks @angothelene.  This will be more streamlined in 13.0.0, which we will release officially when the benchmarks are approved.

[2021-03-03 17:50] #641 closed

[2021-03-03 17:52] msulprizio commented on #330
The HEMCO_Config.rc files for all specialty simulations have been updated to use OH fields from the 10-year benchmark with GEOS-Chem Classic 13.0.0. This update can currently be found in the `dev/13.0.0-final` branch and will be included in the final 13.0.0 release.

[2021-03-03 17:52] #330 closed

[2021-03-03 22:53] msulprizio commented on #354
This is now resolved in the `dev/13.0.0-final` branch. Updates included reading fields from the GEOS-Chem 13.0.0 10-year benchmark. Several fixes were also needed in the code to restore this simulation as described in commit https://github.com/geoschem/geos-chem/commit/5099c90599747226a7de36e573c6611992b9970c.

[2021-03-03 22:54] #354 closed

[2021-03-04 19:09] yc-chan opened #642 "[DISCUSSION] 1-D column simulation under GC Classic framework"
# 1-D column simulation under GC Classic framework

## Overview
After the implementation of FlexGrid, GEOS-Chem in theory should be grid-independent, and all the modeled emission/ chemistry/ mixing/ deposition processes should operate on 1-D columns. While most users use GC for global 3-D simulations, I am thinking whether the latest versions of GC Classic (GCC) can support simulations of an air c

[2021-03-04 22:56] jennyfisher opened #643 "[QUESTION] EOH in CEDS emissions"
Hi GCST,

I'm using v12.8.0 and encountering an issue that I know disappears in v13.0.0 with the retirement of carbon-based units. For various reasons I don't want to upgrade for this project, so hoping one of you can help me clarify. Probably a question for @msulprizio or @christophkeller.

In this version, HEMCO reads in MOH and EOH emissions as follows:
[code]

I've had a look at the Chen paper

[2021-03-05 10:23] hongjianweng commented on #612
Hi @joeylamcy , thanks for report, I have uploaded the missing files.

[2021-03-05 14:24] lizziel commented on #476
@christophkeller , could you comment on the necessity for this update in GEOS? The issue is long name from species database is not accessible during SetServices following recent updates to the GEOS-Chem species database is used. I had to comment out some of your code that retrieved the long names when adding species to the internal state.

[2021-03-05 14:36] lizziel commented on #82
I am reopening this issue since removal of remaining binary diagnostics is not complete. RRTMG binary diagnostics will be removed as part of 13.1.0. Remaining binary diagnostics are as follows:

ND03 (for Hg simulations)
ND06 (for TOMAS simulations)
ND44 (for TOMAS simulations)
ND51 and ND51b (Satellite timeseries)
ND53 (for POPs simulations)
ND59 (for TOMAS simulations)
ND60 (for TOMAS simulation

[2021-03-05 16:08] msulprizio commented on #643
These differences were also noticeable during the GEOS-Chem 13.0.0 benchmarks, where we did the carbon-based unit removal. From the [1-month benchmark assessment form](http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_13.0.0#Benchmark_assessment_form):

I think I mainly attributed it to a diagnostic issue at the time, but can't seem to locate my notes from that time. I'm running a quick s

[2021-03-05 16:14] IshirDutta commented on #361
Hi folks,

I was calculating scale factors for NEI2011 for 2014-2019 to use as a first-order approximation while NEI2016 was being implemented, and I noticed that my numbers for 2006-2013 differed from those on the wiki / in the HEMCO_Config.rc file. (I'm using GC v13.0.0.)

I used the "National Annual Emissions Trend" file here (https://www.epa.gov/air-emissions-inventories/air-pollutant-emission

[2021-03-05 20:22] yantosca commented on #642
Thanks for writing @yc-chan.  In theory you should be able to run GEOS-Chem as a single column but I am not sure if we have ever tried that.  Certainly everything except emissions can be treated of as a collection of columns (or in theory a single column).

Are you using the offline emissions for dust, soil NOx, biogenic VOC's, and lightning?  You might find better consistency between the control

[2021-03-06 01:03] JFBrewer opened #644 "Planeflight diagnostic returning primarily values of -1000 [BUG/ISSUE]"
Hi folks,

I'm working here with a heavily customized version of GC 12.0.0, so slightly outdated, but this isn't the first time I've encountered this error. I previously had the same issue occur in some of the specialty runs, specifically the tagged ozone runs, when trying to follow ATom planeflights in the region of the tropopause.

In my current work, I'm hacking the planeflight diagnostics to r

[2021-03-06 14:43] JFBrewer commented on #644
I have solved this problem and the answer was predictably dumb, but I'll leave it up for other people who make the same mistake that I do. If your Planeflight.dat files are written out of order in time, GC will cycle through the dates once and then come to the line that tells it to go back in time, shrug, and enter -1000 as the answer.

This is what happened to me. I had mistakenly ordered my stat

[2021-03-06 14:43] #644 closed

[2021-03-09 09:34] map06 opened #645 "[BUG/ISSUE] GEOS-Chem simulation stops abruptly without any error"
## Describe the bug:

### Expected behavior: ###
I wanted to do a full chemistry simulation in 2 by 2.5-degree resolution in  `GEOS-Chem 12.9.2`.  I am using AWS, `c5.4xlarge` instance.

### Actual behavior: ###
I was able to simulate for a month but can't simulate afterward using restart file from previous month. The simulations stop abruptly while running. I have already tried other versions too

[2021-03-09 13:34] nadineunger opened #646 "[QUESTION] For which meteorological years is GCHP available?"
# Ask a question about GEOS-Chem:

[2021-03-09 14:22] yantosca commented on #646
Thanks for writing @nadineunger.  GCHP can use the same met fields as GEOS-Chem classic (any resolution, but for GCHP we recommend running with the native resolution if possible).

Right now we have MERRA-2 data from 1980-2020, and GEOS-FP from April 2012 thru 2020.  We recommend using MERRA-2 since that is a stable product (i.e. the GCM version and assimilation system is not changed).  GEOS-FP, o

[2021-03-09 14:58] hmhorow commented on #627
Apologies for not responding until now. it all worked, thank you so much!!

[2021-03-09 14:58] #627 closed

[2021-03-09 15:00] hmhorow commented on #628
I also tried downloading data again and got the same errors:

[code]

As I stated above I ended up manually downloading a restart file from here and renaming it: http://ftp.as.harvard.edu/gcgrid/data/ExtData/GEOSCHEM_RESTARTS/GC_13.0.0/

[2021-03-09 15:16] yantosca commented on #645
Thanks for writing @map06.  Usually when a run dies like that after the TPCORE message it is becuase the OMP_STACKSIZE variable has not been set properly.  See this wiki page: http://wiki.geos-chem.org/Specifying_settings_for_OpenMP_parallelization#Parallelization_settings_for_GEOS-Chem_.22Classic.22

[2021-03-09 16:43] yantosca commented on #640
I'll close out this issue for now.  Feel free to open a new issue if you are still having problems.

[2021-03-09 16:43] #640 closed

[2021-03-09 17:48] map06 commented on #645
I added the following lines in the `~/.bashrc` file
[code]
I ran shell script as follows:
[code]
Still, I am having the same issue.

[2021-03-09 17:53] pkasibhatla opened #647 "[BUG/ISSUE]"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:

### Expected behavior: ###

### Actual behavior: ###

### Steps to reproduce: the bug:

1.  __
2.  __
3.  __

**Run commands**

1.  __
2.  __
3.  __

### Error messages

[code]

## Required information:

### Your GEOS-Chem version and runtime environment:

 - GEOS-Chem version: __
 - Compiler version: __
 - netCDF version: __
 - ne

[2021-03-09 17:56] pkasibhatla opened #648 "[BUG/ISSUE] Problem with choosing the correct Restart file"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:

I was doing some test runs with V13. My run starts on 20190701. My run directory contains a restart for both 20190701 and 20190101. Though the run starts on 20190701, the run seems to use the restart for 20190101.
I can tell this is the case because when I run for a day and look at the output GEOSChem.SpeciesConc*nc4 file, it looks

[2021-03-09 23:17] yantosca commented on #648
Thanks @pkasibhatla for writing. Are you on the main branch of the GCClassic wrapper (version 13)?  When I created a run directory it pulled a restart file for July.

Can you list the steps that you took to generate the run directory?   Also if you can post the rundir.version file from the run directory, that has the commit at which the run directory was created.

[2021-03-10 12:37] barronh commented on #361
My guess is that the trends report has been updated since the scalar was calculated. The README sheet in the trends report shows many updates over time. For example, an update to 2011 occurred on February 27, 2014. The 1.271 value traces back to https://github.com/geoschem/geos-chem-unittest/commit/814b4bfa78608f7570caec43211f0a648c836120 on May 2015. My guess is that it predates that, I just coul

[2021-03-10 14:16] yantosca commented on #647
This issue has been moved to #648

[2021-03-10 14:16] #647 closed

[2021-03-10 20:48] pkasibhatla commented on #648
@yantosca, yes I am on the main branch of version 13 - I followed steps 1., 3, and 4 from http://wiki.seas.harvard.edu/geos-chem/index.php/Downloading_GEOS-Chem_source_code_(13.0.0_and_later_versions).

I created the run directory for the fullchem run following the steps in http://wiki.seas.harvard.edu/geos-chem/index.php/Creating_run_directories_for_GEOS-Chem_13.0.0_and_later - except for the las

[2021-03-10 21:06] yantosca commented on #648
Hi @pkasibhatla.  Can you also check if you have a `~/.geoschem/config` file?  The first time that you run createRunDir.sh it should create this file (if it's not there already).  It should have this line:
[code]
which is the path to the ExtData directory where all the GEOS-Chem data is stored.  If you don't have that, the createRunDir.sh script not be able to find the restart files.

You can rege

[2021-03-10 21:12] pkasibhatla commented on #648
@yantosca, yes I created this the first time I did this. It has the line
export GC_DATA_ROOT=/work/psk9/Data/ExtData

[2021-03-10 22:00] msulprizio commented on #643
Hi @jennyfisher. I've attached relevant snippets from my HEMCO.log file below and will walk through what I think is going on.

First, HEMCO reads the total alcohol emissions (in this example stored in variable `EOH_agr` in the netCDF file) to the `CEDS_MOH_AGR` container first. The emissions are read in as kg/m2/s and no unit conversion is applied since MOH is not carried in units carbon in GEOS-C

[2021-03-10 22:28] yantosca commented on #648
What could be going on is this.  In the 13.0.0-rc code, the run directory script will try to pull the restart file from the 12.9.0 folder of ExtData/GEOSCHEM_RESTARTS. This is because the 1-year benchmarks weren't finished when the 13.0.0-rc was released.  The script looks like this:
[code]
and the GEOSCHEM_RESTARTS folder on the Harvard server looks like this:
[code]
For the 13.0.0-final code (wh

[2021-03-10 22:40] pkasibhatla commented on #648
I guess what I still don't understand is this:
1) If I don't have a restart file in my run directory, the run fails;
2) If I have only GEOSChem.Restart.20190701_0000z.nc4 in my run directory, the run succeeds and seems to use this restart;
3) If I have only GEOSChem.Restart.20190101_0000z.nc4 or both GEOSChem.Restart.20190101_0000z.nc4 and GEOSChem.Restart.20190701_0000z.nc4, the run seems to use

[2021-03-11 08:17] map06 commented on #645
@yantosca Thank you. I have attached the file here [GC.log](https://github.com/geoschem/geos-chem/files/6121399/GC.log), i tried to simulate it again so the date might be different but error is same. I  realized that error happens when I turn on `Boundary Conditions`  on `HISTORY.rc` file. Also, the simulation starts normally when I don't use  the restart file from the previous month but when I st

[2021-03-11 08:22] map06 commented on #645
When I use the previous month simulation, turning off the `Boundary Condition` the simulation proceeds little further:
[code]
But, eventually gets killed again.

[2021-03-11 16:29] ltmurray opened #649 "[BUG/ISSUE] make install does not move binary from bin to run directory in GCClassic 13.0.0"
I've tested on multiple systems (RHEL; Ubuntu; MacOS), and after calling "cmake ../CodeDir" and "make" in a new GCClassic run/build directory generated by the new 13.0.0 bash script, "make install" does not exist in the Makefile that was generated by cmake. Therefore, it does not copy bin/gcclassic into the run directory. "make install" does work when generating HEMCO standalone after generating a

[2021-03-11 18:32] msulprizio commented on #649
Hi @ltmurray. After doing `cmake {CodeDir}`, you need to also do `cmake . -DRUNDIR={RunDirPath}` to specify the path to the run directory for the `make install` command. This was added just prior to the 13.0.0-rc.0. Previously, it was assumed that the run directory was one level up (i.e. `-DRUNDIR=..`) but that may not necessarily be the case when compiling from a `build` directory within the code

[2021-03-11 18:47] msulprizio commented on #648
Hi @pkasibhatla. Can you attach your HEMCO and GEOS-Chem log files? If you could run a quick simulation with verbose and warnings set to 3 in HEMCO_Config.rc and provide that HEMCO log file that would give us more information. With verbose set to 3 the HEMCO log file should list for each file the dates it finds, preferred date, and selected date.

If you check the entry in HEMCO_Config.rc for the

[2021-03-11 18:49] ltmurray commented on #649
Ah, good to know. The README that exists in build does not include that step, contents below.

[code]

[2021-03-11 18:57] msulprizio commented on #649
Thanks for pointing that out. We will correct that.

[2021-03-11 18:57] #649 closed

[2021-03-11 19:10] msulprizio commented on #649
The README in the build directory is now updated in commit 49ca6819939660dbacd7e1b0618630f6e1a248b3. This will be included in the final 13.0.0 release.

[2021-03-12 03:11] jennyfisher commented on #643
Thank you for all this Melissa! I have a couple of follow-up questions (and one potential concern...).

The first is just a clarification - is this the suggested format of the line to use in HEMCO_Config.rc?
`0 CEDS_EOH_AGR    $ROOT/CEDS/v2018-08/$YYYY/EOH-em-anthro_CMIP_CEDS_$YYYY.nc           EOH_agr           1750-2014/1-12/1/0 C xy kgC/m2/s EOH   26/91     1 5`

Specifically -- do I put `kgC/m

[2021-03-12 16:24] IshirDutta commented on #361
Thanks, Barron! That makes sense, given the factors for most of the species only differ by a percentage point or two (except NH3, which is off by ~5% for every year in 2006-2013), so it seems that most of the changes noted in the 2014v2 update roughly cancelled out, whereas NH3 was only impacted by the changes to "misc" emissions.

I assume that the manual decrease of SO2 (~15%) and BC (30%) scale

[2021-03-12 16:34] dxy8413 opened #650 "[QUESTION] Does sesquiterpenes convert to SOA ?"
Sesquiterpene is not listed as an SOA precursor in the complex SOA scheme, as shown in the wiki page and overview document (http://maraisresearchgroup.co.uk/Publications/GC-v11-02-SOA-options.pdf). But it seems the model code (v12.7.0, carbon_mod.F) shows sesquiterpene is grouped together with monoterpenes in VBS to form SOA. Could you please verify if the document will be updated or I misundersto

[2021-03-14 12:47] bakusun opened #652 "[BUG/ISSUE] Problem with CMake"
## Describe the bug:

### Expected behavior: ###
cmake should produce an output file as described in Section 3 on this page
http://wiki.seas.harvard.edu/geos-chem/index.php/Compiling_with_CMake#3._Initialize_your_build_directory

### Actual behavior: ###
cmake compilation with GEOS-CHEM 12.9.3 doesn't produce expected cmake output when then trying to use make on top of that nothing happens.
### St

[2021-03-15 08:57] xiaoyu-ss opened #653 "[BUG/ISSUE]Strange missing file is required in running full chemistry simulation"
# Report a GEOS-Chem bug or technical issue

## Describe the bug:

### Expected behavior: ###

I am running a full chemistry simulation from 20160101 to 20160102 in 2x2.5 degrees resolution in GEOS-Chem13.0.0.

### Actual behavior: ###

Then the simulation stopped with the error message indicating the missing file.  I do the dry-run simulation, and find that a strange file is required, "UCX (SFCMR

[2021-03-15 13:08] WilliamDowns commented on #653
I believe this issue was addressed in [https://github.com/geoschem/geos-chem/commit/1c4f40698978c02462622bbb36e12a37c2c98fb0](https://github.com/geoschem/geos-chem/commit/1c4f40698978c02462622bbb36e12a37c2c98fb0). Are you using version 13.0.0-rc.1? The fix is not in that release (or on the main branch yet). You can try checking out the `dev/13.0.0-final` branch to fix this issue. You'll need to re

[2021-03-15 15:21] WilliamDowns commented on #588
Documentation updated by [https://github.com/geoschem/geos-chem-cloud/commit/ac3cc1949a0f44045dd7fe0e02f7f7ac2d5a1714](https://github.com/geoschem/geos-chem-cloud/commit/ac3cc1949a0f44045dd7fe0e02f7f7ac2d5a1714).

[2021-03-15 15:21] #588 closed

[2021-03-15 15:29] barronh commented on #547
Also wanting to note an ftp site for the emissions.

https://gaftp.epa.gov/Air/aqmg/global/NEI2016fh/output/

[2021-03-15 15:30] barronh commented on #361
EPA's Emissions Inventory and Analysis Group (thanks to EIAG) gathered some older copies that they could find, and I checked the CO just to test the hypothesis. The factors I found were consistent with Ishir's numbers. The older copies we have, however, stopped at the 2014v2. This is likely not far enough back. For example, a trends report where 2011 changed would be most influential in affecting

[2021-03-15 19:47] yantosca commented on #652
Thanks for writing @bakusun.  We would need more information to solve the problem.  Can you attach to this issue the full output of the cmake command?

Also note, we are about to release the GEOS-Chem 13.0.0 official release.  We would recommend that you upgrade to this version once it is available, as there are several new important features and fixes.

[2021-03-15 19:49] yantosca commented on #650
Thanks for writing @dxy8413.  I believe that the SOA scheme was updated in the GEOS-Chem 12 series, so that document may no longer be accurate.

[2021-03-15 20:22] msulprizio opened #654 "[FEATURE REQUEST] Joint CO2-CO-CH4-OCS simulation"
[Bukosa et al. (2019)](https://acp.copernicus.org/articles/19/7055/2019/ ) implemented a joint CO2-CH4-CO simulation in GEOS-Chem v11-01. These updates have been provided to the GEOS-Chem Support Team as a code and Git patch file based on GEOS-Chem 12.1.1.

This feature request will track the implementation of a joint carbon species simulation in GEOS-Chem 13. The combined chemistry mechanism will

[2021-03-15 20:26] msulprizio commented on #654
Beata's code can be found on Harvard's Cannon cluster in `/n/home05/msulprizio/GC/git_patches/GC_13/to_be_applied/BBukosa_CO2-CH4-CO`.

[2021-03-15 20:53] yantosca commented on #650
There was an update in 12.6.0 to remove isoprene from the VBS.  See here: http://wiki.geos-chem.org/Secondary_organic_aerosols#Removal_of_VBS_isoprene_SOA

[2021-03-16 02:11] hmhorow commented on #628
Wanted to update that the same error happened to me each time I continue to download data for different GEOS chem configurations (GEOS-FP 4x5; MERRA-2 2x2.5) and different months. I am wondering if it will be fixed in the final version of 13.0.0 vs. the 13.0.0-rc. I am not too concerned but just wanted to update :) Thanks all!

[2021-03-16 12:05] dxy8413 commented on #650
@yantosca thanks a lot for the reply !

To follow up this issue: INDIOL is the aerosol phase product remaining from hydrolysis of organic nitrates, but why it is not included when calculating the total mass of SOA or PM?

[2021-03-16 13:34] yantosca commented on #628
Hi @hmhorow, if you do this:
[code]
then answer the prompts to create a run directory of your choice.  Then change to the run directory and do a dry-run.  If the error still persists, let us know and we will fix it (perhaps in a 13.0.1 patch version).

[2021-03-16 14:02] theloniuspunk commented on #650
Yes, I'm 99% sure sequiterpenes are in there. I don't personally use the complex SOA scheme, but Jared Brewer made this spreadsheet of precursors and yields for Shantanu Jathar recently, and it has the Sesq contribution in there.
[Yield_Terms.xlsx](https://github.com/geoschem/geos-chem/files/6149564/Yield_Terms.xlsx)

[2021-03-16 14:03] theloniuspunk commented on #650
Oh, I'm not sure about INDIOL... I only saw the subject of the email that came about sequiterpenes, but I didn't realize the most recent question was about INDIOL.

[2021-03-16 14:14] xiaoyu-ss commented on #653
Thanks for the suggesstion. I cloned the GCClassic superproject repository from github and set the branch as 'dev/13.0.0-final' to my local disk as the wiki page. And I recompiled my code and recreated the run directory. But the same problem still arose.

By the way, I suppose if people follow the process to clone the code as wiki page says, they will not get the final version as you mention. I gu

[2021-03-16 14:37] WilliamDowns commented on #653
Can you post copies of your log files again? Based on your original HEMCO.log file, it's possible the restart file isn't downloading properly (as reported in [https://github.com/geoschem/geos-chem/issues/628](https://github.com/geoschem/geos-chem/issues/628)). Also just to confirm, are you doing the `./download_data.py log.dryrun` step of the dry-run workflow?

Regarding the versioning of the code

[2021-03-16 14:57] yantosca commented on #628
Also my point is that if the dry-run works in the dev/13.0.0-final branch, it will work when we release the 13.0.0 official version.  That's all I wanted you to test for.  Sorry for the confusion.

[2021-03-16 14:57] msulprizio commented on #650
I found a commit in the Git history titled [Add more fixes for isoprene SOA: Remove INDIOL from AOD and aerosol mass concentrations](https://github.com/geoschem/geos-chem/commit/caa7b2490885dc01042108bf70bc28b1ad680449). See the message there for details. @jennyfisher and @eamarais may be able to elaborate if there are further questions.

[2021-03-16 15:06] WilliamDowns commented on #653
After testing a bit, your error is probably due to the dry-run looking for the wrong restart filename due to some changes in 13.0.0. Try doing `wget http://geoschemdata.computecanada.ca/ExtData/GEOSCHEM_RESTARTS/v2018-11/initial_GEOSChem_rst.4x5_standard.nc GEOSChem.Restart.20160101_0000z.nc4` in your run directory and see if that new file fixes the issue

[2021-03-16 15:47] yantosca commented on #653
We are about to release 13.0.0 soon, so we can add a fix for this in patch version 13.0.1.  There are some other minor fixes that will go into that version as well.

[2021-03-16 15:50] msulprizio commented on #643
Hi @jennyfisher. You would want to list `kg/m2/s` for the `CEDS_EOH_*` entries. The units listed there should match the units in the netCDF file and if needed HEMCO will convert to the internal units of kg/m2/s or kgC/m2/s depending on the species. Otherwise, yes, your `CEDS_EOH_AGR` entry above looks correct.

For MOH, I'm not sure if current scaling factors account for total mass or not. This ma

[2021-03-16 15:57] #612 closed

[2021-03-16 16:09] msulprizio commented on #608
@Yuan-yuan-2021 Did you resolve the floating point error? If not, we need more information on our end. Please run a short simulation with debug flags turned on and attach the log files here.

[2021-03-16 17:02] yantosca commented on #628
@hmhorow aso see Issue #653.  There is a needed modification in the download_data.py script that we will make in a 13.0.1 patch version.  In the interim you can download the restart file manually.  Sorry for the confusion!

[2021-03-16 18:40] lizziel commented on #606
I am reopening this issue since it seems like a bug for DryDep and DryDepMix diagnostics to be zero if non-local PBL mixing is true. Also, our restarts are generated via 1-year benchmark simulation which includes a spin-up. It therefore seems odd that using that DryDepChm diagnostics would go to zero if using the initial restart file.

[2021-03-17 06:35] dxy8413 commented on #650
@msulprizio Thanks a lot for the message ! That's exactly what I was asking. I checked Fisher et al. (2016 ACP) but still not get the specific reason why INDIOL was not included for aerosol mass and AOD.

[2021-03-17 07:33] eamarais commented on #650
The INDIOL yields were very high in the Fisher et al. scheme and led to unrealistically high AOD and aerosol mass, so were excluded from these calculations. In answer to your original question in this thread, sesquiterpene SOA in the model are represented with the VBS scheme and isoprene is represented with irreversible uptake in the updated complex scheme in the document that you reference.

[2021-03-17 08:38] bakusun commented on #652
[cmake_output.txt](https://github.com/geoschem/geos-chem/files/6154853/cmake_output.txt)
Dear Bob,
thanks for your quick reply, yes maybe I should wait for Geos-Chem 13.0.0!
Please find attached the cmake output from the terminal. That's all I get..
Thanks for your help!

[2021-03-17 10:15] xiaoyu-ss commented on #653
Thanks very much for the reply and suggestions.
I try 'wget http://ftp.as.harvard.edu/gcgrid/geos-chem/10yr_benchmarks/13.0.0-rc.0/GCClassic/restarts/GEOSChem.Restart.2
0160101_0000z.nc4', and do the dryrun. So the restart file is not missing according to the log. But the it still informs me about the missing file 'InitCFC_', and it is the same problem as before.
This is my new dryrun log file. Th

[2021-03-17 13:22] WilliamDowns commented on #653
Thanks for reporting that that file (which is not a real file) is still being reported as missing. We'll fix that. However, your run should be able to complete now (or at least progress beyond reading input files) because your new log indicates the only missing file is that fake file. What happens if you run the model normally, i.e. `./gcclassic | tee run.log`?

[2021-03-17 15:44] msulprizio commented on #500
I am reopening this issue. The [feature request linked above](https://github.com/geoschem/geos-chem/issues/331) addressed only chemistry input files (e.g. oxidant fields, prod/loss rates). We will aim to provide a climatology option for the volcano emissions by [13.2.0](https://github.com/geoschem/geos-chem/milestone/18).